<%# main title container for doc partial view -%>
<h2 class="blacklight-title_display">
  <%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
  <% opts={:label=>nil, :counter => nil, :results_view => true} %>
  <% opts[:label] ||= blacklight_config.index.show_link.to_sym unless blacklight_config.index.show_link == nil %>
  <% label = _cornell_render_document_index_label document, opts %>
<%
#******************
    save_level = Rails.logger.level; Rails.logger.level = Logger::WARN
    jgr25_context = "#{__FILE__}:#{__LINE__}"
    Rails.logger.warn "jgr25_log\n#{jgr25_context}:"
    msg = [" #{__method__} ".center(60,'Z')]
    msg << jgr25_context
    msg << "label: " + label.inspect
    msg << "opts: " + opts.inspect
    msg << 'Z' * 60
    msg.each { |x| puts 'ZZZ ' + x.to_yaml }
    Rails.logger.level = save_level
    #binding.pry
#*******************
%>
  <%= link_to_document document, label, :label=>document_show_link_field(document), :counter => (document_counter + 1 + @response.params[:start].to_i) %>
  <span class="blacklight-pub_date_display"><%= simple_render_index_field_value :document => document, :field => 'pub_date_display' %></span>
</h2>
