    <div data-ajax-modal="container">
    <div id="ajax-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Request Placed</h3>
      </div>
  
      <div class="modal-body">
        <h2>Login is required before you can email items.</h2>
      </div>


      <div class="modal-footer">
        <%= link_to "Close the modal", 'bookmarks', :class => "submit button dialog-close", :data => {:dismiss => "modal"} %>
      </div>
    </div>
    </div>