    <div data-ajax-modal="container">
    <div id="ajax-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"><%= t('blacklight.bookmarks.limit.title') %></h3>
      </div>
  
      <div class="modal-body">
        <h2><%= t('blacklight.bookmarks.limit.title') %></h2>
        <%= t('blacklight.bookmarks.limit.warning', :max_count => BookBagsController::MAX_BOOKBAGS_COUNT) %>
      </div>


      <div class="modal-footer">
        <%= link_to "Cancel", 'bookmarks', :class => "submit button dialog-close", :data => {:dismiss => "modal"} %>
      </div>
    </div>
    </div>