%p Borrow Direct
%p
  To request this item through our borrow direct partners, follow this link and search for your item using either ISBN or title.
- if @isbn.present?
  - @isbn.each do |entry|
    %div
      ISBN:
      = entry
%div
  Title:
  = @ti

%a{:href => 'http://resolver.library.cornell.edu/NET/parsebd?redirect=yes'}
  Go to Borrow Direct

%p &nbsp;

.controls
  %div.accordion#accordion2.request-options
    %div.accordion-group
      %div.accordion-heading
      =link_to 'other options', '#collapseOne', {:data => {:toggle => 'collapse', :parent => '#accordion2'}} 
      %div#collapseOne.accordion-body.collapse
        %div.accordion-inner     
          %div.span4     
            = render :partial => 'shared/request_options'

%p Find me in app/views/request/bd.html.haml
