%h1.request-type Borrow Direct Request
%h2.item-title-request.blacklight-title_display=@ti
%div.request-author=@au
%p
  To request this item, go to 
  =link_to 'Borrow Direct', 'http://resolver.library.cornell.edu/NET/parsebd?redirect=yes'
  and search for your item using either ISBN or title:
- if @isbn.present?
  - @isbn.each do |entry|
    %div
      ISBN:
      = entry
%div
  Title:
  = @ti



%p &nbsp;

.controls
  %div.accordion#accordion2.request-options
    %div.accordion-group
      %div.accordion-heading
      =link_to 'other options', '#collapseOne', {:data => {:toggle => 'collapse', :parent => '#accordion2'}} 
      %div#collapseOne.accordion-body.collapse
        %div.accordion-inner     
          %div.span4     
            = render :partial => 'shared/request_options'

