---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"WUsMNRzW20qWYrzg3_JvV6zdABU","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Thu, 15 Oct 2015 15:16:28 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/add?aid=WUsMNRzW20qWYrzg3_JvV6zdABU
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"0745649890"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"RequestLink":{"ButtonLabel":"Find item","ButtonLink":"https://blacklight.library.jhu.edu/catalyst_demo/catalog/bib_4733731","RequestMessage":"This
        item is available locally."}}'
  recorded_at: Thu, 15 Oct 2015 15:16:34 GMT
recorded_with: VCR 2.9.3
