---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"wAlD_h4oUHWMcmUE_dFj86LtSB4","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 20:10:56 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=wAlD_h4oUHWMcmUE_dFj86LtSB4
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"1444367072"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=1444367072","RequestLink":{"ButtonLink":"https://cornell.hosts.atlas-sys.com/illiad/illiad.dll/OpenURL?genre=Book&sid=BD&HeldLocally=N&rft.title=International%20encyclopedia%20of%20ethics&rft.date=2013&rft.isbn=9781444367072%20%28electronic%20bk.%29&rft.isbn=1444367072%20%28electronic%20bk.%29&rft.dat=829259960&rft.pub=Wiley-Blackwell&rft.place=Malden%2C%20MA","ButtonLabel":"Request","RequestMessage":"Click
        here to place an Interlibrary Loan request."},"NumberOfRecords":2}'
  recorded_at: Tue, 05 Apr 2016 20:10:59 GMT
recorded_with: VCR 3.0.0
