---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"6KxNRgdvQvAUSsM6LlBoQXRZZEk","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 20:10:40 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=6KxNRgdvQvAUSsM6LlBoQXRZZEk
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchTerm":"isbn=9810743734","RequestLink":{"ButtonLink":"AddRequest","ButtonLabel":"Request","RequestMessage":"Select
        a pickup location and click the Request button to order this item through
        Borrow Direct."},"NumberOfRecords":1,"PickupLocation":[{"PickupLocationCode":"A","PickupLocationDescription":"Geneva
        Experimental Station Library"},{"PickupLocationCode":"B","PickupLocationDescription":"Law
        Library"},{"PickupLocationCode":"C","PickupLocationDescription":"Mann Library"},{"PickupLocationCode":"D","PickupLocationDescription":"Olin
        Library"},{"PickupLocationCode":"E","PickupLocationDescription":"Veterinary
        Library"}]}'
  recorded_at: Tue, 05 Apr 2016 20:10:44 GMT
recorded_with: VCR 3.0.0
