---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"BJourvhLAf17crOyZJzBseMdK4A","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 06 Apr 2016 14:34:46 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=BJourvhLAf17crOyZJzBseMdK4A
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"BADBAD","Value":"2292389283928392382938"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Problem":{"ErrorCode":"PRIFI001","ErrorMessage":"Internal error occurred
        in FindItem"}}'
  recorded_at: Wed, 06 Apr 2016 14:34:46 GMT
recorded_with: VCR 3.0.0
