services:
  webapp:
    tty: true
    image: ${IMAGE_NAME:-container-discovery}:latest
    build:
      context: .
      dockerfile: docker/trixie/Dockerfile
      args:
        - GIT_COMMIT
        - RAILS_ENV=${RAILS_ENV:-production}
    environment:
      - IMAGE_NAME=container-discovery
      - RAILS_ENV=${RAILS_ENV:-production}
      - RAILS_LOG_LEVEL=info
      - RUN_CRON=${RUN_CRON:-false}
    ports:
      - 9292:9292
    volumes:
      - ${RAILS_ENV_FILE}:/custom_mnt/.env:ro
      - ./mount:/app:cached
