.headings-list
	.headings-body
		-if response.present? 
			- response.each do |data|
				.document
					.row
						.span1
							(title count)
						
						.span7
							= link_to '/?q="' + data["heading"] + '"&search_field=author%2Fcreator' do
								=data["heading"]
							-if !data["seeAlso"].nil?
								.see-ref
									=link_to '/headings/info?q=' + data["heading"] do
										%span.label.label-info
											Info
												
							-if !data["preferedForm"].nil?
								-data["preferedForm"].each do |f|
									%p
										See
										= link_to "/headings/authors?q=" + f + "&start=0" do
											=f
										(title count)
						.span4
							=data["headingTypeDesc"]
