<h2>Author and subject headings</h2>

<div class="well">
	<div class="search-tools">
      <form accept-charset="UTF-8" action="/" class="search-form" method="get">
        <input name="id" type="hidden" value="5033822" />
          <div class="row-fluid">
            <div class="search-options span6">
              <label for="q" class="hide-text">Search...</label>
              <input autocapitalize="off" class="search-query phone-search-query" id="q" name="q" placeholder="Search..." type="text" value="clemens, samuel" />
            </div>
          	<label for="search_field" class="hide-text">Search in</label>
          	<select class="span4" id="search_field" name="search_field" title="Targeted search options">
          		<option value="author">Author</option>
				<option value="author_title">Author-Title</option>
				<option value="subject">Subject</option>
		  	</select>
            <span class="search-or-reset span2">
              	<input type="submit" class="btn btn-inverse hidden-phone" id="search" value="Search">
              	<span class="submit-search-text hide-text">Search</span>
              	<button id="search-btn" class="btn mobile-search-btn visible-phone btn-inverse" type="submit">
                	<i class="fa fa-search fa-inverse"></i>
              	</button>
            </span>
          </div>
		</form>     
    </div>
</div>

<h3>Browse "clemens, samuel" in author headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> | <a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span1">
				Titles
			</div>
			<div class="span7">
				Heading
			</div>
			<div class="span4">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Samuel L., Mrs., 1845-1904<br>
					<div class="see-ref"><em>See</em> <a href="#">Clemens, Olivia Langdon, 1845-1904</a> <span class="see-ref-count">(1 title)</span></div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					12
				</div>
				<div class="span7">
					<a href="/?utf8=✓&q=&quot;Clemens%2C+Samuel+Langhorne%2C+1835-1910.&quot;&search_field=author%2Fcreator">Clemens, Samuel Langhorne, 1835-1910</a> <a href="/headings/heading"><span class="label label-info">Info</span></a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="/?utf8=✓&q=&quot;Clemens-Schierbaum%2C+Ursula&quot;&search_field=author%2Fcreator">Clemens-Schierbaum, Ursula</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens Schroner, B. L. F.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Scottus, active 9th century?</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Scotus, 9th century</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					6
				</div>
				<div class="span7">
					<a href="#">Clemens-Sels-Museum</a>
				</div>
				<div class="span4">
					Corporate Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Siegried M.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Stan R.<br>
					<div class="see-ref"><em>See</em> <a href="#">Clemens, Stanley R.</a> (1 title)</div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Stanley R.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Susy, 1872-1896</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, T. H. J (Theo H. J.)<br>
					<div class="see-ref"><em>See</em> </a> <a href="#">Clemens, Theo</a> (1 title)</div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Theo</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens-Thiele, Stephan</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Thomas, active 1811.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					3
				</div>
				<div class="span7">
					<a href="#">Clemens, Thomas G., 1950-</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Titus Flavius, Alexandrinus<br>
					<div class="see-ref"><em>See</em> <a href="#">Clement, of Alexandria, Saint, approximately 150-approximately 215</a> <span class="see-ref-count">(36 titles)</span></div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Titus Flavius, Alexandrinus, Saint, approximately 150-approximately 215<br>
					<div class="see-ref"><em>See</em> <a href="#">Clement, of Alexandria, Saint, approximately 150-approximately 215</a> <span class="see-ref-count">(36 titles)</span></div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Ursula</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Uta</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
	</div>
</div>
