<!-- NOTE: THIS TEMPLATE IS JUST FOR MOCKUP AND PRESENTATION PURPOSES; IT SHOULD BE DELETED AT SOME POINT -->

<h2>Author and subject headings</h2>

<div class="well">
	<div class="search-tools">
      <form accept-charset="UTF-8" action="/" class="search-form" method="get">
        <input name="id" type="hidden" value="5033822" />
          <div class="row-fluid">
            <div class="search-options span6">
              <label for="q" class="hide-text">Search...</label>
              <input autocapitalize="off" class="search-query phone-search-query" id="q" name="q" placeholder="Search..." type="text" value="beethoven, ludwig" />
            </div>
          	<label for="search_field" class="hide-text">Search in</label>
          	<select class="span4" id="search_field" name="search_field" title="Targeted search options">
          		<option value="author">Author</option>
				<option value="author_title" selected>Author-Title</option>
				<option value="subject">Subject</option>
		  	</select>
            <span class="search-or-reset span2">
              	<input type="submit" class="btn btn-inverse hidden-phone" id="search" value="Search">
              	<span class="submit-search-text hide-text">Search</span>
              	<button id="search-btn" class="btn mobile-search-btn visible-phone btn-inverse" type="submit">
                	<i class="fa fa-search fa-inverse"></i>
              	</button>
            </span>
          </div>
		</form>     
    </div>
</div>

<h3>Browse "beethoven, ludwig" in author-title headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> | <a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span1">
				Titles
			</div>
			<div class="span7">
				Headings
			</div>
			<div class="span4">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. #1 Beethoven album<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Works. Selections</a> <span class="see-ref-count">(11 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 national airs with variations, op. 107<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. National airs with variations, op. 107</a> <span class="see-ref-count">(6 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 Variationen über das Thema (Duett) "La stessa, la stessissima" aus der Oper "Falstaff" von Antonio Salieri<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations sur le duo La stessa, la stessissima</a> <span class="see-ref-count">(3 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 Variationen über Wenzel Müllers Lied "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(4 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations on Müller's song "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(12 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations on the duet La stessa, la stessissima<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations sur le duo La stessa, la stessissima</a> <span class="see-ref-count">(3 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations on Wenzel Müller's song "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(12 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations sur la chanson de Wenzel Müller "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(12 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations sur le duo La stessa, la stessissima<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations sur le duo La stessa, la stessissima</a> <span class="see-ref-count">(3 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variierte Themen<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. National airs with variations, op. 107</a> <span class="see-ref-count">(6 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Beethoven, Ludwig van, 1770-1827. 2 Sonatas</a>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
	</div>
</div>
