<!-- NOTE: THIS TEMPLATE IS JUST FOR MOCKUP AND PRESENTATION PURPOSES; IT SHOULD BE DELETED AT SOME POINT -->

<h2>Author and subject headings</h2>

<div class="well">
	<form accept-charset="UTF-8" method="get">
      	<div class="control-group">
        	<label for="q" class="hide-text">Search...</label>
			<input autocapitalize="off" id="q" name="q" placeholder="Search..." type="text" value="beethoven, ludwig" />
			<label for="auth" class="hide-text">Select</label>
			<select class="input-medium" id="auth" name="auth"><option value="author">Author</option>
				<option value="author_title" selected>Author-Title</option>
				<option value="subject">Subject</option>
			</select>
	  	</div>
      	<div class="submit-reset">
        	<input class="btn btn-inverse" id="headings" name="commit" type="submit" value="Browse" />
      	</div>
	</form>
</div>

<h3>Browse "beethoven, ludwig" in author-title headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> | <!-- <strong>1</strong> - <strong>20</strong> of <strong>20</strong> |   --><a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
	<!-- <div id="per_page-dropdown" class="dropdown pull-right  hidden-phone">
  		<span class="hide-text">Number of results to display per page</span>
  		<ul class="css-dropdown">
		    <li class="btn">
		      <a href="#">20 per page</a> <span class="caret"></span>
		      <ul>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=10">10<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=20">20<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=50">50<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=100">100<span class="hide-text"> per page</span></a></li>
		      </ul>
		    </li>
  		</ul>
	</div> -->
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span1">
				Titles
			</div>
			<div class="span7">
				Headings
			</div>
			<div class="span4">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. #1 Beethoven album<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Works. Selections</a> <span class="see-ref-count">(11 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 national airs with variations, op. 107<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. National airs with variations, op. 107</a> <span class="see-ref-count">(6 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 Variationen über das Thema (Duett) "La stessa, la stessissima" aus der Oper "Falstaff" von Antonio Salieri<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations sur le duo La stessa, la stessissima</a> <span class="see-ref-count">(3 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 Variationen über Wenzel Müllers Lied "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(4 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations on Müller's song "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(12 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations on the duet La stessa, la stessissima<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations sur le duo La stessa, la stessissima</a> <span class="see-ref-count">(3 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations on Wenzel Müller's song "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(12 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations sur la chanson de Wenzel Müller "Ich bin der Schneider Kakadu"<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations, piano trio, op. 121a, G major</a> <span class="see-ref-count">(12 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variations sur le duo La stessa, la stessissima<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. Variations sur le duo La stessa, la stessissima</a> <span class="see-ref-count">(3 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Beethoven, Ludwig van, 1770-1827. 10 variierte Themen<br>
					<div class="see-ref"><em>See</em> <a href="#">Beethoven, Ludwig van, 1770-1827. National airs with variations, op. 107</a> <span class="see-ref-count">(6 titles)</span></div>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Beethoven, Ludwig van, 1770-1827. 2 Sonatas</a>
				</div>
				<div class="span4">
					Personal name
				</div>
			</div>
		</div>
	</div>
</div>
