<h2>Author and subject headings</h2>

<div class="well">
	<form accept-charset="UTF-8" method="get">
      	<div class="control-group">
        	<label for="q" class="hide-text">Search...</label>
			<input autocapitalize="off" id="q" name="q" placeholder="Search..." type="text" value="clemens, samuel" />
			<label for="auth" class="hide-text">Select</label>
			<select class="input-medium" id="auth" name="auth"><option value="author">Author</option>
				<option value="author_title">Author-Title</option>
				<option value="subject">Subject</option>
			</select>
	  	</div>
      	<div class="submit-reset">
        	<input class="btn btn-inverse" id="headings" name="commit" type="submit" value="Browse" />
        	<!-- <span class="form-alternative-action">
          		or <a href="/advanced">Reset</a>
        	</span> -->
      	</div>
	</form>
</div>

<h3>Browse "clemens, samuel" in author headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> | <!--   <strong>1</strong> - <strong>20</strong> of <strong>20</strong> |   --><a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
	<!-- <div id="per_page-dropdown" class="dropdown pull-right  hidden-phone">
  		<span class="hide-text">Number of results to display per page</span>
  		<ul class="css-dropdown">
		    <li class="btn">
		      <a href="#">20 per page</a> <span class="caret"></span>
		      <ul>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=10">10<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=20">20<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=50">50<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=100">100<span class="hide-text"> per page</span></a></li>
		      </ul>
		    </li>
  		</ul>
	</div> -->
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span1">
				Titles
			</div>
			<div class="span7">
				Heading
			</div>
			<div class="span4">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Samuel L., Mrs., 1845-1904<br>
					<div class="see-ref"><em>See</em> <a href="#">Clemens, Olivia Langdon, 1845-1904</a> <span class="see-ref-count">(1 title)</span></div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					12
				</div>
				<div class="span7">
					<a href="/?utf8=✓&q=&quot;Clemens%2C+Samuel+Langhorne%2C+1835-1910.&quot;&search_field=author%2Fcreator">Clemens, Samuel Langhorne, 1835-1910</a> <a href="/headings/heading"><span class="label label-info">Info</span></a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="/?utf8=✓&q=&quot;Clemens-Schierbaum%2C+Ursula&quot;&search_field=author%2Fcreator">Clemens-Schierbaum, Ursula</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens Schroner, B. L. F.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Scottus, active 9th century?</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Scotus, 9th century</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					6
				</div>
				<div class="span7">
					<a href="#">Clemens-Sels-Museum</a>
				</div>
				<div class="span4">
					Corporate Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Siegried M.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Stan R.<br>
					<div class="see-ref"><em>See</em> <a href="#">Clemens, Stanley R.</a> (1 title)</div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Stanley R.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Susy, 1872-1896</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, T. H. J (Theo H. J.)<br>
					<div class="see-ref"><em>See</em> </a> <a href="#">Clemens, Theo</a> (1 title)</div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Theo</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens-Thiele, Stephan</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Thomas, active 1811.</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					3
				</div>
				<div class="span7">
					<a href="#">Clemens, Thomas G., 1950-</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Titus Flavius, Alexandrinus<br>
					<div class="see-ref"><em>See</em> <a href="#">Clement, of Alexandria, Saint, approximately 150-approximately 215</a> <span class="see-ref-count">(36 titles)</span></div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Clemens, Titus Flavius, Alexandrinus, Saint, approximately 150-approximately 215<br>
					<div class="see-ref"><em>See</em> <a href="#">Clement, of Alexandria, Saint, approximately 150-approximately 215</a> <span class="see-ref-count">(36 titles)</span></div>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Ursula</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Clemens, Uta</a>
				</div>
				<div class="span4">
					Personal Name
				</div>
			</div>
		</div>
	</div>
</div>
