<!-- NOTE: THIS TEMPLATE IS JUST FOR MOCKUP AND PRESENTATION PURPOSES; IT SHOULD BE DELETED AT SOME POINT -->

<h2>Author and subject headings</h2>

<div class="well">
	<form accept-charset="UTF-8" method="get">
      	<div class="control-group">
        	<label for="q" class="hide-text">Search...</label>
			<input autocapitalize="off" id="q" name="q" placeholder="Search..." type="text" value="heart attack" />
			<label for="auth" class="hide-text">Select</label>
			<select class="input-medium" id="auth" name="auth"><option value="author">Author</option>
				<option value="author_title">Author-Title</option>
				<option value="subject" selected>Subject</option>
			</select>
	  	</div>
      	<div class="submit-reset">
        	<input class="btn btn-inverse" id="headings" name="commit" type="submit" value="Browse" />
      	</div>
	</form>
</div>

<h3>Browse "heart attack" in subject headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> | <!--  <strong>1</strong> - <strong>20</strong> of <strong>20</strong> |   --><a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
	<div id="per_page-dropdown" class="dropdown pull-right  hidden-phone">
  		<span class="hide-text">Number of results to display per page</span>
  		<ul class="css-dropdown">
		    <li class="btn">
		      <a href="#">20 per page</a> <span class="caret"></span>
		      <ul>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=10">10<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=20">20<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=50">50<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=100">100<span class="hide-text"> per page</span></a></li>
		      </ul>
		    </li>
  		</ul>
	</div>
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span1">
				Titles
			</div>
			<div class="span7">
				Headings
			</div>
			<div class="span4">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span1">
					0 
				</div>
				<div class="span7">
					Heart attack<br>
					<span class="see-ref"><em>See</em> <a href="/?utf8=✓&utf8=✓&q=&quot;Myocardial+infarction&quot;&search_field=subject">Myocardial infarction</a><!--  (16) --></span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Auscultation</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					14
				</div>
				<div class="span7">
					<a href="/?utf8=✓&utf8=✓&q=&quot;Heart+beat&quot;&search_field=subject">Heart beat</a> <a href="/headings/heading_subject"><span class="label label-info">Info</span></a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					2
				</div>
				<div class="span7">
					<a href="#">Heart beat--History</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart beat--Mathematical models.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart beat--Statistics</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart beat--Biblical teaching</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart block</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart--Blood-vessels</a> <a href="#"><span class="label label-info">Info</span></a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Butte Dam.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0
				</div>
				<div class="span7">
					Heart Butte Reservoir (N.D.)<br>
					<span class="see-ref"><em>See</em> <a href="#">Tschida, Lake (N.D.)</a><!--  (1) --></span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0 
				</div>
				<div class="span7">
					Heart bypass surgery<br>
					<span class="see-ref"><em>See</em> <a href="#">Coronary artery bypass</a><!--  (6) --></span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart--Care and hygiene--Periodicals.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					2
				</div>
				<div class="span7">
					<a href="#">Heart--Catheterization.</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					0 
				</div>
				<div class="span7">
					Heart--Catheterization<br>
					<span class="see-ref"><em>See</em> <a href="#">Cardiac catheterization</a><!--  (7) --></span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Catheterization--Atlases.</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Catheterization--methods.</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					11 
				</div>
				<div class="span7">
					<a href="/?utf8=✓&utf8=✓&q=&quot;Heart+cells&quot;&search_field=subject">Heart cells</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					4
				</div>
				<div class="span7">
					<a href="#">Heart cells--Congresses.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart cells--Electric properties</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
	</div>
</div>
