<!-- NOTE: THIS TEMPLATE IS JUST FOR MOCKUP AND PRESENTATION PURPOSES; IT SHOULD BE DELETED AT SOME POINT -->

<h2>Author and subject headings</h2>

<div class="well">
	<form accept-charset="UTF-8" method="get">
      	<div class="control-group">
        	<label for="q" class="hide-text">Search...</label>
			<input autocapitalize="off" id="q" name="q" placeholder="Search..." type="text" value="heart attack" />
			<label for="auth" class="hide-text">Select</label>
			<select class="input-medium" id="auth" name="auth"><option value="author">Author</option>
				<option value="author_title">Author-Title</option>
				<option value="subject" selected>Subject</option>
			</select>
	  	</div>
      	<div class="submit-reset">
        	<input class="btn btn-inverse" id="headings" name="commit" type="submit" value="Browse" />
      	</div>
	</form>
</div>

<h3>Browse "heart attack" in subject headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> |  <strong>1</strong> - <strong>20</strong> of <strong>20</strong> |  <a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
	<div id="per_page-dropdown" class="dropdown pull-right  hidden-phone">
  		<span class="hide-text">Number of results to display per page</span>
  		<ul class="css-dropdown">
		    <li class="btn">
		      <a href="#">20 per page</a> <span class="caret"></span>
		      <ul>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=10">10<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=20">20<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=50">50<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=100">100<span class="hide-text"> per page</span></a></li>
		      </ul>
		    </li>
  		</ul>
	</div>
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span2">
				No. of titles
			</div>
			<div class="span6">
				Headings
			</div>
			<div class="span4">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span6">
					Heart attack<br>
					<span class="see-ref">See <em>Myocardial infarction</em> (<a href="#">16 titles</a>)</span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart Auscultation
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">14 titles</a>
				</div>
				<div class="span6">
					<a href="/headings/heading_subject">Heart beat</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">2 titles</a>
				</div>
				<div class="span6">
					Heart beat--History
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart beat--Mathematical models.
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart beat--Statistics
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart beat--Biblical teaching
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Herat block
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					<a href="#">Heart--Blood-vessels</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart Butte Dam.
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">0 titles</a>
				</div>
				<div class="span6">
					Heart Butte Reservoir (N.D.)<br>
					<span class="see-ref">See <em>Tschida, Lake (N.D.)</em> (<a href="#">1 title</a>)</span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span6">
					Heart bypass surgery<br>
					<span class="see-ref">See <em>Coronary artery bypass</em> (<a href="#">6 titles</a>)</span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart--Care and hygiene--Periodicals.
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">2 titles</a>
				</div>
				<div class="span6">
					Heart--Catheterization.
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span6">
					Heart--Catheterization<br>
					<span class="see-ref">See <a href="#"><em>Cardiac catheterization</em></a> (<a href="#">7 titles</a>)</span>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart Catheterization--Atlases.
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart Catheterization--methods.
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					11 titles
				</div>
				<div class="span6">
					Heart cells
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">4 titles</a>
				</div>
				<div class="span6">
					Heart cells--Congresses.
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span6">
					Heart cells--Electric properties
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
	</div>
</div>

<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> |  <strong>1</strong> - <strong>20</strong> of <strong>20</strong> |  <a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
</div>