<h2>Author and subject headings</h2>

<div class="well">
	<form accept-charset="UTF-8" method="get">
      	<div class="control-group">
        	<label for="q" class="hide-text">Search...</label>
			<input autocapitalize="off" id="q" name="q" placeholder="Search..." type="text" value="clemens, samuel" />
			<label for="auth" class="hide-text">Select</label>
			<select class="input-small" id="auth" name="auth"><option value="AND">Author</option>
				<option value="OR">Author-Title</option>
				<option value="phrase">Subject</option>
			</select>
	  	</div>
      	<div class="submit-reset">
        	<input class="btn btn-inverse" id="headings" name="commit" type="submit" value="Browse" />
        	<!-- <span class="form-alternative-action">
          		or <a href="/advanced">Reset</a>
        	</span> -->
      	</div>
	</form>
</div>

<h3>Browse "clemens, samuel" in author headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> |  <strong>1</strong> - <strong>20</strong> of <strong>20</strong> |  <a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
	<div id="per_page-dropdown" class="dropdown pull-right  hidden-phone">
  		<span class="hide-text">Number of results to display per page</span>
  		<ul class="css-dropdown">
		    <li class="btn">
		      <a href="#">20 per page</a> <span class="caret"></span>
		      <ul>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=10">10<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=20">20<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=50">50<span class="hide-text"> per page</span></a></li>
		          <li><a href="/?_method=POST&amp;f%5Bformat%5D%5B%5D=Book&amp;per_page=100">100<span class="hide-text"> per page</span></a></li>
		      </ul>
		    </li>
  		</ul>
	</div>
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span2">
				No. of titles
			</div>
			<div class="span8">
				Headings
			</div>
			<div class="span2">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span8">
					Clemens, Samuel L., Mrs., 1845-1904<br>
					<span class="see-ref">See <em>Clemens, Olivia Langdon, 1845-1904</em> (<a href="#">1 title</a>)</span>
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">12 titles</a>
				</div>
				<div class="span8">
					<a href="/headings/heading">Clemens, Samuel Langhorne, 1835-1910</a>
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens-Schierbaum, Ursula
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens Schroner, B. L. F.
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Scottus, active 9th century?
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Scotus, 9th century
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">6 titles</a>
				</div>
				<div class="span8">
					Clemens-Sels-Museum
				</div>
				<div class="span2">
					Corporate Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Siegried M.
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span8">
					Clemens, Stan R.<br>
					<span class="see-ref">See <em>Clemens, Stanley R.</em> (<a href="#">1 title</a>)</span>
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Stanley R.
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Susy, 1872-1896
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span8">
					Clemens, T. H. J (Theo H. J.)<br>
					<span class="see-ref">See <em>Clemens, Theo</em> (<a href="#">1 title</a>)</span>
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Theo
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens-Thiele, Stephan
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Thomas, active 1811.
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">3 titles</a>
				</div>
				<div class="span8">
					Clemens, Thomas G., 1950-
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span8">
					Clemens, Titus Flavius, Alexandrinus<br>
					<span class="see-ref">See <em>Clement, of Alexandria, Saint, approximately 150-approximately 215</em> (<a href="#">36 titles</a>)</span>
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					0 titles
				</div>
				<div class="span8">
					Clemens, Titus Flavius, Alexandrinus, Saint, approximately 150-approximately 215<br>
					<span class="see-ref">See <em>Clement, of Alexandria, Saint, approximately 150-approximately 215</em> (<a href="#">36 titles</a>)</span>
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Ursula
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span2">
					<a href="#">1 title</a>
				</div>
				<div class="span8">
					Clemens, Uta
				</div>
				<div class="span2">
					Personal Name
				</div>
			</div>
		</div>
	</div>
</div>