<!-- NOTE: THIS TEMPLATE IS JUST FOR MOCKUP AND PRESENTATION PURPOSES; IT SHOULD BE DELETED AT SOME POINT -->

<a href="/headings_subject" class="return-link" title="return to previous page">
    <i class="fa fa-arrow-circle-left"></i> Back to headings
</a>

<h2>Heart beat</h2>
<div class="titles-count"><a href="#">14 titles</a></div>

<dl>
	<dt>Reference Info</dt>
	<dd>
		<div class="reference">
			<em>Narrow Term:</em><br>
			<a href="#">Arrythmia</a> (33 titles) | <a href="#">Browse headings</a>
		</div>
		<div class="reference">
			<em>Narrow Term:</em><br>
			<a href="#">Palpitation.</a> (14 titles) | <a href="#">Browse headings</a>
		</div>
		<div class="reference">
			<em>See Also:</em><br>
			<a href="#">Heart--Contraction</a> (7 titles) | <a href="#">Browse headings</a>
		</div>
		<div class="reference">
			<em>See Also:</em><br>
			<a href="#">Pulse</a> (77 titles) | <a href="#">Browse headings</a>
		</div>
	</dd>
	<dt>Headings Type</dt>
	<dd>Library of Congress subject headings</dd>
</dl>

<div class="librarian-view"><a href="#">Librarian view</a></div>