---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"bpmvRff-c08_GB7sJQxWRT7dhpQ","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 20:26:25 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/add?aid=bpmvRff-c08_GB7sJQxWRT7dhpQ
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"1441190090"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"RequestLink":{"ButtonLabel":"Request","ButtonLink":"https://cornell.hosts.atlas-sys.com/illiad/illiad.dll/OpenURL?genre=Book&sid=BD&HeldLocally=N&rft.title=Chomsky&rft.date=%C2%A92008&rft.isbn=9781441190093%20%28electronic%20bk.%29&rft.isbn=1441190090%20%28electronic%20bk.%29&rft.dat=741691631&rft.pub=Continuum&rft.place=London%20%3B","RequestMessage":"Click
        here to place an Interlibrary Loan request."}}'
  recorded_at: Tue, 05 Apr 2016 20:26:36 GMT
recorded_with: VCR 3.0.0
