<div class="facets-collapse" id="facets">
<%- # Need to rewrite to handle pub_date form to get the default facets back just move the render_facet_partials code down to a new line and close this comment <%= render_facet_partials facet_field_names %>

</div>
