<footer>
  <div class="container">
  	<div class="row">
  		<div class="col-sm-8">
        <h3>Contact Us</h3>
        <ul class="nav nav-pills">
    		  <li class="nav-item"><a href="http://www.library.cornell.edu/get-help/ask" onclick="javascript:_paq.push(['Footer', 'footer_links', 'Ask a Librarian']);" class="nav-link btn btn-default mr-1"><i class="fa fa-question" aria-hidden="true"></i>Ask a Librarian</a></li>
        </ul>
        <h3 id="library-resources">Resources</h3>
        <nav aria-labelledby="library-resources">
          <ul class="nav footer-nav">
            <li><a href="http://www.library.cornell.edu">Library Website</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="http://catalog.library.cornell.edu">Catalog</a></li>
            <li><%= render :partial => 'shared/link_articles_fulltext' %></li>
            <li><a href="/databases">Databases</a></li>
            <li><a href="http://erms.library.cornell.edu/">E-journal Titles</a></li>
            <li><a href="https://www.library.cornell.edu/collections/visual-resources/">Images</a></li>
            <li class="d-block d-sm-none"><a href="/myaccount/login">My Account</a></li>
          </ul>
        </nav>
    	</div>
    	<div class="col-sm-4 text-right">
    		<a href="https://cornell.libwizard.com/f/feedback?&4589755=https%3A%2F%2Fcatalog.library.cornell.edu<%= CGI.escape request.original_fullpath %>" class="btn btn-cul" title="Link opens in new window" target="_blank">Feedback</a>
            <p><a href="http://blogs.cornell.edu/discoveryandaccess/" title="Updates to the catalog and our discovery environment">Discovery Updates</a></p>
            <p><%= link_to 'Credits', '/credits' %></p>
    	</div>
    </div>
    <div class="row footer-copyright">
      <div class="col-sm-8">
        <p>&#169; <%= Time.now.strftime("%Y") %> Cornell University Library | <a href="http://www.library.cornell.edu/privacy">Privacy</a> | <a href="https://www.library.cornell.edu/web-accessibility">Web Accessibility Assistance</a></p>
      </div>
    </div>
    <div id="libchat_93c39d16c29840b40a8efdeaef81707f"></div>
    <script src="https://v2.libanswers.com/load_chat.php?hash=93c39d16c29840b40a8efdeaef81707f"></script>
    <div class="js-error" id="js_error_report" hidden>0<div>
  </div>
</footer>
