---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"O3GZzaBWlylnmuiFEMNYrd89n3w","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Thu, 15 Oct 2015 15:13:55 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=O3GZzaBWlylnmuiFEMNYrd89n3w
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"0745649890"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=0745649890","RequestLink":{"ButtonLink":"https://blacklight.library.jhu.edu/catalyst_demo/catalog/bib_4733731","ButtonLabel":"Find
        item","RequestMessage":"This item is available locally."}}'
  recorded_at: Thu, 15 Oct 2015 15:13:58 GMT
recorded_with: VCR 2.9.3
