---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=bad_expired_aid
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Problem":{"ErrorCode":"PUBFI003","ErrorMessage":"Invalid aid"}}'
  recorded_at: Thu, 15 Oct 2015 15:13:53 GMT
recorded_with: VCR 2.9.3
