---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"zqtFPEoM2u4Pq3qSnbqXmvqE_xs","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Thu, 15 Oct 2015 15:13:28 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=zqtFPEoM2u4Pq3qSnbqXmvqE_xs
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchTerm":"isbn=9810743734","RequestLink":{"ButtonLink":"AddRequest","ButtonLabel":"Request","RequestMessage":"Request
        this item"},"PickupLocation":[{"PickupLocationCode":"E","PickupLocationDescription":"*Milton
        S. Eisenhower Library"},{"PickupLocationCode":"A","PickupLocationDescription":"Arthur
        Friedheim Library"},{"PickupLocationCode":"B","PickupLocationDescription":"Columbia
        Center"},{"PickupLocationCode":"C","PickupLocationDescription":"Harbor East"},{"PickupLocationCode":"D","PickupLocationDescription":"Montgomery
        Library Resource Center"},{"PickupLocationCode":"F","PickupLocationDescription":"JHU
        Homewood Office (faculty and grad students)"},{"Pick[...]
