
    <header class="head">
 <div>
    <a href="#content" accesskey="S" onclick="$('#content').focus();" class="offscreen">Skip to Main Content</a>
  </div>

  <div class="container">
    <div class="cornell-logo d-none d-sm-block">
      <a href="http://www.cornell.edu" class="insignia">Cornell University</a>
      <div class="library-brand">
        <a href="https://library.cornell.edu">Library</a>
      </div>
    </div>
    <div class="d-block d-sm-none">
      <a class="mobile-cornell-logo" href="https://www.cornell.edu">Cornell University</a>
      <a class="library-brand-mobile" href="https://library.cornell.edu">Library</a>
    </div>
    <h1>Division of Rare and Manuscript Collections</h1>
  </div>
</header>
<%#= params.inspect %>
<% target_good = params['target'] %>
<% if !params['finding'].nil? %>
<% target_good = target_good + '&finding=' + params['finding'] %>
<% end %>
<% paramsHash = params.to_h %>
 

    <%#= paramsHash.inspect %>
   <%#= target_good.inspect %> 

 <div class="container">     
  <form action="https://rmc-aeon.library.cornell.edu/aeon/boom_login.html" method="GET"> 
  <!-- form action="/aeon/redirect_shib" method="POST" style="margin-top: 30px;"> -->
     <input type="hidden" name="authenticated" value="true" />
      <input type="hidden" name="target" value="<%= target_good %>" >
  <!--    <input type="hidden" name="aeonParams" value="<%= paramsHash %>" /> -->
      <input type="submit" value="Cornell Affiliates With a NetID Enter Here" style="font-size: 13px; width: 300px;" />
    </form>

         <form action="https://rmc-aeon.library.cornell.edu/nonshib/boom.html" method="GET" style="margin-top: 30px;">
         
            <input type="hidden" name="target" value="<%= target_good %>" >
        <input type="submit" value="Public Users Without a Cornell NetID Enter Here" style="font-size: 13px; width: 300px;" />
    </form>
    <%#= @paramsString.inspect %>
</div>
</div>
</div>


				
