---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/add?aid=bad_expired_aid
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9780545010221"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Problem":{"ErrorMessage":"Invalid aid","ErrorCode":"PUBRI002"}}'
  recorded_at: Wed, 06 Apr 2016 14:28:20 GMT
recorded_with: VCR 3.0.0
