<div class="card">
  <div class="card-header">
    Advanced Search Tips
  </div>
  <div class="card-body">

  <!--
    <ul class="as-tips">
      <li><strong>all</strong> contains every word in this search box, regardless of order</li>
      <li><strong>any</strong> contains any of the words in this search box, but not necessarily all of them</li>
      <li><strong>begins with</strong> contains at least one field beginning with the words in this search box</li>
      <li><strong>phrase</strong> contains all the words in this search box</li>
      <li><strong>AND</strong> contains the terms from both rows</li>
      <li><strong>OR</strong> contains the terms from either row</li>
      <li><strong>NOT</strong> retrieves items that don't include the terms from this row</li>
    </ul>
  -->
<!--
     <ul class="as-tips">
      <li><strong>all</strong><br>
      Retrieves items that contain every word in this search box, regardless of order or relative placement.</li>
      <li><strong>any</strong><br>
      Retrieves items that contain any of the words in this search box, but not necessarily all of them.</li>
      <li><strong>begins with</strong><br>
      Retrieves items that contain at least one field beginning with the words in this search box.</li>
      <li><strong>phrase</strong><br>
      Retrieves items that contain all the words in this search box, in this particular order.</li>
      <li><strong>AND</strong><br>
      Retrieves items that contain the terms from both rows.</li>
      <li><strong>OR</strong><br>
      Retrieves items that contain the terms from either row.</li>
      <li><strong>NOT</strong><br>
      Retrieves items that specifically don't include the terms from this row.</li>
    </ul>
    -->
    <ul class='as-tips'>
      <li><strong>all</strong> retrieves items that contain every word in this search box, regardless of order or relative placement.</li>
      <li><strong>any</strong> retrieves items that contain any of the words in this search box, but not necessarily all of them.</li>
      <li><strong>begins with</strong> retrieves items that contain at least one field beginning with the words in this search box.</li>
      <li><strong>phrase</strong> retrieves items that contain all the words in this search box, in this particular order.</li>
      <li><strong>AND</strong> retrieves items that contain the terms from both rows.</li>
      <li><strong>OR</strong> retrieves items that contain the terms from either row.</li>
      <li><strong>NOT</strong> retrieves items that specifically don't include the terms from this row.</li>
      <li>Rows are processed from top to bottom. Use <strong>OR</strong> before <strong>AND</strong> and <strong>NOT</strong>.</li>
    </ul>

    <p><a href="https://guides.library.cornell.edu/librarysearch/catalog#s-lg-box-wrapper-35228990">More advanced search help &raquo;</a></p>
  </div>
</div>