<div class="as-tips">
  <h3>Advanced Search Tips</h3>
  <p>Using the 'all' dropdown in each row, select how the terms in the search box are related to each other for the search you want to do:</p>
  <dl class="as-examples dl-horizontal">
    <dt><strong>all</strong></dt>
    <dd>Retrieves items that contain every word in this search box, regardless of order or relative placement.</dd>
    <dt><strong>any</strong></dt>
    <dd>Retrieves items that contain any of the words in this search box, but not necessarily all of them.</dd>
    <dt><strong>begins with</strong></dt>
    <dd>Retrieves items for which at least one field begins with the words in this search box.</dd>
    <dt><strong>phrase</strong></dt>
    <dd>Retrieves items that contain all the words in this search box, in this particular order.</dd>
  </dl>
  <p>By default, the advanced search will look for these terms in all fields of a item's record. To limit the search to only one field, use the second dropdown.</p>
  <p>When using multiple rows, use the 'AND' dropdown to indicate how the terms in each row relate to each other for the search you want to do.</p>
  <dl class="as-examples dl-horizontal">
    <dt><strong>and</strong></dt>
    <dd>Retrieves items that contain the terms from both rows.</dd>
    <dt><strong>or</strong></dt>
    <dd>Retrieves items that contain the terms from either row.</dd>
    <dt><strong>not</strong></dt>
    <dd>Retrieves items that specifically don't include the terms from this row.</dd>
  </dl>
  <p>Be sure to put the terms connected with <strong>or</strong> before the terms connected with <strong>and</strong> or <strong>not</strong>, as the search will process rows sequentially from top to bottom.</p>
  <p>Results can be filtered by date, language, format, etc., after submitting the search.</p>
  <p>Usually, search terms with common suffixes are automatically searched. For example, a search for <strong>star</strong> will include <strong>stars</strong>, <strong>starred</strong> and <strong>starring</strong>. Parentheses and Boolean operators within the search box are not supported.</p>
  <p><a href="https://guides.library.cornell.edu/librarysearch/catalog#s-lg-box-wrapper-35228990">Get more advanced search help &raquo;</a></p>
</div>