---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"FjIVMdEP70Mwi9OfLfRSV9uz8bs","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":true,"AllowSelDelivLoanChange":true}'
  recorded_at: Thu, 15 Oct 2015 18:15:16 GMT
- request:
    method: get
    uri: https://rc.relais-host.com/portal-service/request/query/my?aid=FjIVMdEP70Mwi9OfLfRSV9uz8bs&fullRecord=1&type=all
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"MyRequestRecords":[{"RequestNumber":"JHU-11192038","Title":"GOOD
        NEIGHBORS : GENTRIFYING DIVERSITY IN BOSTON''S SOUTH END","Author":"Tissot,
        Sylvie","DateSubmitted":"Oct 05, 2015 02:16 PM","ISO8601DateSubmitted":"20151005141626","DueDate":"Oct
        08, 2015 11:59 PM","ISO8601DueDate":"20151008235959","PublicationType":"B","Isbn":"9781781687925
        (AL","Isbn2":"1781687927 (ALK.","AllowRenew":true,"AllowCancel":false,"RequestStatus":"ON_LOAN","RequestStatusDate":"Oct
        08, 2015 02:39 PM","ISO8601RequestStatusDate":"20151008143909","ExceptionCodeDesc":"Receive
        Loans"},{"RequestNumber":"JHU-11140078","Title":"SIKAP ANARKISTIS DAN TINDAK
        KEKERASAN MASYARAKAT DALAM IKLIM DEMOKRASI","DateSubmitted":"Aug 05, 2015
        02:37 PM","ISO8601DateSubmitted":"20150805143745","Publisher":"Pusat Penelitian
        Kemasyarakatan dan Kebudayaan, Lembaga Ilmu Pengetahuan Indonesia","PublicationType":"B","PublicationDate":"2009","PublicationPlace":"Jakarta","Isbn":"9789797994860","Isbn2":"9797994864","AllowRenew":false,"AllowCancel":false,"RequestStatus":"UNFILLED","ExceptionCodeDesc":"Cancelled
        due to duplicate request"},{"RequestNumber":"JHU-11140076","Title":"SIKAP
        ANARKISTIS DAN TINDAK KEKERASAN MASYARAKAT DALAM IKLIM DEMOKRASI","DateSubmitted":"Aug
        05, 2015 02:37 PM","ISO8601DateSubmitted":"20150805143707","Publisher":"Pusat
        Penelitian Kemasyarakatan dan Kebudayaan, Lembaga Ilmu Pengetahuan Indonesia",[...]
