---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"ce_uSs6o_4R8IlW68uzbXCvWTfg","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 06 Apr 2016 14:33:07 GMT
- request:
    method: get
    uri: https://bdtest.relais-host.com/portal-service/request/query/my?aid=ce_uSs6o_4R8IlW68uzbXCvWTfg&fullRecord=0&type=all
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"MyRequestRecords":[{"RequestNumber":"COR-99003270","Title":"HARRY
        POTTER AND THE CHAMBER OF SECRETS","DateSubmitted":"Apr 06, 2016 10:30 AM","ISO8601DateSubmitted":"20160406103038","AllowRenew":false,"AllowCancel":true,"RequestStatus":"ENTERED","RequestStatusDate":"Apr
        06, 2016 10:30 AM","ISO8601RequestStatusDate":"20160406103004"},{"RequestNumber":"COR-99003269","Title":"CHOMSKY","DateSubmitted":"Apr
        06, 2016 10:28 AM","ISO8601DateSubmitted":"20160406102859","AllowRenew":false,"AllowCancel":true,"RequestStatus":"ENTERED","RequestStatusDate":"Apr
        06, 2016 10:30 AM","ISO8601RequestStatusDate":"20160406103004"},{"RequestNumber":"COR-99003268","Title":"HARRY
        POTTER AND THE DEATHLY HALLOWS","DateSubmitted":"Apr 06, 2016 10:27 AM","ISO8601DateSubmitted":"20160406102729","AllowRenew":fal[...]
