javascript_include_tag "https://widgets.ebscohost.com/eit/scripts/ebscohostsearch.js"
<form class="ebscohostCustomSearchBox" action="" onsubmit="return ebscoHostSearchGo(this);" method="post" style="overflow:hidden;">
    <input id="ebscohostwindow" name="ebscohostwindow" type="hidden" value="1" />
    <input id="ebscohosturl" name="ebscohosturl" type="hidden" value="http://search.ebscohost.com/login.aspx?direct=true&scope=site&type=0&site=eds-live&lang=en&authtype=ip,sso&custid=s9001366.main.eit" />
    <input id="ebscohostsearchsrc" name="ebscohostsearchsrc" type="hidden" value="db" />
    <input id="ebscohostsearchmode" name="ebscohostsearchmode" type="hidden" value="+" />
    <input id="ebscohostkeywords" name="ebscohostkeywords" type="hidden" value="" />
    <input id="ebscohostsearchtext" class="" name="ebscohostsearchtext" type="text" size="23"  style="font-size:9pt;padding-left:5px;margin-left:0px;" />
    <input type="submit" value="Search" class="ebscohost-search-button " style="font-size:9pt;padding-left:5px;" />
</form>
cardiac