---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"CT9qTuKlldjLWKeYsEROjXdQibo","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":true,"AllowSelDelivLoanChange":true}'
  recorded_at: Thu, 15 Oct 2015 18:15:12 GMT
- request:
    method: get
    uri: https://rc.relais-host.com/portal-service/request/query/my?aid=CT9qTuKlldjLWKeYsEROjXdQibo&fullRecord=0&type=open
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"MyRequestRecords":[{"RequestNumber":"JHU-11192038","Title":"GOOD
        NEIGHBORS : GENTRIFYING DIVERSITY IN BOSTON''S SOUTH END","Author":"Tissot,
        Sylvie","DateSubmitted":"Oct 05, 2015 02:16 PM","ISO8601DateSubmitted":"20151005141626","DueDate":"Oct
        08, 2015 11:59 PM","ISO8601DueDate":"20151008235959","AllowRenew":true,"AllowCancel":false,"RequestStatus":"ON_LOAN","RequestStatusDate":"Oct
        08, 2015 02:39 PM","ISO8601RequestStatusDate":"20151008143909","ExceptionCodeDesc":"Receive
        Loans"},{"RequestNumber":"JHU-10858875","Title":"ANARCHISM AND POLITICAL MODERNITY","Author":"Jun,
        Nathan J","DateSubmitted":"Jun 16, 2014 11:04 AM","ISO8601DateSubmitted":"20140616110424","DueDate":"Jun
        18, 2014 02:42 PM","ISO8601DueDate":"20140618144249","AllowRenew":true,"AllowCancel":false,"RequestStatus":"ON_LOAN","RequestStatusDate":"Jun
        18, 2014 02:42 PM","ISO8601RequestStatusDate":"20140618144249","ExceptionCodeDesc":"Receive
        Loans"}]}'
  recorded_at: Thu, 15 Oct 2015 18:15:12 GMT
recorded_with: VCR 2.9.3
