<div class="service-alert" role="complementary" aria-label="service alert">
  <div class="container">
    <div class="alert alert-warning">
        <% @alerts.each do |alert| %>
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span> <%= alert.try(:html_safe) %>
          <br/>
        <% end %>
    </div>
  </div>
</div>

