<div class="service-alert" role="complementary" aria-label="service alert">
  <div class="container">
    <div class="alert alert-warning text-center">
      <%= ENV['SERVICE_ALERT_MESSAGE'] %>
    </div>
  </div>
</div>