<div class="system-alert" role="complementary" aria-label="system alert">
  <div class="container">
    <div class="alert alert-warning text-center">
      <%= ENV['SYSTEM_ALERT_MESSAGE'] %>
    </div>
  </div>
</div>