<footer role="contentinfo">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-8">
        <h3>Contact Us</h3>
        <ul class="nav nav-pills">
    		  <li><a href="http://www.library.cornell.edu/ask" onclick="javascript:_paq.push(['Footer', 'footer_links', 'Ask a Librarian']);"><i class="fa fa-question" aria-hidden="true"></i>Ask a Librarian</a></li>
          <li><a href="http://www.questionpoint.org/crs/servlet/org.oclc.admin.BuildForm?&page=frame&institution=10389&type=2&language=1" target="_blank"><i class="fa fa-comment-o" aria-hidden="true"  onclick="javascript:_paq.push(['Footer', 'footer_links', 'Chat']);"></i>Chat with a Librarian</a></li>
        </ul>
        <h3 id="library-resources">Resources</h3>
        <ul class="nav footer-nav">
          <li><a href="http://www.library.cornell.edu">Library Website</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="http://newcatalog.library.cornell.edu">Catalog</a></li>
          <li><a href="http://cornell.summon.serialssolutions.com/">Articles &amp; Full-Text</a></li>
          <li><a href="/databases">Databases</a></li>
          <li><a href="http://erms.library.cornell.edu/">E-journal Titles</a></li>
          <li><a href="http://www.library.cornell.edu/visual-resources" title="Image resources">Images</a></li>
        </ul>
    	</div>
    	<div class="col-sm-4 feedback-link">
    		<a href="https://www.library.cornell.edu/feedback?catalogdestination=catalog<%= CGI.escape request.original_fullpath %>" class="btn btn-libraries">Feedback</a>
        <p><a href="mailto:web-accessibility@cornell.edu">Web Accessibility Help</a></p>
        <p><a href="http://blogs.cornell.edu/discoveryandaccess/" title="Supported features and known bugs">Release Notes</a></p>
    	</div>
    </div>
    <div class="row footer-copyright">
      <div class="col-sm-8">
        <p>&#169; <%= Time.now.strftime("%Y") %> Cornell University Library | <a href="http://www.library.cornell.edu/privacy">Privacy</a></p>
      </div>
      <div class="col-sm-4 social-links">
        <a class="facebook-button" href="http://www.facebook.com/cornelluniversitylibrary"><i class="fa fa-facebook-square" aria-hidden="true" title="Find us on Facebook" onclick="javascript:_paq.push(['Footer', 'social_links', 'Facebook']);"></i><span class="sr-only">Facebook</span></a>
        <a class="twitter-button" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.library.cornell.edu%2Findex&amp;region=follow_link&amp;screen_name=Cornell_Library&amp;tw_p=followbutton&amp;variant=2.0"><i class="fa fa-twitter-square" title="Follow us on Twitter" aria-hidden="true" onclick="javascript:_paq.push(['Footer', 'social_links', 'Twitter']);"></i><span class="sr-only">Twitter</span></a>
        <%= render_solr_core %>
      </div>
    </div>
  </div>
</footer>
