<footer>
  <div class="container">
    <div class="libraries-list">
      <div class="row">
        <a data-toggle="collapse" data-target=".libraries-collapse" class="btn btn-libraries">
          Libraries <i class="fa fa-chevron-right"></i>
        </a>
        <div class="libraries-collapse collapse">
          <div class="span4 libraries-group">
            <ul>
              <li><a href="http://africana.library.cornell.edu">Africana Library</a></li>
              <li><a href="http://engineering.library.cornell.edu">Engineering Library</a></li>
              <li><a href="http://finearts.library.cornell.edu">Fine Arts Library</a></li>
              <li><a href="http://leelibrary.cornell.edu">Geneva Experiment Station</a></li>
              <li><a href="http://www.hotelschool.cornell.edu/research/library/">Hotel Library</a></li>
              <li><a href="http://www.ilr.cornell.edu/library">Industrial and Labor Relations Library</a></li>
              <li><a href="http://asia.library.cornell.edu/ac/">Kroch Library, Division of Asia Collections</a></li>
            </ul>
          </div>
          <div class="span4 libraries-group">
            <ul>
              <li><a href="http://rmc.library.cornell.edu">Kroch Library, Division of Rare &amp; Manuscript Collections</a></li>
              <li><a href="http://www.lawschool.cornell.edu/library/index2.cfm">Law Library</a></li>
              <li><a href="http://annex.library.cornell.edu">Library Annex</a></li>
              <li><a href="http://johnson.library.cornell.edu">Management Library</a></li>
              <li><a href="http://mannlib.cornell.edu">Mann Library</a></li>
              <li><a href="http://mathematics.library.cornell.edu">Mathematics Library</a></li>
              <li><a href="http://www.med.cornell.edu/archives/">Medical Center Archives</a></li>
            </ul>
          </div>
          <div class="span3 libraries-group">
            <ul>
              <li><a href="http://library.med.cornell.edu/">Medical Library</a></li>
              <li><a href="http://music.library.cornell.edu">Music Library</a></li>
              <li><a href="http://olinuris.library.cornell.edu">Olin Library</a></li>
              <li><a href="http://www.birds.cornell.edu/Adelson">Ornithology Library</a></li>
              <li><a href="http://physicalsciences.library.cornell.edu">Physical Sciences Library</a></li>
              <li><a href="http://olinuris.library.cornell.edu">Uris Library</a></li>
              <li><a href="http://www.vet.cornell.edu/library/">Veterinary Library</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  	<div class="row">
  		<div class="span8">
        <h3>Contact Us</h3>
        <ul class="nav footer-nav">
    		  <li><a href="http://www.library.cornell.edu/ask"><i class="fa fa-question"></i>Ask a Librarian</a></li>
          <li><a href="http://www.questionpoint.org/crs/servlet/org.oclc.admin.BuildForm?&page=frame&institution=10389&type=2&language=1" target="_blank"><i class="fa fa-comment-o"></i>Chat with a Librarian</a></li>
        </ul>
        <h3>Resources</h3>
        <ul class="nav footer-nav">
          <li><a href="http://www.library.cornell.edu">Library Website</a></li>
          <li><a href="http://search.library.cornell.edu">Search</a></li>
          <li><a href="http://newcatalog.library.cornell.edu">Catalog</a></li>
          <li><a href="http://cornell.summon.serialssolutions.com/">Articles &amp; Full-Text</a></li>
          <li><a href="/databases">Databases</a></li>
          <li><a href="http://erms.library.cornell.edu/">E-journal Titles</a></li>
          <li><a href="http://www.library.cornell.edu/visual-resources">Images</a></li>
          <li class="visible-phone"><a href="http://resolver.library.cornell.edu/NET/parsebd?redirect=yes">Borrow Direct</a></li>
          <li class="visible-phone"><a href="https://cornell.hosts.atlas-sys.com/illiad/">Interlibrary Loan</a></li>
        </ul>
    	</div>
    	<div class="span4 feedback-link">
    		<a href="http://www.library.cornell.edu/feedback" class="btn btn-libraries">Feedback</a>
        <p><a href="http://blogs.cornell.edu/discoveryandaccess/" title="Supported features and known bugs">Release notes</a></p>
        <%= render_solr_core %>
    	</div>
    </div>
    <div class="row footer-copyright">
      <div class="span8">
        <p>&#169; <%= Time.now.strftime("%Y") %> Cornell University Library | <a href="http://www.library.cornell.edu/privacy">Privacy</a></p>
      </div>
      <div class="span4 social-links">
        <a class="facebook-button" href="http://www.facebook.com/cornelluniversitylibrary" title="Find us on Facebook"><i class="fa fa-facebook-square" alt="Find us on Facebook"></i></a> 
        <a class="twitter-button" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.library.cornell.edu%2Findex&amp;region=follow_link&amp;screen_name=Cornell_Library&amp;tw_p=followbutton&amp;variant=2.0" title="Follow us on Twitter"><i class="fa fa-twitter-square" alt="Follow us on Twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
