<div id="header-navbar-top" class="navbar navbar-top">
     <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              
              <%= link_to application_name, root_path, :class => 'brand' %>

              


              <div class="pull-right nav-collapse">
                <%= render :partial=>'/user_util_links' %>
              </div>


        </div>
   </div>
</div>


