<section class="cornell-identity">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="cu-logo">
          <img src="/assets/cornell/layout/cul-logo-white.gif" alt="Cornell University Library">
          <a id="insignia-link" href="http://www.cornell.edu/">Cornell Insignia</a>
          <div class="unit-signature-links">
            <a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
            <a id="unit-link" href="http://www.library.cornell.edu/">Cornell University Library</a>
          </div>
        </div>
      </div>
      <div class="span6 nav-global">
        <ul class="nav">
          <li><a href="#">My Account</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>

<nav class="main-nav">
  <div class="container">
    <div class="navbar nav-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://main1.test.library.cornell.edu/">Home</a></li>
        <li><a href="http://main1.test.library.cornell.edu/about">About Us</a></li>
        <li><a href="http://main1.test.library.cornell.edu/libraries">Libraries</a></li>
        <li><a href="http://main1.test.library.cornell.edu/hours">Hours and Maps</a></li>
        <li><a href="http://main1.test.library.cornell.edu/courses">Courses</a></li>
        <li><a href="http://main1.test.library.cornell.edu/research">Research</a></li>
        <li><a href="http://main1.test.library.cornell.edu/services">Services</a></li>
        <li><a href="http://main1.test.library.cornell.edu/ask">Ask a Librarian</a></li>
      </ul>
    <div>
  </div>
</nav>

<div id="sticky-header-wrapper">
<header id="sticky-header">
  <div class="container">
    <div class="row" >
      <div class="span6 catalog-name" >
        <h1><a href="<%=root_path%>">Library Catalog</a> <a class="label label-info beta" href="http://blogs.cornell.edu/discoveryandaccess/" title="Learn more about this beta release">Beta</a></h1>
      </div>
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</header>
</div>