<div id="skiptocontent"><a href="#maincontent">skip to main content</a></div>

<section class="cornell-identity hidden-phone">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="cu-logo">
          <%= image_tag  "cornell/layout/cul-logo-white.gif" , alt: "Cornell University Library" %>
          <a id="insignia-link" href="http://www.cornell.edu/">Cornell Insignia</a>
          <div class="unit-signature-links">
            <a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
            <a id="unit-link" href="http://www.library.cornell.edu/">Cornell University Library</a>
          </div>
        </div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>

<div class="navbar navbar-static-top navbar-cul">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".culnav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-phone" href="http://www.library.cornell.edu/"><%= image_tag "cornell/layout/cul-mobile.png" , alt: "Cornell University Library" %></a>
    </div>
    <div class="nav-collapse collapse culnav-collapse">
      <ul class="nav">
        <li><a href="http://www.library.cornell.edu/">Home</a></li>
        <li><a href="http://www.library.cornell.edu/about">About Us</a></li>
        <li><a href="http://www.library.cornell.edu/libraries">Libraries and Hours</a></li>
        <li><a href="http://www.library.cornell.edu/courses">Courses</a></li>
        <li><a href="http://www.library.cornell.edu/research">Research</a></li>
        <li><a href="http://www.library.cornell.edu/services">Services</a></li>
        <li><a href="http://www.library.cornell.edu/ask">Ask a Librarian</a></li>
        <li><a href="http://www.library.cornell.edu/help">Help</a></li>
        <li><a href="http://www.library.cornell.edu/myacct">My Account</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="span4 catalog-name">
        <% if request.original_url.include? "/databases" %>
          <h1><a href="/databases">Databases</a></h1>
        <% elsif request.original_url.include? "/digitalcollections" %>
          <h1><a href="/digitalcollections">Cornell Digital Collections</a></h1>
        <% else %>
        <span class="search-home"><a href="http://search.library.cornell.edu/">Search</a><span class="divider">/</span></span>
        <h1><a href="<%=root_path%>">Catalog</a></h1>
        <%end%>
      </div>
      <% if !request.original_url.include? "/databases"  %>
        <%= render :partial=>'/user_util_links' %>
      <%end%>
    </div>
  </div>
</header>
