<div id="skiptocontent"><a href="#maincontent">skip to main content</a></div>

<section class="cornell-identity">
  <div class="container">
    <div class="row">
      <div class="library-brand col-xs-10 col-sm-6">
        <a class="visible-xs" href="http://www.library.cornell.edu/"><%= image_tag "cornell/layout/cul-mobile.png" , alt: "Cornell University Library" %></a>
        <div class="cu-logo hidden-xs">
          <%= image_tag  "cornell/layout/cul-logo-white.gif" , alt: "Cornell University Library" %>
          <a id="insignia-link" href="http://www.cornell.edu/">Cornell Insignia</a>
          <div class="unit-signature-links">
            <a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
            <a id="unit-link" href="http://www.library.cornell.edu/">Cornell University Library</a>
          </div>
        </div>
      </div>
      <div class="library-menu col-xs-2 col-sm-6 text-right">
        <!-- <a class="btn btn-library" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-target=".culnav-collapse">
          <i class="fa fa-bars"></i>
        </a> -->
        <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-library">
            <i class="fa fa-bars"></i><span class="sr-only">Library menu</span>
            <!-- <span class="caret"></span> -->
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="http://www.library.cornell.edu/">Home</a></li>
            <li><a href="http://www.library.cornell.edu/about">About Us</a></li>
            <li><a href="http://www.library.cornell.edu/libraries">Libraries and Hours</a></li>
            <li><a href="http://www.library.cornell.edu/courses">Courses</a></li>
            <li><a href="http://www.library.cornell.edu/research">Research</a></li>
            <li><a href="http://www.library.cornell.edu/services">Services</a></li>
            <li><a href="http://www.library.cornell.edu/ask">Ask a Librarian</a></li>
            <li><a href="http://www.library.cornell.edu/help">Help</a></li>
            <li><a href="http://www.library.cornell.edu/myacct">My Account</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>

<!-- <div class="navbar navbar-static-top navbar-cul">
  <div class="container">
    <div class="navbar-collapse collapse culnav-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://www.library.cornell.edu/">Home</a></li>
        <li><a href="http://www.library.cornell.edu/about">About Us</a></li>
        <li><a href="http://www.library.cornell.edu/libraries">Libraries and Hours</a></li>
        <li><a href="http://www.library.cornell.edu/courses">Courses</a></li>
        <li><a href="http://www.library.cornell.edu/research">Research</a></li>
        <li><a href="http://www.library.cornell.edu/services">Services</a></li>
        <li><a href="http://www.library.cornell.edu/ask">Ask a Librarian</a></li>
        <li><a href="http://www.library.cornell.edu/help">Help</a></li>
        <li><a href="http://www.library.cornell.edu/myacct">My Account</a></li>
      </ul>
    </div>
  </div>
</div> -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 catalog-name">
        <% if request.original_url.include?("/search") && !request.original_url.include?("/searchdigreg") %>
          <h1><a href="/search">Search</a></h1>
        <% else %>
          <span class="search-home"><a href="http://search.library.cornell.edu/"><i class="fa fa-search"></i>Search</a><span class="divider">/</span></span>
          <h1><a href="<%=root_path%>">Library Catalog</a></h1>
        <%end%>
      </div>
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</header>