<div id="skiptocontent"><a href="#maincontent">skip to main content</a></div>

<section class="cornell-identity hidden-phone">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="cu-logo">
          <img src="/assets/cornell/layout/cul-logo-white.gif" alt="Cornell University Library">
          <a id="insignia-link" href="http://www.cornell.edu/">Cornell Insignia</a>
          <div class="unit-signature-links">
            <a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
            <a id="unit-link" href="http://beta.library.cornell.edu/">Cornell University Library</a>
          </div>
        </div>
      </div>
      <div class="span6 nav-global">
        <ul class="nav">
          <li><a href="http://beta.library.cornell.edu/myaccount">My Account</a></li>
          <li><a href="http://beta.library.cornell.edu/help">Help</a></li>
        </ul>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>

<div class="navbar navbar-static-top navbar-cul">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".culnav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="mobile-insignia visible-phone">
        <a href="http://www.cornell.edu"><img src="/assets/cornell/layout/insignia.png" alt="Cornell University"></a>
      </div>
      <a class="navbar-brand visible-phone" href="#">Cornell University Library</a>
    </div>
    <div class="nav-collapse collapse culnav-collapse">
      <ul class="nav">
        <li><a href="http://beta.library.cornell.edu/">Home</a></li>
        <li><a href="http://beta.library.cornell.edu/about">About Us</a></li>
        <li><a href="http://beta.library.cornell.edu/libraries">Libraries</a></li>
        <li><a href="http://beta.library.cornell.edu/hours">Hours and Maps</a></li>
        <li><a href="http://beta.library.cornell.edu/courses">Courses</a></li>
        <li><a href="http://beta.library.cornell.edu/research">Research</a></li>
        <li><a href="http://beta.library.cornell.edu/services">Services</a></li>
        <li><a href="http://beta.library.cornell.edu/ask">Ask a Librarian</a></li>
        <li class="visible-phone global-link"><a href="http://beta.library.cornell.edu/myacct">My Account</a></li>
        <li class="visible-phone global-link"><a href="http://beta.library.cornell.edu/help">Help</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<header>
  <div class="container">
    <div class="row" >
      <div class="span6 catalog-name">
        <span class="search-home"><a href="http://search.library.cornell.edu/">Search</a><span class="divider">/</span></span>
        <h1><a href="<%=root_path%>">Catalog</a> <a class="label label-info beta" href="http://blogs.cornell.edu/discoveryandaccess/" title="Learn more about this beta release">Beta</a></h1>
      </div>
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</header>