<section class="cornell-identity">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="cu-logo">
          <a id="insignia-link" href="http://www.cornell.edu/">Cornell Insignia</a>
          <div class="unit-signature-links">
            <a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
            <a id="unit-link" href="http://www.library.cornell.edu/">Cornell University Library</a>
          </div>
        </div>
      </div>
      <div class="span6 search-links hidden-phone">
        <ul>
          <li><a href="http://www.library.cornell.edu/accessiblesearch/">Search Library</a></li>
          <li><a href="http://www.cornell.edu/search/">Search Cornell</a></li>
        </ul>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>

<header>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2><a href="#">Library Catalog</a></h2>
      </div>
      <div class="span4 offset5">
        <ul class="login">
          <li><a href="#">Log in</a></li>
          <li><a href="#">Selected items (0)</a></li>
          <li><a href="#">Search history</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
