-## Testing for @iis presence because callslip needs it
-## but not sure if callslip is even sticking around (what's
-## the difference between it and L2L?)
-if (@iis.present? && @iis.length > 0)
  .control-group
    %label.control-label
      -if (@iis.length > 1)
        Select a copy:
      -elsif (@iis.length == 1)
        This copy:
    -if (@iis.length > 1)
      .controls
        %input(type="radio" name="copy" value="" id="Any Copy")
        %label.radio-label{ :for => "Any Copy"} Any Copy
    -@iis.each do |copyn, copyd|
      .controls
        -if (@iis.length == 1)
          %input(type="radio" name="copy" value="#{copyn}" checked)
        -else
          %input(type="radio" name="copy" value="#{copyn}" id="#{copyn}")
        %label.radio-label{ :for => "#{copyn}"}=copyd


