%br
Would you like any available copy or a specific copy?
%br
%input(type="radio" name="copy") Any Copy
-count=0
-@h.each do |full|
  -full.each do |loc|
    -if (count > 0 ) then
      -loc.each do |lib|
        %br
        %input(value="#{lib['holding_id'][0]}" type="radio" name="copy")
        =lib['location_name'] + ' ' + lib['call_number']
    -count+=1
