.control-group
  %label.control-label{:for => 'latest-date'} Not needed after:
  #latest-date.controls
    %select#year
      %option(value="2013") 2013
      %option(value="2014") 2014
    %select#mo
      %option(value="01") Jan
      %option(value="02") Feb
      %option(value="03") Mar
      %option(value="04") Apr
      %option(value="05") May
      %option(value="06") Jun
      %option(value="07") Jul
      %option(value="08") Aug
      %option(value="09") Sep
      %option(value="10") Oct
      %option(value="11") Nov
      %option(value="12") Dec
    %select#da
      %option(value="01") 01
      %option(value="02") 02
      %option(value="03") 03
      %option(value="04") 04
      %option(value="05") 05
      %option(value="06") 06
      %option(value="07") 07
      %option(value="08") 08
      %option(value="09") 09
      %option(value="10") 10
      %option(value="11") 11
      %option(value="12") 12
      %option(value="13") 13
      %option(value="14") 14
      %option(value="15") 15
      %option(value="16") 16
      %option(value="17") 17
      %option(value="18") 18
      %option(value="19") 19
      %option(value="20") 20
      %option(value="21") 21
      %option(value="22") 22
      %option(value="23") 23
      %option(value="24") 24
      %option(value="25") 25
      %option(value="26") 26
      %option(value="27") 27
      %option(value="28") 28
      %option(value="29") 29
      %option(value="30") 30
      %option(value="31") 31
