-if (@iis.length > 1) 
  Select a copy to be delivered:
-else
  Please deliver this copy: 
-@iis.each do |copyn, copyd|
  -if (@iis.length == 1) 
    %br
    %input(value="#{copyn}" type="radio" name="copy" checked)
  -else
    %br
    %input(value="#{copyn}" type="radio" name="copy")
  =copyd
