<form method="post" action="<%= user_saml_omniauth_authorize_path %>">
    <%= token_tag %>
    <% returnpath = session[:cuwebauth_return_path].present? ? session[:cuwebauth_return_path] : request.original_url %>
    <input type="hidden" name="returnpath" value="<%= returnpath %>">
    <button class="btn-link" type="submit" name="Sign in" onclick="javascript:_paq.push(['trackEvent', 'header_links', 'Sign in']);" data-toggle="tooltip" data-placement="bottom" data-original-title="Sign in to email items or save them to Book Bag">Sign in</button>
</form>
