---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"wqJABGsbRZrhfCy1h92c8NkCV5U","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Thu, 15 Oct 2015 15:15:57 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/no/such/path
    body:
      encoding: UTF-8
      string: '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: <!DOCTYPE html><html><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible"
        content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1,
        maximum-scale=1, user-scalable=no"><link rel="icon" href="/img/favicon-6.14.47-HOTFIX-RELEASE.ico"
        type="image/x-icon"/><link rel="shortcut icon" href="/img/favicon-6.14.47-HOTFIX-RELEASE.ico"
        type="image/x-icon"/><link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/><script
        type="text/javascript" src="/js/head.core.min-v1.0.3.js"></script><script
        type="text/javascript" src="/js/portalAir-6.14.47-HOTFIX-RELEASE.js"></script><script>head.load("/js/portalComponent-6.14.47-HOTFIX-RELEASE.js","/htc/commonCompObj-6.14.47-HOTFIX-RELEASE.js","/err/htc/errorMenuCompObj-6.14.47-HOTFIX-RELEASE.js","/err/htc/error404CompObj-6.14.47-HOTFIX-RELEASE.js","/htc/placeHolderCompObj-6.14.47-HOTFIX-RELEASE.js");head.load("/js/jquery.min-v1.11.1.js","/js/jquery.ui.min-v1.11.0.js","/js/jquery.dataset-v0.1.0.js","/js/underscore-v1.7.0.js","/js/stringjs.min-v2.2.0.js","/js/URI-v1.13.2.js","/js/sessionstorage.js","/js/jquery.timer.js","/js/sanitizeHTMLComponentData-6.14.47-HOTFIX-RELEASE.js","/js/portalService-6.14.47-HOTFIX-RELEASE.js","/js/portalForm-6.14.47-HOTFIX-RELEASE.js","/js/portalUI-Core-6.14.47-HOTFIX-RELEASE.js","/err/htc/errorBLL-6.14.47-HOTFIX-RELEASE.js");</script><!--[if
        lt IE 9]><script type="text/javascript" src="/js/html5Shiv-v3.7.0.js"></script><script
        type="text/javascript" src="/js/respond-v1.4.2.js"></script><![endif]--></head><body><div
        id="divPage"><div id="divTopBanner"><div class="component" id="TopBannerPlaceHolder">&nbsp;
        </div></div><div id="divHeader"><div id="Header">&nbsp; </div></div><div id="divHorizontalMenu"><div
        id="ErrorMenu">&nbsp; </div></div><div id="divContent"><div id="Error404">&nbsp;
        </div></div><div id="divFooter"><div id="Footer">&nbsp; </div></div><div id="divBottomBanner"><div
        class="component" id="BottomBannerPlaceHolder">&nbsp; </div></div></div><script>head.ready(function(){portalError.setUpOp404();diController.processOps(diController.opList);});</script></body></html>
  recorded_at: Thu, 15 Oct 2015 15:15:57 GMT
recorded_with: VCR 2.9.3
