// LAYOUT

body {
  	padding-top: 0;
}

.main-content {
	padding: 0.5em 0 30px 0;
	// background: $pale-gray; lighten up
	background: white;
}

.blacklight-catalog-show {
	.main-content { padding-bottom: .5em; }
}
.main-text { padding-top: .5em; }

// LINKS

a { 
	color: $link-primary;
}

a:hover {
	color: $link-primary-hover;
	text-decoration: none;
}

.main-content {
	a {
		border-bottom: 1px dotted $light-gray;
	}
	a:hover {
		border-bottom: 1px solid $light-gray;
	}
}


// TYPOGRAPHY

h2 { font-size: 24px; }
h3 { font-size: 20px; line-height: 1.5em;}

// FORMS

// This is needed as workaround for IE7-9 bug with font-famly on <select>
// -- see cul-bootstrap-loader.css.scss and this issue for more details:
// -- https://issues.library.cornell.edu/browse/DISCOVERYACCESS-622
input,
button,
textarea {
  font-family: $font-family-base;
}

// HOME PAGE TEXT

.feedback {
	h4 { margin-top: 40px; }
  	p { font-size: 16px;}
}
.home-message {
	margin-top: 30px;
	p {
		// line-height: 1.5em;
		margin-bottom: 15px;
		font-size: 16px;
	}
	li {
		line-height: 1.5em;
		margin-bottom: .5em; }
}
.other-resources {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 2px solid $light-tan;
	margin-bottom: 2em;
	h2 {
		font-size: 12px;
		text-transform: uppercase;
		margin: 0;
		line-height: normal;
	}
	.blacklight-nav {
		float: none;
		li {
			font-size: 16pxem;
		}
		li:first-child {
			a {
				padding-left: 0;
			}
		}
		i {
			color: $dark-tan; 
			margin-right: .25em;
		}
	}
}

// CUL button style
.btn-libraries {
	background: #16524d;
	color: white;
	border-radius: 0;
	border-color: #16524d;
	text-shadow: none;
	box-shadow: none;
	margin-bottom: 1.5em;
	i {
		color: $medium-teal;
		margin-left: 3px;
	}
}
.btn-libraries:hover,
.btn-libraries:focus {
	background: #16524d;
	color: white;
}
.btn-secondary {
	background: $dark-tan;
}

// Well overrides
// ------------------------

.well {
	border-radius: 0;
	box-shadow: none;
}

// Panel overrides
// ------------------------
.panel-group {
	.panel {
		border-radius: 0;
		border: 0 0 1px 0;
		box-shadow: none;
	}
}
.panel-default > .panel-heading {
	background: $light-tan;
	border-radius: 0;
}
// Img overrides
// ------------------------
.img-thumbnail {
	border-radius: 0;
	background: white;
}