// LAYOUT

body {
  padding-top: 0;
	font-size: 100%;
	background: $dark-gray;
	}

.main-content {
	padding: 0.5em 0;
	background: $pale-gray;
}


// LINKS

a { color: $link-primary; }

a:hover {
	color: $dark-gray;
	text-decoration: underline;
	}


// TYPOGRAPHY

h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; line-height: 1.5em;}


// MISCELLANEOUS

.align-right { text-align: right; }

.float-right { float: right; }
.float-left { float: left; }
