// LAYOUT

body {
  padding-top: 0;
  font-size: 100%;
}

.main-content {
	padding: 0.5em 0;
	background: $pale-gray;
}


// LINKS

a { color: $link-primary; }

a:hover {
	color: $dark-gray;
	text-decoration: underline;
	}


// TYPOGRAPHY

h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; line-height: 1.5em;}

// FORMS

// This is needed as workaround for IE7-9 bug with font-famly on <select>
// -- see cul-bootstrap-loader.css.scss and this issue for more details:
// -- https://issues.library.cornell.edu/browse/DISCOVERYACCESS-622
input,
button,
textarea {
  font-family: $baseFontFamily;
}


// MISCELLANEOUS

.align-right { text-align: right; }

.float-right { float: right; }
.float-left { float: left; }

// HOME PAGE TEXT

.feedback {
	h4 { margin-top: 40px; }
  	p { font-size: 1em;}
}
.home-message {
	margin-top: 30px;
	p {
		line-height: 1.5em;
		margin-bottom: 15px;
		font-size: 1.1em; }
	li {
		line-height: 1.5em;
		margin-bottom: .5em; }
}
