// Layout
// ------------------------

body {
  	padding-top: 0;
}

.main-content {
	padding: 0.5em 0 30px 0;
	background: white;
}

.blacklight-catalog-show {
	.main-content {
		padding-bottom: .5em;
	}
}


// Typography
// ------------------------

h2 { 
	margin-bottom: .5em;
	font-size: 26px;
}
h3 { font-size: 20px; line-height: 1.5em;}

// Home page text
// ------------------------

.feedback {
	h4 { margin-top: 40px; }
  	p { font-size: 16px;}
}
.home-message {
	p {
		margin-bottom: 15px;
		font-size: 16px;
	}
	li {
		line-height: 1.5em;
		font-size: 16px;
	}
}
.other-resources {
	margin-top: 30px;
	margin-bottom: 2em;
	h3 {
		font-size: 14px;
		text-transform: uppercase;
		margin: 0;
		line-height: normal;
	}
	.blacklight-nav {
		float: none;
		li {
			font-size: 16px;
		}
		li:first-child {
			a {
				padding-left: 0;
			}
		}
		i {
			color: $dark-tan; 
			margin-right: .25em;
		}
	}
}

// Override BS4 btn-secondary
// ---------------------------

.btn-secondary {
	background: $concrete;
}
.btn-secondary:hover {
	background: $concrete-hover;
}
.btn-outline-secondary {
	border-color: $concrete;
	color: $dark-gray;
}
.btn-outline-secondary:hover {
	border-color: $concrete-hover;
	color: white;
	background: $concrete-hover;
}

// CUL button - generic teal
// ------------------------------

.btn-cul {
	color: white;
	background-color: $cornell-primary;
	border-color: $cornell-primary;
	background-image: none;
}
.btn-cul:hover,
.btn-cul:active,
.btn-cul:focus {
	background-color: $cornell-primary-hover;
	color: white;
	border-color: $cornell-primary-hover;
}
.main-content {
	.btn-cul {
		border-bottom: 1px solid $dark-green;
	}
}


// Card customization
// ------------------------
// Add old well background color to some cards
.card-well {
	background: $light-tan;
}

// Panel overrides
// ------------------------
.panel,
.panel-group .panel {
	border-radius: 0;
	border: 0 0 1px 0;
	box-shadow: none;
}
.panel-default > .panel-heading {
	background: $light-tan;
	border-radius: 0;
}
// Img overrides
// ------------------------
.img-thumbnail {
	border-radius: 0;
	background: white;
}
// Modal overrides
// ----------------------
.close {
	color: $medium-gray;
	opacity: 1;
}
.modal {
	h1 {
		font-weight: 700;
		margin: 0;
	}
	.form-control {
		width: 100%;
	}
}
.modal-title {
	font-size: 24px;
	float: left;
}
.modal-body {
	h2 {
		font-size: 20px;
		margin-top: 1rem;
	}
	h2:first-child {
		margin-top: 0;
	}
}

// Miscellaneous
// ----------------------
.toplink {
	margin: 1em 0;
	font-size: 12px !important;
	text-align: right;
}
.ie9-only { 
	display: none;
	background: white;
	padding-top: 1em;
}
.discogs-bgc {
	background-color: #d4e7f8;
}
.wikidata-bgc {
	background-color: #fbe6c8;
}
a.data-src {
    margin-left: 8px !important;
}
.data-src  img {
	width: 16px;
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	.home-message {
		margin-top: 2.2rem;
 	}
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }


// BOOTSTRAP 4 TEMP FIXES
// -----------------------
div.select_all label {
	margin-bottom: 0.15rem;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #edebe7;
  border: 1px solid darken(#edebe7, 7%);
  border-radius: 4px;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
  }
}

.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}

.radio-inline {
	display: inline !important;
}

.submit-reset {
	width: 100%;
}

.as-tips ul {
	padding-left: 18px;
}

.dl-horizontal dt {
    float: left;
    clear: left;
    text-align: right;
}

.modal-header {
	display: block !important;
}
