// Layout
// ------------------------

body {
  	padding-top: 0;
}

.main-content {
	padding: 0.5em 0 30px 0;
	background: white;
}

.blacklight-catalog-show {
	.main-content {
		padding-bottom: .5em;
	}
}
.main-text {
	padding-top: .5em;
}

// Links
// ------------------------

a { 
	color: $link-primary;
}

a:hover {
	color: $link-primary-hover;
	text-decoration: underline;
}

// Add underlines to links in main content area so that they are easier to see / accessibility
.main-content,
.blacklight-nav,
footer {
	a {
		border-bottom: 1px dotted $light-gray;
	}
	a:hover,
	a:active,
	a:focus {
		border-bottom: 1px solid $light-gray;
		text-decoration: none;
	}
}
// No underlines for some elements in the main content area
.main-content {
	.remove,
	.remove:hover,
	.label,
	.label:hover,
	.dropdown-menu a,
	.dropdown-menu a:hover,
	.rss-icon,
	.rss-icon:hover,
	.rss-icon:active,
	.rss-icon:focus {
		border-bottom: none;
	}
}


// Typography
// ------------------------

h2 { 
	margin-bottom: .5em;
	font-size: 26px;
}
h3 { font-size: 20px; line-height: 1.5em;}

// Forms
// ------------------------

// This is needed as workaround for IE7-9 bug with font-famly on <select>
// -- see cul-bootstrap-loader.css.scss and this issue for more details:
// -- https://issues.library.cornell.edu/browse/DISCOVERYACCESS-622
// input,
// button,
// textarea {
//   font-family: $font-family-base;
// }

// Home page text
// ------------------------

.feedback {
	h4 { margin-top: 40px; }
  	p { font-size: 16px;}
}
.home-message {
	margin-top: 30px;
	p {
		margin-bottom: 15px;
		font-size: 16px;
	}
	li {
		line-height: 1.5em;
		font-size: 16px;
	}
	.lead {
		font-size: 24px;
	}
	.well {
		border: 1px solid #dedad3;
		background: white;
	}
}
.other-resources {
	margin-top: 30px;
	margin-bottom: 2em;
	h2 {
		font-size: 12px;
		text-transform: uppercase;
		margin: 0;
		line-height: normal;
	}
	.blacklight-nav {
		float: none;
		li {
			font-size: 16px;
		}
		li:first-child {
			a {
				padding-left: 0;
			}
		}
		i {
			color: $dark-tan; 
			margin-right: .25em;
		}
	}
}

// CUL button - libraries
// ------------------------

.btn-libraries {
	background: #16524d;
	color: white;
	border-color: #16524d;
	text-shadow: none;
	box-shadow: none;
	margin-bottom: 1.5em;
	font-family: $font-family-cul;
	i {
		color: $dark-teal;
		margin-left: 3px;
	}
}
.btn-libraries:hover,
.btn-libraries:focus {
	background: #16524d;
	color: white;
}
.btn-secondary {
	background: $dark-tan;
}

// CUL button - generic teal
// ------------------------------

.btn-cul {
	color: white;
	background-color: $teal;
	border-color: $teal;
	background-image: none;
}
.btn-cul:hover,
.btn-cul:active,
.btn-cul:focus {
	background-color: $dark-teal;
	color: white;
	border-color: $dark-teal;
}
.main-content {
	.btn-cul {
		border-bottom: 1px solid $dark-teal;
	}
}


// Well overrides
// ------------------------

.well {
	border-radius: 0;
	box-shadow: none;
}

// Panel overrides
// ------------------------
.panel,
.panel-group .panel {
	border-radius: 0;
	border: 0 0 1px 0;
	box-shadow: none;
}
.panel-default > .panel-heading {
	background: $light-tan;
	border-radius: 0;
}
// Img overrides
// ------------------------
.img-thumbnail {
	border-radius: 0;
	background: white;
}
// Modal overrides
// ----------------------
.close {
	color: $medium-gray;
	opacity: 1;
}
.modal {
	h3 {
		font-weight: 700;
		margin: 0;
	}
	.form-control {
		width: 100%;
	}
}
.modal-title {
	font-size: 24px;
}

// Miscellaneous
// ----------------------
.toplink {
	margin: 1em 0;
	font-size: 12px !important;
	text-align: right;
}
.ie9-only { 
	display: none;
	background: white;
	padding-top: 1em;
}