.bookmarks-index,
.book_bags-index,
.blacklight-book_bags,
.blacklight-bookmarks-index {
	.item-tools {
		margin-top: .5em;
	}
}	
.clear-bookmarks {
	margin-left: 1em;
}


.bookmarks-refworks input.submit {display:none;}

// Wanted to extend Bootstrap's default like this:
// .bookmarks-refworks a { @extend .dropdown-menu > li > form > a; }
// -- but you can't extend nested selectors :(
.dropdown-menu {
	> li > form > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: $line-height-base;
    	color: $dropdown-link-color;
		white-space: nowrap;
	}
	> li > form > a:hover {
		text-decoration: none;
	  	color: $dropdown-link-hover-color;
	  	@include gradient-vertical($dropdown-link-hover-bg, darken($dropdown-link-hover-bg, 5%));
	}
}

.results-info {
  margin: 0;
  padding-bottom: .2em;
  border-bottom: solid 5px $light-tan;
}

// Bookbag tips
.bookbag-tips {
	margin-bottom: 1em;
	border-bottom: 1px solid $light-tan;
	h3 {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 0;
		color: $medium-gray;
		i {
			margin-right: .25em;
		}
	}
}


// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
  	.bookmarks-index,
  	.book_bags-index,
  	.blacklight-bookmarks-index {
		#sort-dropdown, #per_page-dropdown {
			float: right;
		}
	}
		#sort-dropdown {
			margin-right: 5px;
		}
}
