.clear-bookmarks {
	margin-left: 1em;
	font-size: .8em;
}

body.blacklight-bookmarks-index .item-tools ul { float: left;}

.bookmarks-refworks input.submit {display:none;}

// Wanted to extend Bootstrap's default like this:
// .bookmarks-refworks a { @extend .dropdown-menu > li > form > a; }
// -- but you can't extend nested selectors :(
.dropdown-menu {
	> li > form > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: $baseLineHeight;
    color: $dropdownLinkColor;
		white-space: nowrap;
	}
	> li > form > a:hover {
		text-decoration: none;
	  color: $dropdownLinkColorHover;
	  @include gradient-vertical($dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
	}
}
