.cornell-brand {
	padding: 2px 0;
}
.cornell-identity {
	background: white;
	.container {
		background: $cornell-primary;
	}
}
.library-brand {
	font-family: $font-family-cul;
	a, a:hover, a:active, a:focus {
		color: white;
	}
}
.insignia {
	display: block;
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 1em;
}
.cornell-logo {
	a {
		display: block;
		width: 199px;
		height: 45px;
		text-indent: -9999em;
		background: url("/img/cornell-reduced-white.svg") no-repeat;
	}
}

// Skip to content link
// https://webaim.org/techniques/css/invisiblecontent/#skipnavlinks
// ---------------------------------------

#skiptocontent,
#skiptoresults {
	a {
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}
} 
 
#skiptocontent,
#skiptoresults {
	a:focus {
		position:static;
		width:auto;
		height:auto;
	}
}