.cornell-identity {
	width: 100%;
	background: $cornell-primary;
	height: 75px;
	font-family: $cornell-font;
	padding: 5px 0;
	}

.search-links {
  text-align: right;
  margin-top: 20px;

  ul {
  	padding-top: 10px;
  	list-style: none;
  }
  li { display: inline; }
  a {
  	color: $white;
  	text-decoration: none;
  	font-size: 0.6875em;
  	padding: 5px 15px;
  }
  a:hover {
  	background: $cornell-primary-hover;
  }
}

.cu-logo {
	display: block;
	background: url("cornell/layout/cul-logo-red.gif") no-repeat 0 0;
	width: 263px;
	height: 75px;
	a {
		display: block;
		border: none;
		text-indent: -1000em;
		text-decoration: none;
	}
	a#insignia-link {
		float: left;
		width: 68px;
		height: 75px;
	}
	#unit-signature-links { float: left; }
	a#cornell-link {
		left: 68px;
		height: 35px;
	}
	a#unit-link {
		top: 38px;
		height: 37px;
	}
}
