.cornell-brand {
	padding: 10px 0 0 0;
}
.cornell-identity {
	background: white;
}
.library-brand {
	font-family: $font-family-cul;
	a, a:hover, a:active, a:focus {
		color: white;
	}
}
.insignia {
	display: block;
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 1em;
}
.cornell-logo {
	img {
		width: 300px;
	}
}

// Skip to content link
// https://webaim.org/techniques/css/invisiblecontent/#skipnavlinks
// ---------------------------------------

#skiptocontent,
#skiptoresults {
	a {
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}
} 
 
#skiptocontent,
#skiptoresults {
	a:focus {
		position:static;
		width:auto;
		height:auto;
	}
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  .cornell-logo {
  	img {
  		width: auto;
  	}
  }
}