.cornell-brand {
	padding: 2px 0;
}
.cornell-identity {
	background: white;
	.container {
		background: $cornell-primary;
	}
}
.library-brand {
	font-family: $font-family-cul;
	a, a:hover, a:active, a:focus {
		color: white;
	}
}
.insignia {
	display: block;
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 1em;
}
.cornell-logo {
	a {
		display: block;
		width: 199px;
		height: 45px;
		text-indent: -9999em;
		background: url("/img/cornell-reduced-white.svg") no-repeat;
	}
}

// Skip to content link
// http://webaim.org/techniques/skipnav/
// ---------------------------------------
#skiptocontent,
#skiptoresults {
	a {
		padding:6px;
		position: absolute;
		top:-40px;
		left:0px;
		color:white;
		border-right:1px solid white;
		border-bottom:1px solid white;
		border-bottom-right-radius:8px;
		background:transparent;
		-webkit-transition: top 1s ease-out, background 1s linear;
	    transition: top 1s ease-out, background 1s linear;
	    z-index: 100;
 	}
}

// MEDIA QUERIES
// -------------------------

/* Small devices (tablets, 768px and up) */
// @media (min-width: $screen-sm) { 
// }

/* Medium devices (desktops, 992px and up) */
// @media (min-width: $screen-md) {
// }