// Custom styles for database pages 
// -----------------------------------

.databases-search,
.databases-az,
.databases-subject {
	h2 {
		font-weight: normal;
		color: $dark-gray;
		font-size: 22px;
		margin-bottom: 10px;
	}

	a {
		color:$bright-blue;
	}
}
.databases-az {
	.nav-pills {
		margin-bottom: 0;
		a {
			background: white;
			margin-bottom: 5px;
		}
		a:hover, a:active, a:focus {
			background: $pale-gray;
		}
	}
}
.databases-subject {
	margin-top: 20px;
	h3 {
		font-weight: 700;
		margin-bottom: 10px;
		margin-top: 20px;
		font-size: 18px;
	}
	h3:first-child { margin-top: 0; }
}
.databases-search {
	.form-group { padding-left: 0; }
}

h2.db-alpha {
	text-transform: capitalize;
}
.blacklight-database-name {
	padding-top: 15px;
	.document-data { 
		width: 100%;
		padding: 0 0 15px 0;
	}
}
.blacklight-database-name:first-child {
	padding-top: 0;
}
.terms {
	list-style: none;
	margin: 0;
	li {
		float: left;
		border-left: 1px solid $databases-light-gray;
		padding: 0 6px;
	}
	li:first-child {
		border: 0;
		padding-left: 0;
	}
}

// Section nav list treatment - taken from beta.library, but tweaked 
// --------------------------------------------------------------------
.nav-section { 
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		// font-size: 16px;
		a {
			padding: 4px 0 4px 15px;
			display: inline-block;
			i { 
				color: $databases-light-gray;
				margin-top: 6px;
				margin-left: 0;
				margin-right: 5px;
			}
		}
		a:hover {
			background: inherit;
			text-decoration: underline;
			i { 
				text-decoration: none;
				 }
		}
	}
}
.sub-search {
	margin-top: 20px;
}

// Subject or A-Z list page - some ttaken from blacklight and edited
// --------------------------------------------------------------------
.results-info {
  margin: 0;
  padding-bottom: .2em;
  border-bottom: solid 5px $light-tan;
}
.blacklight-title_display {
	margin: 0 0 .5em;
	font-weight: normal;
	line-height: 1.2em;
	// font-size: 1.1em;
	font-size: 20px;
	i { 
		font-size: 12px;
		margin-left: 5px;
	}
}
.document {
	h3 { margin-bottom: 20px; }
	h3:first-child { margin-top: 0; }
}
.document-data {
	border-bottom: 1px solid $tan; 
	padding: 15px 0;
	.description {
		p { 
			font-size: 13px;
			line-height: 1.6em;
		}
	}

	.label-important {
		color:$white;
		font-size: 60%;
    	vertical-align: middle; 
    	padding:.2em .6em .3em;
    	background-color: $bright-red;
	}
}
.document-data:first-child {
	padding-top: 0;
}
.resources {
	background: white;
	padding: 20px;
	margin-top: 20px;



}

.resources, .database-subject {
		a {
		color: $bright-blue;
	}
}

.database-subject {
	.page-title {
		h2 {
			color:$cornell-primary;
			font-size: 30px;
			font-weight: 700
		}
	}
}
.resources-core {
	h3 { 
		color: $cornell-primary;
		font-weight: 700;
	}
}
.resources-all, .resource {
	.document-data:first-child { border-top: 0; }
}
.terms {
	color: $medium-gray;
	font-size: 12px;
	.divider { 
		color: #ccc;
		margin: 0 3px;
	}
}
.page-title {
	h2 { margin-top: 0; }
}
.return-link { 
	text-align: right;
	font-size: 16px;
}
.pagination-wrapper {
	text-align: center;
}

// CUL button
// -------------------------

// Info appears as blue-green
.btn-cul {
//  @include button-variant($btn-cul-color, $btn-cul-bg, $btn-cul-border);
}

// Terms of Use page
// ---------------------
.terms-table {
	margin-top: 20px;
}
.resource {
	margin-top: 0;
	.document-data {
		p { font-size: 14px; }
	}
}