// Custom styles for database pages 
// -----------------------------------

.databases-search {
	.well {
		.row {
			margin-left: 0;
		}
	}
}
.databases-az {
	.nav-pills {
		margin-bottom: 0;
		li {
			float: left !important;
		}
		a {
			border: 1px solid #ddd;
			margin-bottom: 5px;
			padding: 8px 12px !important;
		}
		a:hover, a:active, a:focus {
			background: $light-tan;			
		}
	}
}
.databases-search {
	.form-group { padding-left: 0; }

	p {
		font-size: 14px;
	}
	h2 {
		font-size: 20px;
		line-height: 1.1em
	}

	form {
		margin-bottom:0px;
	}
}
.blacklight-database-name {
	padding-top: 15px;
	h3 { margin-bottom: 20px; }
	h3:first-child { margin-top: 0; }
	.document-data { 
		width: 100%;
		padding: 0 0 15px 0;
	}
	td,th {
		font-size:14px;
	}
	.description {
		p { 
			font-size: 14px;
			line-height: 1.6em;
		}

	}
	.blacklight-title_display {
		margin: 0 0 .5em;
		font-weight: normal;
		line-height: 1.5em;
		i { 
			font-size: 12px;
			margin-left: 5px;
		}
		a {
			margin-left: 0;
		}
	}
	caption {
		text-align: center;
		color: $medium-gray;
	}
	// Add this to make thead always have a tan background because after adding caption to table it turns white
	thead {
	    th {
	      background-color: $light-tan;
	    }
	}
}
.blacklight-database-name:first-child {
	padding-top: 0;
}
.databases-subject,
.databases-searchdb,
.databases-title {
	.document {
		border-bottom: 1px solid $light-tan;
	}
}
.terms {
	list-style: none;
	margin: 0;
	li {
		float: left;
		border-left: 1px solid $databases-light-gray;
		padding: 0 6px;
	}
	li:first-child {
		border: 0;
		padding-left: 0;
	}
}
.blacklight-databases {
	.return-link {
		margin-bottom: 2em;
	}
	.mobile-search-btn {
		margin-left: 5px;
	}
}

// Section nav list treatment - taken from beta.library, but tweaked 
// --------------------------------------------------------------------
.nav-section { 
	list-style: none;
	padding: 0;
	margin: 0 0 1.5em 0;
	li {
		font-size: 14px;
		padding: 4px 0 4px 0;
		a {
			display: inline-block;
			padding: 0;
			
		}
		a:hover {
			background: inherit;
		}
		i { 
			color: $databases-light-gray;
			margin-top: 6px;
			margin-left: 0;
			margin-right: 6px;
		}
	}
}
.sub-search {
	margin-top: 20px;
}

// Subject or A-Z list page - some ttaken from blacklight and edited
// --------------------------------------------------------------------

.database-subject {
	.page-title {
		h2 {
			margin-top: 1em;
			margin-bottom: 1em;
			padding-bottom: .2em;
  			border-bottom: solid 5px $light-tan;
		}
	}
}
.resources-all, .resource {
	.document-data:first-child { border-top: 0; }
}
.terms {
	color: $medium-gray;
	font-size: 12px;
	.divider { 
		color: #ccc;
		margin: 0 3px;
	}
}

.z-note {
	font-style: italic;
}
.page-title {
	h2 { margin-top: 0; }
}
.return-link { 
	text-align: right;
}
.pagination-wrapper {
	text-align: center;
}
// catalog link on show page
.resources {
	.links {
		margin-bottom: 1.5em;
	}
}

// Terms of Use page
// ---------------------
.terms-table {
	margin-top: 20px;
}
.resource {
	margin-top: 0;
	.document-data {
		p { font-size: 14px; }
	}
}

// Collapsible A-Z nav 
// -----------------------------------
.btn-az {
	display: none;
	padding: 7px 10px;
	.fa-bars { 
		color: $light-gray;
		margin-left: 3px;
	}
}