.facets {
	margin-top: 0.5em;
	background: white;
	@include border-radius($borderRadiusLarge);
	h5 {
		padding: 6px 6px 6px 0;
		line-height: 1.2em;
		font-size: 0.875em;
		margin: 0 0 5px 0;
		cursor: pointer;
		color: $dark-gray;
		i {
			float: right;
			padding-right: .25em;
			color: $light-gray; }
	}
	h5.twiddle-open {
		border-bottom: none;
		margin-bottom: 0;
	}
	ul {
		margin: 0 0 5px 10px;
		padding: 0 10px 0 0;
		list-style: none;
	}
	li {
		font-size: 0.75em;
		color: $light-gray;
	}
	p {
		font-weight: bold;
		padding: 10px;
		margin: 0; }
	i { color: $dark-gray; }
	.navbar {
		margin-bottom: 0;
		padding: 0 0 0 10px; }
	a:hover { background: white; }
}
// OVERRIDE #FACETS
#facets {
	ul {
		margin-left: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	li {
		margin-right: 0;
		line-height: 16px;
	}
	li.more_facets_link {
		float: none;
		margin-right: -50px; }
	span.selected {
		color: $dark-gray;
	}
	h5 + div { padding-bottom: .5em; }
}

// PUBLICATION YEAR
.limit_content {
	margin-right: 10px;
}

// SELECTED FACETS

.selected-facets {
	clear: both;
	.btn-info {
		margin-bottom: 3px;
		i { margin: .1em 0 0 .5em; }
	}
	a {
		color: $white;
	}
	a:hover {
		text-decoration: none;
	}
}
.selected-facet {
	padding: 0 10px;
	background: $cornell-blue;
	border: 1px solid $cornell-blue-border;
	font-size: 0.875em;
	margin: 0 .5em .5em 0;
	color: #fff;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-tradius: 20px;
	border-radius: 20px;
}
.btn-start-over { float: right; }

// MODAL WINDOW
.modal {
	background: $pale-gray;
	padding: 10px;
}

.twiddle-open .icon-plus-sign {
    @extend .icon-minus-sign;
    opacity: 1;
  }
