header {
  background: white;
  border-bottom: 1px solid $tan;
  padding: 0 0 .25em 0;
 	h1 {
    margin: 0;
    display: inline-block;
    line-height: 1em;
    font-family: $font-family-cul;
  	a { 
      color: $dark-gray;}
    a:hover,
    a:active,
    a:focus {
      color: $dark-gray;
      text-decoration: none;
    }
  }
  // Search home button
  .search-home {
    font-size: 12px;
    display: block;
    margin-top: .5em;
    text-transform: uppercase;
    a {
      color: $medium-gray;
    }
    a:hover {
      text-decoration: none;
      color: $medium-gray;
    }
    .divider {
      color: $light-gray;
      margin: 0 2px 0 8px;
    }
    i {
      margin-right: .25em;
    }
  }
}

// Announcement banner
// ---------------------//

.announcement {
  background: white;
  .container {
    background: #1a665f; //slightly darker teal to account for scrolling over teal comm bar on www home page
    padding: .75em 18px;
  }
  p {
    margin-bottom: 0;
    font-size: .9rem;
  }
  a, a:hover {
    color: white;
    text-decoration: underline;
  }
}

// Links like Search History, Selected Items, etc.
// --------------------------------------------------//
ul.blacklight-nav {
  	margin: 1.2em 0 0 0;
    a.user-email,
    a.logout {
      padding: 5px 0;
      display: inline-block;
    }
    a.user-email {
      margin-right: .5em;
    }
    a.logout {
      font-size: .9em;
    }
    a.user-email:hover,
    a.logout:hover {
      background: none;
    }
    li {
      font-size: .9rem;
      padding: .5rem 0;
    }
    .myaccount-link {
      a {
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: 700;
      }
      i {
        margin-right: .5em;
      }
    }
}
.separator {
  border-top: 1px solid $medium-gray;
  margin-top: .5em;
  padding-top: .5em;
}

.util-links-toggle {
  float: right;
  margin-right: 2.5rem;
}
.catalog-name {
  .navbar-toggler {
    border-color: $navbar-light-toggler-border-color;
    color: $navbar-light-active-color;
  }
  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }
}

.links-collapse {
  text-align: right;
}
.dropdown-header {
  color: $cornell-primary;
}

// Library menu 
//-----------------------------------------

.btn-library {
  background: $light-tan;
  color: $dark-gray;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: .25em;
  i {
    color: $cornell-primary;
    font-size: 20px;
  }
  span {
    font-size: 12px;
    margin-left: .5em;
    vertical-align: top;
    padding-top: .1em;
    display: inline-block;
  }
}
.btn-library:hover,
.btn-library:active,
.btn-library:focus {
  color: black;
}

// Library Catalog link on non-catalog interfaces (Databases, Digital Collections, My Account, Single Search)
.secondary-catalog-link {
  font-size: 1.2rem;
  margin-top: .75em;
}

// Chat widget - override header border rule
// ------------------------------------------
.lcs_slide_out {
  header {
    border-bottom: 0;
    padding: 0;
  }
}

// System alert - for things like service outages
// -----------------------------------------------
.service-alert {
  background: white;
  padding-top: .5rem;
  .alert {
    margin-bottom: 0;
  }
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  .secondary-catalog-link {
    float: right;
  }
  .announcement {
    .container {
      border-radius: 0 0 8px 8px;
    }
    p {
      font-size: 1rem;
    }
  }
  .catalog-name {
    margin: 5px 0;
  }
  .util-links-toggle {
    margin-right: -7rem;
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  ul.blacklight-nav {
    list-style: none;
    li {
      float: left;
      margin-bottom: .5em;
      padding: 0 8px;
      border-left: 1px solid #ccc;
    }
    li:first-child {
      padding-left: 0;
      border-left: none;
    }
    li:last-child {
      padding-right: 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  ul.blacklight-nav {
    float: right;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }