// Headings browse-search box
// ------------------------------------------
.browse-index {
	.browse-search {
		margin-top: 1em;
	}
}


// Headings list view
// ------------------------------------------

body.blacklight-browse {
	.headings-list {
		margin: 20px 0;
	}
	.headings-header {
		font-size: .75em;
		text-transform: uppercase;
		font-weight: 700;
		border-bottom: 1px solid $light-tan;
		margin-bottom: 10px;
	}
	.headings-body {
		.document {
			border-bottom: 1px solid $light-tan;
			padding: .4em 0;
		}
		.label { margin-left: 5px; }
	}
	.results-count {
		float: none;
	}
	// tweak pagination styles for bottom pagination links
	.span12 {
		.results-info:last-child {
			border-bottom: 0;
			border-top: solid 5px #edebe7;
			padding-top: .2em;
		}
	}
} 
.see-ref { 
	margin: 5px 0 0 20px;
	font-size: 12px;
	color: $medium-gray;
	a {
		font-style: normal;
	}
	i {
		color: $light-gray;
		font-size: 90%;
	}
}

// Call Number Browse
// ------------------------------------------
.browse-callnumber {
	// use monospace font for call number
	td:first-child {
		font-family: $font-family-call-number;
	}
	.online-label {
		font-weight: 700;
	}
	i {
		margin-right: .25em;
	}
}


// CSS3 multiple columns
// http://techneblog.com/article/creating-responsive-multiple-column-list
// Get em size for colums: 184/16   
.columns {   
    -moz-column-width: 15.5em; // Firefox
    -webkit-column-width: 15.5em; // webkit, Safari, Chrome
    column-width: 15.5em;
    margin-bottom: 1em;
}
// remove standard list and bullet formatting from ul
.columns {
	ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
	}
	li {
		line-height: 1.75em;
	}
	li:first-child {
	    margin-top:0px;
	}
}
// correct webkit/chrome uneven margin on the first column


.see-ref-count { 
	color: $medium-gray;
	font-size: 12px;
	display: inline;
	font-style: normal;
}
.headings-count {
	width: 40px;
}
.see-also-author-title {
	margin: .25em 0 .5em 0;
}


// Headings heading view
// ------------------------------------------
body.blacklight-browse-info,
body.blacklight-browse-show_subject {
	.main-content {
		padding-bottom: .5em;
	}
	dl {
		margin-bottom: 60px;
	}
	dt {
		color: $medium-gray;
		font-weight: normal;
	}
	dd {
		margin-bottom: .5em;
		line-height: 1.5em;
	}
	.reference:first-child { margin-top: 0; }
}
.reference-note {
	font-style: italic;
	font-size: 12px;
}
.titles-count { margin-top: -15px; }
.author-works {
	font-size: 14px;
	color: $medium-gray;
	display: block;
	margin-bottom: .5em;
	a {
		font-style: normal;
		margin-left: 3px;
	}
}
dl {
	.author-works {
		font-size: 12px;
		margin-left: .6em;
		display: inline-block;
		margin-bottom: 0;
	}
}
.scope-note {
	margin-bottom: .25em;
	line-height: 1.5em;
}

// Browse help text
// -------------------------
.browse-tips {
	h3 {
		font-size: 14px;
		font-weight: 700;
		margin: 0 0 .25em 0;
	}
	li {
		font-size: 14px;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
	.headings-cn {
		width: 30%;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.headings-cn {
		width: 25%;
	}
	.headings-cn-title {
		width: 45%;
	}
	.headings-cn-format {
		width: 10%;
	}
	.headings-cn-availability {
		width: 20%;
	}
}


