header {
	background: $cornell-primary;
  @include gradient-vertical($cornell-primary,$cornell-primary-hover);
	.container {
		background: $dark-gray;
    background: -moz-linear-gradient(top,  #333333 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%);
    background: -o-linear-gradient(top,  #333333 0%,#000000 100%);
    background: -ms-linear-gradient(top,  #333333 0%,#000000 100%);
    background: linear-gradient(to bottom,  #333333 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );
    padding: 10px 0;
    @include border-radius(6px 6px 0 0);
    -webkit-background-clip: padding-box;
    border: 1px solid $dark-gray;
    border-bottom: none;
 	}
 	h2 {
    margin: 0 1em;
    font-weight: normal;
    line-height: 1em;
  	a { color: $white; }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.affix {
    top:0px; 
    z-index: 2;
    width:100%
  }

.beta {
  margin-left: .2em;
  vertical-align: middle;
  &:hover { background: $blue; }
}

ul.blacklight-nav {
  	font-size: 0.75em;
  	margin: 0 20px 0 0;
  	list-style: none;
    float: right;
  	li {
    float: left;
    }
  	a {
    	display: block;
    	padding: 5px 10px;
    	color: $pale-gray;
    }
    a.user-email,
    a.logout {
      padding: 5px 0;
      display: inline-block;
    }
    a.user-email {
      margin-right: .5em;
    }
    a.logout {
      font-size: .9em;
      color: $light-gray;
    }
   	a:hover {
    	text-decoration: none;
    	background: $medium-gray;
      color: $white;
      @include border-radius(6px);
    }
    a.user-email:hover,
    a.logout:hover {
      background: none;
      color: $cornell-primary;
    }
}

.current-user {
  float: left;
  margin-right: 1em;
  color: $light-gray;
}
