header {
  background: white;
  border-bottom: 1px solid $tan;
  padding: 10px 0;
 	h1 {
    margin: 0;
    display: inline-block;
    line-height: 1em;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  	a { 
      color: $dark-gray;}
    a:hover,
    a:active,
    a:focus {
      color: $dark-gray;
      text-decoration: none;
    }
  }
  // Search home button
  .search-home {
    font-size: 12px;
    display: block;
    margin-top: .5em;
    text-transform: uppercase;
    a {
      color: $medium-gray;
    }
    a:hover {
      text-decoration: none;
      color: $medium-gray;
    }
    .divider {
      color: $light-gray;
      margin: 0 2px 0 8px;
    }
    i {
      margin-right: .25em;
    }
  }
}
.catalog-name {
  font-family: $font-family-cul;
}
.library-link {
  a {
    font-size: 18px;
    color: $dark-gray;
  }
  a:hover, a:active, a:focus {
    color: $dark-gray;
    text-decoration: none;
  }
}

// Links like Search History, Selected Items, etc.
// --------------------------------------------------//
ul.blacklight-nav {
  	margin: 1em 0 0 0;
    padding: 0;
  	list-style: none;
  	li {
      float: left;
      margin-bottom: .5em;
      padding: 0 8px;
      font-size: 12px;
    }
    li:first-child {
      padding-left: 0;
    }
    a.user-email,
    a.logout {
      padding: 5px 0;
      display: inline-block;
    }
    a.user-email {
      margin-right: .5em;
    }
    a.logout {
      font-size: .9em;
    }
   	a:hover {
    	text-decoration: none;
    }
    a.user-email:hover,
    a.logout:hover {
      background: none;
    }
    .myaccount-link {
      a {
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: 700;
      }
      i {
        margin-right: .5em;
      }
    }
}
.separator {
  border-top: 1px solid $medium-gray;
  margin-top: .5em;
  padding-top: .5em;
}
// Library menu 
//-----------------------------------------

.btn-library {
  background: $cornell-primary;
  color: white;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: .25em;
  i {
    color: white;
    font-size: 20px;
  }
  span {
    font-size: 12px;
    margin-left: .5em;
    vertical-align: top;
    padding-top: .1em;
    display: inline-block;
  }
}
.btn-library:hover,
.btn-library:active,
.btn-library:focus {
  color: white;
}
.library-menu {
  padding: 0;
  .dropdown-menu {
    left: auto;
    right: 0;
    border-radius: 0;
    background: rgba($dark-gray, 0.95);
    a {
      color: white;
    }
  }
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
  ul.blacklight-nav {
    li {
      font-size: 12px;
      border-left: 1px solid #ccc;
    }
    li:first-child {
      border-left: none;
    }
  }
  .navbar-cul {
    .nav {
      li {
        a { 
          padding: 15px 10px;
          font-size: 13px;
        }
      }
    }
  }
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
  .navbar-cul {
    .nav {
      li {
        a {
          padding: 15px 20px;
          font-size: 14px;
        }
      }
    }
  }
  // header {
  //   h1 {
  //     font-size: 28px;
  //   }
  // }
  ul.blacklight-nav {
    float: right;
    li {
      font-size: 14px;
    }
  }
  // .library-link {
  //   a {
  //     font-size: 18px;
  //   }
  // }
}

