header {
  background: white;
  border-bottom: 1px solid $tan;
  // background: $pale-gray;
  .container {
    padding-right: 0;
  }
 	h1 {
    margin: 0 0 10px 0;
    display: inline-block;
    line-height: 1em;
    font-size: 30px;
    font-weight: 700;
  	a { 
      color: $dark-gray;}
    a:hover {
      color: $dark-gray;
      text-decoration: none;
    }
  }
  // Search home button
  .search-home {
    font-size: 12px;
    display: block;
    margin-top: .5em;
    text-transform: uppercase;
    a {
      color: $medium-gray;
    }
    a:hover {
      text-decoration: none;
      color: $medium-gray;
    }
    .divider {
      color: $light-gray;
      margin: 0 2px 0 8px;
    }
    i {
      margin-right: .25em;
    }
  }
}

.beta {
  margin-left: .2em;
  vertical-align: middle;
  &:hover { background: $blue; }
}

ul.blacklight-nav {
  	font-size: 12px;
  	margin: .75em 0 0 0;
  	list-style: none;
    float: right;
  	li {
      float: left;
      border-left: 1px solid #ccc;
    }
    li:first-child {
      border-left: none;
    }
  	a {
    	display: block;
    	padding: 0 8px;
    }
    a.user-email,
    a.logout {
      padding: 5px 0;
      display: inline-block;
    }
    a.user-email {
      margin-right: .5em;
    }
    a.logout {
      font-size: .9em;
    }
   	a:hover {
    	text-decoration: none;
    }
    a.user-email:hover,
    a.logout:hover {
      background: none;
    }
    .myaccount-link {
      a {
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: 700;
      }
      i {
        margin-right: .5em;
      }
    }
}

.current-user {
  float: left;
  margin-right: 1em;
  color: $light-gray;
}

.nav-global {
  padding-right: 0;
  text-align: right;
  .nav { 
    list-style: none;
    float: right;
    li { 
      float: left;
      font-size: 12px;
      border-left: 1px solid $cornell-primary-hover; }
    li:first-child { border-left: 0; }
    a { 
      margin: 0 8px;
      padding: 0;
      display: inline-block;
      color: white; }
    a:hover { 
      text-decoration: underline;
      background: inherit; }
  } 
}

// Nav from main site
//-----------------------------------------
.navbar {
  margin-bottom: 0;
  border: 0;
  .container {
    padding: 0;
  }
}
.navbar-cul {
  background: $cornell-primary;
  @include gradient-vertical($cornell-primary,$cornell-primary-hover);
  .container {
    background: $dark-gray;
    // @include border-top-radius(3px);
    -webkit-background-clip: padding-box;
  }
  .nav {
    li {
      a {
        padding: 15px 20px;
        color: #ccc;
        text-shadow: none;
      }
      a:hover {
        color: white;
      }
    }
  }
}
.navbar-static-top {
  margin-left: 0;
  margin-right: 0;
}
.navbar-brand { 
  color: white;
  float: none;
  margin: 0;
  font-size: 16px;
}
.navbar-brand:hover { 
  text-decoration: none;
  color: white;
}
.navbar-header {
  background: $cornell-primary;
  // override bootstrap btn styles
  .navbar-toggle {
    background: $cornell-primary;
    margin: 0;
    border: 0; 
    border-radius: 0;
    height: 45px;
    -webkit-border-radius: 0;
    border-radius: 0;
    .icon-bar {
      background: white;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .navbar-toggle:hover,
  .navbar-toggle:active { background: $cornell-primary-hover; }
}


// Library menu 
//-----------------------------------------

.btn-library {
  background: #b31b1b;
  margin-top: 1.25em;
  color: white;
  text-transform: uppercase;
  i {
    color: white;
    // margin-right: .5em;
    font-size: 20px;
  }
}
.btn-library:hover, .btn-library:active, .btn-library:focus {
  background: $cornell-primary-hover;
  color: white;
  box-shadow: none;
}
.library-menu {
  .dropdown-menu {
    left: auto;
    right: 0;
    border-radius: 0;
    background: rgba($dark-gray, 0.95);
    // background: $dark-gray;
    a {
      color: white;
    }
  }
}
// .library-menu {
//   // width: 50%;
//   float: right;
//   background: $pale-gray;
// }
// .culnav-collapse {
//   float: right;
//   background: $dark-gray;
// }


// MEDIA QUERIES
// -------------------------

// /* Extra small devices (phones, up to 480px) */
// /* No media query since this is the default in Bootstrap */

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm) { ... }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md) { ... }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg) { ... }

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {

  // // Menu overlay
  // .library-menu {
  //   .collapsing {
  //     position: absolute !important;
  //     z-index: 20;
  //     width: auto;
  //     top: 50px;
  //   }
  //   .collapse.in {
  //     display: block;
  //     position: absolute;
  //     z-index: 20;
  //     width: auto;
  //     top: 50px;
  //   }
  //   .culnav-collapse {
  //     max-height: none !important;
  //   }
  // }  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}

