header {
	background: $cornell-primary;
	background: -moz-linear-gradient(top,  $cornell-primary 0%, $cornell-primary 50%, $cornell-primary-hover 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$cornell-primary), color-stop(50%,$cornell-primary), color-stop(100%,$cornell-primary-hover));
	background: -webkit-linear-gradient(top,  $cornell-primary 0%,$cornell-primary 50%,$cornell-primary-hover 100%);
	background: -o-linear-gradient(top,  $cornell-primary 0%,$cornell-primary 50%,$cornell-primary-hover 100%);
	background: -ms-linear-gradient(top,  $cornell-primary 0%,$cornell-primary 50%,$cornell-primary-hover 100%);
	background: linear-gradient(to bottom,  $cornell-primary 0%,$cornell-primary 50%,$cornell-primary-hover 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cornell-primary', endColorstr='$cornell-primary-hover',GradientType=0 );
	.container {
		background: $dark-gray; padding: 10px 0;
		-webkit-border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
 	}
 	h2 {
    margin: 0 1em;
    font-weight: normal;
    line-height: 1em;
  	a { color: $white; }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

ul.login {
  	font-size: 0.75em;
  	margin: 0 20px 0 0;
  	list-style: none;
    float: right;
  	li {
    float: left;
    }
  	a {
    	display: block;
    	padding: 5px 10px;
    	color: $pale-gray;
    }
   	a:hover {
    	text-decoration: none;
    	background: $medium-gray;
      color: $white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
}
