// Headings list view
// ------------------------------------------

body.blacklight-headings {
	.headings-list {
		margin: 20px 0;
	}
	.headings-header {
		font-size: .75em;
		text-transform: uppercase;
		font-weight: 700;
		border-bottom: 1px solid $light-tan;
		margin-bottom: 10px;
	}
	.headings-body {
		.document {
			border-bottom: 1px solid $light-tan;
			padding: 5px 0;
			// font-size: .875em;
		}
		.label { margin-left: 5px; }
	}
} 
.see-ref { 
	margin: 3px 0 0 20px;
	// display: inline-block;
}
.see-ref-count { 
	color: $medium-gray;
	font-size: .875em;
}

// Headings heading view
// ------------------------------------------
body.blacklight-headings-show,
body.blacklight-headings-show_subject {
	.main-content {
		padding-bottom: .5em;
	}
	dl {
		// font-size: .875em;
		margin-bottom: 60px;
	}
	dt {
		color: $light-gray;
		font-weight: normal;
		font-size: .875em;
	}
	dd {
		margin-bottom: 1em;
		line-height: 1.5em;
	}
	.reference {
		margin-top: .25em;
		em {
			font-size: .875em;
		}
	}
	.reference:first-child { margin-top: 0; }
}
.titles-count { margin-top: -15px; }