.return-link {
	display: block;
	margin-bottom: .6em;
}

.document-header {
	float: left;
	margin-left: 0;
}

h3.subtitle,
h3.responsibility {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	line-height: 1.2em;
	color: $medium-gray;
	margin-bottom: 1em;
}

.cover {
	float: left;
	margin-bottom: 1.5em;
	}

.item-metadata {
	// float: left;
	// width: 79%;
	margin-bottom: 20px;
}

// OVERRIDE CORE STYLES
.document {
	border-bottom: none;
	clear: none;
	padding-bottom: 0;
}
#document {
	 margin-top: 0;
	 h2 {
	 	line-height: 32px;
	 	margin-top: 0; }
}
label.toggle_bookmark { min-width: 3.5em; }
dl.dl-horizontal {
	clear: left;
	margin-top: 0;
	dt {
		width: 115px;
		display: inline;
		font-size: .875em;
		color: $light-gray;
		margin-right: 10px;
		font-weight: normal;
		overflow: visible;
		text-overflow: inherit;
		white-space: normal;
		}
	dd {
		margin-left: 130px;
		font-size: .875em;
		ul {
			list-style: none;
			margin: 0;
		}
		// Fix to keep dd aligned with long dt that wraps
		// -- can't use .clearfix because we only want to clear left
		&:after {
			display: table;
			content: "";
			clear: left;
		}
	}
}

dd.blacklight-notes {
	/* Non standard for webkit */
	word-wrap: break-word;
	word-break:break-word;
	overflow-wrap:break-word;

	-webkit-hyphens: auto;
  hyphens: auto;
  display: table;
}

.item-tools {
	ul {
		float: right;
		list-style: none;
	}
	li {
		font-size: 0.875em;
  		float: left;
  		margin-right: .8em;
	}
	li:last-child {
		margin-right: 0;
	}
	label { font-size: 1em; }
	form { margin: 0; }
	.form-inline .checkbox,
	.form-inline input { vertical-align: bottom; } // Override core style so bookmark link lines up with the rest of the tool links
	.dropdown-menu {
		min-width: auto;
		li {
			float: none;
			margin: 0;
			font-size: 1em;
		}
	}
}

.item-pagination {
	margin-bottom: 2.2em;
	font-size: 0.875em;
}

// AVAILABILITY
.holding,
.holdings-error {
	margin-bottom: 1em;
	font-size: 0.875em;
}
.holding:last-of-type {
	margin-bottom: 0;
}
.location {
	margin-bottom: 0;
	font-size: 1.1em;
}
.text-it,
.map-it {
	margin-left: .2em;
	font-size: .8em;
	font-weight: normal;
}
.share-options { min-width: auto; }
.message {
	font-size: .9em;
	color: $light-gray;
}
.availability {
	float: right;
	p { font-size: 0.875em; }
}
.online-link {
	margin-bottom: .4em;
	font-size: .9em;
	line-height: 1.2em;
}
.online-coverage {
	display: block;
	margin-left: 2em;
	font-size: .8em;
	color: $dark-gray;
}
.access-restriction {
	display: block;
	margin-top: .4em;
	font-size: .8em;
	line-height: 1.2em;
	color: $light-gray;
}
.item-requests {
	margin-top: 1.5em;
}

.google-books-link {
	margin: 1.5em 0 0;
	padding-top: 1em;
	border-top: solid 2px #d8d2c9;
}

// temporarily add a height to the shelf browser to convey estimated content size
.shelf-browser { height: 500px; }

.librarian-view { font-size: 0.75em; }
