.return-link {
	display: inline-block;
	margin-bottom: .6em;
}

.document-header {
	float: left;
	margin-left: 0;
}

h3.subtitle,
h3.responsibility {
	font-size: 1em;
	font-weight: normal;
	// font-style: italic; turn off italic because the rendering is not as clean for non-webkit diacritic characters
	line-height: 1.2em;
	color: $medium-gray;
	margin-bottom: 1em;
}

.cover {
	float: left;
	margin-bottom: 1.5em;
	.iconcover {
		width: 100%;
		i {
			font-size: 3em;
			margin-left: 0;
			top: -130px; }
	}
}

.item-metadata {
	// float: left;
	// width: 79%;
	margin-bottom: 20px;
}

// OVERRIDE CORE STYLES
.document {
	border-bottom: none;
	clear: none;
	padding-bottom: 0;
}
#document {
	 margin-top: 0;
	 h2 {
	 	line-height: 32px;
	 	margin-top: 0; }
}
label.toggle_bookmark toggle_all_bookmarks { min-width: 3.5em; }
dl.dl-horizontal {
	clear: left;
	margin-top: 0;
	dt {
		width: 115px;
		display: inline;
		font-size: .875em;
		color: $light-gray;
		margin-right: 10px;
		font-weight: normal;
		overflow: visible;
		text-overflow: inherit;
		white-space: normal;
		}
	dd {
		margin-left: 130px;
		font-size: .875em;
		ul {
			list-style: none;
			margin: 0;
		}
		// Fix to keep dd aligned with long dt that wraps
		// -- can't use .clearfix because we only want to clear left
		&:after {
			display: table;
			content: "";
			clear: left;
		}
	}
}

dd.blacklight-notes {
	// -ms-word-break: break-all; - remove this style to fix word wrap bug in IE 8/9/10 (DNA 741)
	// word-break: break-all; - remove this style to fix word wrap bug in Firefox (DNA 741)
	/* Non standard for webkit */
	word-wrap: break-word;
	word-break:break-word;
	overflow-wrap:break-word;
	-webkit-hyphens: auto;
  	hyphens: auto;
  	// display: table; - remove this because it causes IE 9 and 10 to have a smaller width for metadata display for this field. Wasted space.
}

.active-hierarchy {
	color: $dark-gray;
	text-decoration: underline;
}

.item-tools {
	ul {
		float: right;
		margin-left: 0;
		list-style: none;
	}
	li {
		font-size: 0.875em;
		float: left;
		margin-right: .5em;
	}
	li:last-child {
		margin-right: 0;
	}
	label { font-size: 1em; }
	form { margin: 0; }
	.form-inline .checkbox,
	.form-inline input { vertical-align: bottom; } // Override core style so bookmark link lines up with the rest of the tool links
	.dropdown-menu {
		min-width: 3em;
		li {
			float: none;
			margin: 0;
			font-size: 1em;
		}
	}
	i { margin-right: 3px; }
	.selected-box { margin-right: 1em; }
}

.item-pagination {
	margin-bottom: 2.2em;
	font-size: 0.875em;
}

// AVAILABILITY
.availability {
	float: right;
	background: white;
	padding: 10px;
	h3 { margin-top: 0; }
	.online-link { font-size: .875em; }
	.worldcat-search {
		font-size: .8em;
		padding: 5px 10px;
		display:block;
		margin-top:10px;}
	.location {
		font-size: .875em;
		background: $light-tan;
		margin-top: 0;
		margin-bottom: .5em;
		padding: 5px 10px;
		border: 1px solid $tan;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		overflow: hidden;
	}
	.location-online {
		color: white;
		background: $teal;
		border-color: $teal;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.holding {
		.call-number {
			padding: 0 10px;
			// font-weight: 700;
			font-size: .875em;
			// border-bottom: 1px dotted #d8d2c9;
		}
		.group {
			padding: 5px 10px;
		//	border-top: 1px dotted $tan;
			font-size: .8em; }
		// .status { margin-left: 15px; }
	}
	.map-it {
		font-size: .75em;
		display: block;
		float: right;
		width: 25%;
		text-align: right;
		 }
	.url_findingaid_display {
		display: block;
		margin-bottom: 1em;
	}
	.unstyled {
		padding: 0 10px;
		margin-bottom: 0;
	}
}
.label-available {
	background: $teal;
	margin-right: .25em;
	i {
		color: white;
	}
}
.holding,
.holdings-error {
	margin-bottom: .5em;
}
.holding:last-of-type {
	margin-bottom: 0;
}
.location {
	margin-bottom: 0;
	font-size: 1.1em;
}
.text-it,
.map-it {
	margin-left: .2em;
	font-size: .8em;
	font-weight: normal;
}
.share-options { min-width: auto; }
.message {
	margin: 0 0 .25em 0;
	line-height: 1.5em;
	word-wrap: break-word;
}
.online-link {
	margin-bottom: .4em;
	// font-size: .9em;
	line-height: 1.2em;
}
.online-coverage,
.online-note {
	display: block;
	margin-left: 1.8em;
	font-size: .85em;
	line-height: 1.4em;
	color: $dark-gray;
}
.access-restriction {
	display: block;
	//margin-top: 1em;
	font-size: .9em;
	line-height: 1.2em;
	color: $medium-gray;
	padding-left: 5px;

	h5 { margin: 0; }
}
.item-requests {
	border-top: 3px solid $light-tan;
	padding-top: 10px;
	margin: .75em 0; }

.google-books-link {
	margin: 1.5em 0 0;
	padding-top: 1em;
	border-top: solid 2px #d8d2c9;
}

// temporarily add a height to the shelf browser to convey estimated content size
.shelf-browser { height: 500px; }

.librarian-view { font-size: 0.75em; }

// captcha form
#captcha_form {
	#request-submit { display: block; }
}

// librarian view
#marc_view { font-family: courier, monospace; }
#marc_view .field { clear: both; }
#marc_view .tag { 
	float: left;
	margin-right: 5px;
}
#marc_view .ind1,
#marc_view .ind2 {
	width: 20px;
	display: inline; 
	float: left;
}
#marc_view .subfields { 
padding-left: 6em;
	width: 70%;
}
