// h1.request-type {
//   font-size: 1.5em;
//   font-weight: 600;
// }

// Well
// --------------------//
.aeon-request_aeon,
.request {
  .well {
    background: white;
  }
}

.item-title-request {
  margin-top: 0;
  font-size: 24px;
}
#req {
  select {
    width: auto;
  }
}
.copy-chron {
  margin-left: 1em;
  font-weight: normal;
  color: $medium-gray;
  text-shadow: none;
  background: #ddd;
}
.request-author { 
  margin-bottom: 1em;
}

.radio-label {
  display: inline-block;
  margin-top: .5em;
  vertical-align: middle;
}
.place-hold,
.place-request { font-size: .8em; }
.borrow-direct-notice {
  float: none;
  font-size: .9em;
}

.align-bottom {vertical-align: bottom; margin-bottom: 10px}

div.accordion-heading.request-options {
  margin-left: 10px;
  position: relative;
  top: 5px;
}
div.request-options div.accordion-group {border:none;}
div.request-options div.accordion-inner {
  border:none;
  padding:9px 15px;
}
div.request-options div.accordion-body .span4 {
  margin-left:0px;
  position:relative;
  left:-15px;
}

.help-block.required {
  font-size: 12px;
  color: $cornell-primary;
}

.delivery-estimate {
  padding-top: 7px;
}

// ILL link on volume select
.ill-link {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: .5em;
  background: $light-tan;
}

// Make the label bold in instances where we are not using the label tag because would be an orphaned label (DISCOVERYACCESS-4676). Instead a div with the control-label class on it.
.blacklight-request, .request {
  .control-label {
    font-weight: 700;
  }
}


// Aeon screen
// --------------------//
.aeon-circ {
  border-left: solid 1px $light-tan;
  padding-left:50px;
  height: 100%
}
// .aeon {font-size: .8em}
.aeon-request_aeon {
  .location {
    margin-bottom: .5em;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px solid #edebe7;
  }
  .location:first-child {
    border-top: 0;
  }
  .call-number {
    margin-bottom: .25em;
  }
}

// Other delivery options
// -------------------------//

.request-options {
  margin-top: 5px;

  tbody > tr:nth-child(2n) > td, tbody > tr:nth-child(2n+1) > th 
    {background-color: $white;}

  thead:first-child tr:first-child > th:last-child, thead:first-child tr:first-child th {
    background-color: $light-tan;
    color: $gray;
  }

  // Add this to make thead always have a tan background because after adding caption to table it turns white
  thead {
    th {
      background-color: $light-tan;
    }
  }

  caption {
    color: $medium-gray;
    text-align: center;
  }
}

.form-alternative-action{
  h3 {  
    margin-top: 2em;
    font-size: 18px;
  }
}

// BD success/failure message
// -------------------------//
.request-message.well {
  margin-top: 1em;
  margin-bottom: 0;
  p {
    margin-bottom: 0;
    font-size: 16px;
  }
  .fa {
    font-size: 110%;
  }
  .fa-exclamation-triangle {
    color: $cornell-primary;
  }
  .fa-check {
    color: $teal;
  }
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) { 
  .ill-link {
    margin-top: 0;
  }
}
 