//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	.document-data { width: 85%; }
	.facets { font-size: 90%; }
	#search_field {
		margin-left: .5em;
		width: 100px;
	}
	form.range_limit {
		input.range_begin,
		input.range_end {
  		width: 3em;
  		padding: 2px;
  	}
	}
	.input-xxlarge { width: 95%; }
	// Make advanced search form elements fit on one line
	//---------------------------------------------------
	.advanced-search-field { width: 30%; }
	.advanced {
		.input_row > input { width: 30%; }
	}
	// Nav from main site
	// -- see also responsive-480px-max.scss --
	//-----------------------------------------
	.navbar-cul {
		.nav {
			li {
				a { 
					padding: 15px 10px;
					font-size: 13px;
				}
			}
		}
	}
	// Footer
	.footer-nav {
		li {
			// float: none;
			border-left: 0;
			margin-bottom: .75em;
		}
		a {
			padding: 0 15px 0 0;
		}
	}
	footer {
		h3 {
			margin-bottom: 1em;
		}
	}
}
