//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 980px) and (max-width: 1199px) {
    .document-data { width: 85%; }
    .navbar {
	.blacklight-pub_date_facet {
		.btn, .btn-group {
			margin-top: 0;
			font-size: 0.75em;
			// padding: 5px 6px;
    }
	}
}
}
