//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	.document-data { width: 85%; }
	.facets { font-size: 90%; }
	#search_field { margin-left: .5em; }
	.start-over { font-size: .7em; }
	form.range_limit {
		input.range_begin,
		input.range_end {
  		width: 3em;
  		padding: 2px; }
	}
}
