@media (max-width: 480px) 

{
	body {
		padding: 0px;
		margin: 0px
	}
	.document-data { width: 70%; }
	.span9 {
		.well {
			padding-left: 10px;
			padding-right: 10px; }
	}
	.phone-search-query { width: 65%; }
}	