//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 980px) and (max-width: 1199px) {
    .document-data { width: 85%; }
    .navbar {
		.blacklight-pub_date_facet {
			.btn, .btn-group {
				margin-top: 0;
				font-size: 0.75em;
	    }
		}
	}
	.input-xxlarge { width: 95%; }
	// Make advanced search form elements fit on one line
	//---------------------------------------------------
	.advanced-search-field { width: 30%; }
	.navbar-cul {
		.nav {
			li {
				a { 
					padding: 15px 18px;
					font-size: 14px;
				}
			}
		}
	}
}
