//
// Responsive: Phone
// --------------------------------------------------

@media (max-width: 480px) {

	//
	// Search results
	.document-data { width: 70%; }
	.span9 {
		.well {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	ul.blacklight-nav {
		a { display: block; }
	}

	//
	// Search form
	.search-options {
		width: 100%;
		clear: left;
	}
	input.search-query { width: 93%; }
	#search_field {
		margin-left: .7em;
		display: inline-block;
		width: 68px;
	}
	.wcl-results {
		float: none;
		margin-top: 10px;
	}
	// Facets modal
	ul.facet_extended_list {
		margin: 0;
		li { font-size: 80%; }
	}
	.modal-footer {
		text-align: center;
		.prev_next_links {
			float: none;
			margin-bottom: 10px;
		}
		.sort_options { float: none; }
	}
	// Item page
	.item-pagination { width: 100%; }
	.item-tools {
		float: none;
		// margin-top: 1.6em;
		width: 100%;
		ul {
			float: none;
			margin-left: 0;
			margin-bottom: 0;
		}
		li:first-child { margin-left: 0; }
		i { margin-right: 3px; }
		i.fa-envelope { margin-right: 5px; }
	}
	input#request-submit {float:none;}
	.cover {
		width: 58px;
		height: 83px;
		.iconcover {
			width: 58px;
			height: 83px;
			i {
				font-size: 1.5em;
				top: -53px;
			}
		}
		.img { width: 100%; }
	}
	.item-metadata { margin-left: 10px; }
	.availability {
		.map-it { float: none; }
	}
	
	
	// Branding and util links
	//----------------------------
	header {
		text-align: center;
	}
	ul.blacklight-nav {
		margin-bottom: 6px;
		li {
			float: none;
			display: inline;
		}
		a { display: inline; }
	}
	// Make advanced search form elements fit on one line
	//---------------------------------------------------
	.advanced {
		.input_row > .input-small { width: 20%; }
	}
	// Headings search box
	//----------------------------
	.blacklight-browse {
		#browse_type {
			width: 63px;
			margin-left: 1em;
		}
	}
}

