//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

@media (max-width: 767px) {
	.main-content {
		padding: 0px 5px;
	}
	.span12 {
		.main-content { padding: 0; }
	}
	footer {
		[class*="span"] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.feedback-link { text-align: left; }
	ul.blacklight-nav {
		float: none;
		margin: 10px 0 0 0;
		a {
			display: inline;
			padding: 3px 10px;
		}
	}
	header {
		.container { border-radius: 0; }
		h2 { margin-left: 10px; }
	}

	//
	// Search form
	.search-options.span6 {
		width: 50%;
		float: left;
	}
	#search_field {
		margin-right: .3em
	}
	.mobile-search-btn { display: inline !important; }
	.navbar {
  		.fa-bars {
  			color: $light-gray;
  			margin-left: 3px; }
  	}
  	.return-link { margin-top: 10px; }
  	.search-tools { width: 100%; }
  	.expand-search { float: none; }
  	.expand-results {
  		float: none;
  		padding: 10px 0 0 0;
  		border-left: 0;
  		border-top: 1px solid $tan;
  		margin-top: 10px;
  	}

	//
	// Search results
	#document { margin-top: 1em; }
	.document-data {
		width: 80%;
		.pull-right { // delete this if we keep new markup for select-item checkbox on results
			form { margin-bottom: 5px; }
		}
		.select-item { // revised rule for new markup for select-item checkbox on results
			form { margin-bottom: 5px; }
		}
	}
	.select-item {
		float: none;
		margin-left: 0;
	}
	.facets { margin-top: 5px; }
	#facets {
		.navbar { margin-bottom:5px; }
		.btn-navbar {
		    display: inline-block;
		    float: none;
		    color: #333;
		    text-shadow: none;
	 	}
	 	.btn-navbar:hover,
	 	.btn-navbar:active,
	 	.btn-navbar.active,
	 	.btn-navbar.disabled,
	 	.btn-navbar[disabled] {
    		color: #333;
 		}
 		.nav-collapse { margin: 5px 10px; }
	}
	.results-info {
		overflow: hidden;
	}

	//
	// Item page
	.item-pagination {
		margin-bottom: .5em;
	}
	.item-tools {
		clear: none;
		overflow: hidden;
		margin-bottom: 1em;
		ul {
			float: none;
		}
	}
	.cover { width: 25%; }
	.cover img {width: 75%; }
	.item-metadata {
		float: left;
		width: 70%;
	}
	dl.dl-horizontal dd,
	body.blacklight-advanced-index dl.dl-horizontal dd {
		margin-left: 0;
	}
	// Nav from main site
	//------------------------
	.navbar-cul {
		height: 45px;
	  .container {
	    background: $cornell-primary;
	   }
	}
	// collapsed nav
	.culnav-collapse {
	  background: $dark-gray;
	  // make sure collapse nav appears on top of export link DISCOVERYACCESS-999
	  position: relative;
	  z-index: 1000;
	  .nav {
	  	margin-bottom: 0;
	    li {
	      a {
	        -webkit-border-radius: 0;
	        border-radius: 0;
	        padding: 8px 10px;
	        font-weight: normal;
	        border-bottom: 1px solid #333;
	        margin-bottom: 0;
	        text-align: left;
	      }
	      a:hover,
	      a:active {
	        background: inherit;
	        -webkit-border-radius: 0;
	        border-radius: 0;
	        color: white;
	      }
	    }
	    .global-link {
			float: left;
			a { 
				display: inline-block;
				border-right: 1px solid #333;
				padding: 8px 50px; }
			}
	  	.global-link:last-child {
			a { border-right: 0; }
	  	}
	  }
	}
	// Branding and util links
	//----------------------------
	header {
		text-align: center;
	}
	ul.blacklight-nav {
		margin-bottom: 6px;
		li {
			float: none;
			display: inline;
		}
		a { display: inline; }
	}
	// Databases
	//----------------------------
	.databases-subject {
		h3:first-child { margin-top: 20px; }
	}
	// Collapsible A-Z nav
	.btn-az {
		display: inline-block;
	}
	.az-collapse {
		margin-top: 10px;
	}
	// .az-collapse.collapse {
	// 	overflow: hidden;
	// 	height: 0;
	// }
	// Make advanced search form elements fit on one line
	//---------------------------------------------------
	.advanced-search-field { width: 30%; }
	.advanced {
		.input_row > input { width: 30%; }
	}
}
