.search-form { margin: 0 0 .1em 0; }
.search-options { margin-left: 0; }
input.search-query {
  width: 93%;
  padding-right: 0;
}
.advanced-search-link {
  display: block;
  text-align: right;
  font-size: .8em;
}
.start-over {
  margin-left: .3em;
  font-size: .8em;
}
.results-info {
  margin: 0;
  padding-bottom: .2em;
  border-bottom: solid 5px $light-tan;
}
.results-per-page-form {
  margin: 0;
  label {
    display: inline;
    margin-left: .5em;
  }
}
.results-count {
  font-size: .8em;
  font-weight: bold;
}
.results-pagination {
  margin: .1em 0 0 1em;
}
.results-sortby-form,
.results-view {
  float: right;
}
.results-sortby-form {
  margin: 0 1em 0 0;
}
#search_field {
  margin: 0 0 0 .2em;
  width: auto;
  font-family: $baseFontFamily; // See cul-bootstrap-loader.css.scss for details
}
p.suggest {font-size:.8em}

div.search-tools > h2 {line-height: 1em}

.expand-search { float: right; }
.expand-results {
  padding: 0 0 0 10px;
  border-left: 1px solid $tan;
  float: right;
  h4 { 
    text-transform: uppercase;
    font-size: .75em;
    margin: 0 0 .5em; }
  ul { 
    margin-left: 0;
    list-style: none; }
  li { 
    font-size: .75em;
    margin-bottom: .25em; }
}

// Advanced search form stuff
.advanced-search {
  h2 { margin: 0; }
}