.search-form { margin: 0 0 .1em 0; }
.search-options { margin-left: 0; }
input.search-query {
  width: 93%;
  padding-right: 0;
  padding-left: 15px;
}
.advanced-search-link {
  display: inline-block;
  margin-top: .2em;
  padding-left: .3em;
  font-size: .8em;
}
.advanced-link {
  margin-top: .5em;
  padding-left: .3em;
  font-size: .75em;
  color: $light-gray;
}
.search-or-reset.span2 {
  margin-left: .3em;
  min-width: 70px;
}
.start-over {
  display: block;
  margin-left: .2em;
  font-size: .7em;
}
.results-info {
  margin: 0;
  padding-bottom: .2em;
  border-bottom: solid 5px $light-tan;
}
.results-per-page-form {
  margin: 0;
  label {
    display: inline;
    margin-left: .5em;
  }
}
.results-count {
  font-size: .8em;
  font-weight: bold;
  float: left;
}
.results-pagination {
  margin: .1em 0 0 1em;
}
.results-sortby-form,
.results-view {
  float: right;
}
.results-sortby-form {
  margin: 0 1em 0 0;
}
#search_field {
  float: left;
  width: auto;
  font-family: $baseFontFamily; // See cul-bootstrap-loader.css.scss for details
}
p.suggest {
  font-size:.8em;
  margin-top: 15px; }

div.search-tools > h2 {line-height: 1em}

.expand-search { 
  margin-top: .5em;
  padding: 10px;
  background: white;
  @include border-radius($borderRadiusLarge);
  h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 .5em 0;
    border-bottom: 1px solid $light-tan;
    padding: 0 0 .25em 0;
  }
  ul {
    margin-left: 0;
    margin-bottom: 0;
    list-style: none; }
  li {
    font-size: .75em;
    margin-bottom: .25em;
  }
  i {
    color: $dark-tan;
    margin-right: .25em;
  }
}
h2.advanced-search { margin: 0; }
.advanced-facets { margin-bottom: 10px; }
