body.blacklight-catalog-index #documents .document,
body.blacklight-bookmarks-index #documents .document {
	clear: both;
	border-bottom: 1px solid $light-tan;
	padding: 1.5em 0;
	margin-top: 0;
	img {
		float: left;
		margin-right: 1em;
		width: 75px;
		height: 100px;
	}
}

.blacklight-title_display {
	margin: 0 0 .5em 0;
	font-weight: normal;
	line-height: 1.2em;
	font-size: 20px;
}

.document-data {
	float: left;
	width: 89%;
	span {
		font-size: 12px;
		// color: $medium-gray;
		margin-bottom: .5em;
	}
	.shadow-record {
		margin-top: .15em;
		vertical-align: top;
		color: $white;
	}
	.blacklight-pub_date_display {
		margin-left: .2em;
		// color: $dark-gray;
	}
	.blacklight-title_uniform_display {
		display: block;
		margin-top: -.2em;
		// font-style: italic;
		font-size: 14px;
		// color: $medium-gray;
		color: $dark-gray;
	}
	.blacklight-author_display {
		display: block;
		font-size: 14px;
	}
	.format {
		margin-right: .5em;
		// color: $dark-gray;
	}
	.blacklight-pub_info_display {
		margin-right: .5em;
		// color: $medium-gray;
	}
	.status {
		font-size: 12px;
		line-height: 1em;
		margin-top: 1em;
	}
	.location { color: $medium-gray; }
	.preloader {
		color: $light-gray;
		font-size: 11px;
	}
}
.data-block {
	margin-top: .4em;
	line-height: 1em;
	margin-bottom: .5em;
}

.status-online {
	font-size: 12px;
}

.fa-check { color: $available; }
.fa-clock-o { color: $unavailable; }
// extra specificity required for question-sign since it's also
// used for the Unknown format
.status .fa-question-circle,
.fa-warning {color: $yellow; }

#sort-dropdown,
#per_page-dropdown {
	font-size: 12px;
	.btn {
		font-size: inherit;
	}
}
.select-item {
	float: right;
	margin-left: 30px;
}
.select-all {
	margin-left: 10px;
	form { margin-bottom: 0; }
	span {
		font-size: 12px;
		color: $light-gray;
	}
	input[type="checkbox"] {
		margin-left: -15px;
	}
}
.label-online {
	background: $teal;
	font-weight: normal;
}
.label-online:hover { background: $dark-teal; }

#sortAndPerPage {
	margin-bottom: 0;
	padding-bottom: 0;
}

// override bl5.9 gem
// #documents {
// 	.document {
// 		padding-top: 1.5;
// 		margin-top: 0;
// 	}
// }

// Search history
// ------------------------------------------
.search_history {
	.filterName { margin-right: 0.25em; }
	.label {
		display: inline;
		color: white;
		margin: 0 .5em; }
}

.iconcover { // bump up width and heigh to accommodate for padding on nested img with img-polaroid class
	float: left; 
	width: 75px; 
	margin-right: 1em; 
	height: 100px;
	text-align: center;
	i { 
		font-size: 24px;
		color: $dark-tan;
		margin-left: 4px;
		position: relative;
		top: -70px; }
}
