body.catalog-index #documents .document,
body.bookmarks-index #documents .document,
body.book_bags-index #documents .document {
	clear: both;
	border-bottom: 1px solid $light-tan;
	padding: 1.5em 0;
	margin-top: 0;
	// Book cover and icon cover
	img {
		float: left;
		margin-right: 1em;
		width: 75px;
		height: auto;
	}
}

// Title
// ------------------------------------------
.blacklight-title_display {
	margin: 0 0 .5em 0;
	font-weight: normal;
	line-height: 1.5em;
	font-size: 18px;
	a {
		margin-left: .25em;
	}
}

// Item data
// ------------------------------------------
.document-data {
	span {
		font-size: 12px;
		margin-bottom: .5em;
	}
	.shadow-record {
		margin-top: .15em;
		vertical-align: top;
		color: $white;
	}
	.blacklight-pub_date_display {
		margin-left: .2em;
	}
	.blacklight-title_uniform_display {
		display: block;
		margin-top: -.2em;
		font-size: 14px;
		color: $dark-gray;
	}
	.blacklight-author_display {
		display: block;
		font-size: 14px;
	}
	.format {
		margin-right: .5em;
	}
	.blacklight-pub_info_display {
		margin-right: .5em;
	}
	.status {
		font-size: 12px;
		line-height: 1em;
		margin-top: 1em;
	}
	.preloader {
		color: $light-gray;
		font-size: 11px;
	}
}
.data-block {
	margin-top: .4em;
	line-height: 1em;
	margin-bottom: .5em;
}

// Availability status
// ------------------------------------------

.status-online {
	font-size: 12px;
}

.fa-check { color: $available; }
.fa-clock-o { color: $unavailable; }
// extra specificity required for question-sign since it's also
// used for the Unknown format
.status .fa-question-circle,
.fa-warning {color: $yellow; }
.bento_item_other_links .fa-pencil {color: $yellow; }

.fa-rss-square,
.fa-rss-square:hover {
	color: $rss;
}

// Sort and per page options
// ------------------------------------------

#sort-dropdown,
#per_page-dropdown {
	font-size: 12px;
	margin-bottom: 5px;
	.btn {
		font-size: inherit;
	}
}
#sortAndPerPage {
	margin-bottom: 0;
	padding-bottom: .25em;
	border-bottom: 5px solid $light-tan;
}
.search-widgets {
	float: left;
}
.search-filter {
	.select_all.btn {
		padding: 5px 12px 4px 12px;
		font-size: 12px;
		margin-left: .5em;
		margin-top: 0;
	}
	.select_all.checkbox {
			display: inline-block;
	}
}

// Select / bookmarks
// ------------------------------------------

.select-all {
	margin-left: 10px;
	form { margin-bottom: 0; }
	span {
		font-size: 12px;
		color: $light-gray;
	}
	input[type="checkbox"] {
		margin-left: -15px;
	}
}
.label-online {
	background: $teal;
	font-weight: normal;
}
.label-online:hover { background: $dark-teal; }
.form-horizontal {
	.toggle_bookmark {
		padding-top: 0;
	}
}
.select-item {
	margin-top: 1em;
}

// Search history
// ------------------------------------------
.search_history {
	.filterName { margin-right: 0.25em; }
	.label {
		display: inline;
		color: white;
		margin: 0 .5em; }
}

// Did you mean
// ------------------------------------------
#spell {
	background: $light-tan;
	padding: 5px 15px;
	margin-bottom: 1.5em;
}
h4.suggest {
	font-size: 14px;
	line-height: 1.5em;
	em {
		font-style: normal;
	}
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	#sortAndPerPage {
		padding-bottom: 0;
	}
	.select-item {
		margin-top: 0;
	}
	.search-filter {
		float: right;
	}
}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {
	
// }

// Large devices (large desktops, 1200px and up)
// @media (min-width: $screen-lg) {
// }
