.search-bar {
  background: $light-tan;
  padding: 1em 0 .5em 0;
}

.search-form { margin: 0 0 .1em 0; }
.search-options { margin-left: 0; }
input.search-query {
  width: 93%;
  padding-right: 0;
  padding-left: 15px;
}
.advanced-search-link {
  display: inline-block;
  margin-top: .2em;
  padding-left: .3em;
  font-size: 12px;
}
// .advanced-link {
//   margin-top: .5em;
//   padding-left: .3em;
//   font-size: .75em;
//   color: $light-gray;
// }
// .search-or-reset.span2 {
//   margin-left: .3em;
//   min-width: 70px;
// }
.start-over {
  display: block;
  font-size: 14px;
  padding: 6px 12px 6px 0;
  float: left;
  margin-right: 1em;
}
.results-info {
  margin: 0;
  padding-bottom: .2em;
  border-bottom: solid 5px $light-tan;
}
.results-per-page-form {
  margin: 0;
  label {
    display: inline;
    margin-left: .5em;
  }
}
.results-pagination {
  margin: .1em 0 0 1em;
}
.results-sortby-form,
.results-view {
  float: right;
}
.results-sortby-form {
  margin: 0 1em 0 0;
}
#search_field {
  float: left;
  font-family: $font-family-base; // See cul-bootstrap-loader.css.scss for details
}
p.suggest {
  font-size:.8em;
  margin-top: 15px; }

div.search-tools > h2 {line-height: 1em}

.search-tools {
  .form-inline {
    .form-group {
      padding-left: 0;
    }
    .form-control {
      width: 100%;
    }
  }
}

// .expand-search { 
  // margin-top: .5em;
  // padding: 10px;
//   background: white;
//   @include border-top-radius($border-radius-large);
//   @include border-bottom-radius($border-radius-large);
//   h4 {
//     font-size: 1em;
//     font-weight: normal;
//     margin: 0 0 .5em 0;
//     border-bottom: 1px solid $light-tan;
//     padding: 0 0 .25em 0;
//   }
//   ul {
//     margin-left: 0;
//     margin-bottom: 0;
//     list-style: none; }
//   li {
//     font-size: .75em;
//     margin-bottom: .25em;
//   }
//   i {
//     color: $dark-tan;
//     margin-right: .25em;
//   }
// }
h2.advanced-search { margin: 0; }
.advanced-facets { margin-bottom: 10px; }

.btn-search {
  background: $medium-gray;
}

// Search navigation
// --------------------- //
.search-nav {
  margin-top: 1.5em;
  li {
    border-left: 1px solid $dark-tan;
    font-size: 11px;
    padding: 0 .5em;
    a {
      color: $dark-gray;
      font-weight: 700;
      text-transform: uppercase;
      i {
        margin-right: .5em;
      }
    }
    .tips-link {
      font-weight: normal;
      color: $link-primary;
      text-transform: none;
    }
  }
  li:first-child {
    border-left: 0;
    padding-left: 0;
    a {
      padding-left: 0;
    }
  }
  li:last-child {
    padding-right: 0;
  }
  .nav > li > a {
    padding: 0;
  }
  // i {
  //   margin-left: .25em;
  // }
}
// .tips-link {
//     display: block;
//     float: right;
//     clear: both;
//     margin-top: 1em;
//     font-size: 12px;
//   }

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
  .search-bar {
    padding-bottom: 1em;
  }
  .search-nav {
    margin-top: .5em;
    .nav {
      float: right;
    }
    li {
      font-size: 13px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}

