$cornell-primary: #b31b1b;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;
$cornell-blue: #6eb4cd;
$cornell-blue-border: #4892ac;
$cornell-medium-blue: #0068ac;

$dark-gray: #222;
$medium-gray: #666;
$light-gray: #999;
$pale-gray: #f3f3f3;
$databases-light-gray: #ccc;
$white: white;

$tan: #d8d2c9;
$dark-tan: #b3ab9e;
$light-tan: #edebe7;

$teal: #2aa198;
$medium-teal: #1f7972;
$dark-teal: #1f7972;

$yellow: #e8bc0f;

$blue: #0093D0;

$bright-red: #eb2020;

$available: $teal;
$unavailable: $bright-red;
$info: $blue;

$bright-blue: #0068ac;

$link-primary: $cornell-medium-blue;
$link-primary-hover: black;

// -------------------
// Boostrap overrides
// -------------------

// Scaffolding
// -------------------------
$body-bg: $dark-gray;

// Wells
// -------------------------
$well-bg: $light-tan;

// Fonts
// -------------------------
// Protocol is intentionally absent from URL to allow browser to automatically
// use either http or https as needed -- this is primarily to address Chrome bug
$realBaseFontFamily:        'Oxygen', 'Helvetica', sans-serif;        @import
url(//fonts.googleapis.com/css?family=Oxygen:400,700);

// We're not setting $baseFontFamily directly to Oxygen because we need to
// switch to Arial briefly for a second while importing the forms partial down
// the line. What's up with that? See cul-bootstrap-loader.css.scss and this
// issue for more details:
// -- https://issues.library.cornell.edu/browse/DISCOVERYACCESS-622
$font-family-base: $realBaseFontFamily;

// Monospace font for facet counts
$monospace-font-family:       Droid Sans Mono;    @import
url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

// Buttons
// -------------------------
$btnInfoBackground:                 $teal;
$btnInfoBackgroundHighlight:        $dark-teal;

// Navbar
// -------------------------
$navbarCollapseWidth:             767px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;
