$cornell-primary: #b31b1b;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;
$cornell-blue: #6eb4cd;
$cornell-blue-border: #4892ac;
$cornell-medium-blue: #0068ac;

$dark-gray: #222;
$medium-gray: #666;
$light-gray: #999;
$pale-gray: #f3f3f3;
$databases-light-gray: #ccc;
$white: white;

$tan: #d8d2c9;
$dark-tan: #b3ab9e;
$light-tan: #edebe7;
$concrete: #757068;
$concrete-hover: #605C56;

// accessible green
$green: #3C8542;
$dark-green: #2C6132;

$teal: #2aa198;
$dark-teal: #1f7972;

$yellow: #e8bc0f;

$blue: #0093D0;

$bright-red: #eb2020;

$available: $green;
$unavailable: $cornell-primary;
$info: $blue;
$rss: #e98300;

$bright-blue: #0068ac;

$link-primary: #0071BD;
$link-primary-hover: black;

$link-color: #0071BD;

// -------------------
// Boostrap overrides
// -------------------

// Scaffolding
// -------------------------
$body-bg: $light-tan;

// Wells
// -------------------------
$well-bg: $light-tan;

// Fonts
// -------------------------
// Protocol is intentionally absent from URL to allow browser to automatically
// use either http or https as needed -- this is primarily to address Chrome bug
$realBaseFontFamily:        'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;        @import
url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,700,700italic);

// We're not setting $baseFontFamily directly to Oxygen because we need to
// switch to Arial briefly for a second while importing the forms partial down
// the line. What's up with that? See cul-bootstrap-loader.css.scss and this
// issue for more details:
// -- https://issues.library.cornell.edu/browse/DISCOVERYACCESS-622
$font-family-base: $realBaseFontFamily;

$font-family-serif: 'Source Serif Pro', serif; @import
url(//fonts.googleapis.com/css?family=Source+Serif+Pro);

// Monospace font for facet counts
$monospace-font-family:       Droid Sans Mono;    @import
url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

// CUL typeface
$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);

$font-family-call-number: 'Courier', monospace;

// Buttons
// -------------------------
$btnInfoBackground:                 $teal;
$btnInfoBackgroundHighlight:        $dark-teal;

// Navbar
// -------------------------
$navbarCollapseWidth:             767px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;


// .danger color
// -----------------
$danger: $cornell-primary;

// temp for bootstrap 4 transition
// --------------------------------
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$gray-base: #000 !default;
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-dark: lighten($gray-base, 20%) !default;   // #333
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); 
  background-repeat: repeat-x;
}
$border-radius-large: 6px !default;
