@media print {

	// HEADER
	// ----------------------------------------
	.cu-logo {
		img { display: block; } 
	}
	header {
		.container { border: 0; }
	}
	.blacklight-nav { display: none; }

	// SEARCH BOX
	// ----------------------------------------
	.search-tools {
		form { display: none; }
		.btn { 
			display: block; 
			padding: 0; 
			border: 0;
			text-align: left;
			i { display: none; }
		}
	}

	// FACETS
	// ----------------------------------------
	.facets { display: none; }

	// PRINT URLS - OVERRIDE BOOTSTRAP SASS GEM
	// ----------------------------------------

	// default to not printing any URLs
	a[href]:after {
    	content: "";
    	font-size: 75%; }
  	abbr[title]:after {
    	content: ""; }

  	// search results: print title and online link 
    .blacklight-title_display {
    	a[href]:after {
    	content: " (" attr(href) ")"; }
    }
    a[href].status-online:after {
    	content: " (" attr(href) ")"; }

    // item view: print url_access_display, url_findingaid_display, url_bookplate_display, url_other_display
    a[href].online-access:after,
    a[href].url_findingaid_display:after {
    	content: " (" attr(href) ")"; }


  	// BOOKMARK TOGGLE
	// ----------------------------------------
	.bookmark_toggle { display: none; }

	// ITEM RECORD
	// ----------------------------------------
	.return-link,
	.item-pagination,
	.item-tools,
	.item-requests,
	.librarian-view {
		display: none; }
	.blacklight-catalog-show {
		.span12 {
			.well { display: none; }
			.availability { display: block; }
		}
	}
	dt {
		font-size: 80%;
		font-style: italic; }

	// HOME PAGE
	// ----------------------------------------
	.blacklight-catalog-index {
		.span9 {
			.well { display: none; }
			.feedback { display: block; }
		}
	}
}