//**********************************
// Cornell Library Catalog Styles
//
// v1.0 Discovery & Access 2013
//**********************************

// Responsive
// For phone and tablet devices
// -------------------------------------------------------------

// RESPONSIVE CLASSES
// ------------------
// @import "responsive-utilities";

// MEDIA QUERIES
// ------------------

// Large desktops
//@import 'responsive-1024px-min';

// Landscape tablets narrower facets
@import 'responsive-980px-1199px';

// Tablets to regular desktops
@import 'responsive-768px-979px';

// Phones to portrait tablets and narrow desktops
@import 'responsive-767px-max';

// Mobile Portrait Size to Mobile Landscape Size
@import 'responsive-480px-max';

// RESPONSIVE NAVBAR
// ------------------

// From 767px and below, show a button to toggle navbar contents
// @import "responsive-navbar";
