# Rails and Blacklight core functions
COOKIE_STORE=/tmp/cookies/holding_cookies.dat
MYSQL_HOST=mysql
MYSQL_DATABASE=blacklightcornell
MYSQL_PASSWORD=test
MYSQL_USERNAME=root
SOLR_URL=http://user:pass@SOLR_URL_HERE


# Allows use of ConsoleColors module and it's colorful log methods
# See: blacklight-cornell/lib/console_colors.rb for methods
CONSOLE_COLORS_ENABLED=true