<% if ( (ENV['RAILS_ENV']  != "development")   && (ENV['RAILS_ENV'] != "test" )) then %>
<% if ( (ENV['RAILS_ENV']  != "integration")) then %>
<%= ENV['RAILS_ENV'] %>:
  adapter: mysql
  host: <%= ENV['MYSQL_HOST'] %>
  database: <%= ENV['MYSQL_DATABASE'] %>
  username: <%= ENV['MYSQL_USERNAME'] %>
  password: <%= ENV['MYSQL_PASSWORD'] %>
  socket: <%= ENV['MYSQL_SOCKET'] %>
  pool: 200
<% end %> 
<% end %> 

development:
 # adapter: sqlite3
 # database: db/development.sqlite3
 # pool: 5
 # timeout: 5000
  adapter: mysql
  host: <%= ENV['MYSQL_HOST'] %>
  database: <%= ENV['MYSQL_DATABASE'] %>
  username: <%= ENV['MYSQL_USERNAME'] %>
  password: <%= ENV['MYSQL_PASSWORD'] %>
  socket: <%= ENV['MYSQL_SOCKET'] %>
  pool: 200

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

integration:
  adapter: sqlite3
  database: db/integration.sqlite3
  pool: 5
  timeout: 5000

