
body {
background-color: #efefef;
margin: 0px;
padding: 0;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;  
color: #222;
}

xxxbody {
    background-color: #E8E2CA;
    color: #333333;
    font: 83%/1.5 arial,tahoma,verdana,sans-serif;
    padding: 0 0 20px;
}

#main-content{
padding: 10px 20px;
}

.form-horizontal .control-group { 
margin: 0px;
padding:10px 0px 0px 0px;

}

.form-horizontal .control-label { 
padding: 0px 10px 0px 0px;
margin: 0px;
width:340px;
}

.form-horizontal #holdings { 
font-size: .9rem;
background-color: #fff;
}

.form-horizontal #notes { 
width: 300px;
}

.req {
color: #C00 ;
}

legend { 
width:100%;
text-align:center;
border-bottom: 0px;
font-weight: bold;
}

#noshow {
display: none;
}

#shoppingcart {
margin: 20px 50px 0px 0px;
padding: 0px;
xxwidth:400px;
width:40%;
float: right;
height: 320px;
padding:0px 0px 0px 0px;
border:5px solid gray;
overflow:auto;
background-color: #fff;
}

.scrollable {
border:5px solid gray;
padding:10px;
top:100px;
height: 300px;
width: 40%;
margin:20px;
overflow: auto;
}

.max-height {
height: 100%;
}



.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li { font-size: 10px; }

/****************************************
* Cornell Identity & RMC
****************************************/
/* 
The following set of rules controls the appearance of the topmost 
banner on the page, including height, background color, and text color.
The Cornell identity banner should appear on every page of the site.

The version of the logo that appears in the XHTML code is hidden from 
browsers that can read this stylesheet, and it is replaced by a version
of the logo that corresponds to the background color of the banner. 
This logo is placed in the background of two elements below (rather than
one) to prevent flickering when moused over by IE/Win users who have 
disabled the browser cache.
*/
#cu-identity {

margin: 0 auto;

padding: 0px 5px 0px 5px;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 12px;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
color: #222;
height: 75px;
/*
Comment out the following line to remove the Ezra Cornell background image from the header.
Change 1.jpg to any number up to 8.jpg to use other header background images.
*/
background: #000;
}


#cu-logo {
margin: 0px 0px;
float: left;
width: 350px;
height: 75px;
background: url(images/cul_logo.gif) no-repeat 0px 0px;
}

#cu-logo a {

display: block;
border: none;
outline: 0;
/* hide text link */
text-indent: -1000em; 
text-decoration: none;
}

#insignia-link {
float: left;
width: 65px;
height: 70px;
}

#cornell-link {
margin: 5px 0px 0px 75px;
height: 30px;
width: 170px;
}

#unit-link1 {
margin: 5px 0px 0px 75px;
top: 35px;
height: 30px;
width: 70px;
}


#cu-logo img {
display: none;
}

/*	
Search Form
-------------------------
The following rules control the appearance of the search form interface. 
The form is displayed in the Cornell banner, and it is aligned with the 
right edge of the page. The search form should appear on every page 
of a site. 
*/

#search-form {
margin: 0px 0px;
padding-top: 15px;
text-align: right;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 10px;
color: #fff;
}

#search-form form {
margin: 0;
padding: 0;
text-align: right;
}

#search-form label {
color: #fff;
}

#search-form-query {
padding: 3px;
width: 125px;
border: none;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 10px;
color: #000;
vertical-align: middle;
}

#search-form-submit {
margin: 1px 10px 0px 4px;
padding: 0px 2px 3px 2px;;
border-top: 1px solid #8c8c8c;
border-left: 1px solid #8c8c8c;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
font-family: verdana, arial, helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: #fff;
background: #4c4c4c;
vertical-align: middle;
}

#search-filters {
margin: 5px 0 0 0;
display: inline;
}

#search-filters input {
vertical-align: middle;
margin: 0;
}

#search-filters label {
vertical-align: middle;
margin: 0 10px 0 0;
display: inline;
}

#search-form a {
color: #fff;
text-decoration: none;
}



/*RMC Styles*/

#navbar{
margin: 0px auto;
padding: 50px 10px 8px 10px;
color: #FFF;
font-family: verdana, arial, sans-serif;
font-size: 12px;
text-align: left;
white-space: nowrap;
background-color: #014b8e;
background-image: url(images/Aeon_RMC_masthead_80.jpg);
background-repeat: no-repeat;
background-position: 0px 0px;
}

.selectednavtab{
margin: 0px;
padding: 0px 12px 0px 12px;
text-align: center;
color: #f0ca4a;
font-weight: bold;
}

.selectednavtab a:link{
color: #f0ca4a;
text-decoration: none;
}

.selectednavtab a:visited{
color: #f0ca4a;
text-decoration: none;
}

.selectednavtab a:hover{
color: #f0ca4a;
text-decoration: none;
}

.selectednavtab a:active{
color: #f0ca4a;
text-decoration: none;
}

.unselectednavtab{
margin-right: 5px;
padding: 0px 12px 0px 12px;
text-align: center;
font-weight: normal;
}

.unselectednavtab a:link{
color: #d3a901;
text-decoration: none;
}

.unselectednavtab a:visited{
color: #d3a901;
text-decoration: none;
}

.unselectednavtab a:hover{
color: #FFF;
text-decoration: none;
}

.unselectednavtab a:active{
color: #FFF;
text-decoration: none;
}

#locationbar{
margin: 0px auto;
padding: 4px 5px 7px 5px;
font-size: 12px;
font-weight: normal; 
color: #FFF;
background-color: #002241;
}

#locationbar a:link{
color: #FFF;
text-decoration: none;
}

#locationbar a:visited{
color: #FFF;
text-decoration: none;
}

#locationbar a:hover{
color: #FFF;
text-decoration: underline;
}

#locationbar a:active{
color: #FFF;
text-decoration: underline;
}

#navtree{
padding: 2px 0px 0px 4px;
font-size: 12px;
font-weight: normal;
}

#header {
    background-color: #222222;
    border-bottom: 0px solid #002241;
    border-top: 5px solid #002241;
    margin: 0 0 0px;
    min-height: 0px;
    overflow: auto;
    padding: 0px 0 0px;
    width: 100%;
}

#rmc-subhead {
padding: 5px 0px;
background-color: #666;
font-size: 16px;
color: #fff;
text-align: center;
}
