<h2>An error occurred processing the request</h2>
<p class="mt-4">For additional help, please email <a href="mailto:cul-dafeedback-l@cornell.edu">cul-dafeedback-l@cornell.edu</a>.</p>
<p><strong>Time:</strong> <%= @time  %><br>
<strong>Server:</strong> <%= @server  %><br>
<strong>Message:</strong> <%= @message  %><br>
<strong>Request:</strong> <%= @request  %></p>