<h1>We're sorry - internal server error</h1>
<p class="mt-3">For additional help, please email <a href="mailto:cul-dafeedback-l@cornell.edu">cul-dafeedback-l@cornell.edu</a>.</p>
<p><strong>Time:</strong> <%= @time  %></p>
<p><strong>Server:</strong> <%= @server  %></p>
<p><%= @test %></p>