<div class="browse-call-number">
    <h3>Browse related items by call number</h3>
    <ul class="list-inline">
        <li><a href="/browse?start=0&amp;browse_type=Call-Number&amp;authq=++%20U1%20.A744" class="btn btn-cul">++ U1 .A744</a></li>
        <li><a href="/browse?start=0&amp;browse_type=Call-Number&amp;authq=Film%20N6390" class="btn btn-cul">Film N6390</a></li>
    </ul>
</div>