- if !callnumber.blank? && !callnumber.include?('No call number') && callnumber == 'Available for the Library to Purchase'
  - pda = 'yes'
- if !callnumber.blank? && !callnumber.include?('No call number') && callnumber != ''
  .call-number
    = callnumber
    - if pda != 'yes'
      %span.text-it
        = link_to sms_solr_document_path(:id => params[:id], :location => location, :callnumber => callnumber), {:id => 'smsLink', :name => 'Text', :class => 'lightboxLink'} do
          %i{:class => 'fa fa-mobile', 'aria-hidden'.to_sym => "true"}
          = t('blacklight.tools.sms')
