<% callnumbers = [] %>
<% if @document['callnumber_display'].present? %>
   <% callnumbers = @document['callnumber_display'] %>
<% else %>
    <%# These lines have been commented out per DISCOVERYACCESS-4993
    if @document['holdings_json'].present?
        holdings = JSON.parse(@document['holdings_json'])
        holdings.each do |k,holding|
            if holding['call'].present?
                callnumbers << holding['call']
            end
        end
    end
    %>
<% end %>
<% if callnumbers.any? %>
    <div class="browse-call-number">
        <h3 class="mt-4">Browse related items by call number</h3>
        <% callnumbers.each do |callnumber| %>
            <%= link_to callnumber, '/browse?' + {:browse_type => 'Call-Number', :authq => callnumber}.to_query, {:class => "btn btn-cul mb-2"} %>
        <% end %>
    </div>
<% end %>
