<% if @document['availability_json'].present? %>
    <% 
    availability = JSON.parse(@document['availability_json']) 
    callnumbers = []
    if availability["availAt"].present?
        availability["availAt"].each do |location,callnumber|
            callnumbers << callnumber
        end
    end
    if availability["unavailAt"].present?
       availability["unavailAt"].each do |location,callnumber|
            callnumbers << callnumber
        end
    end
    %>
    <% if callnumbers.any? %>
        <div class="browse-call-number">
            <h3>Browse related items by call number</h3>
            <ul class="list-inline">
            <% callnumbers.each do |callnumber| %>
                <li><%= link_to callnumber, '/browse?' + {:browse_type => 'Call-Number', :authq => callnumber}.to_query, {:class => "btn btn-cul"} %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
<% end %>
  