<p>Please complete the CAPTCHA to contine</p>
%img 
   =image_tag @captcha
   =Rails.logger.debug "mjc12test: emailparams: #{@email_params}"
%form#captcha_form{:method => 'post', :controller => 'catalog', :action => 'email'}
   %input{ :type => 'text', :name => 'captcha_response', :id =>'captcha_response' }
   %input{ :type => 'hidden', :name => 'to', :id => 'to', :value => @email_params[:to] }
   %input{ :type => 'hidden', :name => 'message', :id => 'message', :value => @email_params[:message] }
   %input{ :type => 'hidden', :name => 'id', :id => 'id', :value => @email_params[:id] }
   %input#request-submit.btn.btn-danger(type='submit' name='submit' value='Submit')