<% if query_has_constraints? || params[:range].present? %>
  <div class="selected-facets">
    <span class="constraints-label hide-text"><% t('blacklight.search.filters.title') %></span>
    <%#= debug params[:show_query] %>
    <%if params[:q_row].nil? and params[:f].nil? %>
    	<%= render_constraints_query(params) %>
    <%else %>
       <%= render_advanced_constraints_query(params) %>
    <% end %>
  </div>
<% end %>
