<%- # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)
-%>

<%- unless options[:remove].blank? -%>
  <a href="<%= url_for(options[:remove]) %>" class="btn btn-info btn-small" title="Remove">
<%- end -%>
    <%- if label.blank? -%>
      <span class="filter-label"><%= "All Fields" + raw(label) %></span>:
    <%- else -%>
      <span class="filter-label"><%= raw(label) %></span>:
      
    <%- end -%>
    <%- unless value.blank? -%>
      <span class="filter-value"><%= raw(value) %></span>
    <%- end -%>
    <i class="fa fa-times fa-inverse"></i>
<%- unless options[:remove].blank? -%>
  </a>
<%- end -%>
