<%- # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)
-%>

<button class="btn btn-info btn-small">
  <%- unless options[:remove].blank? -%>
    <a href="<%= options[:remove] %>" title="Remove">
  <%- end -%>
    <%- unless label.blank? -%>
      <%= options[:escape_label] ? h(label) : raw(label) %>:
    <%- end -%>
    <%- unless value.blank? -%>
      <%= options[:escape_value] ? h(value) : raw(value) %>
    <%- end -%>
    <i class="icon-remove icon-white"></i></button>
  <%- unless options[:remove].blank? -%>
    </a>
  <%- end -%>
</button>
