<% if query_has_constraints? || params[:range].present? %>
  <div class="selected-facets">
    <span class="constraints-label hide-text"><%= t('blacklight.search.filters.title') %></span>
    <%= debug params[:show_query] %>
    <%= render_constraints(params) %>
  </div>
<% end %>
