<% if query_has_constraints? || params[:range].present? %> 
  <div class="selected-facets">
    <span class="constraints-label hide-text"><% t('blacklight.search.filters.title') %></span>
    <%#= debug params[:show_query] %>
    <%if params[:search_field] != "advanced" %>
       <%= render_constraints(params) %>
    <%else %>
       <%= render_advanced_constraints_query(params) %>
    <% end %>
  </div>
<% end %>
