<div id="digital-collections-search" class="expand-search" facet-name="<%= facet_name %>" facet-value="<%= facet_value %>" base-url="<%= root_url %>">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Digital Collections Subject Search  <a id="dig-search-anchor"><i class='fa fa-external-link'></i></a></h3>
		</div>
		<div class="panel-body">
			<ul class="fa-ul" id="digital-results">
				
			</ul>
		</div>
	</div>
</div>
