<div id="expanded-search" class="expand-search">
	<div class="card">
		<div class="card-header">
			Looking for more?
		</div>
		<div class="card-body">
			<ul class="fa-ul">
				<li><i class="fa fa-arrow-right" aria-hidden="true" alt=""></i><a href="<%= @expanded_results['worldcat'][:url] %>" onclick="javascript:_paq.push(['trackEvent', 'expandsearch', 'WCL']);">Request from Libraries Worldwide (<%= number_with_delimiter(@expanded_results['worldcat'][:count]) %>+)</a></li>
				<li><i class="fa fa-arrow-right" aria-hidden="true" alt=""></i><a href="<%= @expanded_results['summon'][:url] %>"onclick="javascript:_paq.push(['trackEvent', 'expandsearch', 'Summon']);">Search Articles &amp; Full Text (<%= number_with_delimiter(@expanded_results['summon'][:count]) %>)</a></li>
				<li><i class="fa fa-arrow-right" aria-hidden="true" alt=""></i><a href="http://www.library.cornell.edu/services/request/recommend" onclick="javascript:_paq.push(['trackEvent', 'expandsearch', 'recommendpurchase']);">Recommend a Purchase</a></li>
			</ul>
		</div>
	</div>
</div>
