<div class="expand-search span3">
	<div class="expand-results">
		<h4>Expand your search</h4>
		<ul>
			<li><i class="icon-external-link"></i> <a href="<%= @wcl_results[:url] %>"><%= format_num(@wcl_results[:count]) %>+ results at libraries worldwide</a></li>
			<li><i class="icon-external-link"></i> <a href="<%= @summon_url %>">Search for articles</a></li>
		</ul>
	</div>
</div>
