<div class="expand-search">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Looking for more?</h5>
		</div>
		<div class="panel-body">
			<ul class="fa-ul">
			    <li><i class="fa fa-arrow-right"></i><a href="http://cornell.worldcat.org/">Search Libraries Worldwide</a></li>
			    <li><i class="fa fa-arrow-right"></i><a href="http://cornell.summon.serialssolutions.com/">Search Articles &amp; Full Text</a></li>
			    <li><i class="fa fa-arrow-right"></i><a href="http://www.library.cornell.edu/services/request/recommend">Recommend a Purchase</a></li>
			</ul>
		</div>
	</div>  
</div>