<div class="expand-search">
	<h4>Expand your search</h4>
	<ul>
		<li><a href="<%= @expanded_results['summon'][:url] %>">Articles &amp; Full Text (<%= format_num(@expanded_results['summon'][:count]) %>)</a></li>
		<li><a href="<%= @expanded_results['worldcat'][:url] %>">Libraries Worldwide (<%= format_num(@expanded_results['worldcat'][:count]) %>+)</a></li>
	</ul>
</div>
