<div class="expand-search">
  <h4>Expand your search</h4>
  <ul>
    <li><a href="http://cornell.worldcat.org/">Libraries Worldwide</a></li>
    <li><a href="http://cornell.summon.serialssolutions.com/">Articles &amp; Full Text</a></li>
  </ul>
</div>
