<div class="expand-search span3">
	<div class="expand-results">
	  <h4>Expand your search</h4>
	  <ul>
	    <li><i class="icon-external-link"></i> <a href="http://cornell.worldcat.org/">Search libraries worldwide</a></li>
	    <li><i class="icon-external-link"></i> <a href="http://cornell.summon.serialssolutions.com/">Search for articles</a></li>
	  </ul>
	</div>
</div>
