<div class="expand-search">
  <h4>Expand your search</h4>
  <ul>
    <li><i class="fa fa-external-link"></i> <a href="http://cornell.worldcat.org/">Search libraries worldwide</a></li>
    <li><i class="fa fa-external-link"></i> <a href="http://cornell.summon.serialssolutions.com/">Search for articles</a></li>
  </ul>
</div>
