<div class="expand-search">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 class="panel-title">Looking for more?</h5>
		</div>
		<div class="panel-body">
			<ul class="fa-ul">
				<li><i class="fa fa-arrow-right"></i><a href="<%= @expanded_results['worldcat'][:url] %>">Request from Libraries Worldwide (<%= number_with_delimiter(@expanded_results['worldcat'][:count]) %>+)</a></li>
				<li><i class="fa fa-arrow-right"></i><a href="<%= @expanded_results['summon'][:url] %>">Search Articles &amp; Full Text (<%= number_with_delimiter(@expanded_results['summon'][:count]) %>)</a></li>
				<li><i class="fa fa-arrow-right"></i><a href="http://www.library.cornell.edu/services/request/recommend">Recommend a Purchase</a></li>
			</ul>
		</div>
	</div>
</div>
