<div class="expand-search">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Looking for more?</h3>
		</div>
		<div class="panel-body">
			<ul class="fa-ul">
			    <li><i class="fa fa-arrow-right" aria-hidden="true" alt=""></i><a href="http://cornell.worldcat.org/" onclick="javascript:_paq.push(['trackEvent', 'expandadvsearch', 'WCL']);">Search Libraries Worldwide</a></li>
			    <li><i class="fa fa-arrow-right" aria-hidden="true" alt=""></i><a href="http://cornell.summon.serialssolutions.com/" onclick="javascript:_paq.push(['trackEvent', 'expandadvsearch', 'Summon']);">Search Articles &amp; Full Text</a></li>
			    <li><i class="fa fa-arrow-right" aria-hidden="true" alt=""></i><a href="http://www.library.cornell.edu/services/request/recommend" onclick="javascript:_paq.push(['trackEvent', 'expandadvsearch', 'recommendpurchase']);">Recommend a Purchase</a></li>
			</ul>
		</div>
	</div>  
</div>