- populated_facets = facet_field_names.reject { |name| facet = @response.facet_by_field_name(name); facet.nil? || facet.items.empty? }

- # Only render #facets container if we have any populated facets
- if populated_facets.present?
  #facets.facets
    %p{:class => "hidden-phone"} Refine your results
    .navbar
      %a{:class => "btn btn-navbar" , "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        Refine results
        %i{:class => "fa fa-bars"}
      .nav-collapse.collapse
        - populated_facets.each do |solr_fname|
          %div{:class => "blacklight-#{solr_fname.parameterize}"}
            - case solr_fname
            - when "format", "online"
              = render_facet_partials([solr_fname], :partial => "facet_limit_selected")
            - when "lc_2letter_facet", "title_first_facet"
            - else
              = render_facet_partials([solr_fname])
  / /#facets
