<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">

  <div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <%= t('blacklight.search.facets.title') %>
      <i class="fa fa-bars"></i>
    </button>

    <h4 class="hidden-xs">
    	<%= t('blacklight.search.facets.title') %>
    </h4>
    </div>

  <div id="facet-panel-collapse" class="collapse panel-group">
  <%= render_facet_partials %>
</div>
</div>
<% end %>