#ft
  #cul_footer
    %p 
      &copy; Cornell University Libraries 2012
      %br
      =link_to "(Return to CUL)", "http://jac244-dev.library.cornell.edu:8984"
  = @footer
  = render :partial => "/debug_mode"
  .clear-both
