    <%# don't need search form here because it's now a consistently-placed bar %>
    <%#= render :partial => 'search_form' %>
    <div class="row">
    	<div class="col-sm-11 home-message col-sm-offset-1">
    		<p><strong>Welcome to the new Cornell University Library catalog.</strong> This catalog is being developed to replace the aging <a href="http://catalog.library.cornell.edu">Classic Catalog</a> and incorporate the best features of <a href="http://cornell.worldcat.org">WorldCat Local</a>. (Please note that WorldCat Local is  available through the "libraries worldwide" link on the search results page.)</p>
    		<p>This site is in active development. For more details about these changes, please see our <a href="http://blogs.cornell.edu/discoveryandaccess">release notes</a>.</p>
    		<p><strong>We need your feedback!</strong> Please <a href="http://www.library.cornell.edu/feedback">send us any questions or comments</a>.</p>
    		<div class="other-resources">
    			<h2>Other resources</h2>
	    		<ul class="blacklight-nav">
				  <li><a href="http://cornell.summon.serialssolutions.com/">Articles &amp; Full Text</a></li>
				  <li><a href="/databases">Databases</a></li>
				  <li><a href="http://erms.library.cornell.edu/">E-journal Titles</a></li>
				  <li><a href="http://catalog.library.cornell.edu">Classic Catalog</a></li>
                  <li><a href="/digitalcollections">Digital Collections</a></li>
				</ul>
	    	</div>
    	</div>
	</div>

<% #Creates a bit space in the page -%>

