    <%# don't need search form here because it's now a consistently-placed bar %>
    <%#= render :partial => 'search_form' %>
    <div class="row">
    	<div class="col-md-11 home-message col-md-offset-1">

            <div class="well">
                <p class="lead">Welcome to the Cornell University Library Catalog.</p>

                <ul>
                    <li>For help in searching the Catalog, try our <a href="http://www.library.cornell.edu/help/catalog">Search Tips</a>.</li>

                    <li>For additional assistance, please <a href="http://www.library.cornell.edu/ask">Ask a Librarian</a>.</li>

                    <li>Or <a href="http://www.library.cornell.edu/feedback">send us</a> comments or suggestions that may help us improve the Catalog.</li>
                </ul>

                <p>The Library Catalog utilizes modern database technologies to provide a flexible searching and browsing environment.</p>
     
                <p>To search beyond Cornell holdings, follow the “Libraries Worldwide” link on the Catalog search results page, or connect directly to <a href="http://cornell.worldcat.org/">WorldCat Local</a>.</p>
            </div>

    		<div class="other-resources">
    			<h2>Other resources</h2>
	    		<ul class="blacklight-nav">
				  <li><a href="http://cornell.summon.serialssolutions.com/">Articles &amp; Full Text</a></li>
				  <li><a href="/databases">Databases</a></li>
				  <li><a href="http://erms.library.cornell.edu/">E-journal Titles</a></li>
                  <li><a href="/digitalcollections">Digital Collections</a></li>
				</ul>
	    	</div>
    	</div>
	</div>

<% #Creates a bit space in the page -%>

