    <%= render :partial => 'search_form' %>
    <div class="row">
    	<div class="span7 home-message offset1">
			<p><strong>Welcome to the Cornell University Library beta catalog.</strong> This version of the catalog is still in development. Try it and <a href="mailto:cul-dafeedback-l@cornell.edu">tell us what you think</a>. See <a href="https://confluence.cornell.edu/display/disacc/Blacklight+Catalog+Release+Notes">what’s new</a> and see <a href="https://confluence.cornell.edu/display/disacc/Future+Development+Efforts+for+Blacklight+Catalog"> what’s planned for future releases</a>.</p>
			<p>Please keep in mind that this beta site uses a copy of catalog data from April 29th; as a result, some of the information about items in our collection is outdated.</p>
			<div class="feedback">
				<h4>We need your feedback!</h4>
				<p style="font-size: 1em">Please email us at <a href="mailto:cul-dafeedback-l@cornell.edu">cul-dafeedback-l@cornell.edu</a>.</p>
			</div>
		</div>
	</div>

<% #Creates a bit space in the page -%>

