    <%= render :partial => 'search_form' %>
    <div class="row">
    	<div class="span7 home-message offset1">
    		<p><strong>Welcome to the Cornell University Library beta catalog.</strong> This catalog is being developed to replace the aging Classic Catalog and incorporate the best features of WorldCat Local.</p>
    		<p>Please note that this site is in active development. As a result, some information about items in our collection is outdated, some features are occasionally unavailable, and you may discover changes in the interface as improvements are made. For more details about these changes, please see our <a href="http://blogs.cornell.edu/discoveryandaccess">release notes</a>.</p>
    		<p><strong>We need your feedback!</strong> Please send any questions or comments to <a href="mailto:cul-dafeedback-l@cornell.edu">cul-dafeedback-l@cornell.edu</a>.
		</div>
	</div>

<% #Creates a bit space in the page -%>

