<% if !callnumber.blank? && !callnumber.include?('No call number') && callnumber == 'Available for the Library to Purchase' %>
  <% pda = 'yes' %>
<% end %>

<% if pda == 'yes' %>
    
    <div class="location">

    <%= callnumber %>
    </div>

<% elsif location != 'Online'  and location != 'Library Technical Services Review Shelves' and hide_status.blank? %>
  <div class="location">
    <%= location %>
    <span class="map-it">
      <%= render_location_link entry['location_code'] %>
    </span>
  </div>
<% end %>