- if location != 'Online'  and location != 'Library Technical Services Review Shelves' and hide_status.blank?
  .location
    = location
    %span.map-it
      -if entry['location_name'] == "Spacecraft Planetary Imaging Facility 317 Space Science Bldg"
        = render_special_location_link entry['location_name']
      -else
        = render_location_link entry['location_code']
