<% if @response.num_pages > 1 %>
 <!-- <div class="row record-padding"> TODO: don't need record-padding class? -->
 <div class="row">
  <div class="col-sm-9">
    <!-- <div id="sticky" class="pagination-bar pagination-centered navbar navbar-fixed-bottom"> -->
      <%= paginate @response, :outer_window => 2, :theme => 'blacklight' %>
    <!-- </div> -->
  </div>
 </div>
<% end %>
