  <ul class="nav nav-tabs nav-search">

    <%# change classes for active state depending on what section you're in %>
    <%# advanced search links %>
    <% if params[:q_row].present? %>
      <li><a href="/">Search</a></li>
      <li class="active">Advanced Search</li>
      <li><a href="/browse">Browse</a></li>

    <%# browse links %>
    <% elsif params[:action] == "index" && params[:controller] == "browse" %>
      <li><a href="/">Search</a></li>
      <li><%= link_to 'Advanced Search', url_for(:controller=>"advanced_search", :action=>"index") %></li>
      <li class="active">Browse</li>

    <%# regular search links %>
    <% else %>
      <li class="active">Search</a></li>
      <li><%= link_to 'Advanced Search', url_for(:controller=>"advanced_search", :action=>"index") %></li>
      <li><a href="/browse">Browse</a></li>
    <% end %>
    
    <%# search tips link is the same regardless of where you are %>
    <li class="tips-link"><a href="http://www.library.cornell.edu/help/catalog">Search Tips</a></li>

  </ul>
