<div class="pull-right hidden-phone select-all">
   	<form>
    	<label class="toggle_bookmark checkbox" for="select_all">
    		<input type="checkbox" id="select_all">
    		<span>Select all</span>
    	</label>
	</form>
</div>


<!--SELECT ITEM MARKUP
	<div class="select-item">
      <form accept-charset="UTF-8" action="/bookmarks/1489006" class="bookmark_toggle" data-doc-id="1489006" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="1RQdxCbyPs5Ng5KHgN3YgsdTNGsc3mmGzujIEitW4ng=" /></div>   
        <input class="bookmark_add" id="bookmark_toggle_1489006" name="commit" type="submit" value="Select" />
</form>  
</div>
-->