<!-- credit to Princeton University Library -->
<div class="checkbox select_all">
  <label for="select_all_input">
    <input type="checkbox" id="select_all_input">
    <span>Select all</span>
  </label>
</div>