<% can_add_books = current_or_guest_user.bookmarks.count + current_per_page < BookBagsController::MAX_BOOKBAGS_COUNT %>
<% if can_add_books %>
<!-- credit to Princeton University Library -->
<div class="checkbox select_all btn btn-default">
  <label for="select_all_input">
    <input type="checkbox" id="select_all_input">
    <span>Select all</span>
  </label>
</div>
<% else %>
<div class="checkbox select_all btn btn-default disabled">
    <span>
    <%= link_to '/bookmarks/show_selected_item_limit_bookmarks', {:name => 'Limit', :data => {:ajax_modal => "trigger"}, :class => "lightboxLink btn btn-sm", "data-toggle" => "modal"}  do %>
          <%= "Selected items maximum: #{BookBagsController::MAX_BOOKBAGS_COUNT}" %>
        <% end %>
    </span>
</div>
<% end %>