.holdings{:data => {:bibid => @document.id.to_s}}
  .holdings-error.status
    %i.icon-warning-sign
    Unable to retrieve availability
    = link_to "Retry?", "#", :onclick => "javascript:load_holdings(#{@document.id.to_s});"
