- content_for :jstemplates do
  :javascript
    $(document).ready ( function () {
      $("#holding_spinner").show();
      load_clio_holdings(#{@document.id.to_s});
    })

= yield(:jstemplates)

.holdings_title
  Available from:
#holding_spinner=image_tag ("ajax-indicator.gif")
#clio_holdings
  .holdings_display
  .holdings_check
  .holdings_error
    Unable to load.
  = link_to "Retry?", "#", :onclick => "javascript:load_clio_holdings(#{@document.id.to_s});"

