<div class="results-info span9">
  <span class="results-count">
    <%= render :partial => "paginate_compact" %>
  </span>


  <%= render :partial => 'sort_widget' %>

  <%= render :partial => 'per_page_widget' %>

</div>
