<div class="span2 wcl-results">
	<h4>Expand your search</h4>
	<ul>
		<li><i class="icon-external-link"></i> <a href="#">410+ results</a> at Libraries Worldwide</li>
		<li><i class="icon-external-link"></i> Looking for articles? <a href="#">Try Summon</a>.</li>
	</ul>
</div>