<h2>Credits</h2>
<div>
  The Library Catalog relies on open-source software, including:
  <ul>
    <li>
	  <a href="https://github.com/projectblacklight/blacklight">Blacklight 
    </li>
    <li>
	  <a href="https://rubyonrails.org/">Rails</a>
    </li>
    <li>
	  <a href="https://lucene.apache.org/solr/">Solr</a>
    </li>
    <li>
	  <a href="https://github.com/twbs/Bootstrap">Bootstrap</a>
    </li>
  </ul>
</div>
<div>
  The Library Catalog accesses outside data using a number of APIs, which include the following:
  <ul>
    <li>
	  <a href="https://www.ebsco.com/products/ebsco-discovery-service">EBSCO Discovery Service 
    </li>
    <li>
	  <a href="https://www.oclc.org/developer/develop/web-services/worldcat-search-api.en.html">WorldCat</a>
    </li>
    <li>
	  <a href="https://developers.google.com/books">Google Books</a>
    </li>
  </ul>
</div>
<div>
	The Library Catalog also uses Discogs’ API but is not affiliated with, sponsored or endorsed by Discogs. "Discogs" is a trademark of Zink Media, LLC.
</div>