<h2>Credits</h2>
<p>The Library Catalog relies on open-source software, including:</p>
<ul>
  <li>
    <a href="https://github.com/projectblacklight/blacklight">Blacklight</a>
  </li>
  <li>
    <a href="https://rubyonrails.org/">Rails</a>
  </li>
  <li>
    <a href="https://lucene.apache.org/solr/">Solr</a>
  </li>
  <li>
    <a href="https://github.com/twbs/Bootstrap">Bootstrap</a>
  </li>
  <li>
    <a href="https://citationstyles.org">The Citation Style Language project</a>
  </li>
</ul>
<p>The Library Catalog accesses outside data using a number of APIs, which include the following:</p>
<ul>
  <li>
    <a href="https://www.ebsco.com/products/ebsco-discovery-service">EBSCO Discovery Service</a>
  </li>
  <li>
    <a href="https://www.oclc.org/developer/develop/web-services/worldcat-search-api.en.html">WorldCat</a>
  </li>
  <li>
    <a href="https://developers.google.com/books">Google Books</a>
  </li>
</ul>
<p>The Library Catalog also uses Discogs’ API but is not affiliated with, sponsored or endorsed by Discogs. "Discogs" is a trademark of Zink Media, LLC.</p>
