<a href="<%= solr_document_path %>" class="return-link">
	<i class="fa fa-arrow-circle-left"></i> Back to item
</a>
<h2><%= t('blacklight.search.librarian_view.title') %></h2>
<%- if @document.respond_to?(:to_marc) -%>
  <%= render "marc_view" %>
<%- else %>
      No MARC data found.
<%- end -%>
