<header class="head cornell-identity">
	<div>
    	<a href="#main-content" onclick="$(\'#content\').focus();" class="offscreen">Skip to main content</a>
  	</div>
	<div class="container">
	    <div class="cornell-logo d-none d-sm-block">
	      <a href="http://www.cornell.edu" class="insignia">Cornell University</a>
	      <div class="library-brand">
	        <a href="https://library.cornell.edu">Library</a>
	      </div>
	    </div>
	    <div class="d-block d-sm-none">
	      <a class="mobile-cornell-logo" href="https://www.cornell.edu">Cornell University</a>
	      <a class="library-brand-mobile" href="https://library.cornell.edu">Library</a>
	    </div>
	    <div class="h1div">
			<h1>Special Collections Request System</h1>
		</div>
	</div>
</header>
<!--   <a href=https://rmc-aeon.library.cornell.edu/aeon/boom.html?target=https://catalog-folio-int.library.cornell.edu/aeon/reading_room_request/8300797/&libid=rmc|rmc,anx&finding=http://resolver.library.cornell.edu/cgi-bin/EADresolver?id=RMM08094">Login to Aeon will bring you back here<a> -->
