<div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <span class="req">*</span>
                        <label for="Format">Format:</label>
                </div>
                <div class="col-form-label col-sm-10">
                        <select class="form-control" id="Format" name="Format">
                                <option value="a. PDF: $1">PDF: $1</option>
                                <option value="b. TIFF 600 dpi: $35">TIFF 600 dpi: $35</option>
                                <option value="c. TIFF 600 dpi > 12x17: $45">TIFF 600 dpi > 12x17: $45</option>
                                <option value="d. MP3 of audio: $75">MP3 of audio: $75</option>
                                <option value="e. MP4 of video: $75">MP4 of video: $75</option>
                                <option value="f. MP4 of film: $200">MP4 of film: $200</option>
                                <option value="g. PDF of microfilm: $50">PDF of microfilm: $50</option>
                                <option value="h. PDF of thesis: $50">PDF of thesis: $50</option>
                                <option value="i. Existing digital file: $10">Existing digital file: $10</option>
                        </select>
                </div>
        </div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <span class="req">*</span>
                        <label for="ServiceLevel">Service level:</label>
                </div>
                <div class="col-form-label col-sm-10">
                        <select class="form-control" id="ServiceLevel" name="ServiceLevel">
                                <option value="a. Normal: $15">Normal: $15</option>
                                <option value="b. Rush <3 weeks: $40">Rush < 3 weeks: $40</option>
                        </select>
                </div>
        </div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <span class="req">*</span>
                        <label for="ShippingOption">Delivery method:</label>
                </div>
                <div class="col-form-label col-sm-10">Digital file download
                        <select style="display:none" id="ShippingOption" name="ShippingOption">
                                <option value="a. Digital file download: $0">Digital file download: $0</option>
                        </select>
                </div>
        </div>
</div>
<div class="form-group">
        <label for="SpecialRequest">Please enter any deadlines, special requests or questions for library staff.</label>
        <textarea class="form-control col-md-6" id="SpecialRequest" name="SpecialRequest" rows="3"></textarea>
</div>
<div class="form-group">
        <label for="Notes">Add any notes about this item or request that may be helpful for your own personal reference later.</label>
        <textarea class="form-control col-md-6" id="Notes" name="Notes" rows="3"></textarea>
</div>        
<div class="form-group">
        <label for="ItemCitation">If you have seen the image you are requesting online, please provide the URL. You may also enter an image ID number, if known.</label>
        <textarea class="form-control col-md-6" id="ItemCitation" name="ItemCitation" rows="3"></textarea>
</div>
