<%# This is part of the reading room request form %>
<input type="hidden" id="Restrictions" name="Restrictions" value="<%= @re506 %>"/>
<input type="hidden" id="ItemInfo3" name="ItemInfo3" value="<%= @re506 %> "/>
<input type="hidden" id="ItemInfo5" name="ItemInfo5" value=""/>
<input type="hidden" id="SpecialRequest" name="SpecialRequest" value=""/>
<input type="hidden" id="ItemTitle" name="ItemTitle" value="<%= @title %>">
<input type="hidden" id="ItemAuthor" name="ItemAuthor" value="<%= @author  %>">


<div class="control-group">
        <h3>Schedule or Save</h3>
        <p>You may schedule an appointment to visit on the next screen after authentication, or save your request to review and schedule an appointment later.</p>
</div>
