<div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <span class="req">*</span>
                        <label for="Format">Format:</label>
                </div>
                <div class="col-form-label col-sm-10">
                        <select class="form-control" id="Format" name="Format">
                                <option value="PDF">PDF</option>
                                <option value="TIFF 600 dpi">TIFF 600 dpi</option>
                                <option value="TIFF 600 dpi > 12x17">TIFF 600 dpi > 12x17</option>
                                <option value="MP3 of audio">MP3 of audio</option>
                                <option value="MP4 of video">MP4 of video</option>
                                <option value="MP4 of film">MP4 of film</option>
                               
                                <% if show_rmc_options %>
                                        <option value="PDF of microfilm">PDF of microfilm</option>
                                        <option value="PDF of thesis">PDF of thesis</option>
                                        <option value="Existing digital file">Existing digital file</option>
                                <% end %>                                
                                
                        </select>
                </div>
        </div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <span class="req">*</span>
                        <label for="ServiceLevel">Service level:</label>
                </div>
                <div class="col-form-label col-sm-10">
                        <% if show_rmc_options %>Normal
                                <select style="display:none" id="ServiceLevel" name="ServiceLevel">
                                        <option selected value="a. Normal: $15">Normal</option> 
                                </select>
                        <% else %>
                                <select class="form-control" id="ServiceLevel" name="ServiceLevel">
                                        <option value="a. Normal: $15">Normal</option>
                                        <option value="b. Rush <3 weeks: $40">Rush < 3 weeks</option>
                                </select>
                        <% end %>
                </div>
        </div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <span class="req">*</span>
                        <label for="ShippingOption">Delivery method:</label>
                </div>
                <div class="col-form-label col-sm-10">Digital file download
                        <select style="display:none" id="ShippingOption" name="ShippingOption">
                                <option value="a. Digital file download: $0">Digital file download</option>
                        </select>
                </div>
        </div>

        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <label for="SpecialRequest">Special Requests or Questions:</label>
                </div>
                <div class="col-form-label col-sm-10">
                        <div id="charWarning-sr" class="charmax-alert" style="display: none;" role="alert" aria-live="assertive">
                                <i class="fa fa-charmax-alert"></i> You have reached the 250 character limit.
                        </div>
                        <small class="form-text">Please enter any deadlines, special requests or questions for library staff.</small>
                        <textarea class="form-control col-md-9" id="SpecialRequest" name="SpecialRequest" rows="3" maxlength="250" oninput="checkLength('SpecialRequest', 'charWarning-sr')" aria-describedby="charWarning-sr"></textarea>
                </div>
        </div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <label for="ItemCitation">Citation:</label>
                </div>
                <div class="col-form-label col-sm-10">
                        <div id="charWarning-cit" class="charmax-alert" style="display: none;" role="alert" aria-live="assertive">
                                <i class="fa fa-charmax-alert"></i> You have reached the 250 character limit.
                        </div>
                        <small class="form-text">If you have seen the image you are requesting online, please provide the URL. You may also enter an image ID number, if known.</small>
                        <textarea class="form-control col-md-9" id="ItemCitation" name="ItemCitation" rows="3" maxlength="250" oninput="checkLength('ItemCitation', 'charWarning-cit')" aria-describedby="charWarning-cit"></textarea>
                </div>
        </div>
        <div class="form-group row">
                <div class="col-form-label col-sm-2">
                        <label for="Notes">My Notes:</label>                
                </div>
                <div class="col-form-label col-sm-10">
                        <small class="form-text">Enter any notes about this request for your personal reference.</small>
                        <textarea class="form-control col-md-9" id="Notes" name="Notes" rows="3" maxlength="4000"></textarea>
                </div>
        </div>
        <script>
                // when character max limit is reached, show (and announce to screen readers) a warning message 
                function checkLength(textareaId, warningId) {
                        var textarea = document.getElementById(textareaId);
                        var warning = document.getElementById(warningId);
                        if (textarea.value.length >= textarea.maxLength) {
                                warning.style.display = 'block';
                        } else {
                                warning.style.display = 'none';
                        }
                }
        </script>
</div>