        <div class="control-group">
                <input type="submit" class="btn" id="SubmitButton" name="SubmitButton" value="Submit Request">
                <label class="control-label sr-only" for="clear">Clear</label>
                or <input type="button" id="clear"  name="clear" value="Reset">
                <br/><br/>
                <p>Please email 
                        <a href=mailto:rareref@cornell.edu>rareref@cornell.edu</a>, or
                        <a href=mailto:kheelref@cornell.edu>kheelref@cornell.edu</a> if you have any questions.
                </p>
        </div>