<%= render partial: 'aeon/aeon_header' %>

<% target = params['target'] %>
<% target += "&finding=#{params['finding']}" if params['finding'] %>

 <div class="container">
  <form action="https://rmc-aeon.library.cornell.edu/aeon/boom_login.html" method="GET" class="mt-4"> 
    <input type="hidden" name="authenticated" value="true" />
    <input type="hidden" name="target" value="<%= target %>" >
    <input type="submit" value="Cornell affiliates with a NetID" class="btn btn-outline-dark" />
  </form>

  <form action="https://rmc-aeon.library.cornell.edu/nonshib/boom.html" method="GET" style="margin-top: 30px;">
    <input type="hidden" name="target" value="<%= target %>" >
    <input type="submit" value="Public users without a Cornell NetID" class="btn btn-outline-dark" />
  </form>
</div>
</div>
</div>


				
