<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>RMC Registration and Request System</title>
		<%= render :partial => 'aeon/header_meta' %>
		<%= render :partial => 'aeon/header_styles' %>
		<%= render :partial => 'aeon/header_scripts' %>
	</head>
	<body>
		<%= render :partial => 'aeon/new_aeon_login_body' %>	
	</body>
</html>
