input.search-query { width: 35%; }
#field,
#sort,
#per_page { margin-bottom: 0; }
.sort,
.per_page {
  display: inline;
  margin-right: .6em;
}
.sort_group { margin: 1em 0; }

.single-search {
  .form-group {
    width: 80%;
  }
  .search-query {
    width: 100%;
  }
}

#top2 {
  .search-source {
    margin-top: 0;
  }
}
.bento_box .span3 p {
  padding:1em;
}

.result-totals {
  font-size: 1em;
  float: right;
  font-weight: normal;
  color: $light-gray;
  padding-left: .5em;
  i {
    color:$dark-tan
  }
}
div.view-all {
  text-align: center;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
  .engine-title{
    text-transform: lowercase;
  }
  .all-link {
    margin-top: .5em;
  }
}
.bento_item_row {
   margin-bottom: .5em;
   line-height: 1.4em;
}

// Bento grid
// -----------------------------------------------//
#grid div {margin:0}
.web-pane{
  clear:both;
  position:relative;
  margin-bottom:2em;
}

// Bento box
// -----------------------------------------------//
.search-pane {
  margin-bottom: 2em;
}
.search-source {
  font-size: 24px;
  margin: 0 0 .25em 0;
  i { color: $concrete}
  a {
    color: $dark-gray;
    border: none;
  }
  a:hover {
    text-decoration: none;
    border: none;
  }
}
.bento_item {
  margin-top: .6em;
  padding-bottom: .4em;
  border-bottom: 1px solid $light-tan;
}
.bento_item_title {
  margin: 0 0 .5em 0;
  font-weight: normal;
  line-height: 1.25em;
}
.bento_item_body {
  font-size: 14px;
}

.web-results {
  margin-bottom: 2em;
}
.abstract {
  font-size: 14px;
}
.back-to-search {
  font-size:1.3em;
}

// EDS links
.bento_search_link {
  margin-right: .5em;
}

// Library Website results
// -----------------------------------------------//
.web-count {
  margin-bottom: 20px;
}
.web {
  .bento_item {
    margin-bottom: 1em;
  }
}

 .bento_compartment {
    border-bottom: 5px solid #edebe7;
    .top-view-all {
      position:relative;
      top:20px;
      font-size:1em;
    }
 }

 .bento_box {
  padding: 1em 0 0 0;
  }


// Best bet
// -----------------------------------------------//

// See .highlight-box in _base.scss

.bento-box {
  position:relative;
  margin-bottom:2em;
  padding-right:2em;
}

// Sidebar
// -----------------------------------------------//
// expand-search rules also apply to catalog
.expand-search,
#formats {
  ul {
    margin-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  li {
    margin-bottom: .75rem;
    line-height: 1.5em;
    font-size: 1rem;
  }
  i {
    color: $link-color;
    margin-right: .25em;
  }
  p {
    font-size: 12px;
  }
  h5 {
    font-size: 14px;
  }
  .panel {
    margin-bottom: 10px;
  }
}
#formats {
  li {
    font-size: .9rem;
  }
}
#more-results {
  margin-left: 0;
}
.bento_box {
  .top-panel-heading {
    padding: 0;
    border-radius: 0;
    border: 0 !important;
    overflow: hidden;
    margin-bottom: 1em;
  }
}

#formats {
  i {
    color: $dark-gray;
  }
}

// Repositories results page
// -------------------------------- //

.institutionalrepository-search {
  .form-group {
    .ir-search {
      width: 100%;
    }
  }
}
.blacklight-institutional_repositories {
  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: .2em;
    border-bottom: 5px solid $light-tan;
  }
}

// Search options - customized from the same markup as catalog home page
// -----------------------------------------------------------------------//
.search-index,
.blacklight-search-index {
  .other-resources {
    border-top: 1px solid $tan;
    padding-top: 1em;
    margin-top: 1.5em;
    h2 {
      font-size: 14px;
      text-transform: uppercase;
    }
    .blacklight-nav {
      float: none;
      padding-left: 1rem;
    }
  }
}

.empty-single-search {
  margin-top: 2em;
  form {
    padding-bottom: 2.5em;
  }
  h2 {
    line-height: normal;
    margin: 0 0 .25em;
  }
}

.bento_compartment {
  .web {
    margin-top:2em;
  }
}

.top-row {
  padding-bottom:2em;
}

.no-book-results {
  font-size:1.3em;
  padding-top:.5em;
}

.results-collapse {
  .card-header {
    h4 {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
}

// Jump links
// -----------------------------------------------//

.top-results {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: .3rem;
  padding-right: .75rem;
}
#jumpbar {
  padding-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1em;
  li {
    font-size: 14px;
  }
  a {
    padding-right: 1em;
    border-bottom: none;
  }
  a:hover {
    border: none;
  }
  i {
    color: $dark-tan;
  }
}

// Mobile helper links - top and all results
// -----------------------------------------------//
.top-link {
  text-align: center;
  margin: .5em 0;
  i {
    color: $dark-tan;
  }
}

// Match autocomplete suggestions to main site
// -----------------------------------------------//
.ui-widget {
  font-family: $font-family-base !important;
  li { font-size: 16px; }
}

// give summon alert a little more space between it and the header
.item {
  .alert { margin-top: 1em; }
}

// Search info -- tooltip on home page -- lifted from CUL site
.search-info {
  font-size: 13px;
  float: right;
  a {
    color: $medium-gray;
    cursor: pointer;
  }
}
.tooltip-inner {
  padding: 10px 12px;
  font-size: 13px;
  background: $dark-gray;
  text-align: left;
}

// Availability
// -----------------------

.bento_item_avail {
  font-size: 14px;
  margin-bottom: .5em;
}

// Advanced search link
.bento_pane_advanced {
  font-size: 12px;
  font-weight:500;
}

.all-results-header {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  .bento_box {
    .top-panel-heading {
      margin-bottom: 0;
    }
    h4 {
      margin-top: 0;
    }
  }
  .search-pane {
    margin-bottom: 1em;
  }
  // Grid
  .bento1 {
    width: 45%;
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
  }
  .bento2 {
    width: 45%;
    float: right;
    margin-bottom: 2em;
  }
  .bento3 {
    margin-right:3em;
    width:45%;
    float:left;
    clear:left;
    margin-bottom:2em;
  }
  .bento4 {
    width:45%;
    float:right;
    clear:right;
    margin-bottom:2em;
  }
  .bento5 {
    width:45%;
    float:left;
    clear:left;
    margin-bottom:2em;
  }
  .bento6 {
    width:45%;
    float:right;
    clear:right;
    margin-bottom:2em;
  }
  .bento7 {
    width:100%;
    clear:both;
    margin-bottom:2em;
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .results-collapse,
  .results-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
  .single-search {
    .form-group {
      width: 60%;
    }
  }
  .web-count {
    text-align: right;
    margin-top: 20px;
  }
  .search-index {
    .other-resources {
      .blacklight-nav {
        padding-left: 0;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .top-results {
    float: left;
  }
}

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }