---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"BAD_BARCODE"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Problem":{"Code":"PUBAN003","Message":"Authentication failed[NCIP_MSG:Unknown
        User - #Unknown borrower barcode - please refer to the circulation desk.]"}}'
  recorded_at: Thu, 15 Oct 2015 15:14:35 GMT
recorded_with: VCR 2.9.3
