<%
  libs = ["All",
	  "Online",
	  "Adelson Library",
	  "Africana Library",
	  "Bailey Hortorium",
	  "CISER Data Archive",
	  "Fine Arts Library",
	  "ILR Library",
	  "ILR Library Kheel Center",
	  "Kroch Library Asia",
	  "Kroch Library Rare & Manuscripts",
	  "Law Library",
	  "Library Annex",
	  "Mann Library",
	  "Mathematics Library",
	  "Music Library",
	  "Nestle Library",
	  "Olin Library",
	  "Sage Hall Management Library",
	  "Space Sciences Building",
	  "Uris Library",
	  "Veterinary Library"
	]
%>
<div id="location-filter-dropdown dropdown">
    <a href="#" class="btn btn-default btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" id="location-filter-menu" aria-haspopup="true" aria-expanded="false">Availability</a>
    <div class="dropdown-menu" role="menu" aria-labelledby="location-filter-menu">
        <% libs.each { |lib| %>
            <% 
			lib_encoded = CGI::escape(lib)
            if params[:fq] && params[:fq].include?("location")
                checked = params[:fq] == "location:\"#{lib_encoded}\"" ? '✓ ' : ''
	        elsif params[:fq] && params[:fq].include?("online")
	            checked = params[:fq] == "online:\"#{lib_encoded}\"" ? '✓ ' : ''
            else 
                checked = lib == 'All' ? '✓ ' : ''
			end
			start = params.has_key?(:start) ? params[:start] : 0
			order = params.has_key?(:order) ? params[:order] : 'forward'
            %>
            <% if lib == 'All' %>
                <div class="dropdown-item">
                    <%= link_to "#{checked}#{lib}", :start => start, :browse_type => params[:browse_type], :authq => params[:authq], :order => order %>
                </div>
            <% elsif lib == 'Online' %>
                <div class="dropdown-item">
                    <%= link_to "#{checked}#{lib}", :fq => "online:\"#{lib_encoded}\"", :start => start, :browse_type => params[:browse_type], :authq => params[:authq], :order => order %>
                </div>
            <% else %>
                <div class="dropdown-item">
                    <%= link_to "#{checked}#{lib}", :fq => "location:\"#{lib_encoded}\"", :start => start, :browse_type => params[:browse_type], :authq => params[:authq], :order => order %>
                </div>
            <% end %>
        <% } %>
        </ul>
</div>