.headings-list
	.headings-header.row.hidden-phone
		.span1
			Titles
		.span8
			Headings
		.span3
			Type
	.headings-body
		-if response.present? 
			=response.inspect
			- response.each do |data|

				.document
					.row
						.span1
							-if data["worksAbout"].present? 
								=data["worksAbout"]
						
						.span8
							-if data["worksBy"].present? && data["worksBy"] > 0
								-if params[:browse_type] == "Author" 
									= link_to '/?q="' + data["heading"] + '"&search_field=author%2Fcreator' do
										=data["heading"]
								-if params[:browse_type] == "Subject"
									= link_to '/?q="' + data["heading"] + '"&search_field=subject' do
										=data["heading"]
							- else
								=data["heading"]
							
							-if !data["seeAlso"].nil? || !data["notes"].nil?  || data["mainEntry"] == true
								=link_to '/browse/info?q=' + data["heading"] +"&browse_type=" + params[:browse_type] do
									%span.label.label-info
										Info
												
							-if !data["preferedForm"].blank?
								-data["preferedForm"].each do |f|
									-unless f.blank?
										.see-ref
											%i.fa.fa-arrow-right
											See
											= link_to "/browse?q=" + f.split("|")[0] + "&start=0" +"&browse_type=" + params[:browse_type]do
												=f.split("|")[0]
											.see-ref-count
												
						.span3.heading-type
							=data["headingTypeDesc"]