<div class="col-sm-12">
	<h2>Browse</h2>
	<p>Browse through an alphabetical list of authors, authors sorted-by-title, and subjects, to find books and other materials. Below are some tips and examples for constructing effective browses:</p>
	<div class="browse-tips">
		<h3>Author</h3>
		<ul class="list-unstyled">
			<li>Enter the author's last name first. For example: Dickens, Charles</li>
		</ul>
		<h3>Author (sorted by title)</h3>
		<ul class="list-unstyled">
			<li>Enter the author’s last name first. The results will be grouped by title. For example: Shakespeare, William</li>
			<li>To enter author and title, use > or |. For example: Beethoven, Ludwig van, 1770-1827 | Fidelio</li>
		</ul>
		<h3>Subject</h3>
		<ul class="list-unstyled">
			<li>Enter broad subject terms. For example: Universities and colleges</li>
			<li>To enter subject subdivisions, use > or |. For example: China > History</li>
		</ul>
	</div>	
</div>