<div class="col-sm-12">
	<p>The Browse feature allows you to browse through an alphabetical listing of authors, authors sorted-by-title, and subjects, to find books and other materials. Below are some tips and examples for constructing effective browses.</p>

	<p><strong>Author</strong><br>
	Enter the author's last name first. For example: dickens, charles.</p>
	<p><strong>Author (sorted by title)</strong><br>
	Enter the author’s last name first. For example: shakespeare william The results will be grouped by title.
	<p><strong>Subject</strong><br>
	Enter broad subject terms. For example universities and colleges.</p>
</div>