.headings-list
	.headings-body
		-if response.present? 
			- response.each do |data|
				.document
					.row
						.span1
							(title count)
						
						.span7
							= link_to '/?q="' + data["heading"] + '"&search_field=author%2Fcreator' do
								=data["heading"]
							-if !data["seeAlso"].nil? || !data["notes"].nil?
								.see-ref
									=link_to '/browse/info?q=' + data["heading"] +"&browse_type=" + params[:browse_type] do
										%span.label.label-info
											Info
												
							-if !data["preferedForm"].nil?
								-data["preferedForm"].each do |f|
									%p
										See
										= link_to "/browse?q=" + f.split("|")[0] + "&start=0" +"&browse_type=" + params[:browse_type]do
											=f.split("|")[0]
										(title count)
						.span4
							=data["headingTypeDesc"]
