<p>The "Begins With" search allows you to browse through an alphabetical listing of subjects, authors, titles, etc. to find the book you need. It is the easiest way to locate a book if you know the exact title or the author's entire name. Below are some tips for constructing effective browse searches.

Author
enter the author's last name first. For example: dickens, charles.
Call Number
enter the entire call number to be able to virtually browse the stacks
Subject
enter subject terms using the Library of Congress Subject Headings. These subject headings, in general, begin with a broad topic and then narrow down through sub-topics. They also refer you to other relevant subject headings. Basic or Advanced Search may be better if you do not know the specific subject heading terminology.
</p>