<div class="col-sm-12">
	<p>Browse through an alphabetical list of authors, authors sorted-by-title, and subjects, to find books and other materials. Below are some tips and examples for constructing effective browses:</p>

	<!-- <p><strong>Author</strong><br>
	Enter the author's last name first. (Example: dickens, charles)</p>
	<p><strong>Author (sorted by title)</strong><br>
	Enter the author’s last name first. The results will be grouped by title. (Example: shakespeare, william)<br>
	To enter author and title, use > or |. (Example: Beethoven, Ludwig van, 1770-1827 | Fidelio)</p>
	<p><strong>Subject</strong><br>
	Enter broad subject terms. (Example: universities and colleges)<br>
	To enter subject subdivisions, use > or | (Example: China > History or  China. | Constitution)</p> -->
	<div class="browse-tips">
		<h3>Author</h3>
		<ul>
			<li>Enter the author's last name first. (Example: dickens, charles)</li>
		</ul>
		<h3>Author (sorted by title)</h3>
		<ul>
			<li>Enter the author’s last name first. The results will be grouped by title. (Example: shakespeare, william)</li>
			<li>To enter author and title, use > or |. (Example: Beethoven, Ludwig van, 1770-1827 | Fidelio)</li>
		</ul>
		<h3>Subject</h3>
		<ul>
			<li>Enter broad subject terms. (Example: universities and colleges)</li>
			<li>To enter subject subdivisions, use > or |. (Example: China > History or China. | Constitution)</li>
		</ul>
	</div>	
</div>