= render :partial => 'headings_search_form'
.row.database-subject
	.page-title.span12
		.return-link
			=link_to "/browse/" do
				%i.fa.fa-arrow-circle-left
				Back to Browse
		%h2
			

- if @headingsResponse.present?
	%h3
		Browse " 
		=params[:q]
		-if params[:browse_type] == "Author"
		" in author headings
		-if params[:browse_type] == "Subject"
		" in subject headings
		-if params[:browse_type] == "AuthorTitle"
		" in author-title headings
	-start = Integer(params[:start]) + 20
	-start = start.to_s
	= link_to "/browse/authors?q=" + params[:q] + "&start=" + start do
		Next
	= render 'heading', :response => @headingsResponse

- else
	%h2
		No results
