
= render :partial => 'headings_search_form'
- if params[:q].nil?
	=render :partial => 'headings_text'

- if @headingsResponse.present?
	.row.database-subject
		.page-title.span12
			.return-link
				=link_to "/browse/" do
					%i.fa.fa-arrow-circle-left
					Start over
			

- if @headingsResponse.present?
	%h3
		Browse "
		=params[:q]
		" in author headings
	=render 'pagination'
	-if params[:order] == "reverse"
		= render 'heading', :response => @headingsResponse.reverse
	-else
		= render 'heading', :response => @headingsResponse

- if !params[:q].blank? && @headingsResponse.blank? && params[:browse_type].present?
	%h2
		No results

- if params[:browse_type].present? && @headingsResponse.blank? && params[:q].blank?
	%h2
		Please enter a query


- if @headingsResponse.present?
	=render 'pagination'