
= render :partial => 'headings_search_form'
- if params[:q].nil?
	=render :partial => 'headings_text'

- if @headingsResponse.present?
	.row.database-subject
		.page-title.span12
			.return-link
				=link_to "/browse/" do
					%i.fa.fa-arrow-circle-left
					Back to Browse
			

- if @headingsResponse.present?
	%h3
		Browse " 
		=params[:q]
		" in author headings
	-nextpage = Integer(params[:start]) + 20
	-nextpage = nextpage.to_s
	-previous = Integer(params[:start]) - 20
	-previous = previous.to_s
	- if Integer(params[:start]) > 0
		= link_to "/browse?q=" + params[:q] + "&start=" + previous +"&browse_type=" + params[:browse_type] do
			Previous |
	= link_to "/browse?q=" + params[:q] + "&start=" + nextpage +"&browse_type=" + params[:browse_type] do
		Next
	= render 'heading', :response => @headingsResponse

- if !params[:q].blank? && @headingsResponse.blank? && params[:browse_type].present?
	%h2
		No results

- if params[:browse_type].present? && @headingsResponse.blank? && params[:q].blank?
	%h2
		Please enter a query
