<!-- NOTE: THIS TEMPLATE IS JUST FOR MOCKUP AND PRESENTATION PURPOSES; IT SHOULD BE DELETED AT SOME POINT -->

<h2>Author and subject headings</h2>

<div class="well">
	<div class="search-tools">
      <form accept-charset="UTF-8" action="/" class="search-form" method="get">
        <input name="id" type="hidden" value="5033822" />
          <div class="row-fluid">
            <div class="search-options span6">
              <label for="q" class="hide-text">Search...</label>
              <input autocapitalize="off" class="search-query phone-search-query" id="q" name="q" placeholder="Search..." type="text" value="heart attack" />
            </div>
          	<label for="search_field" class="hide-text">Search in</label>
          	<select class="span4" id="search_field" name="search_field" title="Targeted search options">
          		<option value="author">Author</option>
				<option value="author_title">Author-Title</option>
				<option value="subject" selected>Subject</option>
		  	</select>
            <span class="search-or-reset span2">
              	<input type="submit" class="btn btn-inverse hidden-phone" id="search" value="Search">
              	<span class="submit-search-text hide-text">Search</span>
              	<button id="search-btn" class="btn mobile-search-btn visible-phone btn-inverse" type="submit">
                	<i class="fa fa-search fa-inverse"></i>
              	</button>
            </span>
          </div>
		</form>     
    </div>
</div>

<h3>Browse "heart attack" in subject headings</h3>



<div class="results-info">
  	<span class="results-count">
  		<a href="#">&laquo; Previous</a> | <!--  <strong>1</strong> - <strong>20</strong> of <strong>20</strong> |   --><a href="/?f%5Bformat%5D%5B%5D=Book&amp;page=2" rel="next">Next &raquo;</a>
	</span>
</div>

<div class="headings-list">
	<div class="headings-header">
		<div class="row">
			<div class="span1">
				Titles
			</div>
			<div class="span7">
				Headings
			</div>
			<div class="span4">
				Type
			</div>
		</div>
	</div>
	<div class="headings-body">
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Heart attack<br>
					<div class="see-ref"><em>See</em> <a href="/headings_subject">Myocardial infarction</a> <span class="see-ref-count">(16 titles)</span></div>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Auscultation</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					14
				</div>
				<div class="span7">
					<a href="/?utf8=✓&utf8=✓&q=&quot;Heart+beat&quot;&search_field=subject">Heart beat</a> <a href="/headings/heading_subject"><span class="label label-info">Info</span></a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					2
				</div>
				<div class="span7">
					<a href="#">Heart beat--History</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart beat--Mathematical models.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart beat--Statistics</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart beat--Biblical teaching</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart block</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart--Blood-vessels</a> <a href="#"><span class="label label-info">Info</span></a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Butte Dam.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Heart Butte Reservoir (N.D.)<br>
					<div class="see-ref"><em>See</em> <a href="#">Tschida, Lake (N.D.)</a> <span class="see-ref-count">(1 title)</span></div>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Heart bypass surgery<br>
					<div class="see-ref"><em>See</em> <a href="#">Coronary artery bypass</a> <span class="see-ref-count">(6 titles)</span></div>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart--Care and hygiene--Periodicals.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					2
				</div>
				<div class="span7">
					<a href="#">Heart--Catheterization.</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					
				</div>
				<div class="span7">
					Heart--Catheterization<br>
					<div class="see-ref"><em>See</em> <a href="#">Cardiac catheterization</a> <span class="see-ref-count">(7 titles)</span></div>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Catheterization--Atlases.</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart Catheterization--methods.</a>
				</div>
				<div class="span4">
					MESH
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					11 
				</div>
				<div class="span7">
					<a href="/?utf8=✓&utf8=✓&q=&quot;Heart+cells&quot;&search_field=subject">Heart cells</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					4
				</div>
				<div class="span7">
					<a href="#">Heart cells--Congresses.</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span1">
					1
				</div>
				<div class="span7">
					<a href="#">Heart cells--Electric properties</a>
				</div>
				<div class="span4">
					Library of Congress subject headings
				</div>
			</div>
		</div>
	</div>
</div>
