-if @headingsResponse.present? 
	.return-link
		=link_to "/browse/" do
			%i.fa.fa-arrow-circle-left
			Back to list
	- @headingsResponse.each do |data|
		%h2
			=data["heading"]
		.titles-count
			(n titles)

		%dl
			- if !data["notes"].nil?
				%dt
					Scope note
				%dd
					-data["notes"].each do |n|
						=n
			%dt
				Reference info
			%dd
				.reference
					-if !data["seeAlso"].nil?  
						-if data["seeAlso"].present?
							- data["seeAlso"].each do |a|
								-a_link = a.split("|")[0]
								-a_note = a.split("|")[1]
								-aq = a_link.gsub!(' ', '%20')
								-refclnt = HTTPClient.new
								-@seeAlsoResultString = refclnt.get_content('http://da-dev-solr.library.cornell.edu/solr/a3/authors?q="' + aq + '"' )
								-if !@seeAlsoResultString.nil?
									-@seeAlsoResponseFull = eval(@seeAlsoResultString)
								-else
									-@seeAlsoResponseFull = eval("Could not find")
								-@seeAlsoResponse = @seeAlsoResponseFull['response']['docs']
								- if a_note.present?
									.reference-note
										=a_note + ':'

								- if a_note.nil?
									.reference-note
										See also:
								=link_to "/browse?q=" + a_link + "&start=0" + "&browse_type=" + params[:browse_type] do
									=a_link.gsub!('%20', ' ')
								-@seeAlsoResponse.each do |sa|
									
									-unless sa["seeAlso"].blank? && sa["notes"].blank?
										=link_to "/browse/info?q=" + a_link + "&start=0" + "&browse_type=" + params[:browse_type]do
											%span.label.label-info
												Info
								.author-works
									Works by:
									= link_to '/?q="' + a_link + '"&search_field=author%2Fcreator' do
										(title count)
								.author-works
									Works about:
									= link_to '/?q="' + a_link + '"&search_field=subject' do
										(title count)
			%dt
				Headings type
			%dd
				=data["headingTypeDesc"]


	
