-if @headingsResponse.present? 
	.return-link
		=link_to "/browse?q=" + params[:q] + "&browse_type=" + params[:browse_type] + "&start=0"do
			%i.fa.fa-arrow-circle-left
			Back to list
	- @headingsResponse.each do |data|
		%h2
			=data["heading"]
		-if data["recordCount"].present?
			.titles-count
				-if params[:browse_type] == "Author" 
					= link_to '/?q="' + data["heading"] + '"&search_field=author%2Fcreator' do
						=data["recordCount"]
						Title(s)
				-if params[:browse_type] == "Subject"
					= link_to '/?q="' + data["heading"] + '"&search_field=subject' do
						=data["recordCount"]
						Title(s)

		%dl
			- if !data["notes"].nil?
				%dt
					Scope note
				%dd
					-data["notes"].each do |n|
						=n
			%dt
				Reference info
			%dd
				.reference
					
					-if !data["seeAlso"].nil?  
						-if data["seeAlso"].present?
							- data["seeAlso"].each do |a|
								-a_link = a.split("|")[0]
								-a_note = a.split("|")[1]
								-aq = URI::encode(a_link)
								-refclnt = HTTPClient.new
								-if params[:browse_type] == "Author"
									-@seeAlsoResultString = refclnt.get_content('http://da-dev-solr.library.cornell.edu/solr/a7/authors?q="' + aq + '"' )
								-if params[:browse_type] == "Subject"
									-@seeAlsoResultString = refclnt.get_content('http://da-dev-solr.library.cornell.edu/solr/a7/subjects?q="' + aq + '"' )
								-if !@seeAlsoResultString.nil?
									-@seeAlsoResponseFull = eval(@seeAlsoResultString)
								-else
									-@seeAlsoResponseFull = eval("Could not find")
								-@seeAlsoResponse = @seeAlsoResponseFull['response']['docs']
								- if a_note.present?
									.reference-note
										=a_note + ':'

								- if a_note.nil?
									.reference-note
										See also:
								=link_to "/browse?q=" + a_link + "&start=0" + "&browse_type=" + params[:browse_type] do
									=a_link
								-@seeAlsoResponse.each do |sa|
									
									-unless sa["seeAlso"].blank? && sa["notes"].blank?
										=link_to "/browse/info?q=" + a_link + "&start=0" + "&browse_type=" + params[:browse_type]do
											%span.label.label-info
												Info
								- if params[:browse_type] == "Author"
									.author-works
										Works by:
										= link_to '/?q="' + a_link + '"&search_field=author%2Fcreator' do
											(title count)
								.author-works
									Works about:
									= link_to '/?q="' + a_link + '"&search_field=subject' do
										(title count)
					-if !data["alternateForm"].nil?
						.reference-note
							Alternate form(s):
						-data["alternateForm"].each do |af|
							.alternate-form
								=af
			%dt
				Headings type
			%dd
				=data["headingTypeDesc"]


	
