<a href="/headings" class="return-link" title="return to previous page">
    <i class="fa fa-arrow-circle-left"></i> Back to headings
</a>

<h2>Clemens, Samuel Langhorne, 1835-1910</h2>
<div class="titles-count"><a href="/?utf8=✓&q=&quot;Clemens%2C+Samuel+Langhorne%2C+1835-1910.&quot;&search_field=author%2Fcreator">12 titles</a></div>

<dl>
	<dt>Scope note</dt>
	<dd>
		Works by this author are identified by the name used in the item. For a listing of other names using by this author, search also under:<br>
		<a href="/headings">Twain, Mark, 1835-1910</a>
	</dd>
	<dt>Reference Info</dt>
	<dd>
		<div class="reference">
			<em>See Also:</em><br>
			<a href="/headings">Twain, Mark, 1835-1910</a> <a href="#"><span class="label label-info">Info<span></a>
			<div class="author-works">Works by: <a href="/?utf8=✓&q=&quot;Twain%2C+Mark%2C+1835-1910.&quot;&search_field=author%2Fcreator">547 titles</a></div>
			<div class="author-works">Works about: <a href="/?click_to_search=true&commit=search&q="Twain%2C+Mark%2C+1835-1910"&search_field=subject">548 titles</a></div>
		</div>
	</dd>
	<dt>Headings Type</dt>
	<dd>Personal Name</dd>
</dl>

<div class="librarian-view"><a href="#">Librarian view</a></div>