<!-- NOTE: THIS TEMPLATE IS JUST FOR MOCKUP AND PRESENTATION PURPOSES; IT SHOULD BE DELETED AT SOME POINT -->

<a href="/headings_subject" class="return-link" title="return to previous page">
    <i class="fa fa-arrow-circle-left"></i> Back to headings
</a>

<h2>Heart beat</h2>
<div class="titles-count"><a href="#">14 titles</a></div>

<dl>
	<dt>Reference Info</dt>
	<dd>
		<div class="reference">
			<em>Narrow Term:</em><br>
			<a href="/headings_subject">Arrythmia</a> (<a href="?utf8=✓&utf8=✓&q=Arrythmia&search_field=subject">33 titles</a>) <a href="#"><span class="label label-info">Info</span></a>
		</div>
		<div class="reference">
			<em>Narrow Term:</em><br>
			<a href="/headings_subject">Palpitation.</a> (<a href="?utf8=✓&utf8=✓&q=Palpitation&search_field=subject">14 titles</a>)
		<div class="reference">
			<em>See Also:</em><br>
			<a href="/headings_subject">Heart--Contraction</a> (<a href="?utf8=✓&utf8=✓&q=Heart--Contraction&search_field=subject">7 titles</a>)
		</div>
		<div class="reference">
			<em>See Also:</em><br>
			<a href="/headings_subject">Pulse</a> (<a href="?utf8=✓&utf8=✓&q=Pulse&search_field=subject">77 titles</a>)
		</div>
	</dd>
	<dt>Headings Type</dt>
	<dd>Library of Congress subject headings</dd>
</dl>

<div class="librarian-view"><a href="#">Librarian view</a></div>