/* 
    custom.css
    Any site-specific CSS customization should be added to this file.
    This file overrides the defaults in aeon.css, which should not be altered.
*/

/* CUL logo */
.cornell-logo {
    background: url("images/CULibraryRed.svg") no-repeat;
}
.insignia {
    float: left;
    margin-right: .5em;
    width: 100px;
    height: 100px;
    text-indent: -99999em;
}
.library-brand a {
    text-indent: -99999em;
    display: block;
    width: 160px;
    height: 100px;
    margin-left: 150px;
}

/* CUL mobile logo */
.mobile-cornell-logo {
    background: url("images/cornell-reduced-red.svg") no-repeat;
    width: 200px;
    height: 45px;
    display: block;
    text-indent: -99999em;
}
.library-brand-mobile {
    display: block;
    background: url("images/CULWordmark.svg") no-repeat;
    text-indent: -99999em;
    width: 120px;
    height: 45px;
    margin-top: .5rem;
}
h1 {
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
    margin-bottom: 0;
    color: #222;
}