<% if defaultRightsText.present? %>
  <table class="table table-bordered table-striped">
    <caption class="sr-only">License terms and permissions for this resource</caption>
    <thead>
    <tr>
      <th scope="col">
        License Term
      </th>
      <th scope="col">
        Note
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Authorized Users
      </td>
      <td>
        Faculty, Staff, Students, Walk-in users, Weill Medical
      </td>
    </tr>
    <tr>
      <td>
        Permitted - (Digitally Copy)
      </td>
      <td>
        Authorized Users may electronically display, download, print, and digitally copy a reasonable portion
        (generally one or two articles or one book chapter) of the Licensed Materials.
      </td>
    </tr>
    <tr>
      <td>
        Restricted - Other Use Restrictions (Public Note)
      </td>
      <td>
        Authorized users are not permitted to modify or create a derivative work of the Licensed Materials, may
        not remove, obscure or modify any copyright or other notices included in the Licensed Materials, and may
        not use the Licensed Materials for commercial purposes, including but not limited to the sale of the
        Licensed Materials or bulk reproduction or distribution of the Licensed Materials in any form without
        the prior written permission of Licensor.
      </td>
    </tr>
    </tbody>
  </table>
<% end %>