<div class="col-sm-4 as-tips">
  <h3>Search Tips</h3>
  <ul>
    <li>
      Using the first dropdown in each row, select how the terms should be used in the search:
        <dl class="as-examples dl-horizontal">
          <dt><strong>all</strong></dt>
          <dd>cloning AND ethics</dd>
          <dt><strong>any</strong></dt>
          <dd>adolescents OR teenagers</dd>
          <dt><strong>begins with</strong></dt>
          <dd>one hundred years of solitude</dd>
          <dt><strong>phrase</strong></dt>
          <dd>"financial aid"</dd>
        </dl>
    </li>

    <li>Results can be filtered by date, language, format, etc., after submitting the search.
    </li>

    <li>Truncation, wildcards and word stemming are supported.
    </li>
  </ul>
  <p><a href="https://www.library.cornell.edu/help/catalog#advanced">More search tips</a></p>
</div> <!-- .col-sm-4 -->