<% @page_title = "Advanced Search Edit - #{application_name}" %>
<!-- <h2 class="advanced">Advanced search</h2> -->
<%= render 'edit_advanced_search_form' %>
<%- sidebar_items << capture do -%>
  <%= render "advanced_search_help" %>
<%- end -%>
