<% @page_title = "Advanced Search - #{application_name}" %>
      <%#= hidden_field_tag(:search_field, 'advanced') %>
      <%= hidden_field_tag(:advanced_query, 'yes') %>
      <% params[:advanced_query] = 'yes' %>

<!-- <h2 class="advanced">Advanced search</h2> -->
<%= render 'advanced_search_form' %>

<%- sidebar_items << capture do -%>
  <%= render "advanced_search_help" %>
<%- end -%>
