---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=9mbA5poOXYxRq_U0-VpYxtNyUEU
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9780143037248"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchTerm":"isbn=9780143037248","RequestLink":{"ButtonLink":"AddRequest","ButtonLabel":"Request","RequestMessage":"Request
        this item"},"PickupLocation":[{"PickupLocationCode":"E","PickupLocationDescription":"*Milton
        S. Eisenhower Library"},{"PickupLocationCode":"A","PickupLocationDescription":"Arthur
        Friedheim Library"},{"PickupLocationCode":"B","PickupLocationDescription":"Columbia
        Center"},{"PickupLocationCode":"C","PickupLocationDescription":"Harbor East"},{"PickupLocationCode":"D","PickupLocationDescription":"Montgomery
        Library Resource Center"},{"PickupLocationCode":"F","PickupLocationDescription":"JHU
        Homewood Office (faculty and grad students)"},{"Pick[...]
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=Z5Z3L9jAgmJWaXrxQEHLN-YP_Yw
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"043783350X"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchT[...]
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=fAHKNER_ZPLjI7wlNdFQTJsHjVI
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"0060258187"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchT[...]
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=vYVghtywBLTMAuQiCeJ_GCzxu_s
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"0517514028"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchT[...]
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"384hRfyh18S-VjZwm0jX4l5zQrk","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Thu, 15 Oct 2015 18:04:53 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=384hRfyh18S-VjZwm0jX4l5zQrk
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"1444367072"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=1444367072","RequestLink":{"ButtonLink":"http://findit.library.jhu.edu/resolve?genre=Book&sid=BD&HeldLocally=N&rft.title=International%20encyclopedia%20of%20ethics&rft.date=2013&rft.isbn=9781444367072%20%28electronic%20bk.%29\n&rft.isbn=1444367072%20%28electronic%20bk.%29&rft.dat=829259960&rft.pub=Wiley-Blackwell&rft.place=Malden%2C%20MA","ButtonLabel":"Request","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}'
  recorded_at: Thu, 15 Oct 2015 18:04:56 GMT
recorded_with: VCR 2.9.3
