---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"<BD_API_KEY>","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"CORNELL","PatronId":"<TEST_USER_BARCODE>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"gfpgthDG7g_OVIC5d4JLVHJPm-M","LibrarySymbol":"CORNELL","Iso639_2_LangCode":"ENG","FirstName":"<TEST_FIRSTNAME>","LastName":"<TEST_LASTNAME>","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 18:39:20 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=gfpgthDG7g_OVIC5d4JLVHJPm-M
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"1"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=1","RequestLink":{"ButtonLink":"http://newcatalog.library.cornell.edu/catalog/89018","ButtonLabel":"View
        in the CORNELL Library Catalog.","RequestMessage":"This item is available
        locally."},"NumberOfRecords":313}'
  recorded_at: Tue, 05 Apr 2016 18:39:36 GMT
recorded_with: VCR 3.0.0
