---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"<BD_API_KEY>","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"CORNELL","PatronId":"<TEST_USER_BARCODE>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"gLSaFauRvm341d_hsaOG1xftZ0M","LibrarySymbol":"CORNELL","Iso639_2_LangCode":"ENG","FirstName":"<TEST_FIRSTNAME>","LastName":"<TEST_LASTNAME>","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 18:40:22 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=gLSaFauRvm341d_hsaOG1xftZ0M
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"PHRASE","Value":"ZVBXRPL"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Problem":{"ErrorCode":"PUBFI002","ErrorMessage":"No result"}}'
  recorded_at: Tue, 05 Apr 2016 18:40:27 GMT
recorded_with: VCR 3.0.0
