    <div data-ajax-modal="container">
    <div id="ajax-modal">
      <div class="modal-header clearfix">
        <h1 class="modal-title"><%= t('blacklight.bookmarks.email.title') %></h3>
        <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
  
      <div class="modal-body">
        <h2><%= t('blacklight.bookmarks.email.warning') %></h2>
        <%= link_to t('blacklight.bookmarks.email.action.bookmarks_view'), addbookmarks_index_path %>
      </div>


      <div class="modal-footer">
        <%= link_to "Cancel", 'bookmarks', :class => "submit button dialog-close", :data => {:dismiss => "modal"} %>
      </div>
    </div>
    </div>