- @holdings_detail.each do| bib, entry|
  -## No point continuing if there are no item records for this holding
  - if entry['records'].size > 0
    -## locnumber was used initially, but we want to know whether there are
    -## multiple available or unavailable and we can get that from avail_at
    -## and not_avail_at, respectively
    -# multiple_locations = entry['summary']['locnumber'] > 1 ? true : false
    - available = entry['summary']['avail_at']
    - unavailable = entry['summary']['not_avail_at']
    - multiple_locations = 'Multiple locations'
    - onotes = ''
    - if entry['summary']['onotes'].size > 0
      - onotes = entry['summary']['onotes'][0]
    - if available.size > 0
      - if available.size === 1
        - location = available.keys()[0]
        - callnumber = available[location]
      - else
        - location = multiple_locations
      %i.icon-ok{:title => 'Available'}
    - elsif unavailable.size > 0
      - if unavailable.size ===1
        - location = unavailable.keys()[0]
        - callnumber = unavailable[location]
      - else
        - location = multiple_locations
      %i.icon-time{:title => 'Available by request'}
    - else
      - location = entry['summary']['holdinglocs'][0]
      - callnumber = entry['records'][0]['call_number']
      %i.icon-time{:title => 'Available by request'}
    %span.location= location
    %span.callnumber= callnumber
    - if entry['summary']['onotes'].size > 0
      %span.onotes= "Order Information:" + onotes 

