<% postTarget = "https://rmc-aeon.library.cornell.edu" %>
<html>
<meta http-equiv='content-type' content='text/html; charset=utf-8' />
<link href='aeon.css' rel='stylesheet' type='text/css' />
<title>Login to Aeon at Cornell University Library</title>
<body onload='window.focus();'>
  Redirecting...
  <% redirect_to 'www.google.com' %>
  <form id='aeonPoster' action='"<%= postTarget %>"' method='POST'>
  <input type='hidden' name='AeonForm' value='$aef'>
  <!-- // I think we need a param with this name/value.  Doesn't need to be a button. -->
  <input type='hidden' name='SubmitButton' value='Submit Request'>
  
    <input type='submit' name='Button' value='Login to Aeon' />
  </form>
  <script>
    // submits the form right after it is parsed
    window.focus();";
  </script>

</body>
</html>