---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"<BD_API_KEY>","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"CORNELL","PatronId":"<TEST_USER_BARCODE>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"-5RWocBmV0bc6PuE96zrIPSCW2Y","LibrarySymbol":"CORNELL","Iso639_2_LangCode":"ENG","FirstName":"<TEST_FIRSTNAME>","LastName":"<TEST_LASTNAME>","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 18:41:12 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=-5RWocBmV0bc6PuE96zrIPSCW2Y
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"PHRASE","Value":"Harry
        Potter and the deathly hallows"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":true,"SearchTerm":"phrase=\"Harry Potter and the deathly
        hallows\"","RequestLink":{"ButtonLink":"AddRequest","ButtonLabel":"Request","RequestMessage":"Select
        a pickup location and click the Request button to order this item through
        Borrow Direct."},"NumberOfRecords":6,"PickupLocation":[{"PickupLocationCode":"A","PickupLocationDescription":"Geneva
        Experimental Station Library"},{"PickupLocationCode":"B","PickupLocationDescription":"Law
        Library"},{"PickupLocationCode":"C","PickupLocationDescription":"Mann Library"},{"PickupLocationCode":"D","PickupLocationDescription":"Olin
        Library"},{"PickupLocationCode":"E","PickupLocationDescription":"Veterinary
        Library"}]}'
  recorded_at: Tue, 05 Apr 2016 18:41:29 GMT
recorded_with: VCR 3.0.0
