/* 
    aeon_custom.css
    Any aeon specific CSS customization should be added to this file.
*/
@import url("https://use.typekit.net/wiq6yer.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import 'cornell/variables';

body {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/* class to hide the skip for screen readers */
.offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#noshow {
    display: none;
}

/* used for the back to catalog item link */
.return-link {
	display: inline-block;
	margin-bottom: .6em;
	font-size: 14px;
}

/*These are CSS classes for the headers*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

h1 {
    margin: .25rem 0 .5rem 0;
    display: inline-block;
    line-height: 1.5em;
    font-weight: 500;
    font-family: "freight-sans-pro", "Helvetica", "Arial", sans-serif;
    font-size: 32px;
    color: $dark-gray;
    text-align: left !important;
}

h2 {
    font-size: 26px;
    padding: 10px 0 8px;

}

.h2title {
    font-size: 24px;
}

h3 { 
    font-size: 20px;
}

.h1div {
    text-align: left !important;
}

label {
    font: bold 16px;
}

a {
    text-decoration: underline;
    color: #005FBD;
    cursor: pointer;
}

/* the reset button on the forms will render as a link, not a button */
input[type="button"]#clear {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: underline;
    color: #005FBD;
    cursor: pointer;
}
.req {
    color: #b81f18;
    font-size: 1em;
    padding:0 0 0 6px;
    text-align: right;
}

.form-horizontal .control-group { 
    margin: 0px;
    padding:10px 0px 0px 0px;
}

.col-form-label select {
    width: auto !important;
}

/* button style for the aeon request forms */
.btn, .btn:hover, .btn:active, .btn:focus {
    background: $cornell-primary;
    color: $white;
}

.btn:hover
{
    background-color: $cornell-primary-hover;
}

.btn-primary:hover {
    background-color: #52b3d9;
    color: #05171f;
    text-decoration: underline;
}

.head {
    background-color: $white;
    height: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* scrollable is used imitate a multiple select box */
.scrollable {
    top:100px;
    margin:20px;
    width: 60%;
    height: 300px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}
/* shoppingcart renders the selected items for the request */
#shoppingcart {
    float: right;
}#shoppingcart {
    width: 38%;
    height: 300px;
    overflow: auto;
}
#shoppingcart, .scrollable {
    padding: 5px;
    margin: 0px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
#numitems {
    font-size: 16px;
}
/* the options classes are used on the login page */
.options_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.option_left, .option_right {
    margin: 50px 0 0 0;
    padding: 40px;
    width: 48%;
    min-height: 200px;
    border: 1px solid #ccc;
    background-color: $white;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    .option_left, .option_right {
        width: 100%;
    }
}
/* the btn_option class centers the button on login page */
.btn_option
{
    display: block;
    margin: 0 auto;
}

.aeoncard
{
    padding: 10px 20px 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.fa-check {
    color: $green;
} 
.fa-warning {
    color: $yellow;
}
.fa-warning:before {
  content: "\f071";
}
.fa-charmax-alert {
    color: red;
}
.charmax-alert {
    color: red;
}
.fa-charmax-alert:before {
    content: "\f06a";
}
.info-wrapper
{
    padding-left: 10px;
}