body {margin:0; padding:0; }

div#shebang {background-color: #FFFFFF; min-width: 600px; max-width: 1280px; }

div#banner {background-color: #efefef; border-top: 5px solid #000066;border-bottom: 5px solid #000066;margin-top:0px; padding: 6px 0 0 2px; width:100%; height: 120px; }

div#banner h1 {text-align: center; font-family: arial,verdana,sans-serif;}

div#contentarea {background-color: #fff; margin-left:auto; margin-right:auto; min-width: 600px; max-width: 1280px;}

div#unaffiliated {width:45%; background-color: #FFFFFF; float:right;  align: right; padding: 0 6 0 10px; font-family: arial,verdana,sans-serif; margin-left: auto; margin-right: auto; min-width: 250 px; max-width: 600px; word-wrap: break-word; }

div#unaffiliated footer {width:98%; font-size: 10pt;}

div#center {width:3%; align:center; float:center; background-color:#000066;} 

div#affiliated {width:45%; background-color:#ffffff; float:left; align: left; padding: 0 6 0 10px; font-family: arial,verdana,sans-serif; margin-left: auto; margin-right: auto; min-width: 250px; max-width: 600px; }


div#content {border: none; padding: 2px 30px; width: 70%; background-color: #FFFFCC}
div#content fieldset {border: none; }
div#content p{padding:0 6 0 6px; width:100%;} 

div#logonform label {padding: 2px ; align:right }
div#logonform field {align: left }

div#footer {width: 98%; font-size: 10pt;)


div#button {width: 75px; height: 40px; align: center; background-color:#CCFFCC;}
div#button p {font-weight: bold; font-color:#FFFF99; font-family: Geneva, Arial, Helvetica, sans-serif; padding: 5px; align: center;}
div#button a{align:center; font-color:#FFFFFF; font-weight:bold;}

form {align:center; }

p{padding:0 6 0 6px; width:100%;}

