<%# js displays this section if no linked data found %>
<% if bio_data.present? %>
  <div id='bio-without-ld' class='d-none'>
    <h3>Description</h3>
    <dl class='dl-horizontal'>
      <%= render_bio_data(bio_data) %>
    </dl>
  </div>
<% end %>

<%# js displays this section in grey box if linked data found %>
<div id='bio-with-ld' class='d-none'>
  <div class='card card-well'>
    <div class='card-body'>
      <div class='row'>
        <div id='img-container' class='col-md-4 col-lg-3 text-center d-none'>
          <img id='bio-image' src='' title="<%= heading_type %> image" alt='' class='img-fluid'>
        </div>
        <div id='comment-container' class='col-md-8 col-lg-9'>
          <div id='dbp-comment'></div>

          <%# Only render html if present %>
          <% details_html = capture { yield } %>
          <% if details_html.to_s.strip.present? %>
            <dl class='dl-horizontal' id='item-details'>
              <%# display different data per heading type in <HEADING_TYPE>_info.html.erb %>
              <%= details_html %>
            </dl>
          <% end %>

          <%# start hidden; JS will unhide if it adds text %>
          <div class='ld-acknowledge d-none'>
            <span id='wiki-acknowledge'></span>
            <span id='wiki-image-acknowledge'></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
