<div class="databases-az">
  <h2>Browse by title</h2>
  <ul class="nav nav-pills">
    <li><a href="/databases/title/1">#</a></li>
    <li><a href="/databases/title/a">A</a></li>
    <li><a href="/databases/title/b">B</a></li>
    <li><a href="/databases/title/c">C</a></li>
    <li><a href="/databases/title/d">D</a></li>
    <li><a href="/databases/title/e">E</a></li>
    <li><a href="/databases/title/f">F</a></li>
    <li><a href="/databases/title/g">G</a></li>
    <li><a href="/databases/title/h">H</a></li>
    <li><a href="/databases/title/i">I</a></li>
    <li><a href="/databases/title/j">J</a></li>
    <li><a href="/databases/title/k">K</a></li>
    <li><a href="/databases/title/l">L</a></li>
    <li><a href="/databases/title/m">M</a></li>
    <li><a href="/databases/title/n">N</a></li>
    <li><a href="/databases/title/o">O</a></li>
    <li><a href="/databases/title/p">P</a></li>
    <li><a href="/databases/title/q">Q</a></li>
    <li><a href="/databases/title/r">R</a></li>
    <li><a href="/databases/title/s">S</a></li>
    <li><a href="/databases/title/t">T</a></li>
    <li><a href="/databases/title/u">U</a></li>
    <li><a href="/databases/title/v">V</a></li>
    <li><a href="/databases/title/w">W</a></li>
    <li><a href="/databases/title/x">X</a></li>
    <li><a href="/databases/title/y">Y</a></li>
    <li><a href="/databases/title/z">Z</a></li>
  </ul>
</div>