<div class="databases-az mb-5">
  <h2>Browse by title</h2>
  <ul class="nav nav-pills">
    <li class="nav-item mr-1"><a href="/databases/title/1" class="nav-link">#</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/a" class="nav-link">A</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/b" class="nav-link">B</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/c" class="nav-link">C</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/d" class="nav-link">D</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/e" class="nav-link">E</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/f" class="nav-link">F</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/g" class="nav-link">G</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/h" class="nav-link">H</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/i" class="nav-link">I</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/j" class="nav-link">J</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/k" class="nav-link">K</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/l" class="nav-link">L</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/m" class="nav-link">M</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/n" class="nav-link">N</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/o" class="nav-link">O</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/p" class="nav-link">P</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/q" class="nav-link">Q</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/r" class="nav-link">R</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/s" class="nav-link">S</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/t" class="nav-link">T</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/u" class="nav-link">U</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/v" class="nav-link">V</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/w" class="nav-link">W</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/x" class="nav-link">X</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/y" class="nav-link">Y</a></li>
    <li class="nav-item mr-1"><a href="/databases/title/z" class="nav-link">Z</a></li>
  </ul>
</div>