<%= render :partial => 'databases_search_form' %>

  <%= render :partial => 'a_to_z_nav' %>

        
        <div class="databases-subject" id="subjects">
          <h2>Browse by subject</h2>
          <div class="well">
            <div class="row">
                <div class="span6">
                  <h3><a href="/databases/subject/General Interest and Reference">General Interest and Reference</a></h3>
                  <ul class="nav nav-section">
                    <li><a href="/databases/subject/Biographies"><i class="fa fa-chevron-right"></i>Biographies</a></li>
                    <li><a href="/databases/subject/Dictionaries and Encyclopedias"><i class="fa fa-chevron-right"></i>Dictionaries and Encyclopedias</a></li>
                    <li><a href="/databases/subject/Directories"><i class="fa fa-chevron-right"></i>Directories</a></li>
                    <li><a href="/databases/subject/Images"><i class="fa fa-chevron-right"></i>Images</a></li>
                    <li><a href="/databases/subject/Library and Publisher Catalogs"><i class="fa fa-chevron-right"></i>Library and Publisher Catalogs</a></li>
                    <li><a href="/databases/subject/Newspapers, Magazines and Current Events"><i class="fa fa-chevron-right"></i>Newspapers, Magazines and Current Events</a></li>
                    <li><a href="/databases/subject/Statistical Information"><i class="fa fa-chevron-right"></i>Statistical Information</a></li>
                  </ul>
                  <h3><a href="/databases/subject/World Regions and Diasporas">World Regions and Diasporas</a></h3>
                  <ul class="nav nav-section">
                    <li><a href="/databases/subject/General Resources"><i class="fa fa-chevron-right"></i>General Resources</a></li>
                    <li><a href="/databases/subject/East Asia"><i class="fa fa-chevron-right"></i>East Asia</a></li>
                    <li><a href="/databases/subject/East European and Slavic Studies"><i class="fa fa-chevron-right"></i>East European and Slavic Studies</a></li>
                    <li><a href="/databases/subject/Latin America"><i class="fa fa-chevron-right"></i>Latin America</a></li>
                    <li><a href="/databases/subject/Middle East and Africa"><i class="fa fa-chevron-right"></i>Middle East and Africa</a></li>
                    <li><a href="/databases/subject/South and Southeast Asia"><i class="fa fa-chevron-right"></i>South and Southeast Asia</a></li>
                    </ul>
                  <h3><a href="/databases/subject/Science and Technology">Science and Technology</a></h3>
                  <ul class="nav nav-section">
                    <li><a href="/databases/subject/Agriculture"><i class="fa fa-chevron-right"></i>Agriculture</a></li>
                    <li><a href="/databases/subject/Biology"><i class="fa fa-chevron-right"></i>Biology</a></li>
                    <li><a href="/databases/subject/Chemistry"><i class="fa fa-chevron-right"></i>Chemistry</a></li>
                    <li><a href="/databases/subject/Computers and Information Science"><i class="fa fa-chevron-right"></i>Computers and Information Science</a></li>
                    <li><a href="/databases/subject/Engineering"><i class="fa fa-chevron-right"></i>Engineering</a></li>
                    <li><a href="/databases/subject/Environment and Natural Resources"><i class="fa fa-chevron-right"></i>Environment and Natural Resources</a></li>
                    <li><a href="/databases/subject/Food and Nutrition"><i class="fa fa-chevron-right"></i>Food and Nutrition</a></li>
                    <li><a href="/databases/subject/Geology"><i class="fa fa-chevron-right"></i>Geology</a></li>
                    <li><a href="/databases/subject/Math and Statistics"><i class="fa fa-chevron-right"></i>Math and Statistics</a></li>
                    <li><a href="/databases/subject/Medicine - Human and Veterinary"><i class="fa fa-chevron-right"></i>Medicine - Human and Veterinary</a></li>
                    <li><a href="/databases/subject/Physics and Astronomy"><i class="fa fa-chevron-right"></i>Physics and Astronomy</a></li>
                    <li><a href="/databases/subject/Textiles and Fashion Design"><i class="fa fa-chevron-right"></i>Textiles and Fashion Design</a></li>
                  </ul>
                </div>
                <div class="span5">
                  <h3><a href="/databases/subject/Arts and Humanities">Arts and Humanities</a></h3>
                  <ul class="nav nav-section">
                    <li><a href="/databases/subject/Art and Architecture"><i class="fa fa-chevron-right"></i>Art and Architecture</a></li>
                    <li><a href="/databases/subject/History"><i class="fa fa-chevron-right"></i>History</a></li>
                    <li><a href="/databases/subject/History: Primary Sources"><i class="fa fa-chevron-right"></i>History: Primary Sources</a></li>
                    <li><a href="/databases/subject/Linguistics, Language and Literature"><i class="fa fa-chevron-right"></i>Linguistics, Language and Literature</a></li>
                    <li><a href="/databases/subject/Music"><i class="fa fa-chevron-right"></i>Music</a></li>
                    <li><a href="/databases/subject/Philosophy and Religion"><i class="fa fa-chevron-right"></i>Philosophy and Religion </a></li>
                    <li><a href="/databases/subject/Theater, Film and Television"><i class="fa fa-chevron-right"></i>Theater, Film and Television</a></li>
                  </ul>
                  <h3><a href="/databases/subject/Social Sciences">Social Sciences</a></h3>
                  <ul class="nav nav-section">
                    <li><a href="/databases/subject/Anthropology"><i class="fa fa-chevron-right"></i>Anthropology</a></li>
                    <li><a href="/databases/subject/Business and Management"><i class="fa fa-chevron-right"></i>Business and Management</a></li>
                    <li><a href="/databases/subject/Communications"><i class="fa fa-chevron-right"></i>Communications</a></li>
                    <li><a href="/databases/subject/Economics"><i class="fa fa-chevron-right"></i>Economics</a></li>
                    <li><a href="/databases/subject/Education"><i class="fa fa-chevron-right"></i>Education</a></li>
                    <li><a href="/databases/subject/Geography, Maps and Spatial Data"><i class="fa fa-chevron-right"></i>Geography, Maps and Spatial Data</a></li>
                    <li><a href="/databases/subject/Government, Law and Public Policy"><i class="fa fa-chevron-right"></i>Government, Law and Public Policy</a></li>
                    <li><a href="/databases/subject/Human Resources, Labor &amp; Employment"><i class="fa fa-chevron-right"></i>Human Resources, Labor &amp; Employment</a></li>
                    <li><a href="/databases/subject/Library and Information Science"><i class="fa fa-chevron-right"></i>Library and Information Science</a></li>
                    <li><a href="/databases/subject/Population and Demography"><i class="fa fa-chevron-right"></i>Population and Demography</a></li>
                    <li><a href="/databases/subject/Psychology"><i class="fa fa-chevron-right"></i>Psychology</a></li>
                    <li><a href="/databases/subject/Sociology and Rural Development"><i class="fa fa-chevron-right"></i>Sociology and Rural Development</a></li>
                  </ul>
                </div>
              </div>
          </div><!--/well-->
        </div>