<%= render :partial => 'databases_search_form' %>

<%= render :partial => 'a_to_z_nav' %>

<div class="databases-subject" id="subjects">
  <h2>Browse by subject</h2>
    <div class="row">
      <div class="col-sm-6">
        <h3><a href="/databases/subject/General Interest and Reference">General Interest and Reference</a></h3>
        <ul class="nav nav-section">
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Biographies">Biographies</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Dictionaries and Encyclopedias">Dictionaries and Encyclopedias</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Directories">Directories</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Images">Images</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Library and Publisher Catalogs">Library and Publisher Catalogs</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Newspapers, Magazines and Current Events">Newspapers, Magazines and Current Events</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Statistical Information">Statistical Information</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Streaming Video">Streaming Video</a></li>
        </ul>
        <h3><a href="/databases/subject/World Regions and Diasporas">World Regions and Diasporas</a></h3>
        <ul class="nav nav-section">
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/General Resources">General Resources</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/East Asia">East Asia</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/East European and Slavic Studies">East European and Slavic Studies</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Latin America">Latin America</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Middle East and Africa">Middle East and Africa</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/South and Southeast Asia">South and Southeast Asia</a></li>
          </ul>
        <h3><a href="/databases/subject/Science and Technology">Science and Technology</a></h3>
        <ul class="nav nav-section">
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Agriculture">Agriculture</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Biology">Biology</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Chemistry">Chemistry</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Computers and Information Science">Computers and Information Science</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Engineering">Engineering</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Environment and Natural Resources">Environment and Natural Resources</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Food and Nutrition">Food and Nutrition</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Geology">Geology</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Math and Statistics">Math and Statistics</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Medicine - Human and Veterinary">Medicine - Human and Veterinary</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Physics and Astronomy">Physics and Astronomy</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Textiles and Fashion Design">Textiles and Fashion Design</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3><a href="/databases/subject/Arts and Humanities">Arts and Humanities</a></h3>
        <ul class="nav nav-section">
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Art and Architecture">Art and Architecture</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/History">History</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/History: Primary Sources">History: Primary Sources</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Linguistics, Language and Literature">Linguistics, Language and Literature</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Music">Music</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Philosophy and Religion">Philosophy and Religion </a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Theater, Film and Television">Theater, Film and Television</a></li>
        </ul>
        <h3><a href="/databases/subject/Social Sciences">Social Sciences</a></h3>
        <ul class="nav nav-section">
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Anthropology">Anthropology</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Business and Management">Business and Management</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Communications">Communications</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Economics">Economics</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Education">Education</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Geography, Maps and Spatial Data">Geography, Maps and Spatial Data</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Government, Law and Public Policy">Government, Law and Public Policy</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Human Resources, Labor &amp; Employment">Human Resources, Labor &amp; Employment</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Library and Information Science">Library and Information Science</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Population and Demography">Population and Demography</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Psychology">Psychology</a></li>
          <li><i class="fa fa-chevron-right"></i><a href="/databases/subject/Sociology and Rural Development">Sociology and Rural Development</a></li>
        </ul>
      </div>
    </div>
</div>