.row.database-subject
	.page-title.span9
		%h2
			=params[:q]
	.span3.return-link
		=link_to "/databases/" do
			%i.fa.fa-arrow-circle-left
			Back to databases
.results-info


- if @ermDBResult.present?
	.resources
		%h3
			Results
		- @column_names.each do |column|
			=column
		- @ermDBResult.each do |data|
			%div.document.blacklight-database-name.clearfix
				%div.document-data
					%h4.blacklight-title_display
						- if data.present?
							-dbid = data['id']
							=link_to "/databases/show/#{dbid}" do
								-if data.present?
									=data['License_ID']
									=data['Provider_Code']
									=params[:dbcode]
									=params[:providercode]
									=data['Authorized_Users']
								-else
									=data[0]
						-else
							=link_to data[0] do
								-if data[0].present?
									=data[0]
								-else
									=data[0]
									%i.fa.fa-external-link
					%div.description
						%p
							-if data[0].present?
								=data[0]

					%div.terms
						TERMS PLACEHOLDER |
- else
	%h2
		=@defaultRightsText
