.row.database-subject
	.page-title.span12
		.return-link
			=link_to "/databases/" do
				%i.fa.fa-arrow-circle-left
				Back to Databases
		%h2
			=params[:q]
.resources
	%div.document.blacklight-database-name.clearfix
		%div.document-data
			- @db.each do |data|
				%h4.blacklight-title_display
					=link_to data["url_access_display"][0].split('|')[0] do
						-if data["fulltitle_vern_display"].present?
							=data["fulltitle_vern_display"]
						-else
							=data["fulltitle_display"]
				%div.description
					%p
						=data["summary_display"][0]
				-if @ermDBResult.present?
					- @ermDBResult.each do |data|
						-if data.present?
							%table.table.table-bordered.table-striped
								%tr
									%th
										License Term
									%th
										Permissions
									%th
										Note
								- if data['Authorized_Users'].present? || data['Authorized_Users_Note'].present?
									%tr
										%td
											Authorized Users
										%td
											=data['Authorized_Users'].gsub( "|", ", " )
										%td
											=data['Authorized_Users_Note']

								- if data['Concurrent_Users'].present? || data['Concurrent_Users_Note'].present?
									%tr
										%td
											Concurrent Users
										%td
											=data['Concurrent_Users']
										%td
											=data['Concurrent_Users_Note']

								-if data['Fair_Use_Clause_Indicator'].present? 
									%tr
										%td
											Fair Use Clause Indicator
										%td
											=data['Fair_Use_Clause_Indicator']
										%td
								
								-if data['Digitally_Copy'].present? || data['Digitally_Copy_Note'].present?
									%tr
										%td
											Digitally Copy
										%td
											=data['Digitally_Copy']
										%td
											=data['Digitally_Copy_Note']

								-if data['Scholarly_Sharing'].present? || data['Scholarly_Sharing_Note'].present?
									%tr
										%td
											Scholarly Sharing
										%td
											=data['Scholarly_Sharing']
										%td
											=data['Scholarly_Sharing_Note']

								-if data['ILL_General'].present?
									%tr
										%td
											ILL General
										%td
											=data['ILL_General']
										%td

								-if data['ILL_Secure_Electronic'].present?
									%tr
										%td
											ILL Secure Electronic
										%td
											=data['ILL_Secure_Electronic']
										%td

								-if data['ILL_Electronic_email'].present?
									%tr
										%td
											ILL Electronic (email)
										%td
											=data['ILL_Electronic_email']
										%td
								
								-if data['ILL_Record_Keeping'].present? || data['ILL_Record_Keeping_Note'].present?
									%tr
										%td
											ILL Record Keeping
										%td
											=data['ILL_Record_Keeping']
										%td
											=data['ILL_Record_Keeping_Note']

								-if data['Course_Reserve'].present? || data['Course_Reserve_Note'].present?
									%tr
										%td
											Course Reserve
										%td
											=data['Course_Reserve']
										%td
											=data['Course_Reserve_Note']

								-if data['Electronic_Link'].present? || data['Electonic_Link_Note'].present?
									%tr
										%td
											Electronic Link
										%td
											=data['Electronic_Link']
										%td
											=data['Electronic_Link_Note']


								-if data['Course_Pack_Print'].present?
									%tr
										%td
											Course Pack Print
										%td
											=data['Course_Pack_Print']
										%td
											=data['Course_Pack_Note']
										
								-if data['Course_Pack_Electronic'].present?
									%tr
										%td
											Course Pack Electronic
										%td
											=data['Course_Pack_Electronic']
										%td
											=data['Course_Pack_Note']

								-if data['Other_Use_Restrictions_Public_Note'].present?
									%tr
										%td
											Other Use Restrictions
										%td{:colspan => '2'}
											=data['Other_Use_Restrictions_Public_Note']
				-if @defaultRightsText.present?
					%table.table.table-bordered.table-striped
						%tr
							%th
								License Term
							%th
								Note
						%tr
							%td
								Authorized Users
							%td
								Faculty, Staff, Students, Walk-in users, Weill Medical 
						%tr
							%td
								Permitted - (Digitally Copy)
							%td
								Authorized Users may electronically display, download, print, and digitally copy a reasonable portion (generally one or two articles or one book chapter) of the Licensed Materials. 
						%tr
							%td
								Restricted - Other Use Restrictions (Public Note) 
							%td
								Authorized users are not permitted to modify or create a derivative work of the Licensed Materials, may not remove, obscure or modify any copyright or other notices included in the Licensed Materials, and may not use the Licensed Materials for commercial purposes, including but not limited to the sale of the Licensed Materials or bulk reproduction or distribution of the Licensed Materials in any form without the prior written permission of Licensor.										
								

