= render :partial => 'databases_search_form'
.row.database-subject
	.page-title.span12
		.return-link
			=link_to "/databases/" do
				%i.fa.fa-arrow-circle-left
				Back to Databases
		%h2
			=params[:q]
.results-info


- if @dbResponse.present?
	.resources
		%h3
			Results
		= render 'database', :response => @dbResponse

- else
	%h2
		No results
