.row.database-subject
	.page-title.span9
		%h2
			=params[:q]
	.span3.return-link
		=link_to "/databases/" do
			%i.fa.fa-arrow-circle-left
			Back to databases
.resources
	%div.document.blacklight-database-name.clearfix
		%div.document-data
			- @db.each do |data|
				%h4.blacklight-title_display
					=link_to data["url_access_display"][0].split('|')[0] do
						-if data["fulltitle_vern_display"].present?
							=data["fulltitle_vern_display"]
						-else
							=data["fulltitle_display"]
				%div.description
					%p
						=data["summary_display"][0]
				- @column_names.each do |column|	
					%p
						=column	
				- @ermDBResult.each do |data|
					-if data.present?
						%table.table.table-bordered.table-striped
							%tr
								%th
									License Term
								%th
									Permissions
								%th
									Note
							%tr
								%td
									Authorized Users
								%td
									=data['Authorized_Users'].gsub( "|", ", " )
								%td
									=data['Authorized_Users_Note']
							%tr
								%td
									Concurrent Users
								%td
									=data['Concurrent_Users']
								%td
									=data['Concurrent_Users_Note']
							%tr
								%td
									ILL Electronic (email)
								%td
									=data['ILL_Electronic_email']
								%td
							%tr
								%td
									ILL General
								%td
									=data['ILL_General']
								%td
							%tr
								%td
									ILL Record Keeping
								%td
									=data['ILL_Record_Keeping']
								%td
									=data['ILL_Record_Keeping_Note']
							%tr
								%td
									ILL Secure Electronic
								%td
									=data['ILL_Secure_Electronic']
								%td

						=data.inspect
