= render :partial => 'databases_search_form'

.row.database-subject
	.page-title.span12
		.return-link
			=link_to "/databases/" do
				%i.fa.fa-arrow-circle-left
				Back to Databases
		%h2
			=params[:q]

.results-info


- if @subjectCore.present?
	.resources
		%h3
			Core Resources
		= render 'database', :response => @subjectCore
	.resources
		%h3
			Additional Resources
		= render 'database', :response => @subject
	
-else
	.resources
		= render 'database', :response => @subject