= render :partial => 'database_search' 
.row.database-subject
	.page-title.span9
		%h2
			Anthropology
	.span3.return-link
		=link_to "/databases/" do 
			%i.fa.fa-arrow-circle-left
			View all subjects
.results-info


.resources		
	%h3
		Core Resources
	- @anthropologyCore.each do |data|
		%div.document.blacklight-database-name.clearfix
			%div.document-data
				%h4.blacklight-title_display
					=link_to data["url_access_display"][0] do
						-if data["fulltitle_vern_display"].present?
							=data["fulltitle_vern_display"]
						-else
							=data["fulltitle_display"]
						%i.fa.fa-external-link
					%span.label.label-important
						Core Resource
				%div.description
					%p
						=data["summary_display"][0]

				%div.terms
					TERMS PLACEHOLDER | 
					= link_to 'Terms of Use','/databases/subject'
.resources
	%h3
		Additional Resources
	- @anthropology.each do |data|
		%div.document.blacklight-database-name.clearfix
			%div.document-data
				%h4.blacklight-title_display
					=link_to data["url_access_display"][0] do
						-if data["fulltitle_vern_display"].present?
							=data["fulltitle_vern_display"]
						-else
							=data["fulltitle_display"]
						%i.fa.fa-external-link
				%div.description
					%p
						=data["summary_display"][0]

				%div.terms
					TERMS PLACEHOLDER | 
					= link_to 'Terms of Use','/databases/subject'



