- alpha = params[:alpha]
.row.database-subject
	.page-title.col-sm-12
		.return-link
			=link_to "/databases/" do
				%i.fa.fa-arrow-circle-left
				Back to Databases
		%h2.db-alpha
			Databases:
			-if alpha == '1'
				&#035;
			-else
				=alpha
.results-info

	= render :partial => 'a_to_z_nav' 


.resources
	-if @a.present?
		= render 'database', :response => @a
