// Page layout
// -------------------------

// Add some white space before the form starts
.advanced_search {
  .main-content {
    padding-top: 2em;
  }
}

.card-advanced-search {
  margin-bottom: 2rem;
}

// Form styling
// -------------------------

form.advanced {
  .input_row:not(:last-child) {
    margin-bottom: .5rem;
  }
  .input_row {
    select, label, input {
      margin-bottom: .25rem;
    }
  }

  .adv-range {
    .form-control {
      display: inline-block;
      width: 100px;
    }
  }
}

// TODO: if possible (BL8 upgrade?) remove this global style and add more specificity to individual form controls; removing this now affects other parts of the app (12/3/24, mhk33)
.form-control {
  width: 25%;
  display: inline-block;
}

// tlw72: fix spacing caused by BL7 and BS4
.adv-search-control{
  margin: 0 0.15em;
}

// Add a row link
// -------------------------
.add-row {
  margin: 1rem 0 2rem 0;
}
.add-and-sort {
  label {
    display: inline-block;
    vertical-align: middle;
  }
}
#sort {
  width: auto;
}

// Facets
// -------------------------

#advanced_search_facets {
  .card-body {
    max-height: 16rem;
    overflow-y: scroll;
  }
  // DACCESS-575 - Display facet counts inline on advanced search form
  .facet-values {
    .label-and-count {
      display: inline;
    }
    .facet-count {
      vertical-align: initial;
      text-align: left;
    }
    .facet-label {
      padding-bottom: .5rem;
    }
  }

  .adv-range span {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}

// Selected facet/constraint
// -------------------------

.advanced-facets {
  margin-bottom: 1rem;
  padding-top: 0;
}

// Submit or reset
// -------------------------

.submit-reset {
  margin-top: 1.5em;
}

// Search tips
// -------------------------


.as-tips {
  padding-left: 1rem;
}
// TODO: DACCESS-589 - remove <dl> if using </ul>
// TODO: DACCESS-589 - add responsive styles for more narrow form fields
// TODO: Bootstrap 4 temp fix - remove floats and use cols for dt and dd alignment and sizing - 12/3/24, mhk33
.dl-horizontal dt {
  float: left;
  clear: left;
  text-align: right;
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .form-inline {
    .advanced-search-field.form-control {
      width: 25%;
    }
  }
  // TODO: remove dl-horizontal class and use cols for dt and dd alignment and sizing - 12/3/24, mhk33
  .as-tips {
    dl.dl-horizontal {
      dt {
        width: 50px;
      }
      dd {
        margin-left: 65px;
      }
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 37.5%;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .form-inline {
    .advanced-search-field.form-control {
      width: 40%;
    }
  }
  .as-tips {
    dl.dl-horizontal {
      dt {
        width: 100px;
      }
      dd {
        margin-left: 115px;
      }
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 34%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .form-inline {
    .advanced-search-field.form-control {
      width: auto;
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 37.5%;
  }
}