// TODO: clean up and add comments, mhk33

.advanced-search .form-control {
   margin: 0 2px;
}
.add-row {
  margin: 1em 0;
}
#sort { width: auto; }
.as-tips {
  margin-top: 1rem;
}
.add-and-sort label {
  display: inline-block;
  vertical-align: middle;
}
form.advanced {
  .boolean_row {
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: 100%;
  }
  .form-group {
    margin-bottom: 0;
  }

  .input_row:not(:last-child) {
    margin-bottom: 1em;
  }
  .input_row {
    select, label, input {
      margin-bottom: .25rem;
    }
  }
}
.as-examples {
  margin-bottom: 0;
  margin-top: .25em;
}
body.blacklight-advanced-index dl.dl-horizontal {
  dt { width: 50px; }
}
.submit-reset {
  margin-top: 1.5em;
}
.sort-results {
  font-weight: normal;
}
// TODO, 8/5/15 mhk33: This is too global a style and is messing with other forms on the site
.form-control {
  width: 25%;
  display: inline-block;
}
// tlw72: fix spacing caused by BL7 and BS4
.adv-search-control{
  margin: 0 0.15em;
}

.advanced_search {
  .main-content {
    padding-top: 2em;
  }
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .form-inline {
    .advanced-search-field.form-control {
      width: 25%;
    }
  }
  .as-tips {
    dl.dl-horizontal {
      dt {
        width: 50px;
      }
      dd {
        margin-left: 65px;
      }
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 37.5%;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .form-inline {
    .advanced-search-field.form-control {
      width: 40%;
    }
  }
  .as-tips {
    dl.dl-horizontal {
      dt {
        width: 100px;
      }
      dd {
        margin-left: 115px;
      }
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 34%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .form-inline {
    .advanced-search-field.form-control {
      width: auto;
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 32.5%;
  }
}