// TODO: clean up and add comments, mhk33

// Add some white space before the form starts
.advanced_search {
  .main-content {
    padding-top: 2em;
  }
}

// Form styling
// -------------------------

form.advanced {
  .input_row:not(:last-child) {
    margin-bottom: 1em;
  }
  .input_row {
    select, label, input {
      margin-bottom: .25rem;
    }
  }
}

// TODO: if possible (BL8 upgrade?) remove this global style and add more specificity to individual form controls; removing this now affects other parts of the app (12/3/24, mhk33)
.form-control {
  width: 25%;
  display: inline-block;
}

// tlw72: fix spacing caused by BL7 and BS4
.adv-search-control{
  margin: 0 0.15em;
}

// Add a row link
// -------------------------
.add-row {
  margin: 1em 0;
}
.add-and-sort {
  label {
    display: inline-block;
    vertical-align: middle;
  }
}
#sort {
  width: auto;
}

// Submit or reset
// -------------------------

.submit-reset {
  margin-top: 1.5em;
}

// Search tips
// -------------------------

.as-tips {
  margin-top: 1rem;
}
.as-examples {
  margin-bottom: 0;
  margin-top: .25em;
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .form-inline {
    .advanced-search-field.form-control {
      width: 25%;
    }
  }
  // TODO: remove dl-horizontal class and use cols for dt and dd alignment and sizing
  .as-tips {
    dl.dl-horizontal {
      dt {
        width: 50px;
      }
      dd {
        margin-left: 65px;
      }
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 37.5%;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .form-inline {
    .advanced-search-field.form-control {
      width: 40%;
    }
  }
  .as-tips {
    dl.dl-horizontal {
      dt {
        width: 100px;
      }
      dd {
        margin-left: 115px;
      }
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 34%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .form-inline {
    .advanced-search-field.form-control {
      width: auto;
    }
  }
  // Adjust width of first row so that it is the same as subsequent rows
  #q_row0 {
    width: 32.5%;
  }
}