// AVAILABILITY
.availability {
	.worldcat-search {
		font-size: 14px;
		display: block;
		margin-top: 2em;
		i {
			color: $light-gray;
		}
	}
	.location {
		margin-top: 0;
		margin-bottom: .25em;
		font-size: 16px;
	}
	.location-online {
		color: white;
		background: $green;
		border-color: $green;
	}
	.url_findingaid_display {
		display: block;
		margin-bottom: .5em;
		padding-bottom: 1em;
		font-size: 16px;
		border-bottom: 2px solid $light-tan;
		.fa {
			margin-right: .25rem;
		}
		a {
			display: inline;
		}
		.url_findingaid_link {
			margin-bottom: .5rem;
		}
	}
	.list-unstyled {
		padding: 0;
		margin-bottom: 0;
	}
	.call-number {
		margin-bottom: .5em;
		font-family: $font-family-call-number;
		span {
			font-family: $realBaseFontFamily;
		}
	}
	.status {
		margin: 0 0 .5em 0;
	}
	.card-block {
		padding: .5em;
	}
}
.availability.card {
	margin-bottom: 1rem;
}
h3.rare {
	margin-bottom: 0;
}
.holding,
.holdings-error {
	margin-bottom: 1em;
	border-top: 2px solid $light-tan;
	padding-top: .5em;
}
.online-label {
	margin: 0 .5em .5em 0;
}
.holdings-online {
	.online-label {
		font-size: 16px;
	}
	.message {
		font-size: 14px;
	}
}
.holding:first-child {
	border-top: 0;
}
.holding:last-of-type {
	margin-bottom: 0;
}

.text-it,
.map-it {
	margin-left: .5em;
	font-size: .8rem;
	font-weight: normal;
	.fa {
		margin-right: .25rem;
	}
}
.text-it {
	.tooltip-inner {
		padding: 5px 10px;
	}
}
.share-options { min-width: auto; }
.message {
	// margin: 0 0 .5em 0;
	// line-height: 1.4em;
	word-wrap: break-word;
}
.online-link {
	margin-bottom: .75rem;
	padding-bottom: .75rem;
	line-height: 1.2em;
	font-size: 16px;
	border-bottom: 2px solid $light-tan;
}
.online-access {
	margin-bottom: .25em;
	display: inline-block;
}
.access-restriction {
	display: block;
	line-height: 1.2em;
	margin-top: .25em;
	// DISCOVERYACCESS-6779 - style header h3, keep h4 in case
	h3, h4 { 
		font-weight: 700;
		margin-bottom: .5em;
		font-size: 16px;
	}
}
.item-requests {
	border-top: 5px solid $light-tan;
	padding-top: 10px;
	margin: .75em 0;
	// Request scan button
	.btn {
		margin-bottom: 5px;
	}
	.btn-outline-secondary {
		border-bottom-color: #6c757d; 
		border-bottom-style: solid;
	}
}
.terms-of-use {
	font-size: 13px;
	.fa {
		color: $tan;
		font-size: 90%;
	}
}
.google-books-link {
	margin: 1.5em 0 0;
	padding-top: 1em;
	border-top: solid 2px #d8d2c9;
}

#request-loading-spinner {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 2em;
}

#volume-selection {
    width: 30%;
}
// Other forms
// ----------------
.other-forms {
	h4 {
		margin-bottom: 1em;
		font-size: 20px;
	}
	p {
		margin-top: 2em;
	}
}
.other-form {
	margin: 0 0 .5em 0;
	border-bottom: 1px solid $light-tan;
	padding-bottom: .5em;
	span {
		margin: 0 .5em 0 0;
		font-size: 12px;
		color: $gray;
	}
	.other-form-format {
		i {
			margin-right: .25em;
		}
	}
	.other-form-title {
		font-size: 101%;
		color: $gray-dark;
		display: block;
		margin-bottom: .25em;
	}
	.other-form-online {
		span {
			margin-right: 0;
		}
	}
}