.influence, .citizenship, .education {
	display: none;
}
.agent-notes {
    margin-left: -24px;
}
ul.nav-tabs li {
	margin-bottom: -1px;
}

.influence-header {
    background: #edebe7;
    border-bottom:1px solid #dee2e6;
}
#ref-info-heading, #lcnaf-link {
  padding: 10px 0 0 0;
}
#dbp-comment {
  display: none;
}
.ld-acknowledge {
    font-size: .8rem;
    i {
        margin-left: .25rem;
    }
    span {
        margin-bottom: .5rem;
        display: inline-block;
    }
}
#item-details > dt {
    font-weight: normal !important;
}
#lcnaf-link {
    i {
        margin-left: .25rem;
    }
}
#bio-with-ld {
    img {
        max-width: 200px;
    }
    // Medium devices (tablets, 768px and up)
    @include media-breakpoint-up(md) {
        img {
            max-width: 100%;
        }
    }
}