.cornell-brand {
	padding: 10px 0 0 0;
}
.cornell-identity {
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}
.library-brand {
	font-family: $font-family-cul;
	a, a:hover, a:active, a:focus {
		color: white;
	}
}
.insignia {
	display: block;
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 1em;
}
.cornell-logo {
	padding-bottom: .5em;
}


.logo {
	padding-left: 0;
	background: url("/img/CULibraryRed.svg") no-repeat;
	.insignia {
		float: left;
		margin-right: .5em;
		width: 100px;
		height: 100px;
		text-indent: -99999em;
	}
}
.library-brand {
	a {
		text-indent: -99999em;
		display: block;
		width: 160px;
		height: 100px;
		margin-left: 150px;
	}
}
.mobile-cornell-wrapper {
	background: $cornell-primary;
	padding: .25rem 0;
}
.mobile-cornell-logo {
	background: url("/img/cornell-reduced-white.svg") no-repeat;
	width: 200px;
	height: 45px;
	display: block;
	text-indent: -99999em;
}
.library-brand-mobile {
	display: block;
	background: url("/img/CULWordmark.svg") no-repeat;
	text-indent: -99999em;
	width: 120px;
	height: 45px;
}

// Skip to content link
// https://webaim.org/techniques/css/invisiblecontent/#skipnavlinks
// ---------------------------------------

#skip-link {
	a {
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
		color: black;
	}
	a:focus {
		position:static;
		width:auto;
		height:auto;
	}
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
}