.discogs-bgc {
	background-color: #aed9f1;
	width: 90px;
}
dt > div.discogs-bgc {
	padding: 0 2px;
	margin: 0 -2px;
}
#discogs_disclaimer {
    margin-bottom: 16px;
}
.img_disclaimer {
  font-size: 14px;
}