.facets {
	// background: white;
	// ul {
	// 	margin: 0 0 5px 10px;
	// 	padding: 0;
	// 	list-style: none;
	// }
	li {
		font-size: .9rem;
		padding-right: 50px;
	}
	p {
		margin: 0 0 .25em;
		border-bottom: 1px solid $light-tan;
    	padding: 0 0 .25em 0;
	}
	i {
		color: $dark-gray;
	}
	.navbar {
		margin-bottom: 0;
		padding: 0;
	}
	a:hover { background: white; }
}
.facet-values {
	.facet-label {
		text-indent: 0;
		padding-left: 0;
		word-break: normal;
		i {
			margin-right: 3px;
		}
	}
	.selected {
		.facet-label {
			padding-bottom: 0;
		}
	}
}
.facets-heading {
	font-size: 1.25rem;
}

.sidenav {
	.navbar-toggler {
		margin-bottom: 1rem;
	}
}

// OVERRIDE #FACETS - TODO: do we still need this in BL5?
// -------------------------

#facets {
	a.remove {
		padding: 0;
		display: inline-block;
		margin-bottom: .25em;
	}
	a.remove:hover {
		text-decoration: none;
		background: white;
		i { color: $medium-gray; }
	}
	a.remove:active, a.remove:focus {
		border: 0;
	}
	span.selected {
		color: $dark-gray;
	}
	h5 + div { padding-bottom: .5em; }
}
// TODO: ".count" may not be used in BL5
.facet-count {
  font-family: $monospace-font-family;
  font-size: 12px;
}

// Make cursor into pointer when mousing over facets
.facets {
	.card-header {
		cursor: pointer;
	}
}

.expand-search {
	margin-bottom: 1rem;
	margin-top: .5rem;
}

// BL7 selected facet
.facet-limit-active {
	border-color: $concrete !important;
	.card-header {
		background: $concrete !important;
		color: white;
		.btn {
			color: white;
		} 
	}
}

// PUBLICATION YEAR
// -----------------------

.limit_content {
	margin-right: 10px;
	.subsection { margin-top: .5em; }
}
.blacklight-pub_date_facet {
	form { margin-bottom: 1.2em; }
	.count {
		text-align: right;
		float: right;
		// color: $medium-gray;
	}
	.tickLabel { font-size: 0.875em; }
	.missing,
	.range_limit {
		i { font-size: 0.75em; }
		.btn-secondary {
			margin-left: .5rem;
		}
	}
	.limit_content {
		.count { font-size: 0.75em; }
	}
	.limit_content {
		.missing {
			.count { font-size: 1em; }
		}
	}
}
form.range_limit {
	input.range_begin,
	input.range_end {
		padding: 1px 3px;
		width: 3em;
	}
}
.navbar {
	.blacklight-pub_date_facet {
		.btn, .btn-group {
			margin-top: 0;
			font-size: 0.75em;
			padding: 1px 6px;
		}
	}
}
.ui-slider {
	margin: 0 0 0 .6em !important;
	width: 89% !important;
}
.hover_legend { padding: 0; }
// add a little space above the unknown value in pub year facet
.blacklight-pub_date_facet {
	.missing.subsection {
		margin-top: 20px;
	}
}

// Constraints
// -----------------------

.selected-facets,
.advanced-facets {
	clear: both;
	padding: 1.5em 0 0;
	i { 
		color: $cornell-primary;
	}
	.filter-value {
		font-weight: 700;
	}
}
.selected-facet {
	padding: 0 10px;
	background: $cornell-blue;
	border: 1px solid $cornell-blue-border;
	font-size: 0.875em;
	margin: 0 .5em .5em 0;
	color: #fff;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-tradius: 20px;
	border-radius: 20px;
}

.constraints-bar {
	background: white;
	padding-bottom: .5rem;
}

// Hierarchical call number facet
// ------------------------------------

// Indent child lists - default has no indentation
#facets ul.facet-hierarchy ul {
	padding-left: 1.2rem;
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
	.facets {
		h5 {
			font-size: 12px;
		}	}
	.facet-values {
		.facet-label {
			display: block;
			line-height: 1.4em;
		}
		.facet-count {
			padding-bottom: .5em;
		}
	}
	#facets {
		a.remove {
			display: inline-block;
		}
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	.facets {
		h5 {
			font-size: 14px;
		}
	}
	.facet-values {
		.facet-label {
			display: table-cell;
			padding-bottom: .25rem;
		}
		.facet-count {
			display: table-cell;
			padding-bottom: 0;
		}
	}
	#facets {
		a.remove {
			padding: 3px 5px;
		}
	}
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }