.facets {
	background: white;
	ul {
		padding: 0;
		list-style: none;
	}
	li {
		font-size: .9rem;
		padding-right: 50px;
	}
	p {
		margin: 0 0 .25em;
		border-bottom: 1px solid $light-tan;
    	padding: 0 0 .25em 0;
	}
	i {
		color: $dark-gray;
	}
	.navbar {
		margin-bottom: 0;
		padding: 0;
	}
	a:hover { background: white; }
}
.facet-values {
	.facet-label {
		text-indent: 0;
		padding-left: 0;
		word-break: normal;
		i {
			margin-right: 3px;
		}
	}
	.selected {
		.facet-label {
			padding-bottom: 0;
		}
	}
}
.facets-heading {
	font-size: 1.25rem;
}

// DACCESS-290; label for multiple language values
.facet-limit .inclusive_or {
	h4 {
		font-size: 1rem;
	}
}

.sidenav {
	.navbar-toggler {
		margin-bottom: 1rem;
	}
}

#facets {
	li {
		// Align the facet count right; needed for hieirarchical facets
		padding-right: 0;
	}
	a.remove {
		padding: 0;
		display: inline-block;
		margin-bottom: .25em;
	}
	a.remove:hover {
		text-decoration: none;
		background: white;
		i { color: $medium-gray; }
	}
	a.remove:active, a.remove:focus {
		border: 0;
	}
	span.selected {
		color: $dark-gray;
	}
}

// More facet link to open modal
.more_facets {
	margin-top: .5rem;
	font-size: .9rem;
}

// Use monospace font for the facet count so it aligns nicely
.facet-count {
  font-family: $monospace-font-family;
  font-size: 12px;
}

// Make cursor into pointer when mousing over facets
.facets {
	.card-header {
		cursor: pointer;
	}
}

.expand-search {
	margin-bottom: 1rem;
	margin-top: .5rem;
}

// BL7 selected facet
.facet-limit-active {
	border-color: $concrete !important;
	.card-header {
		background: $concrete !important;
		color: white;
		.btn {
			color: white;
		} 
	}
}

// Hierarchical call number facet
// ------------------------------------

// Indent child lists - default has no indentation
#facets ul.facet-hierarchy  {
	ul {
		padding-left: 1.2rem;
		margin-bottom: .3rem;
	}
	.h-leaf {
		padding-left: 1.4rem;
	}
}

.facet-hierarchy .twiddle > .toggle-handle .toggle-icon {
	margin-top: 0;
}

// PUBLICATION YEAR
// -----------------------

.blacklight-pub_date_facet {
	form { margin-bottom: 1.2em; }
	.count {
		text-align: right;
		float: right;
	}
	.tickLabel { font-size: 0.875em; }
	.missing,
	.range_limit {
		i { font-size: 0.75em; }
		.btn-secondary {
			margin-left: .5rem;
		}
	}
	.limit_content {
		.count { font-size: 0.75em; }
	}
	.limit_content {
		.missing {
			.count { font-size: 1em; }
		}
	}
}
.navbar {
	.blacklight-pub_date_facet {
		.btn, .btn-group {
			margin-top: 0;
			font-size: 0.75em;
			padding: 1px 6px;
		}
	}
}
.ui-slider {
	margin: 0 0 0 .6em !important;
	width: 89% !important;
}
.hover_legend { padding: 0; }

// Constraints
// -----------------------

.selected-facets,
.advanced-facets {
	clear: both;
	padding: 1.5em 0 0;
	i { 
		color: $cornell-primary;
	}
	.filter-value {
		font-weight: 700;
	}
}

// Add a little space under each constraint for when they wrap onto multiple lines
.selected-facets {
	.btn {
		margin-bottom: 5px;
	}
}
.selected-facet {
	padding: 0 10px;
	background: $cornell-blue;
	border: 1px solid $cornell-blue-border;
	font-size: 0.875em;
	margin: 0 .5em .5em 0;
	color: #fff;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-tradius: 20px;
	border-radius: 20px;
}

.constraints-bar {
	background: white;
	padding-bottom: .5rem;
}

.modify-search-link {
	@include media-breakpoint-up(md) {
		float: right;
	}
}

#startOverLink::before {
	display: inline-block;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
	font-family: 'FontAwesome';
	content: '\f0a8';
	margin-right: .25rem;
	color: $cornell-primary;
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
	.facet-values {
		.facet-label {
			display: block;
			line-height: 1.4em;
		}
		.facet-count {
			padding-bottom: .5em;
		}
	}
	#facets {
		a.remove {
			display: inline-block;
		}
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	.facet-values {
		.facet-label {
			display: table-cell;
			padding-bottom: .25rem;
		}
		.facet-count {
			display: table-cell;
			padding-bottom: 0;
		}
	}
	#facets {
		a.remove {
			padding: 3px 5px;
		}
	}
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }