footer {
	background: $light-tan;
	border-top: 1px solid #ddd;
	p {
		font-size: .9rem;
	}
	a, a:hover {
		color: $dark-gray;
	}
	.footer-nav {
		margin-top: .25em;
		margin-bottom: 1.5em;
		overflow: hidden;
	}
	.footer-nav.nav > li {
		padding: 0 10px;
		float: left;
		margin-bottom: .5em;
	}
	.footer-nav.nav > li:first-child {
		padding-left: 0;
	}
	.footer-nav.nav > li > a {
		padding: 0;
	}
	.btn-cul {
		margin: 1.5em 0;
	}
	.nav-pills {
		margin-top: .25em;
		a {
			background: white;
			border: 1px solid $tan;
			margin-bottom: 2px;
			i {
				margin-right: .25em;
				color: $cornell-primary;
				font-size: 125%;
			}
		}
		a:hover, a:active, a:focus {
			background: $concrete;
			color: white;
			border-color: $concrete;
			background: $concrete;
			i {
				color: white;
			}
		}
	}
}

.footer-copyright {
	padding: 1.5em 0;
	border-top: 1px solid #ddd;
}

@include media-breakpoint-up(md) {
	.footer-nav {
		li {
			border-left: 1px solid $light-gray;
			font-size: .9rem;
		}
		li:first-child {
			border-left: 0;
		}
	}
}