footer {
	border-top: 1px solid #ddd;
	p {
		font-size: 12px;
	}
	a, a:hover {
		color: $dark-gray;
	}
	.footer-nav {
		margin-top: .25em;
		margin-bottom: 1.5em;
		overflow: hidden;
	}
	.footer-nav.nav > li {
		padding: 0 10px;
		float: left;
		margin-bottom: .5em;
	}
	.footer-nav.nav > li:first-child {
		padding-left: 0;
	}
	.footer-nav.nav > li > a {
		padding: 0;
	}
	.btn-cul {
		margin: 1.5em 0;
	}
	.nav-pills {
		margin-top: .25em;
		a {
			background: white;
			border: 1px solid $tan;
			margin-bottom: 2px;
			i {
				margin-right: .25em;
				color: $cornell-primary;
				font-size: 125%;
			}
		}
		a:hover, a:active, a:focus {
			background: $concrete;
			color: white;
			border-color: $concrete;
			background: $concrete;
			i {
				color: white;
			}
		}
	}
}

.footer-copyright {
	padding: 1.5em 0;
	border-top: 1px solid #ddd;
	margin-top: em;
}

footer {
	h3 {
		text-transform: uppercase;
		font-size: 12px;
		margin: 2em 0 0 0;
		color: $dark-gray;
	}
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	.footer-nav {
		li {
			border-left: 1px solid $light-gray;
			font-size: 13px;
		}
		li:first-child {
			border-left: 0;
		}
	}
	footer {
		p {
			font-size: 13px;
		}
	}
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }