// Typography
// ------------------------

.browse .main-content,
.blacklight-browse .main-content {
	h3 {
		border-bottom: 5px solid $light-tan;
		padding-bottom: .25rem;
		margin-bottom: 1.5rem;
	}
	.card-header {
		h3 {
			border-bottom: 0;
		}
	}
}


// Headings browse-search box
// ------------------------------------------
.browse-index {
	.browse-search {
		margin-top: 1em;
	}
}


// Headings list view
// ------------------------------------------

.see-ref { 
	margin: 5px 0 0 20px;
	font-size: 14px;
	a {
		font-style: normal;
	}
	i {
		color: $light-gray;
		font-size: 90%;
	}
}

// Call Number Browse
// ------------------------------------------
.browse-callnumber {
	// use monospace font for call number
	td:first-child {
		font-family: $font-family-call-number;
	}
	.online-label {
		font-weight: 700;
		margin-bottom: 0; 
	}
	i {
		margin-right: .25em;
	}
}


// CSS3 multiple columns
// http://techneblog.com/article/creating-responsive-multiple-column-list
// Get em size for colums: 184/16   
.columns {   
    -moz-column-width: 15.5em; // Firefox
    -webkit-column-width: 15.5em; // webkit, Safari, Chrome
    column-width: 15.5em;
    margin-bottom: 1em;
}
// remove standard list and bullet formatting from ul
.columns {
	ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
	}
	li {
		line-height: 1.75em;
	}
	li:first-child {
	    margin-top:0px;
	}
}
// correct webkit/chrome uneven margin on the first column


.see-ref-count { 
	color: $medium-gray;
	font-size: 12px;
	display: inline;
	font-style: normal;
}
.headings-count {
	width: 40px;
}
.see-also-author-title {
	margin: .25em 0 .5em 0;
}
#cn-browse-class {
	margin: 4px 0;
}

// Headings heading view
// ------------------------------------------
body.blacklight-browse-info,
body.blacklight-browse-show_subject,
.browse-info,
.browse-show_subject {
	.main-content {
		padding-bottom: .5em;
	}
	.dl-horizontal {
    &:not(#item-details) {
      margin-bottom: 2rem;
    }
		dt {
			font-weight: normal;
			float: none;
			text-align: left;
		}
		dd {
			margin-left: 0;
		}
	}
}
.reference-note {
	font-style: italic;
	font-size: 12px;
}
.titles-count { margin-top: -15px; }
.author-works {
	font-size: 14px;
	color: $medium-gray;
	display: block;
	margin-bottom: .5em;
	a {
		font-style: normal;
		margin-left: 3px;
	}
}
dl {
	.author-works {
		margin-left: .6em;
		display: inline-block;
		margin-bottom: 0;
	}
}
.scope-note {
	margin-bottom: .25em;
	line-height: 1.5em;
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
	.headings-cn {
		width: 30%;
	}
	body.blacklight-browse-info,
	body.blacklight-browse-show_subject,
	.browse-info,
	.browse-show_subject {
		.dl-horizontal {
			dt {
				float: left;
			}
			dd {
				margin-left: 165px;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	.headings-cn {
		width: 25%;
	}
	.headings-cn-title {
		width: 45%;
	}
	.headings-cn-format {
		width: 10%;
	}
	.headings-cn-availability {
		width: 20%;
	}
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }
