.search-bar {
  background: $light-tan;
  padding: 1em 0 .5em 0;
  // header in place of search box used on browse interface
  h2 {
    margin: 0;
    a, a:hover, a:active, a:focus {
      color: $dark-gray;
      text-decoration: none;
    }
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 1em;
  }
}

.search-options { margin-left: 0; }
input.search-query {
  width: 93%;
  padding-right: 0;
  padding-left: 15px;
}
.start-over {
  display: block;
  font-size: 14px;
  padding: 6px 12px 6px 0;
  float: left;
  margin-right: 1em;
}
.results-info {
  margin: 0;
  padding-bottom: .2em;
  border-bottom: solid 5px $light-tan;
}
.results-per-page-form {
  margin: 0;
  label {
    display: inline;
    margin-left: .5em;
  }
}
.results-pagination {
  margin: .1em 0 0 1em;
}
.results-sortby-form,
.results-view {
  float: right;
}
.results-sortby-form {
  margin: 0 1em 0 0;
}
#search_field {
  float: left;
  font-family: $font-family-base; // See cul-bootstrap-loader.css.scss for details
  // DISCOVERYACCESS-6528 - color contrast fix for disabled select options (the separators)
  option[disabled] {
    color: #495057;
  }
}
p.suggest {
  font-size:.8em;
  margin-top: 15px; }

div.search-tools > h2 {line-height: 1em}

.search-tools {
  .form-inline {
    .form-group {
      padding-left: 0;
    }
    .form-control {
      width: 100%;
    }
  }
}
.btn-search,
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
  background: $concrete;
  color: white;
}

// Advanced search link - catalog + bento
// ---------------------------------------- //

.advanced-search-link {
  margin: 1rem 0 .5rem 0;
  a {
    color: $dark-gray;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
    display: inline-block;
    i {
      margin-right: .5em;
      color: $cornell-primary;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-top: .5rem;
    float: right;
    text-align: right;
  }
}