.search-bar {
  background: $light-tan;
  padding: 1em 0 .5em 0;
  // header in place of search box used on browse interface
  h2 {
    margin: 0;
    a, a:hover, a:active, a:focus {
      color: $dark-gray;
      text-decoration: none;
    }
  }
}

.search-options { margin-left: 0; }
input.search-query {
  width: 93%;
  padding-right: 0;
  padding-left: 15px;
}
.start-over {
  display: block;
  font-size: 14px;
  padding: 6px 12px 6px 0;
  float: left;
  margin-right: 1em;
}
.results-info {
  margin: 0;
  padding-bottom: .2em;
  border-bottom: solid 5px $light-tan;
}
.results-per-page-form {
  margin: 0;
  label {
    display: inline;
    margin-left: .5em;
  }
}
.results-pagination {
  margin: .1em 0 0 1em;
}
.results-sortby-form,
.results-view {
  float: right;
}
.results-sortby-form {
  margin: 0 1em 0 0;
}
#search_field {
  float: left;
  font-family: $font-family-base; // See cul-bootstrap-loader.css.scss for details
  // DISCOVERYACCESS-6528 - color contrast fix for disabled select options (the separators)
  option[disabled] {
    color: #495057;
  }
}
p.suggest {
  font-size:.8em;
  margin-top: 15px; }

div.search-tools > h2 {line-height: 1em}

.search-tools {
  .form-inline {
    .form-group {
      padding-left: 0;
    }
    .form-control {
      width: 100%;
    }
  }
}
.btn-search,
.btn-search:hover,
.btn-search:active,
.btn-search:focus {
  background: $concrete;
  color: white;
}

// Search navigation
// --------------------- //
.search-nav {
  margin-top: 1.5em;
  li {
    border-left: 1px solid $dark-tan;
    padding: 0 .5em;
  }
  li:first-child {
    border-left: 0;
    padding-left: 0;
    a {
      padding-left: 0;
    }
  }
  li:last-child {
    padding-right: 0;
  }
  .nav > li > a {
    padding: 0;
  }
}

#advanced-search-link {
  color: $dark-gray;
  font-weight: 700;
  font-size: 1rem;
  i {
    margin-right: .5em;
    color: $cornell-primary;
  }
}

// MEDIA QUERIES
// -------------------------

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .search-bar {
    padding-bottom: 1em;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .search-nav {
    padding-left: 15px;
    margin-top: .5em;
    .nav {
      float: right;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }