// div.single-search.container {
//   padding:2em;
// }
input.search-query { width: 35%; }
#field,
#sort,
#per_page { margin-bottom: 0; }
.sort,
.per_page {
  display: inline;
  margin-right: .6em;
}
.sort_group { margin: 1em 0; }

.web-count {
  float:right;
  padding-right:1em;
}

.single-search {
  .form-group {
    width: 80%;
  }
  .search-query {
    width: 100%;
  }
  .btn-search {
    margin-left: .5em;
  }
}

// .single-search form {
//   margin:0px;

//   .btn {
//     margin-left:.25em;
//   }
// }

#top2 {
  .search-source {
    margin-top: 0;
  }
}
.bento_box .span3 p {
  padding:1em;
}
h2.search-source {
  font-size: 24px;
  font-family: Oxygen;
  font-weight: 700;
  margin: 0 0 0em;
  i { color:$dark-tan}
  a {
    color: $dark-gray;
  }
  a:hover {
    text-decoration: none;
  }
}

.result-totals {
  font-size: 1em;
  float: right;
  font-weight: normal;
  color: $light-gray;
  padding-left: .5em;
  i {
    color:$dark-tan
  }
}
div.view-all {
  text-align: center;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
  .engine-title{
    text-transform: lowercase;
  }
  .btn {
    font-size: 12px;
  }
  .all-link {
    margin-top: .5em;
  }
}
.bento_item {
  margin-top: .6em;
  padding-bottom: .4em;
  border-bottom: 1px solid $light-tan;
}
.bento_item_title {
  margin: 0;
  font-size: 1.3em;
  font-weight: normal;
}
.date {
  font-size: .8em;
}
.bento_item_body { font-size: .9em; }

.web {
  .bento_item {
  margin-bottom: 1em;
  }
  .bento_item_title {
    margin-bottom: .25em;
  }
     .second_about {
    color:$light-gray;
  }

}

  .web-results {
    margin-bottom: 2em;
    .second_about {
      color:$light-gray;
    }
  }
.bento_item_row {
   margin-bottom: .5em;
   line-height: 1.2em;


 }

  .abstract {
    font-size: 1.3em;
   }

 .back-to-search {
  font-size:1.3em;
 }


 .bento_compartment {
    border-bottom: 5px solid #edebe7;
    .top-view-all {
      position:relative;
      top:20px;
      font-size:1em;
    }
 }

 .bento_box {
  padding: 1em 0 0 0;
  }

.first_about { color: $light-gray; }
.formats {
  padding: 10px;
  // margin-bottom:20px;
  background-color:#fff;
  @include border-top-radius($border-radius-large);
  @include border-bottom-radius($border-radius-large);
  h3 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 .5em;
    border-bottom: 1px solid $light-tan;
    padding-bottom: .25em;
  }
  h3:first-child { margin-top: 0; }
  ul.icons-ul {
    margin-left: 1.8em;
    list-style: none;
    margin-bottom: 0;
  }
  .no-results a {
    color: #aaa;
  }
}

.best-bet {
  padding: 1em;
  background: white;
  // margin-top: .75em;
  margin-bottom: 1em;
  @include border-top-radius($border-radius-large);
  @include border-bottom-radius($border-radius-large);
  border: 1px solid #dedad3;
  h2 {
    line-height: 1.2em;
    margin-bottom: 0.2em;
    padding-bottom: 0;
    margin-top: -.15em;
    font-size: 20px;
  }
  .heads-up {
    font-size: 1.2em;
    margin-bottom:.5em;
    font-weight: bold;
    padding:0;
    margin-top:.23em;
  }
  .red {
    color:$cornell-primary
  }

}


.bento-box {
  position:relative;
  margin-bottom:2em;
  padding-right:2em;
}

.all-formats {
  background: $light-tan;
  @include border-top-radius($border-radius-large);
  @include border-bottom-radius($border-radius-large);
  h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    padding-bottom: 0;
  }
  ul.icons-ul {
    margin-left: 1.8em;
    list-style: none;
  }
  .no-results a {
    color: #aaa;
  }
}

// more prominent Expand your search box to match Catalog presentation
.expand-search { 
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 10px;
  background: white;
  @include border-top-radius($border-radius-large);
  @include border-bottom-radius($border-radius-large);
  h3 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 .5em;
    border-bottom: 1px solid $light-tan;
    padding-bottom: .25em;
  }
  h4 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    padding-bottom: 0;
  }
  ul {
    margin-left: 0;
    list-style: none;
  }
  li {
    font-size: 1em;
    margin-bottom: .25em;
  }
  i {
    color: $dark-tan;
    margin-right: .25em;
  }
  p {
    font-size: 1.1em;
  }
}
// give last expand-search div a little margin underneath for mobile so Top Results isn't jammed up under there
.expand-search:last-child {
  margin-bottom: 2em;
}
.survey {
  ul {
    list-style: none;
    margin-left: 0;
  }
  h3 {
    font-size: 1.1em;
  }
  i {
    color: $dark-tan;
  }
}

.bento_compartment {
  .web {
    margin-top:2em;
  }
}

#more-results {
  margin-left: 0;
  margin-bottom: 1.5em;
}


// Search options - customized from Catalog home page search options
// ------------------------------------------------------------------//
.search-index {
  .other-resources {
    border-top: 1px solid $tan;
    padding-top: 1em;
    margin-top: 1.5em;
  }
}

.empty-single-search {
  margin-top: 2em;
  .well {
    font-size:1.2em;
    padding: 19px 19px 0 19px;
  }
  form {
    padding-bottom: 2.5em;
  }
  // input.search-query { width: 60%; }
  // margin:3em;
  h2 {
    line-height: normal;
    margin: 0 0 .25em;
  }
}

.top-row {
  padding-bottom:2em;
}

.no-book-results {
  font-size:1.3em;
  padding-top:.5em;
}

#grid div {margin:0}
.bento1 {
  width: 45%;
  float: left; 
  margin-right: 3em; 
  margin-bottom: 2em;
}
.bento2 {
  width: 45%;
  float: right;
  margin-bottom: 2em;
}
.bento3 {
  margin-right:3em;width:45%;float:left;clear:left;margin-bottom:2em}
.bento4{width:45%;float:right;clear:right;margin-bottom:2em}
.web-pane{
  clear:both;
  position:relative;
  margin-bottom:2em;
}

// match online label to blacklight catalog
// .label-online {
//   background: $teal;
//   font-weight: normal;
// }
// .label-online:hover { background: $dark-teal; }

// feedback and classic boxes under formats
.results-collapse {
  .well {
    padding: 10px;
    margin-top: 20px;
    p {
      padding: 0;
      font-size: 1.1em;
      margin-bottom: 0;
    }
  }
}

// jumpbar
#jumpbar {
  padding-bottom: 1em;
  // border-bottom: 1px solid $tan;
  margin-bottom: 1em;
  .top-results {
    text-transform: uppercase;
    padding-right: 1em;
    font-weight: 700;
  }
  a {
    padding-right: 1.5em;
    font-size: 1.2em;
  }
  i {
    color: $dark-tan;
    margin-left: .25em;
  }
}
// mobile helper links - top and all results
.top-link {
  text-align: center;
  margin-top: .5em;
  i {
    color: $dark-tan;
  }
}
// advanced search link - override style that was brought over from catalog
// .advanced-search-link {
//   font-size: 1em;
//   margin-top: .5em;
// }
// match autocomplete suggestions to beta site
.ui-widget {
  font-family: $font-family-base !important;
  li { font-size: 16px; }
}
// give summon alert a little more space between it and the header
.item {
  .alert { margin-top: 1em; }
}

// no results
.no-results {
  font-size: 14px;
}
.no-margin {
  margin-bottom: 0;
}

// Search info -- tooltip on home page -- lifted from CUL site
.search-info {
  font-size: 13px;
  float: right;
  a {
    color: $medium-gray;
    cursor: pointer;
  }
}
.tooltip-inner {
  padding: 10px 12px; 
  font-size: 13px;
  background: $dark-gray;
  text-align: left;
}

// Override the default collapsed state -- copied out of gem - navbar.scss.css - stick this in here so IE8 will display the All Results panel - https://issues.library.cornell.edu/browse/DISCOVERYACCESS-1202
.results-collapse.collapse {
  // display: none;
}

.chat {
  margin: 0 0 1em;
}

// More Results collapse

// TABLETS AND BELOW
// -----------------
@media (max-width: $navbarCollapseWidth) {
  // Hide everything in the results save toggle button */
  // .results-collapse,
  // .results-collapse.collapse {
  //   overflow: hidden;
  //   height: 0;
  // }
}


// DEFAULT DESKTOP
// ---------------

@media (min-width: $navbarCollapseDesktopWidth) {

  // Required to make the collapsing navbar work on regular desktops
  // .results-collapse,
  // .results-collapse.collapse {
  //   height: auto !important;
  //   overflow: visible !important;
  // }

}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
  .single-search {
    .btn-search {
      margin-left: 0;
    }
  }
  .results-collapse,
  .results-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  // Required to make the collapsing navbar work on regular desktops
  // .results-collapse,
  // .results-collapse.collapse {
  //   height: auto !important;
  //   overflow: visible !important;
  // }
}
