---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","Credentials":{"LibrarySymbol":"CORNELL","Barcode":"<TEST_USER_BARCODE>"},"ExactSearch":[{"Type":"PHRASE","Value":"ZVBXRPL"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Error":{"ErrorNumber":"PUBFI002","ErrorMessage":"No result"}}'
  recorded_at: Wed, 11 Mar 2015 19:59:56 GMT
recorded_with: VCR 2.9.3
