---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","Credentials":{"LibrarySymbol":"CORNELL","Barcode":"<TEST_USER_BARCODE>"},"ExactSearch":[{"Type":"PHRASE","Value":"Masscult
        and Midcult"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Item":{"Available":true,"SearchTerm":"phrase=\"Masscult and Midcult\"","AuthorizationId":"sgZdzWMLnB7l97oFQi-3KwQLScM","PickupLocations":{"PickupLocation":["Geneva
        Experimental Station Library","Law Library","Mann Library","Olin Library","Veterinary
        Library"]}}}'
  recorded_at: Wed, 11 Mar 2015 19:59:53 GMT
recorded_with: VCR 2.9.3
