<div class="expand-search">
	<h2 class="facets-heading">Looking for more?</h2>
	<div class="card">
		<div class="card-body">
			<ul class="fa-ul">
			    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="<%= ENV['WORLDCAT_URL'] %>" onclick="javascript:_paq.push(['trackEvent', 'expandadvsearch', 'WCL']);">Search Libraries Worldwide</a></li>
			    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="<%= bento_all_results_link('ebsco_eds') %>" onclick="javascript:_paq.push(['trackEvent', 'expandadvsearch', 'EDS']);">Search Articles &amp; Full Text</a></li>
			    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="https://www.library.cornell.edu/collections/recommend-a-purchase/" onclick="javascript:_paq.push(['trackEvent', 'expandadvsearch', 'recommendpurchase']);">Recommend a Purchase</a></li>
			</ul>
		</div>
	</div>
</div>