<div id="sortAndPerPage" class="clearfix">
  	<%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
  	<div class="search-filter">
	  	<%= render_results_collection_tools wrapping_class: "search-widgets" %>
	  	<%= render 'select_all' %>
	</div>
</div>
