<%
  if @new_carousel[8]['display_class_label'] != ""
    classification = @new_carousel[8]['display_class_label']
  else
     classification =  @new_carousel[8]['format']
  end

  the_html = ""
  prev_reroute = ""
  next_reroute = ""
  count = 0

  @new_carousel.each do |doc|
    fa_string = ""
    if doc['format'].downcase.include?("journal")
      fa_string =  '<i class="fa fa-book-open"></i>'
    elsif doc['format'].downcase.include?("book")
      fa_string =  '<i class="fa fa-book"></i>'
    elsif doc['format'].downcase.include?("microform")
      fa_string =  '<i class="fa fa-film"></i>'
    elsif doc['format'].downcase.include?("non-musical")
      fa_string =  '<i class="fa fa-headphones"></i>'
    elsif doc['format'].downcase.include?("musical score")
      fa_string =  '<i class="fa fa-musical-score"></i>'
    elsif doc['format'].downcase.include?("musical")
      fa_string =  '<i class="fa fa-music"></i>'
    elsif doc['format'].downcase.include?("thesis")
      fa_string =  '<i class="fa fa-file-text-o"></i>'
    elsif doc['format'].downcase.include?("video")
      fa_string =  '<i class="fa fa-video-camera"></i>'
    elsif doc['format'].downcase.include?("manuscript")
      fa_string =  '<i class="fa fa-archive"></i>'
    elsif doc['format'].downcase.include?("map")
      fa_string = '<i class="fa fa-globe"></i>'
    end

    the_title = doc['title']
    if doc['title'].length > 52
      the_title = doc['title'][0..52] + "..."
    end

    img_string = ""
    if doc['img_url'].include?("cornell")
      the_type = doc['img_url'][doc['img_url'].rindex("/") + 1..-9]
      img_string = image_tag(doc['img_url'], alt: "Image not found", style: "width:120px")
    else
      img_string = '<img width="120px" alt="" src="' + doc["img_url"].sub("&zoom=5","6&zoom=1") + '" />'
    end

    avail_str = ""
    if  doc["availability"].include?("Online")
        avail_str = '<div class="vb-availability"><i class="fa fa-check" title="Online" alt="" aria-hidden="true"></i> Online</div>'
    elsif doc["availability"].include?("Not")
        #avail_str = '<div class="vb-availability"><i class="fa fa-clock-o" title="Available" alt="" aria-hidden="true"></i> ' + doc["availability"] + ' </div>'
    else
        #avail_str = '<div class="vb-availability"><i class="fa fa-check" title="Unavailable" alt="" aria-hidden="true"></i> ' + doc["availability"] + ' </div>'
    end

    if count == 0
      prev_reroute = '<div class="inner-container" id="prev-reroute" style="display:none;"><div class="vb-reroute">'
      prev_reroute += '<a href="/browse?authq=' + doc['callnumber'] + '&browse_type=virtual"><div>'
      prev_reroute += ' <i class="fa fa-chevron-left"></i> </div><div> View more results</div></a></div></div>'
    end

    if count == 16
      next_reroute = '<div class="inner-container" id="next-reroute" style="display:none;"><div class="vb-reroute">'
      next_reroute += '<a href="/browse?authq=' + doc['callnumber'] + '&browse_type=virtual"><div>'
      next_reroute += ' View more results</div><div> <i class="fa fa-chevron-right"></i></div></a></div></div>'
    end

    primary_class = "" if count != 8
    primary_class = " inner-container-primary" if count == 8

    the_html += prev_reroute if count == 0
    the_html += '<div class="inner-container' + primary_class + '" id="' + doc["id"].to_s + '" data-title="' + doc["title"] + '" data-locations="' + doc["locations"].join(", ") + '" data-callnumber="' + doc["callnumber"] + '" data-classification="' + doc['internal_class_label'] + '" data-pubdate="' + doc["pub_date"] + '" data-publisher="' + doc["publisher"] + '" data-author="' + doc["author"] + '">'
    the_html += '<div class="vb-callnum-hdr">' + doc["callnumber"] + '</div>'
    the_html += '<div class="vb-img-container" >' + img_string + '</div>'
    the_html += '<div  class="vb-title" >' + fa_string + '&nbsp;<a href="/catalog/' + doc["id"].to_s + '" title="' + doc["title"] + '" tabindex="-1" onclick="javascript:_paq.push([\'trackEvent\', \'virtualbrowse_carousel\', \'carousel_title\']);">' + the_title + '</a></div>'
    the_html += '<div style="clear:left;">' + doc["pub_date"] + '</div>'
    the_html += '<div class="vb-footer">' + avail_str + '</div></div>'
    the_html += next_reroute if count == 16

    count += 1
  end
%>

var classification = "<%=raw escape_javascript(classification) %>";
var prev_reroute = "<%=raw escape_javascript(prev_reroute) %>";
var next_reroute = "<%=raw escape_javascript(next_reroute) %>";
var the_html = "<%=raw escape_javascript(the_html) %>";
$('#outer-container').find('#prev-reroute').find('a').attr("href",prev_reroute);
$('#outer-container').find('#next-reroute').find('a').attr("href",next_reroute);
$('#classification').attr("data-anchor-label",classification);
$('.vb-current-class').html(classification);
$('#vb-time-indicator').hide();
$('#outer-container').html(the_html);
