<div class="span8">
  <ul class="blacklight-nav">
    <% if current_or_guest_user %>
    <%  @bookmarks = current_or_guest_user.bookmarks %>
      <li>
        <%= link_to bookmarks_path do %>
          <%= t('blacklight.header_links.bookmarks') %>
          <span id="bookmarks-count">
            <%- unless @bookmarks.nil? %>
              <%- @bookmarks.collect %>
              <%- unless @bookmarks.count < 1 %>
                (<%= @bookmarks.count %>)
              <%- end %>
            <%- end %>
          </span>
        <% end %>
      </li>
    <% end %>
    <li><%= link_to t('blacklight.header_links.search_history'), search_history_path %></li>
    <li><a href="#">Borrow Direct</a></li>
    <li><a href="#">Interlibrary Loan</a></li>
  </ul>
</div>
