<div class="col-sm-7">
  <ul class="blacklight-nav">
    <% if current_or_guest_user && !request.original_url.include?("/search")%>
    <%  @bookmarks = current_or_guest_user.bookmarks %>
      <li>
        <%= link_to bookmarks_path do %>
          <%= t('blacklight.header_links.bookmarks') %>
          <span id="bookmarks-count">
            <%- unless @bookmarks.nil? %>
              <%- @bookmarks.collect %>
              <%- unless @bookmarks.count < 1 %>
                (<%= @bookmarks.count %>)
              <%- end %>
            <%- end %>
          </span>
        <% end %>
      </li>
    <% end %>
    <% if !request.original_url.include?("/search") %>
      <li><%= link_to t('blacklight.header_links.search_history'), search_history_path %></li>
    <% end %>
    <li class="hidden-xs"><a href="http://resolver.library.cornell.edu/NET/parsebd?redirect=yes">Borrow Direct</a></li>
    <li class="hidden-xs"><a href="https://cornell.hosts.atlas-sys.com/illiad/">Interlibrary Loan</a></li>
    <li class="myaccount-link"><a href="http://www.library.cornell.edu/myacct"><i class="fa fa-user"></i>My Account</a></li>
  </ul>
</div>