<%= render DatabasesSearchBarComponent.new(
  url: databases_searchdb_path,
  params: {}
) %>

<%= render :partial => 'a_to_z_nav' %>

<div class="databases-subject" id="subjects">
  <h2>Browse by subject</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-header">
            <h3 class="mb-0"><a href="/databases/subject/General%20Interest%20and%20Reference">General Interest and Reference</a> </h3>
          </div>
          <div class="card-body">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Biographies">Biographies</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Dictionaries%20and%20Encyclopedias">Dictionaries and Encyclopedias</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Directories">Directories</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Images">Images</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Library%20and%20Publisher%20Catalogs">Library and Publisher Catalogs</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Newspapers,%20Magazines%20and%20Current%20Events">Newspapers, Magazines and Current Events</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Statistical%20Information">Statistical Information</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Streaming%20Video">Streaming Video</a></li>
            </ul>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
              <h3 class="mb-0"><a href="/databases/subject/World%20Regions%20and%20Diasporas">World Regions and Diasporas</a></h3>
          </div>
          <div class="card-body">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/General%20Resources">General Resources</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/East%20Asia">East Asia</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/East%20European%20and%20Slavic%20Studies">East European and Slavic Studies</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Latin%20America">Latin America</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Middle%20East%20and%20Africa">Middle East and Africa</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/South%20and%20Southeast%20Asia">South and Southeast Asia</a></li>
            </ul>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
              <h3 class="mb-0"><a href="/databases/subject/Science%20and%20Technology">Science and Technology</a></h3>
          </div>
          <div class="card-body">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Agriculture">Agriculture</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Biology">Biology</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Chemistry">Chemistry</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Computers%20and%20Information%20Science">Computers and Information Science</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Engineering">Engineering</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Environment%20and%20Natural%20Resources">Environment and Natural Resources</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Food%20and%20Nutrition">Food and Nutrition</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Geology">Geology</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Math%20and%20Statistics">Math and Statistics</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Medicine%20-%20Human%20and%20Veterinary">Medicine - Human and Veterinary</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Physics%20and%20Astronomy">Physics and Astronomy</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Textiles%20and%20Fashion%20Design">Textiles and Fashion Design</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-header">
              <h3 class="mb-0"><a href="/databases/subject/Arts%20and%20Humanities">Arts and Humanities</a></h3>
          </div>
          <div class="card-body">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Art%20and%20Architecture">Art and Architecture</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/History">History</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/History:%20Primary%20Sources">History: Primary Sources</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Linguistics,%20Language%20and%20Literature">Linguistics, Language and Literature</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Music">Music</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Philosophy%20and%20Religion">Philosophy and Religion </a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Theater,%20Film%20and%20Television">Theater, Film and Television</a></li>
            </ul>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
              <h3 class="mb-0"><a href="/databases/subject/Social%20Sciences">Social Sciences</a></h3>
          </div>
          <div class="card-body">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Anthropology">Anthropology</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Business%20and%20Management">Business and Management</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Communications">Communications</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Economics">Economics</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Education">Education</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Geography,%20Maps%20and%20Spatial%20Data">Geography, Maps and Spatial Data</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Government,%20Law%20and%20Public%20Policy">Government, Law and Public Policy</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Human%20Resources,%20Labor%20&amp;%20Employment">Human Resources, Labor &amp; Employment</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Library%20and%20Information%20Science">Library and Information Science</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Population%20and%20Demography">Population and Demography</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Psychology">Psychology</a></li>
              <li><span class="fa-li"><i class="fa fa-chevron-right"></i></span><a href="/databases/subject/Sociology%20and%20Rural%20Development">Sociology and Rural Development</a></li>
            </ul>
          </div>
        </div>        
      </div>
    </div>
</div>