---
http_interactions:
- request:
    method: get
    uri: http://da-stg-ssolr.library.cornell.edu/solr/blacklight/select?id=8767648&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 12 Apr 2016 14:27:32 GMT
      Etag:
      - '"MzYzYTAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>1,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'8767648','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'item_record_display'=>['{"sensitize":"Y","spine_label":"","magnetic_media":"N","recalls_placed":"0","temp_location":"0","item_barcode":"31924118915713","historical_browses":"2","item_enum":"v.1","item_sequence_number":"1","historical_charges":"16","create_date":"2015-02-12 09:50:26.0","copy_number":"1","create_location_id":"153","mfhd_id":"9108799","short_loan_charges":"0","chron":"","reserve_charges":"0","year":"","modify_location_id":"181","media_type_id":"0","create_operator_id":"ty15","historical_bookings":"0","holds_placed":"0","perm_location":{"code":"olin","number":99,"name":"Olin Library","library":"Olin Library"},"modify_date":"2015-05-20 16:32:53.0","temp_item_type_id":"0","caption":"","on_reserve":"N","pieces":"1","item_type_id":"3","price":"0","item_type_name":"book","item_id":"9682694","freetext":"","modify_operator_id":"tbs23"}'],'holdings_display'=>['9108799|20150212154107'],'multivol_b'=>false,'holdings_record_display'=>['{"id":"9108799","modified_date":"20150212154107","copy_number":null,"callnos":["PN6728.X2 L44 2002"],"notes":[],"holdings_desc":["vol.1 (2002)"],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"olin","number":99,"name":"Olin Library","library":"Olin Library"}]}'],'item_display'=>['9682694|9108799|20150520163253'],'other_id_display'=>['(OCoLC)54394546','(POOF)29791','8767648'],'id'=>'8767648','marc_display'=>'<?xml version=\'1.0\' encoding=\'UTF-8\'?><record xmlns="http://www.loc.gov/MARC21/slim"><leader>02498cam a2200637Ia 4500</leader><controlfield tag="001">8767648</controlfield><controlfield tag="005">20150428081320.0</controlfield><controlfield tag="008">040211m20029999nyua     6    000 1 eng  </controlfield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">9780785108450 (v. 1)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">0785108459 (v. 1)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">9780785109839 (v. 2)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">0785109838 (v. 2)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">9780785132080 (v. 4)</subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield c[...]
- request:
    method: get
    uri: http://holdings-int.library.cornell.edu/holdings/status_short/8767648
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bd900825b4a853b07d7efdd825742cec"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"8767648":{"8767648":{"records":[{"bibid":"8767648","call_number":"PN6728.X2
        L44 2002","statuses":{"9108799":"available"},"holdings":[{"BIB_ID":8767648,"MFHD_ID":9108799,"ITEM_ID":9682694,"ITEM_STATUS":1,"DISPLAY_CALL_NO":"PN6728.X2
        L44 2002","LOCATION_ID":99,"LOCATION_CODE":"olin","LOCATION_DISPLAY_NAME":"Olin
        Library","OQUANTITY":1,"ODATE":"2015-01-15T16:53:48-04:00","LINE_ITEM_STATUS":3,"LINE_ITEM_ID":693784,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2015-05-25T05:41:22-04:00","PERM_LOCATION":99,"PERM_LOCATION_DISPLAY_NAME":"Olin
        Library","PERM_LOCATION_CODE":"olin","CURRENT_DUE_DATE":null,"HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":1,"ITEM_ENUM":"v.1","CHRON":null}],"current_suppl":[]}],"summary":{"electronic":false,"holdinglocs":["Olin
        Library"],"locnumber":1,"status":["avail"],"avail_at":{"Olin Library":"PN6728.X2
        L44 2002"},"not_avail_at":{},"onotes":[]}}}}'
  recorded_at: Tue, 12 Apr 2016 15:50:40 GMT
- request:
    method: get
    uri: http://da-stg-ssolr.library.cornell.edu/solr/blacklight/select?defType=edismax&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_[...]
[...]
- request:
    method: get
    uri: http://tinyurl.com/api-create.php?url=http://www.example.com/catalog/7981095
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: http://tinyurl.com/m575yrb
  recorded_at: Tue, 12 Apr 2016 15:51:01 GMT
- request:
    method: get
    uri: http://da-stg-ssolr.library.cornell.edu/solr/blacklight/select?defType=edismax&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_[...]
[...]
- request:
    method: get
    uri: http://da-prod-solr3.library.cornell.edu/solr/blacklight2/select?id=8767648&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 22 Jul 2016 17:00:05 GMT
      Etag:
      - '"ZTE2YzgwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'respon[...]
- request:
    method: get
    uri: http://da-prod-solr3.library.cornell.edu/solr/blacklight2/select?defType=edismax&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_conten[...]
[...]
