---
http_interactions:
- request:
    method: get
    uri: http://da-prod-solr3.library.cornell.edu/solr/blacklight2/select?id=293396&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 25 Jul 2016 19:00:26 GMT
      Etag:
      - '"ZGU3YzgwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>0,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'293396','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'item_record_display'=>['{"sensitize":"Y","spine_label":"","magnetic_media":"N","recalls_placed":"0","temp_location":"0","item_barcode":"31924051740359","historical_browses":"2","item_enum":"v.54 no.1-11","item_sequence_number":"49","historical_charges":"4","create_date":"2000-05-31 00:00:00.0","copy_number":"1","create_location_id":"0","mfhd_id":"355535","short_loan_charges":"0","chron":"1989","reserve_charges":"0","year":"","modify_location_id":"0","media_type_id":"0","create_operator_id":"","historical_bookings":"0","holds_placed":"0","perm_location":{"code":"mann","number":69,"name":"Mann Library","library":"Mann Library"},"modify_date":"","temp_item_type_id":"0","caption":"","on_reserve":"N","pieces":"1","item_type_id":"2","price":"0","item_type_name":"serial","item_id":"539170","freetext":"","modify_operator_id":""}','{"sensitize":"Y","spine_label":"","magnetic_media":"N","recalls_placed":"0","temp_location":"0","item_barcode":"31924101593956","historical_browses":"0","item_enum":"v.69","item_sequence_number":"78","historical_charges":"0","create_date":"2006-11-16 13:30:47.0","copy_number":"1","create_location_id":"70","mfhd_id":"355535","short_loan_charges":"0","chron":"2004 Inc.","reserve_charges":"0","year":"","modify_location_id":"","media_type_id":"0","create_operator_id":"rlf38","historical_bookin[...]
- request:
    method: get
    uri: http://holdings-int.library.cornell.edu/holdings/status_short/293396
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://holdings-int.library.cornell.edu/holdings/status_short/293396
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="https://holdings-int.library.cornell.edu/holdings/status_short/293396">here</a>.</p>
        </body></html>
  recorded_at: Mon, 25 Jul 2016 19:16:49 GMT
- request:
    method: get
    uri: https://holdings-int.library.cornell.edu/holdings/status_short/293396
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5bf54e9ceca48dacfc68b0351d7ba1cf"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"293396":{"293396":{"records":[{"bibid":"293396","call_number":"TX335.A1
        C75","statuses":{"1015":"available","355532":"some_available","355535":"available","355536":"none","9103684":"none","8099663":"none"},"holdings":[{"BIB_ID":293396,"MFHD_ID":1015,"ITEM_ID":9368967,"ITEM_STATUS":1,"DISPLAY_CALL_NO":"TX335.A1
        C75","LOCATION_ID":59,"LOCATION_CODE":"jgsm","LOCATION_DISPLAY_NAME":"ILR
        Library (Ives Hall)","OQUANTITY":1,"ODATE":"2001-12-06T13:54:24-04:00","LINE_ITEM_STATUS":9,"LINE_ITEM_ID":161894,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2013-12-02T15:20:59-04:00","PERM_LOCATION":59,"PERM_LOCATION_DISPLAY_NAME":"ILR
        Library (Ives Hall)","PERM_LOCATION_CODE":"jgsm","CURRENT_DUE_DATE":null,"HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":5,"ITEM_ENUM":null,"CHRON":"2011"},{"BIB_ID":293396,"MFHD_ID":1015,"ITEM_ID":9368969,"ITEM_STATUS":1,"DISPLAY_CALL_NO":"TX335.A1
        C75","LOCATION_ID":59,"LOCATION_CODE":"jgsm","LOCATION_DISPLAY_NAME":"ILR
        Library (Ives Hall)","OQUANTITY":1,"ODATE":"2000-09-14T07:52:42-04:00","LINE_ITEM_STATUS":9,"LINE_ITEM_ID":3998,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2013-12-02T15:21:43-04:00","PERM_LOCATION":59,"PERM_LOCATION_DISPLAY_NAME":"ILR
        Library[...]
- request:
    method: get
    uri: http://holdings-int.library.cornell.edu/holdings/mfhd/9103684
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://holdings-int.library.cornell.edu/holdings/mfhd/9103684
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="https://holdings-int.library.cornell.edu/holdings/mfhd/9103684">here</a>.</p>
        </body></html>
  recorded_at: Mon, 25 Jul 2016 19:17:02 GMT
- request:
    method: get
    uri: https://holdings-int.library.cornell.edu/holdings/mfhd/9103684
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c6dea97e7a00db2bcee70542422da7d5"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"records":[{"mfhd_id":9103684,"mfhd":"<record xmlns=''http://www.loc.gov/MARC21/slim''><leader>00211cx  a22000851  4500</leader><controlfield
        tag=''001''>9103684</controlfield><controlfield tag=''004''>293396</controlfield><controlfield
        tag=''005''>20160708102759.0</controlfield><controlfield tag=''008''>1501064u    8   4001uu   0901128</controlfield><datafield
        ind1=''8'' ind2=''0'' tag=''852''><subfield code=''b''>law</subfield><subfield
        code=''k''>Popular Reading Area</subfield><subfield code=''z''>Request at
        Circulation Desk.</subfield></datafield></record>","encoding":"UTF-8"}]}'
  recorded_at: Mon, 25 Jul 2016 19:17:02 GMT
[...]
- request:
    method: get
    uri: https://holdings-int.library.cornell.edu/holdings/status_short/2083253
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c2a99d089df9281ca0ca8d52080aad3d"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"2083253":{"2083253":{"records":[{"bibid":"2083253","call_number":"16-5-268","statuses":{"2519759":"available"},"holdings":[{"BIB_ID":2083253,"MFHD_ID":2519759,"ITEM_ID":3887970,"ITEM_STATUS":1,"DISPLAY_CALL_NO":"16-5-268","LOCATION_ID":203,"LOCATION_CODE":"rmc,anx","LOCATION_DISPLAY_NAME":"Kroch
        Library Rare & Manuscripts (Request in advance)","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":null,"PERM_LOCATION":203,"PERM_LOCATION_DISPLAY_NAME":"Kroch
        Library Rare & Manuscripts (Request in advance)","PERM_LOCATION_CODE":"rmc,anx","CURRENT_DUE_DATE":null,"HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":null,"ITEM_ENUM":"Box
        1","CHRON":null}],"current_suppl":[]}],"summary":{"electronic":false,"holdinglocs":["Library
        Annex"],"locnumber":1,"status":["avail"],"avail_at":{"Kroch Library Rare &
        Manuscripts (Request in advance)":"16-5-268"},"not_avail_at":{},"onotes":[]}}}}'
  recorded_at: Mon, 25 Jul 2016 19:18:13 GMT
- request:
    method: get
    uri: http://da-prod-solr3.library.cornell.edu/solr/blacklight2/select?id=6041&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 25 Jul 2016 19:00:26 GMT
      Etag:
      - '"ZGU3YzgwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>9,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'6041','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'holdings_display'=>['11889|20060601145659'],'multivol_b'=>false,'holdings_record_display'=>['{"id":"11889","modified_date":"20060601145659","copy_number":null,"callnos":["KZ6115 .I56"],"notes":["Bound in: nos. 336-355"],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"law","number":63,"name":"Law Library (Myron Taylor Hall)","library":"Law Library"}]}'],'lc_controlnum_display'=>['40000241'],'lc_controlnum_s'=>['40000241'],'other_id_display'=>['(CStRLIN)NYCX86B9699','(NIC)notisAAA6117','(OCoLC)4830349','6041'],'id'=>'6041','marc_display'=>'<?xml version=\'1.0\' encoding=\'UTF-8\'?><record xmlns="http://www.loc.gov/MARC21/slim"><leader>01890cam a22004091  4500</leader><controlfield tag="001">6041</controlfield><controlfield tag="005">20141022000544.0</controlfield><controlfield tag="008">860124s1939    nyu           000 0 eng  </controlfield><datafield tag="010" ind1=" " ind2=" "><subfield code="a">   40000241 </subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYCX86B9699</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(NIC)notisAAA6117</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)4830349</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">6041</subfield></datafield><datafield tag="040" ind1=" " ind2=" ">[...]
[...]
- request:
    method: get
    uri: http://da-prod-solr3.library.cornell.edu/solr/blacklight2/select?defType=edismax&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_conten[...]
[...]
- request:
    method: get
    uri: http://da-prod-solr3.library.cornell.edu/solr/blacklight2/select?defType=lucene&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content[...]
[...]
- request:
    method: get
    uri: http://da-prod-solr3.library.cornell.edu/solr/blacklight2/select?defType=lucene&f.author_facet.facet.limit=6&f.fast_era_facet.facet.limit=6&f.fast_genre_facet.facet.limit=6&f.fast_geo_facet.facet.limit=6&f.fast_topic_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_alpha_facet.facet.limit=6&f.lc_callnum_facet.facet.limit=-1&f.lc_callnum_facet.facet.sort=index&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content[...]
[...]
- request:
    method: get
    uri: https://holdings-int.library.cornell.edu/holdings/status_short/28297
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"23a0ac82abae93765879815181260b00"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"28297":{"28297":{"records":[{"bibid":"28297","call_number":"QH1.A5
        B9 v.65,75,75A,75B","statuses":{"41908":"available","41909":"available","6165786":"available","6613143":"available","4655371":"none"},"holdings":[{"BIB_ID":28297,"MFHD_ID":41908,"ITEM_ID":9610445,"ITEM_STATUS":1,"DISPLAY_CALL_NO":"QH1.A5
        B9 v.65,75,75A,75B","LOCATION_ID":71,"LOCATION_CODE":"mann,anx","LOCATION_DISPLAY_NAME":"Library
        Annex","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2014-12-15T15:54:26-04:00","PERM_LOCATION":71,"PERM_LOCATION_DISPLAY_NAME":"Library
        Annex","PERM_LOCATION_CODE":"mann,anx","CURRENT_DUE_DATE":null,"HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":null,"ITEM_ENUM":"Bound
        with:v.65","CHRON":null},{"BIB_ID":28297,"MFHD_ID":41908,"ITEM_ID":9610446,"ITEM_STATUS":1,"DISPLAY_CALL_NO":"QH1.A5
        B9 v.65,75,75A,75B","LOCATION_ID":71,"LOCATION_CODE":"mann,anx","LOCATION_DISPLAY_NAME":"Library
        Annex","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2014-12-15T15:54:26-04:00","PERM_LOCATION":71,"PERM_LOCATION_DISPLAY_NAME":"Library
        A[...]
- request:
    method: get
    uri: http://holdings-int.library.cornell.edu/holdings/item/211754/211765/211766/211767
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://holdings-int.library.cornell.edu/holdings/item/211754/211765/211766/211767
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="https://holdings-int.library.cornell.edu/holdings/item/211754/211765/211766/211767">here</a>.</p>
        </body></html>
  recorded_at: Mon, 25 Jul 2016 19:21:31 GMT
- request:
    method: get
    uri: https://holdings-int.library.cornell.edu/holdings/item/211754/211765/211766/211767
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bae79c853d87ecccf5591421d52aa928"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"116716":[{"BIB_ID":116716,"MFHD_ID":153020,"ITEM_ID":211754,"ITEM_STATUS":3,"DISPLAY_CALL_NO":"QH1.A5
        B9","LOCATION_ID":71,"LOCATION_CODE":"mann,anx","LOCATION_DISPLAY_NAME":"Library
        Annex","PERM_LOCATION":71,"TEMP_LOCATION":0,"ITEM_TYPE_ID":3,"TEMP_ITEM_TYPE_ID":0,"COPY_NUMBER":1,"ON_RESERVE":"N","RESERVE_CHARGES":0,"PIECES":1,"PRICE":0,"SPINE_LABEL":null,"HISTORICAL_CHARGES":1,"HISTORICAL_BROWSES":2,"RECALLS_PLACED":0,"HOLDS_PLACED":0,"CREATE_DATE":"2000-05-31T00:00:00-04:00","MODIFY_DATE":"2013-05-23T09:04:07-04:00","CREATE_OPERATOR_ID":null,"MODIFY_OPERATOR_ID":"jhb268","CREATE_LOCATION_ID":0,"MODIFY_LOCATION_ID":100,"ITEM_SEQUENCE_NUMBER":65,"HISTORICAL_BOOKINGS":0,"MEDIA_TYPE_ID":0,"SHORT_LOAN_CHARGES":"0.0","MAGNETIC_MEDIA":"N","SENSITIZE":"Y","OQUANTITY":1,"ODATE":"2004-07-21T11:49:02-04:00","LINE_ITEM_STATUS":9,"LINE_ITEM_ID":289873,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2016-01-14T16:05:54-04:00","PERM_LOCATION_DISPLAY_NAME":"Library
        Annex","PERM_LOCATION_CODE":"mann,anx","CURRENT_DUE_DATE":"2017-01-24T17:00:00-04:00","PO_TYPE":3,"ITEM_ENUM":"v.65","CHRON":"1932","TITLE":"Bulletin
        of the American Museum of Natural History. "},{"BIB_ID":116716,"MFHD_ID":153020,"ITEM_ID":211765,"ITEM_STATUS":3,"DISPLAY_CALL_NO":"QH1.A5
        B9","LOCATION_ID":71,"LOCATION_CODE":"mann,anx","LOCATION_DISPLAY_NAME":"Library
        Annex","PERM_LOCATION":71,"TEMP_LOCATION":0,"ITEM_TYPE_ID":3,"TEMP_ITEM_TYPE_ID":0,"COPY_NUMBER":1,"ON_RESERVE":"N","RESERVE_CHARGES":0,"PIECES":1,"PRICE":0,"SPINE_LABEL":null,"HISTORICAL_CHARGES":0,"HISTORICAL_BROWSES":2,"RECALLS_PLACED":0,"HOLD[...]
[...]
- request:
    method: get
    uri: http://holdings-int.library.cornell.edu/holdings/item/3270227
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://holdings-int.library.cornell.edu/holdings/item/3270227
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="https://holdings-int.library.cornell.edu/holdings/item/3270227">here</a>.</p>
        </body></html>
  recorded_at: Mon, 25 Jul 2016 19:21:33 GMT
- request:
    method: get
    uri: https://holdings-int.library.cornell.edu/holdings/item/3270227
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5b4ca1fed18fd94f42497f51e6dc3426"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"1681293":[{"BIB_ID":1681293,"MFHD_ID":2034185,"ITEM_ID":3270227,"ITEM_STA[...]
[...]
