---
http_interactions:
- request:
    method: get
    uri: https://bestbets.library.cornell.edu/match/chemical%20process%20design%20course%20guide
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 29 Oct 2018 17:13:51 GMT
- request:
    method: get
    uri: http://lgapi-us.libapps.com/1.1/guides/?key=6c766cab731dac24ad29d15f381e7d4a&search_terms=chemical%20process%20design%20course%20guide&site_id=45&status=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Backend-Server:
      - libapps-2.springyaws.com
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Mon, 29 Oct 2018 17:13:51 GMT
- request:
    method: get
    uri: https://digital.library.cornell.edu/catalog.json?q=chemical%20process%20design%20course%20guide&rows=3&search_field=all_fields&utf8=%E2%9C%93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2cde77545087a714756d16117fa614c0"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"docs":[{"system_create_dtsi":"2015-08-17T19:09:19Z","system_modified_dtsi":"2015-12-01T16:59:24Z","object_state_ssi":"A","active_fedora_model_ssi":"Book","format_tesim":["Book"],"id":"hunt:0083","object_profile_ssm":["{\"datastreams\":{\"RELS-EXT\":{\"dsLabel\":\"Fedora
        Object-to-Object Relationship Metadata\",\"dsVersionID\":\"RELS-EXT.11\",\"dsCreateDate\":\"2015-12-01T16:59:24Z\",\"dsState\":\"A\",\"dsMIME\":\"application/rdf+xml\",\"dsFormatURI\":null,\"dsControlGroup\":\"X\",\"dsSize\":21980,\"dsVersionable\":true,\"dsInfoType\":null,\"dsLocation\":\"hunt:0083+RELS-EXT+RELS-EXT.11\",\"dsLocationType\":null,\"dsChecksumType\":\"DISABLED\",\"dsChecksum\":\"none\"},\"descMetadata\":{\"dsLabel\":null,\"dsVersionID\":\"descMetadata.5\",\"dsCreateDate\":\"2015-12-01T16:59:21Z\",\"dsState\":\"A\",\"dsMIME\":\"text/xml\",\"dsFormatURI\":null,\"dsControlGroup\":\"M\",\"dsSize\":735537,\"dsVersionable\":false,\"dsInfoType\":null,\"dsLocation\":\"hunt:0083+descMetadata+descMetadata.5\",\"dsLocationType\":\"INTERNAL_ID\",\"dsChecksumType\":\"DISABLED\",\"dsChecksum\":\"none\"},\"digitalImage\":{\"dsLabel\":\"File
        Datastream\",\"dsVersionID\":\"digitalImage.5\",\"dsCreateDate\":\"2015-12-01T16:59:24Z\",\"dsState\":\"A\",\"dsMIME\":\"image/jpeg\",\"dsFormatURI\":null,\"dsControlGroup\":\"M\",\"dsSize\":569134,\"dsVersionable\":false,\"dsInfoType\":null,\"dsLocation\":\"hunt:0083+digitalImage+digitalImage.5\",\"dsLocationType\":\"INTERNAL_ID\",\"dsChecksumType\":\"DISABLED\",\"dsChecksum\":\"none\"},\"thumbnailImage\":{\"dsLabel\":\"File
        Datastream\",\"dsVersionID\":\"thumbnailImage.5\",\"dsCreateDate\":\"2015-12-01T16:59:24Z\",\"dsState\":\"A\",\"dsMIME\":\"image/jpeg\",\"dsFormatURI\":null,\"dsControlGroup\":\"M\",\"dsSize\":6274,\"dsVersionable\":false,\"dsInfoType\":null,\"dsLocation\":\"hunt:0083+thumbnailImage+thumbnailImage.5\",\"dsLocationType\":\"INTERNAL_ID\",\"dsChecksumType\":\"DISABLED\",\"dsChecksum\":\"none\"},\"pdf\":{},\"DC\":{\"dsLabel\":\"Dublin
        Core Record for this object\",\"dsVersionID\":\"DC1.0\",\"dsCreateDate\":\"2015-08-17T19:09:19Z\",\"dsState\":\"A\",\"dsMIME\":\"text/xml\",\"dsFormatURI\":\"http://www.openarchives.org/OAI/2.0/oai_dc/\",\"dsControlGroup\":\"X\",\"dsSize\":338,\"dsVersionable\":true,\"dsInfoType\":null,\"dsLocation\":\"hunt:0083+DC+DC1.0\",\"dsLocationType\":null,\"dsChecksumType\":\"DISABLED\",\"dsChecksum\":\"none\"}},\"objLabel\":null,\"objOwnerId\":\"fedoraAdmin\",\"objModels\":[\"info:fedora/afmodel:Book\",\"info:fedora/fedora-system:FedoraObject-3.0\"],\"objCreateDate\":\"2015-08-17T19:09:19Z\",\"objLastModDate\":\"2015-10-29T18:49:36Z\",\"objDissIndexViewURL\":\"http://localhost:80/fedora/objects/hunt%3A0083/methods/fedora-system%3A3/viewMethodIndex\",\"objItemIndexViewURL\":\"http://localhost:80/fedora/objects/hunt%3A0083/methods/fedora-system%3A3/viewItemIndex\",\"objState\":\"A\"}"],"titlestmt_titletype_tesim":["245"],"titlestmt_title_tesim":["An
        English-Dakota dictionary.  Wasicun ka Dakota ieska wowapi.  Comp. by John
        P. Williamson"],"titlestmt_author_tesim":["Williamson, John Poage"],"extent_tesim":["290
        300dpi JPEG page images"],"pubstmt_publisher_tesim":["Cornell University Library"],"repository_tesim":["Cornell
        University Library","Division of Rare and Manuscript Collections"],"pubstmt_pubplace_tesim":["Ithaca,
        New York"],"repository_place_tesim":["Ithaca, New York"],"pubstmt_idno_type_tesim":["dlps"],"pubstmt_idno_tesim":["hunt0083"],"book_id_ts":"hunt0083","bibl_titletype_tesim":["main"],"title_tesim":["An
        English-Dakota dictionary.  Wasicun ka Dakota ieska wowapi.  Comp. by John
        P. Williamson"],"title_ssi":"An English-Dakota dictionary.  Wasicun ka Dakota
        ieska wowapi.  Comp. by John P. Williamson","author_tesim":["Williamson, John
        Poage"],"author_t":"Williamson, John Poage","author_creator_tesim":["Williamson,
        John Poage","Williamson, John Poage"],"creator_t":["Williamson, John Poage"],"creator_facet_tesim":["Williamson,
        John Poage"],"publisher_tesim":["American tract society"],"pubplace_tesim":["New
        York"],"creation_site_location_tesim":["New York"],"pubdate_tesim":["1902"],"latest_date_isi":1902,"subject_tesim":["
        Dakota language - Dictionaries - English","English language - Dictionaries
        - Dakota"],"collection_tesim":["Huntington Free Library Native American Collection"],"editorialdecl_n_tesim":["2"],"book_ocr_tesim":["\n\n\n\nPK\n\n4na-C)tSi\n\nMV.5EVA\\oftheAMERJCAN
        INDIAN!\n\n","Huntington Free Library\n\nNative American\nCollection\n\n''K\"\n\nCORNELL
        UNIVERSITY\nLIBRARY","AN\nENGLISH-DAKOTA DICTIONARY.","AN\n\nEnglish-Dakota\nDictionary.\n\nWASICUN  KA  DAKOTA\nIESKA
        WOWAPI.\n\nCOMPILED  BY\n\nJOHN P. WILLIAMSON, A.M., D.D.,\n\nMISSIONARY  OP
        THE  PRESBYTERIAN  CHURCH.\n\nAMElilCAN   TRACT    SOCIETY\nSeven West 45th
        St., New York\n\n500-1935"," **k \n\n \n\nc 3\n[...]
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=3&query=srw.kw%20=%20%22chemical%22%20AND%20srw.kw%20=%20%22process%22%20AND%20srw.kw%20=%20%22design%22%20AND%20srw.kw%20=%20%22course%22%20AND%20srw.kw%20=%20%22guide%22&recordSchema=info:srw/schema/1/dc&servicelevel=full&wskey=ydY1RXi9Lx7wmUjJVYi3QlCwUEXxDmJEO5Lrvwf9nLX9vn9dnX3OeHseVTPpxjjTWajSn3r4L70jpUW4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>35</numberOfRecords>
        <records>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:contributor>Currano, Judith N.</dc:contributor>
        <dc:contributor>Roth, Dana, 1935-</dc:contributor>
        <dc:contributor>Royal Society of Chemistry (Great Britain)</dc:contributor>
        <dc:date>©2014</dc:date>
        <dc:description>Includes bibliographical references and index.</dc:description>
        <dc:description>Subject: While it is not difficult to find data in many cases, it can be very difficult to find quality data. Chemical Information for Chemists could help with this problem and more. This is a chemical information book specifically aimed at practising chemists. Written and edited by experts in the field, it is ideal for chemists who lack a chemical information professional able to teach basic and intermediate[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?s.cmd=negateFacetValueFilter(ContentType)&s.hl=false&s.ps=3&s.q=chemical%20process%20design%20course%20guide
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Mon, 29 Oct 2018 17:13:51 GMT
      Authorization:
      - Summon cornell;S1gRwRqb9eqKZGXoVEbJxpwzXHo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - DFW1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "6c5e9695-4fe9-4c4f-bd33-16773451b649","elapsedQueryTime":
        491,"queryTime": 466,"totalRequestTime": 564,"pageCount": 191,"recordCount":
        572,"query": {"queryString": "s.fvf=ContentType%2CNewspaper+Article%2Ct&s.secure=f&s.dailyCatalog=t&s.q=chemical+process+design+course+guide&s.ho=t&s.hl=f&s.ps=3&s.qt=summon-brs1","pageNumber":
        1,"pageSize": 3,"isHighlightingEnabled": false,"isHoldingsOnlyEnabled": true,"textQueries":
        [{"textQuery": "chemical process design course guide","removeCommand": "removeTextQuery(chemical
        process design course guide)"}],"searchTerms": [],"textFilters": [],"rangeFilters":
        [],"facetValueFilters": [{"fieldName": "ContentType","value": "Newspaper Article","isNegated":
        true,"removeCommand": "removeFacetValueFilter(ContentType,Newspaper Article)","negateCommand":
        "negateFacetValueFilter(ContentType,Newspaper Article)"}],"inclusiveFacetValueFilters":
        [],"facetValueGroupFilters": [],"facetFields": [],"rangeFacetFields": [],"sort":
        []},"facetFields": [],"rangeFacetFields": [],"didYouMeanSuggestions": [],"recommendationLists":
        {},"documents": [{"hasFullText": true,"isFullTextHit": false,"isPrint": false,"inHoldings":
        true,"openUrl": "ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info%3Asid%2Fsummon.serialssolutions.com&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&rft.genre=book&rft.title=Sustainability+Engineering&rft.au=Perl%2C+Jeffery&rft.date=2016-01-01&rft.pub=Springer+International+Publishing&rft.isbn=9783319324937&rft_id=info:doi/10.1007%2F978-3-319-32495-1&rft.externalDBID=n%2Fa&rft.externalDocID=978-3-319-32495-1_330756","link":
        "http://cornell.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwlV1LS8NAEB6K4qEXFQVbHxTx4mFLktlXrpYW8aRoq7ewu9lcKlX6EPz3ziZNjY9LIZc8SDbfDrPz-GYW4Eo64VOZCsYLnzLueMFsjshiqRRyEVtZ9tKb3IuHZz4eiZcWJJvQxWzarzOSpaKua92qNH4oucGwXTILHo-mj5AI9-_G32EVRTIc61DFgcE24SlW7f_05lzVyc3_3tqGtllMSb-Q7lkufpidvzKl5QI02oeahVzRTjbspbd5oKk0aNmN_o5b_OUB7PpQ9XAILT87gu5jXVYVmLOfvUbTwmOYjIZPg1u23kSBGVqdhWY2Mp7gJ78hdjJK0eU8Vy7K0XplU2EduUyRTXJrI-3JWjBWJIVB7bXRdB3xBHrGcJpGJ6wRZA4gN8L60CZGFWhSRNeBywZq2cdrmeldZA3YRdyBXg1mVt5f00-z4c2ABiqTSHbguoYle6-6bWR_IMmQ9JKQ3S2ePQ3ueBk3oeMMdpbzlT-HvfUkXZQi9AU4q7uu","ExternalDocumentID":
        ["9783319324951","978-3-319-32495-1_330756","EBC4586206"],"IngestDate": ["Sat
        Apr 28 06:41:32 EDT 2018","Thu Aug 24 20:17:58 EDT 2017","Tue Aug 21 20:35:18
        EDT 2018"],"PublicationDate_xml": [{"month": "07","year": "2016","text": "20160708","day":
        "08"}],"Score": ["20.420893"],"DatabaseTitleList": [""],"URI": ["https://ebookcentral.proquest.com/lib/[SITE_ID]/detail.action?docID=4586206","http://www.vlebooks.com/vleweb/product/openreader?id=none&isbn=9783319324951&uid=none"],"PublicationPlace_xml":
        [{"name": "Cham"}],"PublicationPlace": ["Cham"],"Publisher_xml": [{"name":
        "Springer"},{"name": "Springer International Publishing"}],"ID": ["FETCH-LOGICAL-a22458-b0aebd39741c6093cd4d7c0d3be7b95bc8710b2dbb08e222ab52fa38e8a80b233"],"Publisher":
        ["Springer","Springer International Publishing"],"DOI": ["10.1007/978-3-319-32495-1"],"AbstractList":
        ["This book explores sustainability engineering through the lens of the manufacturing
        and chemical process industries to elucidate the safe and economic implementation
        of process designs used to transform raw materials into useful finished products.
        The author applies the tenets of sustainability science to develop an engineering
        methodology that supports the perpetual availability of raw materials through
        recycling/reuse/repurposing, incorporates inexhaustible supplies, such as
        solar energy and municipal waste, and encompasses the husbandry of these resources
        in a manner that minimizes negative environmental impacts. Anyone involved
        in the design or manufacture of chemicals, or the upgrade of existing manufacturing
        processes, will benefit from this book''s suggestions for identifying improvement
        options, while adding the pivotal aspect of sustainability to the usual cost
        and safety equation optimization elements."],"Language": ["English"],"Author":
        ["Perl, Jeffery"],"PublicationCentury": ["2000"],"PublicationDecade": ["2010"],"IsScholarly":
        ["false"],"ProviderPackageCode": ["SBO","-BG","AEIBC","ADPGQ","-7M",".JU","AANLI","ABRGE","NUC","0DA","AAQZU","AFWQY","38."],"LCCallNum_Ident":
        ["T58.8TD172-193.5T55."],"SubjectTerms": ["Industrial engineering","Industrial
        Pollution Prevention","Energy","Energy Efficiency","Industrial and Production
        Engineering","Sustainable engineering","Environmental engineering"],"Discipline":
        ["Engineering","Business"],"ContentType": ["eBook"],"SourceType": ["Aggregation
        Database","Publisher"],"Author_xml": [{"sequence": "1","fullname": "Perl,
        Jeffery"}],"ISBN": ["9783319324937","3319324934"],"EISBN": ["9783319324951","3319324950"],"Abstract":
        ["This book explores sustainability engineering through the lens of the manufacturing
        and chemical process industries to elucidate the safe and economic implementation
        of process designs used to transform raw materials into useful finished products.
        The author applies the tenets of sustainability science to develop an engineering
        methodology that supports the perpetual availability of raw materials through
        recycling/reuse/repurposing, incorporates inexhaustible supplies, such as
        solar energy and municipal waste, and encompasses the husbandry of these resources
        in a manner that minimizes negative environmental impacts. Anyone involved
        in the design or manufacture of chemicals, or the upgrade of existing manufacturing
        processes, will benefit from this book''s suggestions for identifying improvement
        options, while adding the pivotal aspect of sustainability to the usual cost
        and safety equation optimization elements."],"PublicationYear": ["2016"],"SourceID":
        ["askewsholts","springer","proquest"],"Copyright_xml": [{"notice": "Springer
        International Publishing Switzerland 2016"}],"SSID": ["ssj0001707018"],"TableOfContents":
        ["ck -- 3.14 Materials Sourcing Summary -- 3.15 Energy Sourcing -- 3.15.1
        Finite Nonrenewable Resources -- 3.15.2 Renewables -- 3.16 Common Often Unused
        (Stranded, Wasted) Energy Source -- 3.17 Onsite Integrated Electricity Generation:
        A SE Mainstay -- 3.18 Common Often Unused (Wasted) Material Sources -- 3.19
        Material and Energy Integration Approaches: A New Approach for SE -- 3.20
        SE Classification of Resources for Production -- 3.21 Common Recy[...]
