---
http_interactions:
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/select?rows=10&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 14 May 2019 18:15:22 GMT
      Etag:
      - '"NDlkMTEyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"zkConnected":true,"status":0,"QTime":565,"params":{"rows":"10","wt":"json"}},"response":{"numFound":8029167,"start":0,"maxScore":1.5185139,"docs":[{"author_display":"Vaughan,
        Elaine","title_display":"Community and Identity in Teacher Professional Talk:
        Applying Corpus Methodologies","fulltitle_display":"Community and Identity
        in Teacher Professional Talk: Applying Corpus Methodologies","subtitle_display":"","pub_info_display":["London
        Routledge 2020"],"pub_date_display":["2020"],"language_display":["English."],"id":"10429314","acquired_dt":"2018-07-26T00:00:00Z","holdings_record_display":["{\"id\":\"10731588\",\"modified_date\":\"20180726085224\",\"copy_number\":null,\"callnos\":[\"Available
        for the Library to Purchase\"],\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holdings_desc\":[],\"index_holdings_desc\":[],\"locations\":[{\"code\":\"cts,rev\",\"number\":120,\"name\":\"Library
        Technical Services Review Shelves\",\"library\":null}]}"],"oclc_id_display":["1046544858"],"availability_json":"{\"available\":true,\"availAt\":{\"Library
        Technical Services Review Shelves\":\"Available for the Library to Purchase\"}}","pub_date_facet":2020,"format":["Book"],"score":1.5185139},{"author_display":"Baglione,
        Lisa A., 1962- author","title_display":"Writing a research paper in political
        science","fulltitle_display":"Writing a research paper in political science
        : a practical guide to inquiry, structure, and methods","subtitle_display":"a
        practical guide to inquiry, structure, and methods","pub_info_display":["Thousand
        Oaks, California : CQ Press, an Imprint of SAGE Publications, Inc., [2020]"],"pub_date_display":["[2020]"],"language_display":["English."],"id":"10602789","edition_display":["Fourth
        Edition."],"acquired_dt":"2019-02-21T00:00:00Z","holdings_record_display":["{\"id\":\"10900292\",\"modified_date\":\"20190221123650\",\"copy_number\":null,\"callnos\":[\"JA86
        .B24 2020\"],\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holdings_desc\":[],\"index_holdings_desc\":[],\"locations\":[{\"code\":\"olin\",\"number\":99,\"name\":\"Olin
        Library\",\"library\":\"Olin Library\"}]}"],"item_record_display":["{\"copy_number\":\"1\",\"item_type_name\":\"book\",\"item_id\":\"10630615\",\"year\":\"\",\"item_type_id\":\"3\",\"chron\":\"\",\"caption\":\"\",\"holds_placed\":\"0\",\"temp_location\":\"0\",\"on_reserve\":\"N\",\"item_enum\":\"\",\"item_sequence_number\":\"1\",\"temp_item_type_id\":\"0\",\"mfhd_id\":\"10900292\",\"recalls_placed\":\"0\",\"create_date\":\"2019-02-21
        12:42:50.0\",\"item_barcode\":\"31924126363724\",\"modify_date\":\"\",\"perm_location\":{\"code\":\"olin\",\"number\":99,\"name\":\"Olin
        Library\",\"library\":\"Olin Library\"}}"],"oclc_id_display":["1049577395"],"availability_json":"{\"available\":false,\"unavailAt\":{\"Olin
        Library\":\"JA86 .B24 2020\"}}","pub_date_facet":2020,"format":["Book"],"online":["At
        the Library"],"score":1.5185139},{"author_display":"Mio, Jeffery Scott, 1954-
        author","title_display":"Multicultural psychology","fulltitle_display":"Multicultural
        psychology : understanding our diverse communities","subtitle_display":"understanding
        our diverse communities","pub_info_display":["New York, New York : Oxford
        University Press, [2020]"],"pub_date_display":["2020"],"language_display":["English."],"id":"10746975","edition_display":["Fifth
  [...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Anthropology%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 14 May 2019 18:15:22 GMT
      Etag:
      - '"NDlkMTEyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":179,
            "params":{
              "q":"\"Anthropology\"",
              "indent":"true",
              "wt":["json",
                "json"]}},
          "response":{"numFound":18,"start":0,"docs":[
              {
                "title_display":"Africa-wide information",
                "fulltitle_display":"Africa-wide information",
                "subtitle_display":"",
                "id":"5928394",
                "summary_display":["Africa-wide NiPAD is an index covering material on Africa  from the 19th century to the present, including: African studies abstracts  (1994- ), Africa Institute (1981- ), Southern African database (1961- ),  School of Oriental and African Studies Library catalogue: Africa (1989- ),  NAMLIT (19th century- ), Don Africana collection (16th century- ) Campbell  collections of the University of Natal, Killie Campbell Africana Library  (19th century- ), Business & industry: Africa (1994- ), Natural and cultural  history Africa (1960- ), African periodicals exhibit catalogue (1997),  Bibliography on contemporary African politics and development (1981-1992),  International library of African music, Database of Swiss theses and  dissertations (1897-1996) ; Index to South African periodicals  (1987-present), the South African national bibliography (1988-present),  National English Literary Museum (1990-present, retrospective to the 19th  cent.), Knipkat from the Nasionale Afrikaanse Letterkunde Museum en  Navorsingsentrum, Witwatersrand University Management Research Reports  (1970-present), The Centre for Rural Legal Studies Database (1987 and  earlier to present), South African Legal Abbreviations, and others."],
                "url_access_display":["http://resolver.library.cornell.edu/misc/5928394|Connect to full text."],
                "url_access_json":["{\"providercode\":\"PRVEBS\",\"dbcode\":\"KSC\",\"description\":\"Connect to full text.\",\"url\":\"http://resolver.library.cornell.edu/misc/5928394\"}"],
                "sixfivethree":["Anthropology",
                  "Arts and Humanities",
                  "Middle East and Africa",
                  "Social Sciences",
                  "World Regions and Diasporas"]},
              {
                "title_display":"Bibliography of Asian studies",
                "fulltitle_display":"Bibliography of Asian studies",
                "subtitle_display":"",
                "id":"361525",
                "summary_display":["No full text. Chiefly scholarly. Indexes articles and [...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Anthropology%20(Core)%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 14 May 2019 18:13:46 GMT
      Etag:
      - '"YThlMDYyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/database?id=5366869&indent=true&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 14 May 2019 18:15:22 GMT
      Etag:
      - '"NDlkMTEyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":8,
            "params":{
              "indent":"true",
              "id":"5366869",
              "wt":"json"}},
          "response":{"numFound":1,"start":0,"maxScore":14.01224,"docs":[
              {
                "title_display":"AnthroSource",
                "fulltitle_display":"AnthroSource",
                "subtitle_display":"",
                "id":"5366869",
                "title_other_display":["Navigation bar title: AS anthrosource",
                  "Home page presentation title: Welcome to AnthroSource",
                  "Anthro source"],
                "summary_display":["Current issues of Association journals and bulletins, plus searchable archived issues of all the Association's publications,  <1888-2003>. Covers political, medical, cultural, and legal anthropology; ethnology; education; humanism; archaeology; nutrition; gender issues; and linguistics."],
                "url_access_display":["http://resolver.library.cornell.edu/misc/5366869|Connect to AnthroSource."],
                "url_access_json":["{\"providercode\":\"PRVACL\",\"dbcode\":\"RCZ\",\"description\":\"Connect to AnthroSource.\",\"url\":\"http://resolver.library.cornell.edu/misc/5366869\"}"],
                "sixfivethree":["Anthropology (Core)",
                  "Social Sciences"]}]
          }}
  recorded_at: Tue, 14 May 2019 18:16:52 GMT
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databases?defType=dismax&indent=true&q=MLA&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 14 May 2019 18:16:53 GMT
      Etag:
      - '"ODRjYTEyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":246,
            "params":{
              "q":"MLA",
              "defType":"dismax",
              "indent":"true",
              "wt":"json"}},
          "response":{"numFound":4,"start":0,"maxScore":641542.0,"docs":[
              {
                "title_display":"MLA directory of periodicals",
                "fulltitle_display":"MLA directory of periodicals",
                "subtitle_display":"",
                "id":"6961751",
                "summary_display":["Presents detailed information on more than 7,100 periodicals in the areas of literature, language, li[...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Images%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 14 May 2019 18:16:53 GMT
      Etag:
      - '"YTlkMTEyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
 [...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Images%20(Core)%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 14 May 2019 18:13:46 GMT
      Etag:
      - '"YThlMDYyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      st[...]
