---
http_interactions:
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/select?rows=10&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jun 2018 15:24:44 GMT
      Etag:
      - '"NjdkNDcwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"zkConnected":true,"status":0,"QTime":329,"params":{"rows":"10","wt":"json"}},"response":{"numFound":7864629,"start":0,"maxScore":1.50515,"docs":[{"holdings_record_display":["{\"id\":\"10639742\",\"modified_date\":\"20180413120456\",\"copy_number\":null,\"callnos\":[\"MT6.5
        .M964 2019\"],\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holdings_desc\":[],\"index_holdings_desc\":[],\"locations\":[{\"code\":\"mus\",\"number\":88,\"name\":\"Cox
        Library of Music (Lincoln Hall)\",\"library\":\"Music Library\"}]}"],"online":["At
        the Library"],"item_record_display":["{\"copy_number\":\"1\",\"item_type_name\":\"book\",\"item_id\":\"10483023\",\"year\":\"\",\"item_type_id\":\"3\",\"chron\":\"\",\"caption\":\"\",\"holds_placed\":\"0\",\"temp_location\":\"0\",\"on_reserve\":\"N\",\"item_enum\":\"\",\"item_sequence_number\":\"1\",\"temp_item_type_id\":\"0\",\"mfhd_id\":\"10639742\",\"recalls_placed\":\"0\",\"create_date\":\"2018-04-12
        10:01:01.0\",\"item_barcode\":\"31924125496855\",\"modify_date\":\"\",\"perm_location\":{\"code\":\"mus\",\"number\":88,\"name\":\"Cox
        Library of Music (Lincoln Hall)\",\"library\":\"Music Library\"}}"],"id":"10334386","format":["Book"],"language_display":["English."],"pub_date_display":["2019"],"pub_date_facet":2019,"pub_info_display":["New
        York : Oxford University Press, 2019."],"fulltitle_display":"Music for analysis
        : examples from the common practice period and the twentieth century","title_display":"Music
        for analysis","author_display":"Benjamin, Thomas, author","subtitle_display":"examples
        from the common practice period and the twentieth century","edition_display":["8th
        ed."],"other_id_display":["(OCoLC)1020866644","10334386"],"acquired_dt":"2018-04-13T00:00:00Z","availability_json":"{\"available\":true,\"availAt\":{\"Cox
        Library of Music (Lincoln Hall)\":\"MT6.5 .M964 2019\"}}","score":1.50515},{"holdings_record_display":["{\"id\":\"10049931\",\"modified_date\":\"20161213134354\",\"copy_number\":null,\"callnos\":null,\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holdings_desc\":[],\"index_holdings_desc\":[],\"locations\":[{\"code\":\"serv,remo\",\"number\":128,\"name\":\"*Networked
        Resource\",\"library\":null}]}"],"id":"9726061","format":["Book"],"online":["Online"],"pub_date_display":["2019"],"pub_date_facet":2019,"pub_info_display":["[S.l.]
        : Sage Publications, Inc, 2019."],"title_display":"SAGE Encyclopedia of Theory","fulltitle_display":"SAGE
        Encyclopedia of Theory","other_id_display":["(WaSeSS)OCM1ssib024484163","9726061","(OCoLC)965982045"],"url_access_json":["{\"providercode\":\"PRVSPB\",\"dbcode\":\"AAIMZ\",\"description\":\"Full
        text available from SAGE Reference 2016 Encyclopedia Collection Connect to
        text.\",\"ssid\":\"ssib024484163\",\"url\":\"http://proxy.library.cornell.edu/login?url=http://sk.sagepub.com/\"}"],"url_access_display":["http://proxy.library.cornell.edu/login?url=http://sk.sagepub.com/|Full
        text available from SAGE Reference 2016 Encyclopedia Collection Connect to
        text."],"acquired_dt":"2016-12-13T00:00:00Z","availability_json":"{\"online\":true}","score":1.50515},{"holdings_record_display":["{\"id\":\"10555062\",\"modified_date\":\"20180531161937\",\"copy_number\":null,\"callnos\":[\"HB172
        .F72 2019\"],\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holding[...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Anthropology%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jun 2018 15:24:44 GMT
      Etag:
      - '"NjdkNDcwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":59,
            "params":{
              "q":"\"Anthropology\"",
              "indent":"true",
              "wt":["json",
                "json"]}},
          "response":{"numFound":18,"start":0,"docs":[
              {
                "id":"5928394",
                "title_display":"Africa-wide",
                "subtitle_display":"NiPAD",
                "fulltitle_display":"Africa-wide : NiPAD",
                "summary_display":["Africa-wide NiPAD is an index covering material on Africa  from the 19th century to the present, including: African studies abstracts  (1994- ), Africa Institute (1981- ), Southern African database (1961- ),  School of Oriental and African Studies Library catalogue: Africa (1989- ),  NAMLIT (19th century- ), Don Africana collection (16th century- ) Campbell  collections of the University of Natal, Killie Campbell Africana Library  (19th century- ), Business & industry: Africa (1994- ), Natural[...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Anthropology%20(Core)%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jun 2018 15:25:11 GMT
      Etag:
      - '"ZDVkYWIwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/database?id=5366869&indent=true&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jun 2018 15:24:44 GMT
      Etag:
      - '"NjdkNDcwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":8,
            "params":{
              "indent":"true",
              "id":"5366869",
              "wt":"json"}},
          "response":{"numFound":1,"start":0,"maxScore":13.962595,"docs":[
              {
                "id":"5366869",
                "title_display":"AnthroSource",
                "fulltitle_display":"AnthroSource",
                "title_other_display":["Navigation bar title: AS anthrosource",
                  "Home page presentation title: Welcome to AnthroSource",
                  "Anthro source"],
                "summary_display":["Current issues of Association journals and bulletins, plus searchable archived issues of all the Association's publications,  <1888-2003>. Covers political, medical, cultural, and legal anthropology; ethnology; education; humanism; archaeology; nutrition; gender issues; and linguistics."],
                "url_access_json":["{\"providercode\":\"PRVACL\",\"dbcode\":\"RCZ\",\"description\":\"Connect to AnthroSource.\",\"url\":\"http://resolver.library.cornell.edu/misc/5366869\"}"],
                "url_access_display":["http://resolver.library.cornell.edu/misc/5366869|Connect to AnthroSource."],
                "providercode":["PRVACL"],
                "dbcode":["RCZ"],
                "sixfivethree":["Social Sciences",
                  "Anthropology (Core)"]}]
          }}
  recorded_at: Wed, 20 Jun 2018 15:25:24 GMT
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databases?defType=dismax&indent=true&q=MLA&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jun 2018 15:24:44 GMT
      Etag:
      - '"NDNkNDcwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":141,
            "params":{
              "q":"MLA",
              "defType":"dismax",
              "indent":"true",
              "wt":"json"}},
          "response":{"numFound":3,"start":0,"maxScore":622697.0,"docs":[
              {
                "id":"2477233",
                "title_display":"MLA international bibliography",
                "fulltitle_display":"MLA international bibliography",
                "summary_display":["Provides access to citations of journal articles, books, and dissertations published on modern languages, literatures, folklore, and lin[...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Images%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jun 2018 15:25:11 GMT
      Etag:
      - '"ZDVkYWIwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
 [...]
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/databasesBySubject?indent=true&q=%22Images%20(Core)%22&wt=json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 20 Jun 2018 15:24:44 GMT
      Etag:
      - '"NjdkNDcwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      st[...]
