---
http_interactions:
- request:
    method: get
    uri: http://da-prod-solr.library.cornell.edu/solr/blacklight/select?rows=10&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 18 Jul 2019 19:34:33 GMT
      Etag:
      - '"MjFkMzQ2MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"zkConnected":true,"status":0,"QTime":656,"params":{"rows":"10","wt":"json"}},"response":{"numFound":7988507,"start":0,"maxScore":1.5185139,"docs":[{"author_display":"Vaughan,
        Elaine","title_display":"Community and Identity in Teacher Professional Talk:
        Applying Corpus Methodologies","fulltitle_display":"Community and Identity
        in Teacher Professional Talk: Applying Corpus Methodologies","subtitle_display":"","pub_info_display":["London
        Routledge 2020"],"pub_date_display":["2020"],"language_display":["English."],"id":"10429314","acquired_dt":"2018-07-26T00:00:00Z","holdings_record_display":["{\"id\":\"10731588\",\"modified_date\":\"20180726085224\",\"copy_number\":null,\"callnos\":[\"Available
        for the Library to Purchase\"],\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holdings_desc\":[],\"index_holdings_desc\":[],\"locations\":[{\"code\":\"cts,rev\",\"number\":120,\"name\":\"Library
        Technical Services Review Shelves\",\"library\":null}]}"],"oclc_id_display":["1046544858"],"availability_json":"{\"available\":true,\"availAt\":{\"Library
        Technical Services Review Shelves\":\"Available for the Library to Purchase\"}}","pub_date_facet":2020,"format":["Book"],"score":1.5185139},{"author_display":"Baglione,
        Lisa A., 1962- author","title_display":"Writing a research paper in political
        science","fulltitle_display":"Writing a research paper in political science
        : a practical guide to inquiry, structure, and methods","subtitle_display":"a
        practical guide to inquiry, structure, and methods","pub_info_display":["Thousand
        Oaks, California : CQ Press, an Imprint of SAGE Publications, Inc., [2020]"],"pub_date_display":["[2020]"],"language_display":["English."],"id":"10602789","edition_display":["Fourth
        Edition."],"acquired_dt":"2019-02-21T00:00:00Z","holdings_record_display":["{\"id\":\"10900292\",\"modified_date\":\"20190221123650\",\"copy_number\":null,\"callnos\":[\"JA86
        .B24 2020\"],\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holdings_desc\":[],\"index_holdings_desc\":[],\"locations\":[{\"code\":\"olin\",\"number\":99,\"name\":\"Olin
        Library\",\"library\":\"Olin Library\"}]}"],"item_record_display":["{\"copy_number\":\"1\",\"item_type_name\":\"book\",\"item_id\":\"10630615\",\"year\":\"\",\"item_type_id\":\"3\",\"chron\":\"\",\"caption\":\"\",\"holds_placed\":\"0\",\"temp_location\":\"0\",\"on_reserve\":\"N\",\"item_enum\":\"\",\"item_sequence_number\":\"1\",\"temp_item_type_id\":\"0\",\"mfhd_id\":\"10900292\",\"recalls_placed\":\"0\",\"create_date\":\"2019-02-21
        12:42:50.0\",\"item_barcode\":\"31924126363724\",\"modify_date\":\"\",\"perm_location\":{\"code\":\"olin\",\"number\":99,\"name\":\"Olin
        Library\",\"library\":\"Olin Library\"}}"],"oclc_id_display":["1049577395"],"availability_json":"{\"available\":false,\"unavailAt\":{\"Olin
        Library\":\"JA86 .B24 2020\"}}","pub_date_facet":2020,"format":["Book"],"online":["At
        the Library"],"score":1.5185139},{"author_display":"Yin, Kun., author","title_display":"Design
        of Novel Biosensors for Optical Sensing and Their Applications in Environmental
        Analysis","fulltitle_display":"Design of Novel Biosensors for Optical Sensing
        and Their Applications in Environmental Analysis","subtitle_display":"","pub_info_display":["Singapore
        : Springer Singapore : Imprint: Springer, 2020."],"pub_date_display":["2020"],"language_display":["English."],"id":"10832037","url_access_display":["http://proxy.library.cornell.edu/login?url=https://link.springer.com/openurl?genre=book&isbn=978-981-13-6488-4|Full
        text available from SpringerLink ebooks - Earth and Environmental Science
        (Contemporary) Connect to text."],"url_access_json":["{\"providercode\":\"PRVAVX\",\"dbcode\":\"0D8\",\"description\":\"Full
        text available from SpringerLink ebooks - Earth and Environmental Science
        (Contemporary) Connect to text.\",\"ssid\":\"ssj0002135574\",\"url\":\"http://proxy.library.cornell.edu/login?url=https://link.springer.com/openurl?genre=book&isbn=978-981-13-6488-4\"}"],"acquired_dt":"2019-05-14T00:00:00Z","holdings_record_display":["{\"id\":\"11127410\",\"modified_date\":\"20190514145312\",\"copy_number\":null,\"callnos\":null,\"notes\":[],\"holdings_desc\":[],\"recent_holdings_desc\":[],\"supplemental_holdings_desc\":[],\"index_holdings_desc\":[],\"locations\":[{\"code\":\"serv,remo\",\"number\":128,\"name\":\"*Networked
        Resource\",\"l[...]
