---
http_interactions:
- request:
    method: get
    uri: http://da-prod-solr1.library.cornell.edu/solr/blacklight2/select?id=18583&qt=document&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 Mar 2015 06:07:45 GMT
      Etag:
      - '"NmM3ODAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>12,'params'=>{'fl'=>'*','echoParams'=>'all','q'=>'{!raw f=id v=$id}','rows'=>'1','id'=>'18583','qt'=>'document','wt'=>'ruby'}},'response'=>{'numFound'=>1,'start'=>0,'docs'=>[{'id'=>'18583','holdings_display'=>['29017','86','29015'],'holdings_record_display'=>['{"id":"29015","copy_number":null,"callnos":["GT2869 .M56 1985"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"hote","number":43,"name":"ILR Library (Ives Hall)","library":"ILR Library"}]}','{"id":"86","copy_number":null,"callnos":["GT2869 .M66"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"olin","number":99,"name":"Olin Library","library":"Olin Library"}]}','{"id":"29017","copy_number":null,"callnos":["GT2869 .M56x 1985"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"afr","number":2,"name":"Africana Library (Africana Center)","library":"Africana Library"}]}'],'lc_controlnum_display'=>['83040667'],'lc_controlnum_s'=>['83040667'],'other_id_display'=>['(CStRLIN)NYCX85B51463','(NIC)notisAAB8795','(OCoLC)11088957','18583'],'marc_display'=>'<?xml version=\'1.0\' encoding=\'UTF-8\'?><record xmlns="http://www.loc.gov/MARC21/slim"><leader>01390cam a2200409 a 4500</leader><controlfield tag="001">18583</controlfield><controlfield tag="005">20141022014331.0</controlfield><controlfield tag="008">850510s1985    nyuaf    b    001 0 eng  </controlfield><datafield tag="010" ind1=" " ind2=" "><subfield code="a">   83040667 </subfield></datafield><datafield tag="020" ind1=" " ind2=" "><subfield code="a">0670687022 :</subfield><subfield code="c">$20.00</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(CStRLIN)NYCX85B51463</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(NIC)notisAAB8795</subfield></datafield><datafield tag="035" ind1=" " ind2=" "><subfield code="a">(OCoLC)11088957</subfield></datafield><datafield tag="035" ind1=" " i[...]
- request:
    method: get
    uri: http://holdings1.library.cornell.edu/holdings/status_short/18583
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4e9fcdc5ad057696ee3e70341506702d"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"18583":{"18583":{"records":[{"bibid":"18583","call_number":"GT2869
        .M66","statuses":{"86":"unavailable","29015":"unavailable","29017":"unavailable"},"holdings":[{"BIB_ID":18583,"MFHD_ID":86,"ITEM_ID":89,"ITEM_STATUS":12,"DISPLAY_CALL_NO":"GT2869
        .M66","LOCATION_ID":99,"LOCATION_CODE":"olin","LOCATION_DISPLAY_NAME":"Olin
        Library","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2014-07-22T15:56:39-04:00","PERM_LOCATION":99,"PERM_LOCATION_DISPLAY_NAME":"Olin
        Library","PERM_LOCATION_CODE":"olin","CURRENT_DUE_DATE":null,"HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":null},{"BIB_ID":18583,"MFHD_ID":29015,"ITEM_ID":45646,"ITEM_STATUS":3,"DISPLAY_CALL_NO":"GT2869
        .M56 1985","LOCATION_ID":43,"LOCATION_CODE":"hote","LOCATION_DISPLAY_NAME":"ILR
        Library (Ives Hall)","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2014-11-23T16:30:32-04:00","PERM_LOCATION":43,"PERM_LOCATION_DISPLAY_NAME":"ILR
        Library (Ives Hall)","PERM_LOCATION_CODE":"hote","CURRENT_DUE_DATE":"2015-11-23T23:00:00-04:00","HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":null},{"BIB_ID":18583,"MFHD_ID":29017,"ITEM_ID":45648,"ITEM_STATUS":2,"DISPLAY_CALL_NO":"GT2869
        .M56x 1985","LOCATION_ID":2,"LOCATION_CODE":"afr","LOCATION_DISPLAY_NAME":"Africana
        Library (Africana Center)","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2015-02-02T11:24:46-04:00","PERM_LOCATION":2,"PERM_LOCATION_DISPLAY_NAME":"Africana
        Library (Africana Center)","PERM_LOCATION_CODE":"afr","CURRENT_DUE_DATE":"2015-05-18T23:00:00-04:00","HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":null}],"current_suppl":[]}],"summary":{"electronic":false,"holdinglocs":["Olin
        Library","ILR Library (Ives Hall)","Africana Library (Africana Center)"],"locnumber":3,"status":["avail"],"avail_at":{},"not_avail_at":{"Olin
        Library":"GT2869 .M66","ILR Library (Ives Hall)":"GT2869 .M56 1985","Africana
        Library (Africana Center)":"GT2869 .M56x 1985"},"onotes":[]}}}}'
  recorded_at: Mon, 09 Mar 2015 17:37:46 GMT
- request:
    method: get
    uri: http://holdings-int.library.cornell.edu/holdings/status_short/18583
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4880e9258bcc1034bae7214a042cb187"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"18583":{"18583":{"records":[{"bibid":"18583","call_number":"GT2869
        .M66","statuses":{"86":"unavailable","29015":"unavailable","29017":"available"},"holdings":[{"BIB_ID":18583,"MFHD_ID":86,"ITEM_ID":89,"ITEM_STATUS":12,"DISPLAY_CALL_NO":"GT2869
        .M66","LOCATION_ID":99,"LOCATION_CODE":"olin","LOCATION_DISPLAY_NAME":"Olin
        Library","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2014-07-22T15:56:39-04:00","PERM_LOCATION":99,"PERM_LOCATION_DISPLAY_NAME":"Olin
        Library","PERM_LOCATION_CODE":"olin","CURRENT_DUE_DATE":null,"HOLDS_PLACED":0,"RECALLS_PLACED":0,"PO_TYPE":null,"ITEM_ENUM":null,"CHRON":null},{"BIB_ID":18583,"MFHD_ID":29015,"ITEM_ID":45646,"ITEM_STATUS":3,"DISPLAY_CALL_NO":"GT2869
        .M56 1985","LOCATION_ID":43,"LOCATION_CODE":"hote","LOCATION_DISPLAY_NAME":"ILR
        Library (Ives Hall)","OQUANTITY":null,"ODATE":null,"LINE_ITEM_STATUS":null,"LINE_ITEM_ID":null,"TEMP_LOCATION_DISPLAY_NAME":null,"TEMP_LOCATION_CODE":null,"TEMP_LOCATION_ID":0,"ITEM_STATUS_DATE":"2014-11-23T16:30:32-04:00","PERM_LOCATION":43,"PERM_LOCATION_DISPLAY_NAME":"ILR
        Library (Ives Hall)","PE[...]
