---
http_interactions:
- request:
    method: get
    uri: http://da-dev-solr.library.cornell.edu/solr/blacklight/select?defType=edismax&f.author_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=6&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_facet.facet.limit=6&f.subject_era_facet.facet.limit=6&f.subject_geo_facet.facet.limit=6&f.subject_topic_facet.facet.limit=6&facet.field=hierarchy_facet&q=(%2BAnnotated%20%2Bhobbit%20)%20OR%20%22Annotated%20hobbit%22&qt=search&rows=20&sort=score%20desc,%20pub_date_sort%20desc,%20title_sort%20asc&spellcheck.q=(%2BAnnotated%20%2Bhobbit%20)%20OR%20%22Annotated%20hobbit%22&stats=true&stats.field=pub_date_facet&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 14 Jan 2015 14:58:53 GMT
      Etag:
      - '"NzFmNjAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>212,'params'=>{'sort'=>'score desc, pub_date_sort desc, title_sort asc','f.online.facet.limit'=>'3','stats'=>'true','f.subject_topic_facet.facet.limit'=>'6','spellcheck.q'=>'(+Annotated +hobbit ) OR "Annotated hobbit"','f.language_facet.facet.limit'=>'6','f.lc_1letter_facet.facet.limit'=>'6','f.location_facet.facet.limit'=>'6','wt'=>'ruby','rows'=>'20','defType'=>'edismax','f.subject_content_facet.facet.limit'=>'6','f.subject_geo_facet.facet.limit'=>'6','stats.field'=>'pub_date_facet','q'=>'(+Annotated +hobbit ) OR "Annotated hobbit"','f.author_facet.facet.limit'=>'6','facet.field'=>['online','format','author_facet','pub_date_facet','language_facet','subject_topic_facet','subject_geo_facet','subject_era_facet','subject_content_facet','lc_1letter_facet','location_facet','hierarchy_facet'],'qt'=>'search','f.subject_era_facet.facet.limit'=>'6','f.format.facet.limit'=>'11'}},'response'=>{'numFound'=>2,'start'=>0,'maxScore'=>19.696186,'docs'=>[{'id'=>'4392584','holdings_record_display'=>['{"id":"4929617","copy_number":null,"callnos":["PR6039.O32 H6x 2002"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"olin","number":99,"name":"Olin Library","library":"Olin Library"}]}'],'format'=>['Book'],'language_display'=>['English'],'pub_date_facet'=>2002,'pub_info_display'=>['Boston : Houghton Mifflin, 2002.'],'edition_display'=>['Rev. and expanded ed.'],'title_display'=>'The annotated hobbit','fulltitle_display'=>'The annotated hobbit','online'=>['At the Library'],'author_display'=>'Tolkien, J. R. R. (John Ronald Reuel), 1892-1973|Tolkien, J. R. R. (John Ronald Reuel), 1892-1973.','item_record_display'=>['{"sensitize":"N","spine_label":"","magnetic_media":"N","recalls_placed":"0","temp_location":"0","item_barcode":"31924095232199","historical_browses":"19","item_enum":"","item_sequence_number":"1","historical_charges":"12","create_date":"2002-11-01 10:53:20.0","copy_number":"1","create_location_id":"153","mfhd_id":"4929617","short_loan_charges":"0","chron":"","reserve_charges":"0","year":"","modify_location_id":"181","media_type_id":"0","create_operator_id":"ds279","historical_bookings":"0","holds_placed":"0","perm_location":{"code":"olin","number":99,"name":"Olin Library","library":"Olin Library"},"modify_date":"2013-05-17 14:10:44.0","temp_item_type_id":"0","caption":"","on_reserve":"N","pieces":"1","item_type_id":"3","price":"0","item_type_name":"book","item_id":"6530722","freetext":"","modify_operator_id":"tbs23"}'],'score'=>19.696186},{'id'=>'1535861','holdings_record_display'=>['{"id":"1873487","copy_number":"5","callnos":["PR6039.O49 H6 1988"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"uris,anx","number":210,"name":"Library Annex","library":"Library Annex"}]}','{"id":"1873482","copy_number":null,"callnos":["Oversize PR6039.O49 H6 1988 +"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"suppleme[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?s.cmd=setHoldingsOnly(true)&s.he=__BENTO_HL_END__&s.hs=__BENTO_HL_START__&s.ps=1&s.q=Annotated%20hobbit
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Wed, 14 Jan 2015 19:29:59 GMT
      Authorization:
      - Summon cornell;I2LpGdTuVyDdBbyfJ2XcuzvURJo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "c3e1f6c0-f588-4787-8a82-f6a6229e7a01","elapsedQueryTime":
        68,"queryTime": 58,"totalRequestTime": 107,"pageCount": 180,"recordCount":
        180,"query": {"queryString": "s.hs=__BENTO_HL_START__&s.ho=t&s.ps=1&s.q=Annotated+hobbit&s.he=__BENTO_HL_END__&s.pn=1&s.fvf=ContentType%2CJournal+Article%2Cf&s.fvf=ContentType%2CJournal+%2F+eJournal%2Cf&s.fvf=ContentType%2CBook+Chapter%2Cf","pageNumber":
        1,"pageSize": 1,"highlightStartDelimiter": "__BENTO_HL_START__","highlightEndDelimiter":
        "__BENTO_HL_END__","isHoldingsOnlyEnabled": true,"textQueries": [{"textQuery":
        "Annotated hobbit","removeCommand": "removeTextQuery(Annotated hobbit)"}],"searchTerms":
        [],"textFilters": [],"rangeFilters": [],"facetValueFilters": [{"fieldName":
        "ContentType","value": "Journal Article","isNegated": false,"removeCommand":
        "removeFacetValueFilter(ContentType,Journal Article)","negateCommand": "negateFacetValueFilter(ContentType,Journal
        Article)"},{"fieldName": "ContentType","value": "Journal / eJournal","isNegated":
        false,"removeCommand": "removeFacetValueFilter(ContentType,Journal / eJournal)","negateCommand":
        "negateFacetValueFilter(ContentType,Journal / eJournal)"},{"fieldName": "ContentType","value":
        "Book Chapter","isNegated": false,"removeCommand": "removeFacetValueFilter(ContentType,Book
        Chapter)","negateCommand": "negateFacetValueFilter(ContentType,Book Chapter)"}],"inclusiveFacetValueFilters":
        [],"facetValueGroupFilters": [],"facetFields": [],"rangeFacetFields": [],"sort":
        []},"facetFields": [],"rangeFacetFields": [],"didYouMeanSuggestions": [],"recommendationLists":
        {"database": [{"title": "MLA International Bibliography","description": "The
        MLA International Bibliography provides a subject index for books and articles
        published on modern languages, literatures, folklore, and linguistics. Compiled
        by the staff of the MLA Office of Bibliographic Information Services with
        the cooperation of more than 100 contributing bibliographers in the United
        States and abroad, it annually indexes over 66,000 books and articles.","link":
        "http://cornell.summon.serialssolutions.com/2.0.0/link/dbrecommender/AAAkYzNlMWY2YzAtZjU4OC00Nzg3LThhODItZjZhNjIyOWU3YTAxAQAKVlA1UVc0VUY1WAIAfWh0dHA6Ly9wcm94eS5saWJyYXJ5LmNvcm5lbGwuZWR1L2xvZ2luP3VybD1odHRwOi8vc2VhcmNoLmVic2NvaG9zdC5jb20vbG9naW4uYXNweD9hdXRodHlwZT1pcCx1aWQmcHJvZmlsZT1laG9zdCZkZWZhdWx0ZGI9bXpoAwABMAQAHk1MQSBJbnRlcm5hdGlvbmFsIEJpYmxpb2dyYXBoeQUACGRhdGFiYXNl","score":
        "35.81719"}]},"documents": [{"hasFullText": true,"isFullTextHit": false,"inHoldings":
        true,"openUrl": "ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info:sid/summon.serialssolutions.com&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=The+Annotated+Hobbit&rft.jtitle=Library+Journal&rft.au=Michael+Rogers&rft.date=2002-10-01&rft.pub=Media+Source&rft.issn=0363-0277&rft.volume=127&rft.issue=16&rft.spage=134&rft.externalDocID=209218261","link":
        "http://cornell.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwnV1LT9wwELYqqiJ64b1AQcqh4paQ-Jmcqna7q5XKAlUXWHGxHD8Q0mq3-_r_HefVFQoXDjmM7Iyc-PPM2DPjQeirJjZxXMehY6k_ugEYpwoMOccVxzizQhWumIc79vuR3vfZuK5zelXlaUe1VCxEtZlpf0p-BVgRsB1h6be_89CXjfLu1aqGBshgUIR-YQ7x7f-8yFe-yrfEbqFL-ruoDkwqI0iaQKTZwkecbERYb1zV-N4B76HPPpkhKD0A--iDnR6giypXIbgMqmQkPzlBtcoP0RigE0j5o3czupWDa_lnBEavlN-n05m3TM1GU-_mp5QtfQezPH9Zve54hO77vVF3EFYFGMLnJIZZU6C6Yth6E-6dmVZbwXjKlCKCaQOWSZ5nSjmSUfhQLTAxNDeg_l2Gc80wV6SDPjpYRbYDWgmepIO2x5kY0-v-qCT3azJaFklm0XzVgdkrflHIo7iVwa90-ISHDYOSbGPAItrK4KmLh927hkFJto-An6DAOGVpnjBDiKVJbJRIjHOCeyckNVScomMPKzlZ6Ge1Xi5lRsCQxYSdovMaGFLl_uhKr5aygQW81zSbyUTiOPP36fPk7K2GL2inrEbjgwnP0dZqsbYX6FOF0H_Ir_mM","DatabaseTitle":
        ["ProQuest Nursing & Allied Health Source (Alumni)","ABI/INFORM Professional
        Advanced","Professional Collection: Science & Technology","ProQuest Nursing
        and Allied Health Source","ProQuest Research Library","Platinum: Literature
        & Language","ProQuest Gold","Advanced Technologies & Aerospace Collection","ABI/INFORM
        Research","ABI/INFORM Global","ProQuest Central (Alumni)","ProQuest Central","ProQuest
        SciTech Collection","Gold: Business","Research Library (Alumni Edition)","ProQuest
        Library Science","ProQuest Professional Education","ABI/INFORM Research (Alumni
        Edition)","ProQuest Central Basic","ProQuest Business Collection","Professional
        Collection: Business","ABI/INFORM Global (Alumni Edition)","ProQuest Professional
        Collection","ProQuest Hospital Collection (Alumni)","ProQuest Business Collection
        (Alumni Edition)","ProQuest Social Sciences Premium Collection","ProQuest
        Hospital Collection","ABI/INFORM Complete - Professional Edition","Platinum:
        Business","Gold: Science & Technology","ProQuest Discovery","ProQuest Technology
        Collection","ABI/INFORM Complete (Alumni Edition)","ProQuest Central (Professional
        Edition)","Platinum: Science & Technology","ABI/INFORM Trade & Industry (Alumni
        Edition)","ProQuest Education Journals","Gold: Literature & Language","ABI/INFORM
        Complete","ProQuest Platinum","ProQuest Education Journals (Alumni Edition)","ABI/INFORM
        Trade & Industry","Professional Collection: Literature & Language"],"Volume":
        ["127"],"Language": ["English"],"Author": ["Michael Rogers"],"PublicationPlace":
        ["New York"],"Score": ["35.283222"],"RelatedPersons_xml": [{"fullname": "Tolkien,
        John Ronald Reuel (1892-1973)"},{"fullname": "Anderson, Douglas"},{"fullname":
        "Tolkien, J.R.R"}],"PageCount": ["1"],"Copyright": ["COPYRIGHT 2002 A wholly
        owned subsidiary of Media Source, Inc. No redistribution permitted."],"DBID":
        ["KB0","L.-","8FY","M2O","8FX","M0P","O2G","Q9U","O2J","8FZ","O2K","7XB","P62","K6~","7RW","7RV","M0F","8FU","8G5","M0D","M0C","O33","O2V","O37","K60","O38","O2Z","8A4","O2Y","87Z","881","0-V","883","8FE","M1O","88M","88B","8FL","8FK","8FJ","8FI","8FG","7WZ","7WY"],"IsPeerReviewed":
        ["false"],"PublicationDate": ["20021001"],"PublicationDate_xml": [{"text":
        "20021001","month": "10","year": "2002","day": "01"}],"PublicationCentury":
        ["2000"],"RelatedPersons": ["Tolkien, John Ronald Reuel (1892-1973)","Anderson,
        Douglas","Tolkien, J.R.R"],"Copyright_xml": [{"notice": "COPYRIGHT 2002 A
        wholly owned subsidiary of Media Source, Inc. No redistribution permitted."}],"Publisher":
        ["Media Source","Library Journals, LLC"],"AbstractList": ["The Annotated Hobbit.
        rev. ed. Houghton. 2002. c.416p. illus. bibliog. ISBN 0-618-13470-0. $28.
        FANTASY","The Annotated Hobbit. rev. ed. Houghton. 2002. c.416p. illus. bibliog.
        ISBN 0-618-13470-0. $28. FANTASY"],"SourceType": ["Index Database","Aggregation
        Database"],"Publisher_xml": [{"name": "Media Source"},{"name": "Library Journals,
        LLC"}],"Snippet": ["...The __BENTO_HL_START__Annotated__BENTO_HL_END__ __BENTO_HL_START__Hobbit__BENTO_HL_END__.
        rev. ed. Houghton. 2002. c.416p. illus. bibliog. ISBN 0-618-13470-0. $28.
        FANTASY...","...* Tolkien, J.R.R. The __BENTO_HL_START__Annotated__BENTO_HL_END__
        __BENTO_HL_START__Hobbit__BENTO_HL_END__. rev. ed. Houghton. 2002. c.416p.
        illus. bibliog. ISBN 0-618-13470-0. $28. FANTASY With the success of the film..."],"PQPubID":
        ["40955"],"URI": ["http://search.proquest.com/docview/196784058"],"IsScholarly":
        ["false"],"ID": ["FETCH-LOGICAL-g1087-a8470eb2368913ece75685aa375cd102bb9aaf394967c723d4bd853f92bc526a3"],"PublicationTitle":
        ["Library Journal"],"Issue": ["16"],"Discipline": ["Library & Information
        Science"],"PublicationYear": ["2002"],"Genre": ["Review"],"PublicationPlace_xml":
        [{"name": "New York"}],"Audience": ["General"],"PQID": ["196784058"],"DatabaseTitleList":
        ["ProQuest Nursing & Allied Health Source (Alumni)","Professional Collection:
        Science & Technology"],"Abstract": ["The Annotated Hobbit. rev. ed. Houghton.
        2002. c.416p. illus. bibliog. ISBN 0-618-13470-0. $28. FANTASY"],"SubjectTerms":
        ["Novels","Science fiction & fantasy","Tolkien, John Ronald Reuel (1892-1973)"],"MergedId":
        ["FETCHMERGED-LOGICAL-g1087-a8470eb2368913ece75685aa375cd102bb9aaf394967c723d4bd853f92bc526a3"],"Author_xml":
        [{"sequence": "1","fullname": "Michael Rogers"}],"PublicationDecade": ["2000"],"ContentType":
        ["Book Review","Journal Article"],"Title": ["The __BENTO_HL_START__Annotated__BENTO_HL_END__
        __BENTO_HL_START__Hobbit__BENTO_HL_END__"],"CODEN": ["LIBJA7"],"ExternalDocumentID":
        ["209218261","93085235"],"ISSN": ["0363-0277"],"SSID": ["ssj0004466"],"StartPage":
        ["134"],"thumbnail_s": ["http://covers-cdn.summon.serialssolutions.com/index.aspx?isbn=/sc.gif&issn=0363-0277&client=summon"],"thumbnail_l":
        ["http://covers-cdn.summon.serialssolutions.com/index.aspx?isbn=/lc.gif&issn=0363-0277&client=summon"],"thumbnail_m":
        ["http://covers-cdn.summon.serialssolutions.com/index.aspx?isbn=/mc.gif&issn=0363-0277&client=summon"],"Database_xml":
        [{"sequence": "1","name": "ProQuest Social Sciences Premium Collection","dbid":
        "0-V","url": "http://proxy.library.cornell.edu/login?url=http://search.proquest.com/socscicoll","sourceTypes":
        ["Aggregation Database"]}],"LinkModel": ["DirectLink"]}],"rollups": {"image":
        {},"reference": {},"newspaper": {}}}'
  recorded_at: Wed, 14 Jan 2015 19:29:59 GMT
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=1&query=srw.kw%20=%20%22Annotated%22%20AND%20srw.kw%20=%20%22hobbit%22&recordSchema=info:srw/schema/1/dc&servicelevel=full&wskey=ydY1RXi9Lx7wmUjJVYi3QlCwUEXxDmJEO5Lrvwf9nLX9vn9dnX3OeHseVTPpxjjTWajSn3r4L70jpUW4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type="text/xsl" href="/webservices/catalog/xsl/searchRetrieveResponse.xsl"?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>20</numberOfRecords>
        <records>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:contributor>Anderson, Douglas A. (Douglas Allen), 1959-</dc:contributor>
        <dc:creator>Tolkien, J. R. R. (John Ronald Reuel), 1892-1973.</dc:creator>
        <dc:date>2002</dc:date>
        <dc:description>Rev. and expanded ed. / annotated by Douglas A. Anderson.</dc:description>
        <dc:description>J.R.R. Tolkien's beloved novel The hobbit has deep roots in European folklore, mythology, and language. As a reader's introduction to Tolkien's Middle-earth, it contains references to the ancient history of this imaginary world which, though rarely explained, contribute greatly to the effect of Tolkien's art. This revised and expanded edition of The annotated hobbit unobtrusively and authoritativel[...]
- request:
    method: get
    uri: http://da-dev-solr.library.cornell.edu/solr/blacklight/select?defType=edismax&f.author_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=6&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_facet.facet.limit=6&f.subject_era_facet.facet.limit=6&f.subject_geo_facet.facet.limit=6&f.subject_topic_facet.facet.limit=6&facet.query=pub_date_facet:%5B2002%20TO%202002%5D&q=Annotated%20hobbit&qt[...]
- request:
    method: get
    uri: http://culholdingsdev.library.cornell.edu/holdings/retrieve_detail_short/4392584/1535861
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4717aa67a9861581ce6a429f39f189e6"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"4392584":{"4392584":{"records":[{"bibid":"4392584","holding_id":"4929617","location_name":"olin","call_number":"PR6039.O32
        H6x 2002","shelving_title":"","summary_holdings":[],"supplements":[],"indexes":[],"notes":[],"reproduction_note":"","urls":[],"item_count":1,"temp_locations":[],"item_status":{"itemdata":[{"href":"http://catalog-test.library.cornell.edu/vxws/record/4392584/items/6530722","itemid":"6530722","permLocation":"Olin
        Library","location_id":"99","tempLocation":"","location":"Olin Library","callNumber":"PR6039.O32
        H6x 2002","copy":"c. 1","itemBarcode":"31924095232199","enumeration":"","chron":"","year":"","caption":"","freeText":"","typeCode":"3","typeDesc":"book","tempType":"0","itemStatus":"Charged
        - Due on 2014-10-31","spineLabel":"","itemNote":"0","onReserve":"N"}],"status":"not_available","messages":[{"status_code":"Charged
        - Due on 2014-10-31","short_message":"Charged - Due on 2014-10-31","long_message":"Charged
        - Due on 2014-10-31"}],"location_id":"99"},"services":["in_process","borrow_direct","ill","recall_hold"],"current_issues":[],"orders":[],"onotes":[]}],"summary":{"holdinglocs":["Olin
        Library"],"locnumber":1,"status":["not_avail"],"avail_at":{},"not_avail_at":{"Olin
        Library":"PR6039.O32 H6x 2002"},"onotes":[]}}},"1535861":{"1535861":{"records":[{"bibid":"1535861","holding_id":"1873484","location_name":"rmc","call_number":"Rare
        Books PR6039.O49 H6 1988 +","shelving_title":"","summary_holdings":[],"supplements":[],"indexes":[],"notes":["With
        dust jacket.","Inscribed by author."],"reproduction_note":"","urls":[],"item_count":1,"temp_locations":[],"item_status":{"itemdata":[{"href":"http://catalog-test.library.cornell.edu/vxws/rec[...]
