---
http_interactions:
- request:
    method: get
    uri: http://da-prod-solr1.library.cornell.edu/solr/blacklight2/select?defType=edismax&f.author_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=6&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_facet.facet.limit=6&f.subject_era_facet.facet.limit=6&f.subject_geo_facet.facet.limit=6&f.subject_topic_facet.facet.limit=6&facet.field=hierarchy_facet&q=(%2BAnnotated%20%2Bhobbit%20)%20OR%20%22Annotated%20hobbit%22&qt=search&rows=20&sort=score%20desc,%20pub_date_sort%20desc,%20title_sort%20asc&spellcheck.q=(%2BAnnotated%20%2Bhobbit%20)%20OR%20%22Annotated%20hobbit%22&stats=true&stats.field=pub_date_facet&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 09 Mar 2015 06:07:45 GMT
      Etag:
      - '"NmM3ODAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {'responseHeader'=>{'status'=>0,'QTime'=>506,'params'=>{'sort'=>'score desc, pub_date_sort desc, title_sort asc','f.online.facet.limit'=>'3','stats'=>'true','f.subject_topic_facet.facet.limit'=>'6','spellcheck.q'=>'(+Annotated +hobbit ) OR "Annotated hobbit"','f.language_facet.facet.limit'=>'6','f.lc_1letter_facet.facet.limit'=>'6','f.location_facet.facet.limit'=>'6','wt'=>'ruby','rows'=>'20','defType'=>'edismax','f.subject_content_facet.facet.limit'=>'6','f.subject_geo_facet.facet.limit'=>'6','stats.field'=>'pub_date_facet','q'=>'(+Annotated +hobbit ) OR "Annotated hobbit"','f.author_facet.facet.limit'=>'6','facet.field'=>['online','format','author_facet','pub_date_facet','language_facet','subject_topic_facet','subject_geo_facet','subject_era_facet','subject_content_facet','lc_1letter_facet','location_facet','hierarchy_facet'],'qt'=>'search','f.subject_era_facet.facet.limit'=>'6','f.format.facet.limit'=>'11'}},'response'=>{'numFound'=>2,'start'=>0,'maxScore'=>24.245403,'docs'=>[{'id'=>'4392584','holdings_record_display'=>['{"id":"4929617","copy_number":null,"callnos":["PR6039.O32 H6x 2002"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"olin","number":99,"name":"Olin Library","library":"Olin Library"}]}'],'other_id_display'=>['4392584','(OCoLC)50064985'],'format'=>['Book'],'language_display'=>['English'],'pub_date_facet'=>2002,'pub_date_display'=>['2002'],'pub_info_display'=>['Boston : Houghton Mifflin, 2002.'],'edition_display'=>['Rev. and expanded ed.'],'title_uniform_display'=>['Hobbit|Hobbit|Tolkien, J. R. R. (John Ronald Reuel), 1892-1973'],'title_display'=>'The annotated hobbit','fulltitle_display'=>'The annotated hobbit','online'=>['At the Library'],'author_display'=>'Tolkien, J. R. R. (John Ronald Reuel), 1892-1973','item_record_display'=>['{"sensitize":"N","spine_label":"","magnetic_media":"N","recalls_placed":"0","temp_location":"0","item_barcode":"31924095232199","historical_browses":"19","item_enum":"","item_sequence_number":"1","historical_charges":"13","create_date":"2002-11-01 10:53:20.0","copy_number":"1","create_location_id":"153","mfhd_id":"4929617","short_loan_charges":"0","chron":"","reserve_charges":"0","year":"","modify_location_id":"153","media_type_id":"0","create_operator_id":"ds279","historical_bookings":"0","holds_placed":"0","perm_location":{"code":"olin","number":99,"name":"Olin Library","library":"Olin Library"},"modify_date":"2015-01-15 12:39:12.0","temp_item_type_id":"0","caption":"","on_reserve":"N","pieces":"1","item_type_id":"3","price":"0","item_type_name":"book","item_id":"6530722","freetext":"","modify_operator_id":"lms6"}'],'score'=>24.245403},{'id'=>'1535861','holdings_record_display'=>['{"id":"1873487","copy_number":"5","callnos":["PR6039.O49 H6 1988"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemental_holdings_desc":[],"index_holdings_desc":[],"locations":[{"code":"uris,anx","number":210,"name":"Library Annex","library":"Library Annex"}]}','{"id":"1873482","copy_number":null,"callnos":["Oversize PR6039.O49 H6 1988 +"],"notes":[],"holdings_desc":[],"recent_holdings_desc":[],"supplemen[...]
- request:
    method: get
    uri: http://api.summon.serialssolutions.com/2.0.0/search?s.cmd=setHoldingsOnly(true)&s.he=__BENTO_HL_END__&s.hs=__BENTO_HL_START__&s.ps=1&s.q=Annotated%20hobbit
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf8
      X-Summon-Date:
      - Mon, 09 Mar 2015 17:38:56 GMT
      Authorization:
      - Summon cornell;+AgwZrCEOJRxdwIraxNhSWfDFuA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Datacenter:
      - IAD1
    body:
      encoding: UTF-8
      string: '{"version": "2.0.0","sessionId": "566ae7f9-a6fe-461c-9731-467398f3c8f5","elapsedQueryTime":
        73,"queryTime": 66,"totalRequestTime": 93,"pageCount": 198,"recordCount":
        198,"query": {"queryString": "s.hs=__BENTO_HL_START__&s.ho=t&s.ps=1&s.q=Annotated+hobbit&s.he=__BENTO_HL_END__&s.pn=1&s.fvf=ContentType%2CJournal+Article%2Cf&s.fvf=ContentType%2CJournal+%2F+eJournal%2Cf&s.fvf=ContentType%2CBook+Chapter%2Cf","pageNumber":
        1,"pageSize": 1,"highlightStartDelimiter": "__BENTO_HL_START__","highlightEndDelimiter":
        "__BENTO_HL_END__","isHoldingsOnlyEnabled": true,"textQueries": [{"textQuery":
        "Annotated hobbit","removeCommand": "removeTextQuery(Annotated hobbit)"}],"searchTerms":
        [],"textFilters": [],"rangeFilters": [],"facetValueFilters": [{"fieldName":
        "ContentType","value": "Journal Article","isNegated": false,"removeCommand":
        "removeFacetValueFilter(ContentType,Journal Article)","negateCommand": "negateFacetValueFilter(ContentType,Journal
        Article)"},{"fieldName": "ContentType","value": "Journal / eJournal","isNegated":
        false,"removeCommand": "removeFacetValueFilter(ContentType,Journal / eJournal)","negateCommand":
        "negateFacetValueFilter(ContentType,Journal / eJournal)"},{"fieldName": "ContentType","value":
        "Book Chapter","isNegated": false,"removeCommand": "removeFacetValueFilter(ContentType,Book
        Chapter)","negateCommand": "negateFacetValueFilter(ContentType,Book Chapter)"}],"inclusiveFacetValueFilters":
        [],"facetValueGroupFilters": [],"facetFields": [],"rangeFacetFields": [],"sort":
        []},"facetFields": [],"rangeFacetFields": [],"didYouMeanSuggestions": [],"recommendationLists":
        {"database": [{"title": "MLA International Bibliography","description": "The
        MLA International Bibliography provides a subject index for books and articles
        published on modern languages, literatures, folklore, and linguistics. Compiled
        by the staff of the MLA Office of Bibliographic Information Services with
        the cooperation of more than 100 contributing bibliographers in the United
        States and abroad, it annually indexes over 66,000 books and articles.","link":
        "http://cornell.summon.serialssolutions.com/2.0.0/link/dbrecommender/AAAkNTY2YWU3ZjktYTZmZS00NjFjLTk3MzEtNDY3Mzk4ZjNjOGY1AQAKVlA1UVc0VUY1WAIAfWh0dHA6Ly9wcm94eS5saWJyYXJ5LmNvcm5lbGwuZWR1L2xvZ2luP3VybD1odHRwOi8vc2VhcmNoLmVic2NvaG9zdC5jb20vbG9naW4uYXNweD9hdXRodHlwZT1pcCx1aWQmcHJvZmlsZT1laG9zdCZkZWZhdWx0ZGI9bXpoAwABMAQAHk1MQSBJbnRlcm5hdGlvbmFsIEJpYmxpb2dyYXBoeQUACGRhdGFiYXNl","score":
        "38.44498"}]},"documents": [{"hasFullText": true,"isFullTextHit": false,"inHoldings":
        true,"openUrl": "ctx_ver=Z39.88-2004&ctx_enc=info%3Aofi%2Fenc%3AUTF-8&rfr_id=info:sid/summon.serialssolutions.com&rft_val_fmt=info:ofi/fmt:kev:mtx:journal&rft.genre=article&rft.atitle=The+Annotated+Hobbit&rft.jtitle=Library+Journal&rft.au=Michael+Rogers&rft.date=2002-10-01&rft.pub=Media+Source&rft.issn=0363-0277&rft.volume=127&rft.issue=16&rft.spage=134&rft.externalDocID=209218261","link":
        "http://cornell.summon.serialssolutions.com/2.0.0/link/0/eLvHCXMwnV07T8MwELZ4CAkW3uLRShkQW2gS24k9IR6NOkAB0Ypulu04FVLVQJr-f3xpUqKKLkyxco4U-ezz2ffdfQhdWQ9BmijlrgxT45LQ1y4QJNlWhDlLsWZpyVrySt8-yDCmo5rntFPlad_UVrE01Umm4Za8Y-dKZI8jlN1-fbtAGwXh1YpDYxNt-zjigOl69uLfxMiVYOU6u1tuJvE-qpFJCwjJEomU5QA5aUCsG7Ua__vHB2gPshmcRQjgEG2Y6RFqV8kKzrVTZSOBdpxqmR-jkZ07jhD33f7gRfSexPvAer1C3E2nGbimSUPU7T8K8UffXqbUZ7Ha8QQN4-7goedWDAzu2C-rRxrCk8T3Uwx13JmkkmJJKDP2reIpMZTah06MjhJJmIZMbKoCFhIPp9yef88AOxV6kjMTpJjZzc9nXAW-5JFS1nOTBJ-jU9CJgAVV5FILjq0bGGBaCya5Hsv5bNYQtOrhFlLBjZAuZmI52Pa7pTiZTETgcShTH_oX6wSXaHdB8gIYvRbaKvK5aaOdSu8_aOLTeA","DatabaseTitle":
        ["ProQuest Nursing & Allied Health Source (Alumni)","ABI/INFORM Professional
        Advanced","Professional Collection: Science & Technology","ProQuest Nursing
        and Allied Health Source","ProQuest Research Library","Platinum: Literature
        & Language","ProQuest Gold","Advanced Technologies & Aerospace Collection","ABI/INFORM
        Research","ABI/INFORM Global","ProQuest Central (Alumni)","ProQuest Central","ProQuest
        SciTech Collection","Gold: Business","Research Library (Alumni Edition)","ProQuest
        Library Science","ProQuest Professional Education","ABI/INFORM Research (Alumni
        Edition)","ProQuest Central Basic","ProQuest Business Collection","Professional
        Collection: Business","ABI/INFORM Global (Alumni Edition)","ProQuest Professional
        Collection","ProQuest Hospital Collection (Alumni)","ProQuest Business Collection
        (Alumni Edition)","ProQuest Social Sciences Premium Collection","ProQuest
        Hospital Collection","ABI/INFORM Complete - Professional Edition","Platinum:
        Business","Gold: Science & Technology","ProQuest Discovery","ProQuest Technology
        Collection","ABI/INFORM Complete (Alumni Edition)","ProQuest Central (Professional
        Edition)","Platinum: Science & Technology","ABI/INFORM Trade & Industry (Alumni
        Edition)","ProQuest Education Journals","Gold: Literature & Language","ABI/INFORM
        Complete","ProQuest Platinum","ProQuest Education Journals (Alumni Edition)","ABI/INFORM
        Trade & Industry","Professional Collection: Literature & Language"],"Volume":
        ["127"],"Language": ["English"],"Author": ["Michael Rogers"],"PublicationPlace":
        ["New York"],"Score": ["35.28181"],"RelatedPersons_xml": [{"fullname": "Tolkien,
        John Ronald Reuel (1892-1973)"},{"fullname": "Anderson, Douglas"},{"fullname":
        "Tolkien, J.R.R"}],"PageCount": ["1"],"Copyright": ["COPYRIGHT 2002 A wholly
        owned subsidiary of Media Source, Inc. No redistribution permitted."],"DBID":
        ["KB0","L.-","2~S","3GN","8FY","M2O","8FX","M0P","O2G","Q9U","O2J","8FZ","O2K","7XB","P62","K6~","7RW","7RV","M0F","8FU","8G5","M0D","M0C","O33","O2V","O37","K60","O38","O2Z","8A4","O2Y","87Z","881","0-V","883","8FE","M1O","88M","88B","8FL","8FK","8FJ","8FI","8FG","7WZ","7WY"],"IsPeerReviewed":
        ["false"],"PublicationDate": ["20021001"],"PublicationDate_xml": [{"text":
        "20021001","month": "10","year": "2002","day": "01"}],"PublicationCentury":
        ["2000"],"RelatedPersons": ["Tolkien, John Ronald Reuel (1892-1973)","Anderson,
        Douglas","Tolkien, J.R.R"],"Copyright_xml": [{"notice": "COPYRIGHT 2002 A
        wholly owned subsidiary of Media Source, Inc. No redistribution permitted."}],"Publisher":
        ["Media Source","Library Journals, LLC"],"AbstractList": ["The Annotated Hobbit.
        rev. ed. Houghton. 2002. c.416p. illus. bibliog. ISBN 0-618-13470-0. $28.
        FANTASY","The Annotated Hobbit. rev. ed. Houghton. 2002. c.416p. illus. bibliog.
        ISBN 0-618-13470-0. $28. FANTASY"],"SourceType": ["Index Database","Aggregation
        Database"],"Publisher_xml": [{"name": "Media Source"},{"name": "Library Journals,
        LLC"}],"Snippet": ["...The __BENTO_HL_START__Annotated__BENTO_HL_END__ __BENTO_HL_START__Hobbit__BENTO_HL_END__.
        rev. ed. Houghton. 2002. c.416p. illus. bibliog. ISBN 0-618-13470-0. $28.
        FANTASY...","...* Tolkien, J.R.R. The __BENTO_HL_START__Annotated__BENTO_HL_END__
        __BENTO_HL_START__Hobbit__BENTO_HL_END__. rev. ed. Houghton. 2002. c.416p.
        illus. bibliog. ISBN 0-618-13470-0. $28. FANTASY With the success of the film..."],"PQPubID":
        ["40955"],"URI": ["http://search.proquest.com/docview/196784058"],"IsScholarly":
        ["false"],"ID": ["FETCH-LOGICAL-g1307-1e49dd11f355988a5a53a458e9ddb9f4e55b9fcdec7da48c18525b286403f9713"],"PublicationTitle":
        ["Library Journal"],"Issue": ["16"],"Discipline": ["Library & Information
        Science"],"PublicationYear": ["2002"],"Genre": ["Review"],"PublicationPlace_xml":
        [{"name": "New York"}],"Audience": ["General"],"PQID": ["196784058"],"DatabaseTitleList":
        ["Professional Collection: Science & Technology","ProQuest Nursing & Allied
        Health Source (Alumni)"],"Abstract": ["The Annotated Hobbit. rev. ed. Houghton.
        2002. c.416p. illus. bibliog. ISBN 0-618-13470-0. $28. FANTASY"],"SubjectTerms":
        ["Novels","Science fiction & fantasy","Tolkien, John Ronald Reuel (1892-1973)"],"MergedId":
        ["FETCHMERGED-LOGICAL-g1307-1e49dd11f355988a5a53a458e9ddb9f4e55b9fcdec7da48c18525b286403f9713"],"Author_xml":
        [{"sequence": "1","fullname": "Michael Rogers"}],"PublicationDecade": ["2000"],"ContentType":
        ["Book Review","Journal Article"],"Title": ["The __BENTO_HL_START__Annotated__BENTO_HL_END__
        __BENTO_HL_START__Hobbit__BENTO_HL_END__"],"CODEN": ["LIBJA7"],"ExternalDocumentID":
        ["209218261","93085235"],"ISSN": ["0363-0277"],"SSID": ["ssj0004466"],"StartPage":
        ["134"],"thumbnail_l": ["http://covers-cdn.summon.serialssolutions.com/index.aspx?isbn=/lc.gif&issn=0363-0277&client=summon"],"thumbnail_m":
        ["http://covers-cdn.summon.serialssolutions.com/index.aspx?isbn=/mc.gif&issn=0363-0277&client=summon"],"thumbnail_s":
        ["http://covers-cdn.summon.serialssolutions.com/index.aspx?isbn=/sc.gif&issn=0363-0277&client=summon"],"Database_xml":
        [{"sequence": "1","name": "ProQuest Social Sciences Premium Collection","dbid":
        "0-V","url": "http://proxy.library.cornell.edu/login?url=http://search.proquest.com/socscicoll","sourceTypes":
        ["Aggregation Database"]},{"sequence": "2","name": "InfoTrac Newsstand","dbid":
        "3GN","url": "http://proxy.library.cornell.edu/login?url=http://infotrac.galegroup.com/itweb/nysl_sc_cornl?db=STND","sourceTypes":
        ["Aggregation Database"]}],"LinkModel": ["DirectLink"]}],"rollups": {"image":
        {},"reference": {},"newspaper": {}}}'
  recorded_at: Mon, 09 Mar 2015 17:38:56 GMT
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/sru?maximumRecords=1&query=srw.kw%20=%20%22Annotated%22%20AND%20srw.kw%20=%20%22hobbit%22&recordSchema=info:srw/schema/1/dc&servicelevel=full&wskey=ydY1RXi9Lx7wmUjJVYi3QlCwUEXxDmJEO5Lrvwf9nLX9vn9dnX3OeHseVTPpxjjTWajSn3r4L70jpUW4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type="text/xsl" href="/webservices/catalog/xsl/searchRetrieveResponse.xsl"?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>23</numberOfRecords>
        <records>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:creator>Tolkien, J. R. R. (John Ronald Reuel), 1892-1973.</dc:creator>
        <dc:date>1988</dc:date>
        <dc:description>Includes bibliographical references (pages 331-335).</dc:description>
        <dc:description>Bilbo Baggins, a respectable, well-to-do hobbit, lives comfortably in his hobbit-hole until one day the wandering wizard Gandalf chooses him to take part in an adventure from which he may never return.</dc:description>
        <dc:format>x, 335 pages : illustrations ; 29 cm</dc:format>
        <dc:identifier>0395476909</dc:identifier>
        <dc:identifier>9780395476901</dc:identifier>
        <dc:language xsi:type="http://purl.org/dc/terms/ISO639-2">eng</dc:language>
        <dc:publisher>Houghton Mifflin Co</dc:publisher>
        <dc:relation>Hobbit.</dc:relation>
        <dc:relation>There and back again.</dc:relation>
        <dc:subject xsi:type="http://purl.org/dc/terms/DDC">823/.912</dc:subject>
        <dc:subject xsi:type="http://purl.org/dc/terms/LCC">PR6039.O32 H6 1988</dc:subject>
        <dc:subject xsi:type="http://purl.org/dc/terms/LCSH">Middle Earth (Imaginary place)--Fiction.</dc:subject>
        <dc:title>The annotated Hobbit : the hobbit, or, There and back again </dc:title>
        <dc:title>Hobbit</dc:title>
        <dc:type>Fantasy fiction.</dc:type>
        <dc:type>Text</dc:type>
        <oclcterms:recordContentSource>DLC</oclcterms:recordContentSource>
        <oclcterms:recordCreationDate xsi:type="http://purl.org/oclc/terms/marc008date">880517</oclcterms:recordCreationDate>
        <oclcterms:recordIdentifier xsi:type="http://purl.org/oclc/terms/lccn">   88009061 </oclcterms:recordIdentifier>
        <oclcterms:recordIdentifier>18053069</oclcterms:recordIdentifier>
        <oclcterms:languageOfCataloging xsi:type="http://purl.org/oclc/terms/iso639-2b">eng</oclcterms:languageOfCataloging>
        <oclcterms:recordTranscribingAgency>DLC</oclcterms:recordTranscribingAgency>
        </oclcdcs>
        </recordData>
        </record>
        </records>
        <nextRecordPosition>2</nextRecordPosition>
        <resultSetIdleTime/>
        <echoedSearchRetrieveRequest xmlns:srw="http://www.loc.gov/zing/srw/">
        <version>1.1</version>
        <query>srw.kw = "Annotated" AND srw.kw = "hobbit"</query>
        <maximumRecords>1</maximumRecords>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <startRecord>1</startRecord>
        <sortKeys>relevance</sortKeys>
        <wskey>ydY1RXi9Lx7wmUjJVYi3QlCwUEXxDmJEO5Lrvwf9nLX9vn9dnX3OeHseVTPpxjjTWajSn3r4L70jpUW4</wskey>
        <servicelevel>full</servicelevel>
        </echoedSearchRetrieveRequest>
        </searchRetrieveResponse>
  recorded_at: Mon, 09 Mar 2015 17:38:57 GMT
- request:
    method: get
    uri: http://da-prod-solr1.library.cornell.edu/solr/blacklight2/select?defType=edismax&f.author_facet.facet.limit=6&f.format.facet.limit=11&f.language_facet.facet.limit=6&f.lc_1letter_facet.facet.limit=6&f.location_facet.facet.limit=6&f.online.facet.limit=3&f.subject_content_facet.facet.limit=6&f.subject_era_facet.facet.limit=6&f.subject_geo_facet.facet.limit=6&f.subject_topic_facet.facet.limit=6&facet.query=pub_date_facet:%5B2002%20TO%202002%5D&q=Annotated%20hobbit[...]
- request:
    method: get
    uri: http://holdings1.library.cornell.edu/holdings/retrieve_detail_short/4392584/1535861
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a192d240f8cde696d3081b436d0865e9"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"4392584":{"4392584":{"records":[{"bibid":"4392584","holding_id":"4929617","location_name":"olin","call_number":"PR6039.O32
        H6x 2002","shelving_title":"","summary_holdings":[],"supplements":[],"indexes":[],"notes":[],"reproduction_note":"","urls":[],"item_count":1,"temp_locations":[],"item_status":{"itemdata":[{"href":"http://catalog.library.cornell.edu:7074/vxws/record/4392584/items/6530722","itemid":"6530722","permLocation":"Olin
        Library","location_id":"99","tempLocation":"","location":"Olin Library","callNumber":"PR6039.O32
        H6x 2002","copy":"c. 1","itemBarcode":"31924095232199","enumeration":"","chron":"","year":"","caption":"","freeText":"","typeCode":"3","typeDesc":"book","tempType":"0","itemStatus":"Charged
        - Due on 2016-01-28","spineLabel":"","itemNote":"0","onReserve":"N"}],"status":"not_available","messages":[{"status_code":"Charged
        - Due on 2016-01-28","short_message":"Charged - Due on 2016-01-28","long_message":"Charged
        - Due on 2016-01-28"}],"location_id":"99"},"services":["in_process","borrow_direct","ill","recall_hold"],"current_issues":[],"orders":[],"onotes":[]}],"summary":{"holdinglocs":["Olin
        Library"],"locnumber":1,"status":["not_avail"],"avail_at":{},"not_avail_at":{"Olin
        Library":"PR6039.O32 H6x 2002"},"onotes":[]}}},"1535861":{"1535861":{"records":[{"bibid":"1535861","holding_id":"1873484","location_name":"rmc","call_number":"Rare
        Books PR6039.O49 H6 1988 +","shelving_title":"","summary_holdings":[],"supplements":[],"indexes":[],"notes":["With
        dust jacket.","Inscribed by author."],"reproduction_note":"","urls":[],"item_count":1,"temp_locations":[],"item_status":{"itemdata":[{"href":"http://catalog.library.cornell.edu:7074/vxws/rec[...]
