---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","Credentials":{"LibrarySymbol":"CORNELL","Barcode":"<TEST_USER_BARCODE>"},"ExactSearch":[{"Type":"ISBN","Value":"1"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Item":{"Available":false,"SearchTerm":"isbn=1","AuthorizationId":"e63mdL88hLv1n-Mwm9ojVoNSKPo","RequestLink":{"ButtonPrefix":"rft","RequestMessage":"This
        item is available locally"}}}'
  recorded_at: Wed, 11 Mar 2015 19:40:49 GMT
recorded_with: VCR 2.9.3
