---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"zcZH-JyFyoVKjhcL-4hEHmmMPYE","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 06 Apr 2016 14:52:09 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=zcZH-JyFyoVKjhcL-4hEHmmMPYE
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"0061052434"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=0061052434","RequestLink":{"ButtonLink":"http://newcatalog.library.cornell.edu/catalog/2926901","ButtonLabel":"View
        in the DUMMY_BD_LIBRARY_SYMBOL Library Catalog.","RequestMessage":"This item
        is available locally."},"NumberOfRecords":1}'
  recorded_at: Wed, 06 Apr 2016 14:52:24 GMT
recorded_with: VCR 3.0.0
