---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"vpVmZmZQL9S1gAfdci2N93oC08Q","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 20:07:52 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=vpVmZmZQL9S1gAfdci2N93oC08Q
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"NO_SUCH_THING"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=NO_SUCH_THING","RequestLink":{"ButtonLink":"https://cornell.hosts.atlas-sys.com/illiad/illiad.dll/OpenURL?genre=Book&sid=BD&HeldLocally=N&rft.title=23%20things%20they%20don%27t%20tell%20you%20about%20capitalism&rft.date=c2010&rft.isbn=9781608191666&rft.isbn=1608191664&rft.dat=730926717&rft.pub=Bloomsbury%20Press%20%3B&rft.place=New%20York","ButtonLabel":"Request","RequestMessage":"Click
        here to place an Interlibrary Loan request."},"NumberOfRecords":94}'
  recorded_at: Tue, 05 Apr 2016 20:08:07 GMT
recorded_with: VCR 3.0.0
