---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=bad_expired_aid
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Problem":{"ErrorCode":"PUBFI003","ErrorMessage":"Invalid aid"}}'
  recorded_at: Tue, 05 Apr 2016 20:07:51 GMT
recorded_with: VCR 3.0.0
